<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../assets/public/alumet.ico" />

    <meta name="description" content="Une nouvelle façon d'organiser vos classes.">
    <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers">
    <meta property="og:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
    <meta property="og:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://alumet.io">
    <meta property="og:image" content="https://i.imgur.com/WZO8U8s.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="alumet.io">
    <meta name="twitter:url" content="https://alumet.io/">
    <meta name="twitter:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
    <meta name="twitter:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta name="twitter:image" content="https://i.imgur.com/WZO8U8s.png">

    <link rel="stylesheet" type="text/css" href="../style/contacts.css">
    <link rel="stylesheet" type="text/css" href="../style/global.css">

    <title>Alumet - Contact</title>
</head>
<body>
  <div class="blur-orange-background"></div>
  <div class="high-background-dots"></div>
  <div class="high-background-gradient"></div>
  <!--Header-->
  <div class="header">
    <img onclick="document.location.href='/auth/main'" class="logo" src="../assets/app/alumet.png" alt="logo d'Alumet">
    <a onclick="document.location.href='/auth/main'" class="title">Alumet</a>
  </div>

  <!--Page-->
  <div class="global"> 
    <div class="about">
        <h1 class="title-about">A propos</h1>
        <h2 class="subtitle-about">Le Projet Alumet :</h2>
        <p class="paragraph-about">Alumet est actuellement en version de test. Nous sommes ravis de recevoir vos commentaires, car notre objectif est de vous offrir une expérience optimale afin que vous puissiez offrir à vos élèves un enseignement de qualité.
           Vos retours sont précieux pour nous aider à nous améliorer, n'hésitez donc pas à nous faire part de vos commentaires.</p>
    </div>
    <div class="contacts">
        <h1 class="title-about">Contact</h1>
        <p class="paragraph-contact">Pour obtenir plus de renseignements, vous pouvez envoyer un email à cette adresse : [email] <br> ou vous pouvez remplir ce formulaire qui enverra directment un message.</p>
        <div class="f-column">
          <input id="mail" type="text" placeholder="Adresse email" required>
          <input id="statut" type="text" placeholder="Vous êtes ? (élève, professeur)" required>
          <input id="Objet" type="text" placeholder="Objet" required>
          <textarea id="large" class="input" type="text" placeholder="Entrez votre message"></textarea>
          <button id="signin" class="button" type="button" onclick="afficher()">
            <span class="button__text">Envoyer<img class="button-img" src="../assets/app/open.svg"></span>
      </div>
    </div>
  </div>

</body>
<script src="../script/contacts.js"></script>
</html>