<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../assets/public/alumet.ico">
  <meta name="description" content="Alumet: La flamme de l’innovation au service de l’éducation.">
  <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers">
  <meta property="og:title" content="Alumet: La flamme de l’innovation au service de l’éducation.">
  <meta property="og:description" content="L'outil gratuit, open-source, pour l'éducation, construit par des élèves, pour des professeurs. Maintenu et hébergé en France.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://alumet.io">
  <meta property="og:image" content="https://i.imgur.com/WZO8U8s.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:domain" content="alumet.io">
  <meta name="twitter:url" content="https://alumet.io/">
  <meta name="twitter:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
  <meta name="twitter:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
  <meta name="twitter:image" content="https://i.imgur.com/WZO8U8s.png">
  <link href="../style/dashboard.css" rel="stylesheet" type="text/css">
  <link href="../style/global.css" rel="stylesheet" type="text/css">


  <title>Alumet - Tableau de bord</title>
</head>
<body>
  <div id="toast"></div>
  <div class="loading-screen">
    <div class="loading-infos">
      <img src="../assets/app/alumet.png" alt="Logo d'Alumet">
      <h3>Alumet</h3>
    </div>
    <div class="loading">
      <div class="loader"></div>
    </div>
  </div>
  <div class="dots"></div>
  <div class="gradient"></div>
  <div class="modal-choose">
      <h1>Choisir une image<div id="close-modal-choose" class="action"><img src="../assets/app/close.svg" alt="croix de fermeture"></div></h1>
      <div class="images-container">
      </div>
  </div>
  

  <div class="menu">
    <div class="menu-infos">
      <img src="../assets/app/alumet.png" alt="Logo d'Alumet">
      <h3 class="name-logo">Alumet</h3>
    </div>
    <div class="divider"></div>
    <div class="options">
      <div id="acceuil" class="option">
        <img src="../assets/app/home.svg" alt="Petite maison">
        <h3>Accueil</h3>
      </div>
      <div id="fileM" class="option">
        <img src="../assets/app/files-manager.svg" alt="deux double flèches">
        <h3>Gestionnaire de fichiers</h3>
      </div>
      <div id="infos" class="option">
        <img src="../assets/app/infos.svg" alt="point d'exclamation dans un cercle">
        <h3>Informations</h3>
      </div>
      <div id="parametres" class="option">
        <img src="../assets/app/gear.svg" alt="petite roue">
        <h3>Paramètres</h3>
      </div>
    </div>
    <div class="selector"></div>
    <div class="user-infos"><img class="user-avatar" src="../assets/app/default.png" alt="Avatar de l'utilisateur">
    <div class="user-infos-column">
      <h3 id="username">Utilisateur</h3>
      <h4 id="status">Professeur</h4>
    </div><img class="logout" src="../assets/app/logout.svg" alt="flèche de déconnexion"></div>
  </div>
  <section class="section alumets active-section">
    <div id="alumet-setup" class="view-modal">
        <h1 class="section-title">Créer un nouveau Alumet <div id="close-modal-setup" class="action"><img src="../assets/app/close.svg" alt="croix de fermeture"></div></h1>
        <div class="setup-container">
          <div class="step1 step">
            <h2 class="setup-title">Nouvel Alumet</h2>
            <h3 class="setup-description">Comment va-t-il s'appeler ?</h3>
            <input id="alumet-name" placeholder="Entrer un nom" class="setup-input">
            <h3 class="setup-description">Quel usage allez vous en faire ?</h3>
            <input id="alumet-description" placeholder="Ecriver une description" class="setup-input">
          </div>
          <div class="step2 step">
            <h2 class="setup-title">Personnalisation</h2>
            <div class="row-button">
              <button id="upload-alumet" class="setup-button">Charger un arrière plan<div class="action"><img src="../assets/app/upload.svg" alt="fichier qui montre un upload"></div></button>
              <button id="template-alumet" class="setup-button">Choisir parmis les modèles<div class="action"><img src="../assets/app/paint.svg" alt="Pinceau"></div></button>
            </div>            
            <input type="file" id="file-background" accept="image/png, image/gif, image/jpeg" style="display: none;">
            <h3 class="setup-description">Aperçu</h3>
            <img class="setup-preview" src="../assets/app/alumet_preview.png" alt="Preview">
          </div>
          <div class="step3 step">
            <h2 class="setup-title">Dernière étape</h2>
            <h3 class="setup-description">Mot de passe<label class="switch"><input id="pssw" type="checkbox"><span class="slider round"></span></label></h3>
            <input id="pssw-input" style="display: none;" placeholder="Entrer un mot de passe" class="setup-input">
            <h3 class="setup-description">Police d'écriture</h3>
            <div class="option-selector">
              <p class="selected">Classique</p>
            </div>
            <h3 class="setup-description">Modules à activer</h3>
            <div class="module-selector">
              <div class="module">
                <h1>Messagerie en direct</h1>
                <label class="switch"><input id="dm" type="checkbox"><span class="slider round"></span></label>
              </div>
              <div class="module">
                <h1>Devoirs</h1>
                <label class="switch"><input id="hw" type="checkbox"><span class="slider round"></span></label>
              </div>
              <div class="module">
                <h1>Flashcards</h1>
                <label class="switch"><input id="fc" type="checkbox"><span class="slider round"></span></label>
              </div>
              <div class="module">
                <h1>Mur d'idées</h1>
                <label class="switch"><input id="bd" type="checkbox"><span class="slider round"></span></label>
              </div>
            </div>
          </div>
          <button id="alumet-setup-continue" class="setup-button">Continuer<div class="action"><img src="../assets/app/open.svg" alt="flèche pour continuer"></div></button>
          <span id="new-alumet-loading" class="loader-upload"></span>
          <h3 id="new-alumet-tracker" class="setup-tracker">Préparation de votre Alumet</h3>
      </div>
    </div>
    <div class="warn-box">Professeur au lycée Clemenceau ? Vous utilisez actuellement une version d'alumet en phase de test et non entièrement représentative de notre projet. Merci de vous joindre à nous le 5 juin, car c'est ensemble que nous construirons l'application de demain !</div>
    <h1 class="section-title">Mes Alumets<button id="create-new-alumet" class="main-button">Créer un Alumet<img src="../assets/app/plus.svg" alt="plus"></button></h1>
    <section class="scroll">
      <div class="under-section scroll-x">
        <div id="open-alumet" class="alumet-container">
          <div class="no-content">
            <h1>Aucun Alumet trouvé</h1>
            <p>Commencer par en créer un</p>
          </div>
        </div>
      </div>
      <div class="under-section scroll-x">
        <h1 class="section-title">Activitées</h1>
        <div id="activity-alumet" class="alumet-container">
          <div class="no-content">
            <h1>Les informations relatives à vos Alumet apparaitront ici</h1>
          </div>
        </div>
      </div>
      <div class="under-section">
        <h1 class="section-title">Notifications</h1>
        <div class="notifications-container">
          <div class="no-content">
            <h1>Aucune Notifications</h1>
            <p>Elles finiront bien par arriver</p>
          </div>
        </div>
      </div>
    </section>
  </section>
  <section class="section file-manager">
    <div id="file-viewer" class="view-modal">
        <div class="file-header">
            <h1 class="file-title"><img src="../assets/app/label.svg"><span>Loading...</span></h1>
            <div class="quick-actions">
                <div id="delete-file" class="action"><img src="../assets/app/delete.svg" alt="Delete"></div>
                <div onclick="closeViewer()" id="close-viewer" style="margin-right: 10px;" class="action close-viewer"><img src="../assets/app/close.svg" alt="Close"></div>
            </div>
        </div>
        <span id="file-loading" class="loader-upload"></span>
    </div>
    <div id="file-uploader" class="view-modal">
      <h1 class="section-title">Charger de nouveaux fichiers<div id="close-modal-upload" class="action"><img src="../assets/app/close.svg" alt="Close"></div></h1>
      <input id="file-input" type="file" name="file" multiple>
      <div class="upload-s-1">
        <div class="file-drop">
          <h3>Cliquer ici pour charger des fichiers (au maximum 50)<img src="../assets/app/upload-box.svg" alt="deux doubles flèches"></h3>
        </div>
        <div class="files">

        </div>
        <div class="footer-upload">
          <div class="infos-upload responsive">Les fichiers vont être envoyés par un protocol sécurisé sur des serveurs situés à <span class="serveur">Paris</span></div>
          <button id="upload-files-b" class="setup-button">Envoyez les fichiers<div class="action"><img src="../assets/app/open.svg" alt="fléche pour continuer"></div></button>
        </div>
      </div>
      <div class="upload-s-2">
        <span class="loader-upload"></span>
        <div class="infos-upload">Les fichiers sont en cours d'envoi vers<span class="serveur">Paris</span></div>
      </div>
    </div>
    <h1 class="section-title">Vos fichiers<input id="search-input" placeholder="Chercher dans vos fichiers" class="main-input"><button id="load-files" class="main-button">Ajouter<img src="../assets/app/plus.svg" alt="plus"></button></h1>
    <div class="file-container">
    </div>
    </div>
  </section>
  <section class="section informations">
    <h1 class="section-title">Merci d'utiliser Alumet.</h1>
    <p>Vous retrouverez les informations relative à Alumet ici</p>
  </section>
  <section class="section parametres">
    <h1 class="section-title">Paramètres</h1>
    <img></img>
  </section>
  <div class="open-menu"><img src="../assets/app/open-menu.svg" alt="Menu"></div>
  <script src="../script/dashboard.js"></script>
  <script src="../script/interactions.js"></script>
  <script src="../script/global.js"></script>
</body>
</html>