<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="../../assets/public/alumet.ico" />
      <meta name="description" content="Alumet: La flamme de l’innovation au service de l’éducation.">
      <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers, courses, classroom">
      <meta property="og:title" content="Alumet: La flamme de l’innovation au service de l’éducation.">
      <meta property="og:description" content="L'outil gratuit, open-source, pour l'éducation, construit par des élèves, pour des professeurs. Maintenu et hébergé en France.">
      <meta property="og:type" content="website">
      <meta property="og:url" content="https://alumet.io">
      <meta property="og:image" content="https://i.imgur.com/QMtz1MF.png">
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:domain" content="alumet.io">
      <meta name="twitter:url" content="https://alumet.io/">
      <meta name="twitter:title" content="Alumet: La flamme de l’innovation au service de l’éducation.">
      <meta name="twitter:description" content="L'outil gratuit, open-source, pour l'éducation, construit par des élèves, pour des professeurs. Maintenu et hébergé en France.">
      <meta name="twitter:image" content="https://i.imgur.com/QMtz1MF.png">
      <link rel="stylesheet" type="text/css" href="../../style/editor_alumet.css">
      <link rel="stylesheet" type="text/css" href="../../style/global_alumet.css">
      <link rel="stylesheet" type="text/css" href="../../style/global.css">
      <title>Alumet</title>
   </head>
   <body>
      <section class="loading">
         <span class="loader-upload"></span>
      </section>

      <! -- Modals --> 
      <div class="nav-bar">
         <div onclick="home()" style="display: flex;" id="selected-item" class="item home">
            <img loading="lazy" src="../../assets/app/home-alumet.svg" alt="Alumet">
            <p>Accueil</p>
         </div>
         <div onclick="enableModule('hw')" class="item hw">
            <img loading="lazy" src="../../assets/app/homework.svg" alt="Alumet">
            <p>Devoirs</p>
         </div>
         <div onclick="enableModule('dm')" class="item dm">
            <img loading="lazy" src="../../assets/app/chat.svg" alt="Alumet">
            <p>Messages</p>
         </div>
         <div onclick="enableModule('bd')" class="item bd">
            <img loading="lazy" src="../../assets/app/flashcard.svg" alt="Alumet">
            <p>Mur d'idées</p>
         </div>
         <div onclick="editAlumet()" class="item setting">
            <img loading="lazy" src="../../assets/app/setting.svg" alt="Alumet">
            <p>Paramètres</p>
         </div>
      </div>
      <div class="warning-modal">
         <div class="warning-infos">
            <h1 id="warn-title">Oui mais non</h1>
            <h3 id="warn-desc">Vous pourrez mais pas maintenantn par contre</h3>
            <button id="warn-button">C'est noté</button>
         </div>
      </div>
      <div id="file-viewer" class="view-modal">
         <div id="file-header" class="modal-header">
            <h1 id="file-title" class="modal-title"><img src="../../assets/app/label.svg"><span>Loading...</span></h1>
            <div class="quick-actions">
               <div id="download-file" class="action"><img src="../../assets/app/download.svg" alt="Delete"></div>
               <div onclick="closeViewer()" id="close-viewer" style="margin-right: 10px;" class="action close-viewer"><img src="../../assets/app/close.svg" alt="Close"></div>
            </div>
         </div>
      </div>
      </div>
      <div id="patch-post" class="modal">
         <div class="modal-container">
            <h1>Modifier le post</h1>
            <p>Sélectionner une couleur:</p>
            <div class="color-selector">
               <div class="default post-default" id="current-theme"></div>
               <div class="blue post-blue"></div>
               <div class="red post-red"></div>
               <div class="green post-green"></div>
               <div class="yellow post-yellow"></div>
               <div class="purple post-purple"></div>
               <div class="orange post-orange"></div>
            </div>
            <p>Modifier le titre</p>
            <input id="m-p-t"  type="text" placeholder="Titre">
            <p>Modifier le contenu</p>
            <textarea id="m-p-c"  placeholder="Contenu"></textarea>
            <p>Zone dangereuse</p>
            <button onclick="deletePost()" id="delete">Supprimer cette publication</button>
            <div class="edit-buttons">
               <button onclick="closeModal('patch-post')" id="cancel">Annuler</button>
               <button class="m-p-b" id="accent" type="button" onclick="this.classList.add('button--loading')">
               <span class="button__text">Modifier</span>
               </button>
            </div>
         </div>
      </div>
      <div id="create-hw" class="modal">
         <div class="modal-container">
            <h1>Créer un devoir</h1>
            <p>Quel est la tache à réaliser</p>
            <textarea id="hw-c"  placeholder="Contenu"></textarea>
            <p>Date limite</p>
            <input id="hw-d"  type="date" placeholder="Date limite">
            <div class="edit-buttons">
               <button onclick="closeModal('create-hw')" id="cancel">Annuler</button>
               <button class="hw-send" id="accent" type="button" onclick="this.classList.add('button--loading')">
               <span class="button__text">Créer</span>
               </button>
            </div>
         </div>
      </div>
      <div id="create-bd" class="modal">
         <div class="modal-container">
            <h1>Créer un mur d'idées</h1>
            <p>Comment allons nous l'appeler ?</p>
            <input id="bd-c" type="text"  placeholder="Donner un nom au mur d'idées"></input>
            <p>Autorisation</p>
            <div class="option">
               <p>Autoriser les élèves à interagir</p>
               <label class="toggle">
                  <input id="bd-c-checked" class="toggle-checkbox" type="checkbox">
                  <div class="toggle-switch"></div>
               </label>
            </div>
            <div class="edit-buttons">
               <button onclick="closeModal('create-bd')" id="cancel">Annuler</button>
               <button class="bd-create" id="accent" type="button" onclick="this.classList.add('button--loading')">
                  <span class="button__text">Créer</span>
               </button>
            </div>
         </div>
      </div>
      <div id="choose-template" class="modal">
         <div class="modal-container">
            <h1>Choisir une image</h1>
            <div class="images-container"></div>
            <div class="edit-buttons">
                <button onclick="closeModal('choose-template')" id="cancel">Annuler</button>
             </div>
         </div>
      </div>
      <div id="choose-file" class="modal">
         <div class="modal-container">
            <h1>Choisir un fichier à envoyer</h1>
            <input id="search-input" placeholder="Chercher un fichier">
            <button id="add-file">Ajouter des fichiers</button>
            <div class="files-container">
               <span id="file-waiting" class="loader-upload"></span>
            </div>
            <div class="edit-buttons">
               <button onclick="closeModal('choose-file')" id="cancel">Annuler</button>
            </div>
         </div>
      </div>
      <div id="ms" class="modal">
         <div class="modal-container">
            <h1>Modifier la section</h1>
            <p>Titre</p>
            <input maxlength="150" id="s-m-title" type="text" placeholder="Titre">
            <p>Paramètres</p>
            <div class="option">
               <p>Autoriser les publications</p>
               <label class="toggle">
                  <input id="s-m-checked" class="toggle-checkbox" type="checkbox">
                  <div class="toggle-switch"></div>
               </label>
            </div>
            <p>Zone dangereuse</p>
            <button onclick="deleteWall()" id="delete">Supprimer cette section</button>
            <div id="wrap-section" class="edit-buttons">
               <button onclick="closeModal('ms')" id="cancel">Annuler</button>
               <button class="s-first" onclick="setFirst()" id="accent" type="button" onclick="this.classList.add('button--loading')">
                  <span class="button__text">Mettre en première position</span>
               </button>
               <button class="s-modify" id="accent" type="button" onclick="this.classList.add('button--loading')">
               <span class="button__text">Modifier</span>
               </button>
            </div>
         </div>
      </div>
      <div id="p-a" class="modal">
         <div class="modal-container">
            <input type="file" id="p-a-file" accept="image/png, image/jpeg, image/jpg" style="display: none;">
            <h1>Modifier le Alumet</h1>
            <p>Titre</p>
            <input maxlength="150" id="a-p-title" type="text" placeholder="Titre">
            <p>Description</p>
            <input maxlength="150" id="a-p-description" type="text" placeholder="Description du Alumet">
            <p>Style</p>
            <div class="alumet-p-preview">
               <div class="change-preview">
                  <button id="load-new-background">Charger un fichier</button>
                  <button id="templates">Choisir parmis les modèles</button>
               </div>
               <div class="layer-p-preview"></div>
               <img id="p-alumet-back" src="">
            </div>
            <p>Niveau de flou<span id="blur-level"> 10</span></p>
            <div class="slidecontainer">
               <input type="range" min="0" max="20" value="5" class="slider" id="blur-range">
            </div>
            <p>Luminosité<span id="bright-level"> 10</span></p>
            <div class="slidecontainer">
               <input type="range" min="0" step="0.1" max="1" value="0.8" class="slider" id="bright-range">
            </div>
            <p>Modules activés</p>
            <div class="option">
               <p>Messagerie en direct</p>
               <label class="toggle">
                  <input id="dm-a-p" class="toggle-checkbox a-p" type="checkbox">
                  <div class="toggle-switch"></div>
               </label>
            </div>
            <div class="option">
               <p>Devoirs</p>
               <label class="toggle">
                  <input id="hw-a-p" class="toggle-checkbox a-p" type="checkbox">
                  <div class="toggle-switch"></div>
               </label>
            </div>
            <div class="option">
               <p>Mur d'idées</p>
               <label class="toggle">
                  <input id="bd-a-p" class="toggle-checkbox a-p" type="checkbox">
                  <div class="toggle-switch"></div>
               </label>
            </div>
            <p>Zone dangereuse</p>
            <div class="option">
               <p>Mot de passe</p>
               <label class="toggle">
                  <input id="a-p-pswd" class="toggle-checkbox" type="checkbox">
                  <div class="toggle-switch"></div>
               </label>
            </div>
            <input maxlength="150" id="a-p-password" type="text" placeholder="Mot de passe">
            <button onclick="deleteAlumet()" id="delete-alumet">Supprimer le Alumet</button>
            <div class="edit-buttons">
               <button onclick="closeModal('p-a')" id="cancel">Annuler</button>
               <button class="p-a-modify" id="accent" type="button" onclick="this.classList.add('button--loading')">
               <span class="button__text">Modifier</span>
               </button>
            </div>
         </div>
      </div>
      <div id="cs" class="modal">
         <div class="modal-container">
            <h1>Crée une section</h1>
            <p>Titre</p>
            <input maxlength="150" id="s-title" type="text" placeholder="Titre">
            <p>Paramètres</p>
            <div class="option">
               <p>Autoriser les publications</p>
               <label class="toggle">
                  <input id="s-checked" class="toggle-checkbox" type="checkbox">
                  <div class="toggle-switch"></div>
               </label>
            </div>
            <div class="edit-buttons">
               <button onclick="closeModal('cs')" id="cancel">Annuler</button>
               <button class="s-create" id="accent" type="button" onclick="this.classList.add('button--loading')">
               <span class="button__text">Créer une section</span>
               </button>
            </div>
         </div>
      </div>
      <div id="cp" class="modal">
         <div class="modal-container">
            <h1>Créer un post</h1>
            <p>Sélectionner une couleur:</p>
            <div class="color-selector">
               <div class="default" id="current-theme"></div>
               <div class="blue"></div>
               <div class="red"></div>
               <div class="green"></div>
               <div class="yellow"></div>
               <div class="purple"></div>
               <div class="orange"></div>
            </div>
            <p>Titre</p>
            <textarea id="p-title" maxlength="300" type="text" placeholder="Titre"></textarea>
            <p>Contenu</p>
            <textarea id="p-content" maxlength="800" placeholder="Contenu"></textarea>
            <p>En plus <img class="back-option" src="../../assets/app/back-option.svg"</p>
            <input type="file" id="file-input">
            <div class="file-modal option-modal">
               <h3>Aucun fichier sélectionné</h3>
               <p>Changer de fichier</p>
            </div>
            <div class="link-modal option-modal">
               <div class="website-preview">
                  <div class="link-row">
                     <input class="link-input" type="text" placeholder="Coller ici un lien">
                     <button class="l-preview" id="accent" type="button" onclick="this.classList.add('button--loading')">
                     <span class="button__text"><img class="img-preview" src="../../assets/app/open.svg"></span>
                     </button>
                  </div>
                  <img id="preview-image" src="../../assets/app/no-preview.png">
                  <div id="preview-text">
                     <h3 id="preview-title">Aucun titre</h3>
                     <p id="preview-description">Aucune description</p>
                  </div>
               </div>
            </div>
            <div class="items">
               <div id="file" title="Charger un fichier">
                  <p>Charger un fichier</p>
                  <img src="../../assets/app/upload_alumet.svg">
               </div>
               <div id="link" title="Ajouter un lien">
                  <p>Ajouter un lien</p>
                  <img src="../../assets/app/link_alumet.svg">
               </div>
            </div>
            <p>Option</p>
            <div class="option">
               <p>Visible uniquement par vous.</p>
               <label class="toggle">
                  <input id="p-tcs" class="toggle-checkbox" type="checkbox">
                  <div class="toggle-switch"></div>
               </label>
            </div>
            <div class="edit-buttons">
               <button onclick="closeModal('cp')" id="cancel">Annuler</button>
               <button class="p-post" id="accent" type="button" onclick="this.classList.add('button--loading')">
               <span class="button__text">Publier</span>
               </button>
            </div>
         </div>
      </div>

      <! -- Containers --> 
      <div class="left-container">
         <div class="alumet-infos">
            <h1 id="alumet-title">Alumet</h1>
            <h3 id="alumet-description">Alumet, parce que l'éducation compte</h3>
         </div>
         <div class="wall-container">
            <button onclick="createSection()" class="main-button" id="add-wall">Ajouter un mur</button>
         </div>
      </div>
      <div class="modules-container">
      </div>
      <div class="layer-filter"></div>
      <img class="background-image"></img>
   </body>
   <script src="../../script/utils/utils.js"></script>
   <script src="../../script/utils/postHandler.js"></script>
   <script src="../../script/utils/teacher.js"></script>
   <script src="../../script/alumetGlobal.js"></script>
   <script src="/socket.io/socket.io.js"></script>
   <script>
      const socket = io();
   </script>
   <script src="../../script/alumetEditor.js"></script>
</html>