<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../assets/public/alumet.ico" />

    <meta name="description" content="Une nouvelle façon d'organiser vos classes.">
    <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers">
    <meta property="og:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
    <meta property="og:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://alumet.io">
    <meta property="og:image" content="https://i.imgur.com/WZO8U8s.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="alumet.io">
    <meta name="twitter:url" content="https://alumet.io/">
    <meta name="twitter:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
    <meta name="twitter:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta name="twitter:image" content="https://i.imgur.com/WZO8U8s.png">

    <link rel="stylesheet" type="text/css" href="../style/main.css">
    <link rel="stylesheet" type="text/css" href="../style/global.css">
    <link rel="stylesheet" type="text/css" href="../style/header.css">
    <link rel="stylesheet" type="text/css" href="../style/footer.css">

    <title>Alumet</title>
</head>
<body>
  
  <!--Header-->
  <div class="blur-orange-background"></div>
  <div class="high-background-dots"></div>
  <div class="high-background-gradient"></div>

  <button class="burger-button-open-menu"></button>
  <header class="main-header">
      <div class="header-logo-container">
        <img onclick="document.location.href='/auth/main'" src="../assets/app/alumet.png" alt="Logo d'Alumet" class="logo-alumet">
        <a onclick="document.location.href='/auth/main'" class="name-logo">Alumet</a>
      </div>
      <div class="header-navigation-container">
        <!--<a onclick="document.location.href='/auth/statut'" class="button-header-navigation">Statut</a>-->
        <a onclick="document.location.href='/auth/project'" class="button-header-navigation">Le projet</a>
        <a onclick="document.location.href='/auth/why-adopt'" class="button-header-navigation">Pourquoi adopter ?</a>
        <a onclick="document.location.href='/auth/update'" class="button-header-navigation">Mise à jour</a>
      </div>
      <div class="header-connexion-buttons-container">
        <button class="button-signup-header" onclick="document.location.href='/auth/signin'">Se connecter</button>
        <button class="button-signin-header" onclick="document.location.href='/auth/signup'" >S'incrire</button>
      </div>
   </header>




   <!--Presentation-->
   <div class="presentation-container">
        <button class="presentation-button-video">Visionner la vidéo de présentation <img src="../assets/app/Vector.png" alt="petite flèche" class="presentation-button-arrow"></button>
          <h1 class="presentation-slogan">Alumet, la flamme de l’innovation au service de l’éducation</h1>
          <p class="presentation-slogan-details">Découvrez enfin un environnement de travail moderne pour vos élèves, simple à <br> utiliser et tellement plus efficace</p>
        <button class="incentive-join-button" onclick="document.location.href='/views/pages/signup.html'">Rejoindre<img src="../assets/app/Vector.png" alt="petite flèche" class="incentive-join-button-arrow"></button>

   </div>


   <!--Preview-->
   <img src="../assets/app/preview.png" alt="aperçu accueil" class="presentation-alumet-preview">


   <!--Description-->
   <div class="blur-orange-background"></div>
    <div class="description-orange-round-border"></div>
    <div class="description-container">
        <p class="description-slogan">Construit pour les professeurs</p>
        <p class="description-slogan-details">Construit par des élèves pour correspondre au mieux au besoins des professeurs, Alumet évolue continuellement pour répondre aux besoins</p>
    </div>
    <div class="description-boxes-container">
      <div class="description-box">
        <p class="description-box-title">Un tableau de bord moderne</p>
        <p class="description-box-details">Epuré et simple a utiliser, le tableau de bord vous permet de gerer vos alumets pour vos classes</p>
      </div>
      <div class="description-box">
        <p class="description-box-title">Un gestionnaire de fichier</p>
        <p class="description-box-details">Un accès facile et rapide à tous vos fichiers et devoirs grâce à Alumet</p>
      </div>
      <div class="description-box">
        <p class="description-box-title">Une messagerie instantannée</p>
        <p class="description-box-details">Une messagerie en direct pour faciliter la communication avec vos élèves sur Alumet</p>
      </div>
      <div class="description-box">
        <p class="description-box-title">Un espace devoir</p>
        <p class="description-box-details">Ce module peut permettre au professeur de demander et recevoir les devoirs demandés</p>
      </div>
      <div class="description-box">
        <p class="description-box-title">Un tableau</p>
        <p class="description-box-details">Un espace de travail collaboratif pour partager toutes vos idées en toute simplicité !</p>
      </div>
      <div class="description-box">
        <p class="description-box-title">Flashcard (à venir)</p>
        <p class="description-box-details">Des flashcards intuitives et adaptées à l'apprentissage des élèves pour une meilleure mémorisation !</p>
      </div>
   </div>


  <!--Arguments-->
  <div class="light-blur-orange-background"></div>
  <div class="orange-led-light-container">
      <h1 class="argument-big-title">Ce sont vos élèves qui vous diront merci !</h1>
  </div>
  <div class="separation-line"></div>

  <div class="arguments-global-container">

    <div class="argument-container">
        <img class="argument-illustration" alt="flèche de syncrhonisation" src="../assets/app/files-manager.svg">
        <h2 class="argument-details"><span class="argument-title">Synchronisé.</span>
       Accédez à vos fichiers où que vous soyez</h2>
    </div>

    <div class="argument-container">
      <img class="argument-illustration" alt="flèche de syncrhonisation" src="../assets/app/eclair.png">
      <h2 class="argument-details"><span class="argument-title">Rapide.</span>
      Créé pour gagner un maximum de temps</h2>
    </div>

    <div class="argument-container">
      <img class="argument-illustration" alt="flèche de syncrhonisation" src="../assets/app/ondes.png">
      <h2 class="argument-details"><span class="argument-title">Modulable.</span>
      Utilisez les nombreux modules pour faire de votre Alumet l'endroit le plus adapté pour votre discipline</h2>
    </div>

    <div class="argument-container">
      <img class="argument-illustration" alt="flèche de syncrhonisation" src="../assets/app/cube.png">
      <h2 class="argument-details"><span class="argument-title">Accessible.</span>
      Sur mobile, tablette & ordinateur, profitez d'une interface simple et instinctive</h2>
    </div>
    <div class="argument-container">
      <img class="argument-illustration" alt="flèche de syncrhonisation" src="../assets/app/camera.png">
      <h2 class="argument-details"><span class="argument-title">Adapté.</span>
      Conçu en collaboration avec des professeurs, Alumet est l'outil idéal pour enseigner</h2>
    </div>
  </div>

  <div class="light-blur-orange-background"></div>
  <div class="orange-led-light-container">
    <h1 class="argument-big-title">Je suis sûr qu'on a pensé à vous !</h1>
  </div>
  <div class="class-argument-container">
    
    <div class="class-selector-container" id="adopt">
      <p class="class-selector-title">Vous êtes professeur de...</p>
      <div class="class-selector-choices-container">
        <button onclick="changer_image('../assets/app/maths-preview.png')" class="class-choices">Mathématiques</button>
        <button onclick="changer_image('../assets/app/français-perview.png')" class="class-choices">Français</button>
        <button onclick="changer_image('../assets/app/NSI-preview.png')" class="class-choices">NSI</button>
        <button onclick="changer_image('../assets/app/histoiregeo-preview.png')" class="class-choices">Histoire-géographie</button>
        <button onclick="changer_image('../assets/app/svt-preview.png')" class="class-choices">SVT</button>
        <button onclick="changer_image('../assets/app/latin-preview.png')" class="class-choices">Langues Anciennes</button>
        <button onclick="changer_image('../assets/app/anglais-preview.png')" class="class-choices">Langues</button>
        <button onclick="changer_image('../assets/app/physiquechimie-preview.png')" class="class-choices">Physique-Chimie</button>
        <button onclick="changer_image('../assets/app/philosophie-preview.png')" class="class-choices">Philosophie</button>
      </div> 
    </div>
    <div class="class-argument-preview-container">
      <img class="class-argument-preview" src="../assets/app/alumet.png" alt="logo d'Alumet">
    </div>
  </div>

  <!--Footer-->
  <footer class="footer-container">
    <div class="footer-logo">
      <img onclick="document.location.href='/auth/main'" src="../assets/app/alumet.png" alt="Logo d'Alumet" class="logo-alumet-footer">
      <a onclick="document.location.href='/auth/main'" class="title-alumet-footer">Alumet</a>
    </div>
    <div class="footer-links-container">
      <p class="footer-paragraph"><a onclick="document.location.href='/auth/contacts'" class="footer-links">Contacts</a></p>
      <p class="footer-hyphen">-</p>
      <p class="footer-paragraph"><a onclick="document.location.href='/auth/privacy-policy'" class="footer-links">Conditions d'utilisation</a></p>
      <p class="footer-hyphen">-</p>
      <p class="footer-paragraph"><a onclick="document.location.href='/auth/terms-of-service'" class="footer-links">Politique de confidentialité</a></p>
      <p class="footer-hyphen">-</p>
      <p class="footer-paragraph"><a onclick="document.location.href='/auth/report'" class="footer-links">Signaler un bug</a></p>
    </div>
  </footer>
</body>
<script src="../script/main.js"></script>
</html>

