<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../assets/public/alumet.ico" />

    <meta na content="alumet.io">
    <meta name="twitter:url" contentme="description" content="L'outil gratuit, open-source, pour l'éducation, construit par des élèves, pour des professeurs. Maintenu et hébergé en France.">
    <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers">
    <meta property="og:title" content="Alumet: La flamme de l’innovation au service de l’éducation.">
    <meta property="og:description" content="L'outil gratuit, open-source, pour l'éducation, construit par des élèves, pour des professeurs. Maintenu et hébergé en France.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://alumet.io">
    <meta property="og:image" content="https://i.imgur.com/WZO8U8s.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain"="https://alumet.io/">
    <meta name="twitter:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
    <meta name="twitter:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta name="twitter:image" content="https://i.imgur.com/WZO8U8s.png">

    <link rel="stylesheet" type="text/css" href="../style/main.css">
    <link rel="stylesheet" type="text/css" href="../style/global.css">


    <title>Alumet</title>
</head>
<body>
  <header>
      <div class="alumet-infos">
        <img src="../assets/app/alumet.png" alt="Logo Alumet">
        <h1>Alumet</h1>
      </div>
      <div class="nav-items">
        <h2 onclick="document.location.href='#wa'">Adopter</h2>
        <h2 onclick="document.location.href='#fc'">Fonctionnalités</h2>
        <h2 onclick="alert('Pas encore disponible')">Contacts</h2>
      </div>
      <div class="connect">
        <button onclick="document.location.href='/auth/signup'" id="sign-up">S'inscrire</button>
        <button onclick="document.location.href='/auth/signin'" id="sign-in">Se connecter</button>
      </div>
  </header>

  <!--Page-->
  <div class="header-section">
    <div class="title">
      <h1>La flamme de l’innovation au service de l’éducation </h1>
    </div>
  </div>
  <div class="under-header">
    <div class="video-tag">
      <div class="see-vid">
        <div onclick="alert('La vidéo n\'est pas encore disponible !')" class="play-icon">
          <img src="../assets/app/play.svg">
        </div>
        <h1>Voir la vidéo de présentation d’Alumet</h1>
      </div>
      <div class="badges">
        <div class="badge">PERFORMANT</div>
        <div class="badge">INTUITIF, MODERNE & EFFICACE</div>
        <div class="badge">HÉBERGÉ EN FRANCE</div>
      </div>
    </div>
    <div class="items">
        <div class="item">
          <img src="../assets/app/yellow-folder.svg">
        </div>
        <div onclick="window.location.href='#wa'" class="item">
          <img src="../assets/app/beige-folder.svg">
        </div>
        <div onclick="window.location.href='#fc'" class="item">
          <img src="../assets/app/orange-folder.svg">
        </div>
    </div>
  </div>
  <h1 id="wa" class="big-title">Pourquoi Alumet ?</h1>
  <div class="box-container">
    <div class="why-alumet-box">
      <div class="wa-header">
        <img class="black-box" src="../assets/app/black-box.svg">
        <img class="wa-img" src="../assets/app/wa-1.png">
      </div>
      <div class="wa-content">
        <h1 class="box-title">Tout les outils réunis</h1>
        <p class="box-paragraph">
          Alumet est une application d'éducation pratique et personnalisée qui rassemble les meilleurs outils éducatifs en un seul endroit accessible à tout moment et n'importe où, pour vos élèves ou entre collègues.</p>
      </div>
    </div>

    <div class="why-alumet-box">
      <div class="wa-header">
        <img class="black-box" src="../assets/app/black-box.svg">
        <img class="wa-img" src="../assets/app/wa-2.png">
      </div>
      <div class="wa-content">
        <h1 class="box-title">Sécurisé et performant</h1>
        <p class="box-paragraph">Alumet est une application sécurisée qui protège les données personnelles et sensibles de ses utilisateurs avec des protocoles de sécurité avancés. Alumet suit également les normes du RGPD.</p>
      </div>
    </div>

    <div class="why-alumet-box">
      <div class="wa-header">
        <img class="black-box" src="../assets/app/black-box.svg">
        <img class="wa-img" src="../assets/app/wa-3.png">
      </div>
      <div class="wa-content">
        <h1 class="box-title">Elégant et simple</h1>
        <p class="box-paragraph">Un dashboard simple et élégant permettant une meilleure prise en main par les professeurs et les élèves. Une interface intuitive, facilitant l'accès aux ressources et le suivi des progrès individuels.</p>
      </div>
    </div>

    <div class="why-alumet-box">
      <div class="wa-header">
        <img class="black-box" src="../assets/app/black-box.svg">
        <img class="wa-img" src="../assets/app/wa-4.png">
      </div>
      <div class="wa-content">
        <h1 class="box-title">Où que vous soyez</h1>
        <p class="box-paragraph">Partout, où que vous soyez, profitez de vos fichiers en temps réel. Disponible sur ordinateurs, smartphone et tablette, vous pourrez importer, récupérer, supprimer vos fichiers importés.</p>
      </div>
    </div>

  </div>



  <h1 id="fc" class="big-title">Fonctionnalités</h1>
  <div class="features-container">
    <div class="description-container">
      <h1>Organisable</h1>
      <div class="separation-line"></div>
      <h2>Avec Alumet, dites adieu au chaos et à la complexité des fichiers. 
        Son gestionnaire intuitif permet de retrouver, déplacer et renommer facilement vos fichiers. 
        Fini les recherches interminables, naviguez simplement dans l'interface conviviale pour un accès instantané.</h2>
    </div>
    <div class="preview-container">
      <img class="back-preview" src="../assets/preview/preview1.png">
      <img class="top-right" src="../assets/preview/preview1_1.png">
      <img class="bottom-left" src="../assets/preview/preview1_2.png">
    </div>
  </div>
  
  <div id="left" class="features-container">
    <div class="description-container">
      <h1>Modulable</h1>
      <div class="separation-line"></div>
      <h2>Personnalisez vos Alumets avec les modules. 
        Discussion, Devoir à rendre et bien plus, les modules permettent à vous et vos élèves de travailler 
        de manière efficace et collaborative. Faites de votre Alumet l'endroit parfait pour vos élèves.</h2>
    </div>
    <div class="preview-container">
      <img class="back-preview" src="../assets/preview/preview2.png">
      <img class="top-left" src="../assets/preview/preview2_1.png">
      <img class="bottom-right" src="../assets/preview/preview2_2.png">
    </div>
  </div>

  <div class="features-container">
    <div class="description-container">
      <h1>Personnalisable</h1>
      <div class="separation-line"></div>
      <h2>Personnalisez  vos Alumet selon votre envie. Choississez parmi les modèles de fond d'écran ou importez les votres.
        Paramétrez vos Alumet, choississez vos propres illustrations, et créez un espace totalement esthétique.
      </h2>
    </div>
    <div class="preview-container">
      <img class="back-preview" src="../assets/preview/preview3.png">
      <img class="top-right" src="../assets/preview/preview3_1.png">
      <img class="bottom-left" src="../assets/preview/preview3_2.png">
    </div>
  </div>

  <div id="left" class="features-container">
    <div class="description-container">
      <h1>Propulsé par l'intelligence artificielle<div class="soon">Bientôt</div></h1>
      <div class="separation-line"></div>
      <h2>Profitez de l'intelligence artificielle.
        Création de questionnaires, de flashcards, de résumés de cours en quelques secondes seulement.
        L'arrivée de l'intelligence artificielle sur Alumet permettera aux professeurs et élèves de profiter d'outils puissants afin de maximiser l'enseignement.</h2>
    </div>
    <div class="preview-container">
      <img class="back-preview" src="../assets/preview/preview4.png">
      <img style="width: 60%;" class="bottom-right" src="../assets/preview/preview4_1.png">
    </div>
  </div>
  <footer>
    <div class="footer-top">
      <div class="footer-text">
        <h1 class="footer-title">Suivez le projet Alumet</h1>
        <p class="footer-paragraph">Soyez au courant des dernières nouveautés Alumet</p>
      </div>
      <div class="footer-form">
        <input class="mail-zone" placeholder="Entrez votre mail">
        <button class="submit-button" type="button" onclick="this.classList.add('button--loading')">
          <span class="button__text">S'abonner</span>
        </button>
      </div>
    </div>
    <div class="footer-middle">
      <div class="footer-slogan">
        <h1 class="footer-title-logo"><img class="logo-alumet" src="../assets/app/alumet.png" alt="logo d'Alumet">Alumet</h1>
        <p class="footer-paragraph">La flamme de l'innovation au service de l'éducation</p>
      </div>
      <div class="links">
      <div>
        <h1 class="footer-title-div">Liens</h1>
        <p class="footer-paragraph-div">Se connecter</p>
        <p class="footer-paragraph-div">Condition d'utilisation</p>
        <p class="footer-paragraph-div">Politique de confidentalité</p>
      </div>
      <div>
        <h1 class="footer-title-div">Fonctionnalitées</h1>
        <p class="footer-paragraph-div">Modulable</p>
        <p class="footer-paragraph-div">Personalisable</p>
        <p class="footer-paragraph-div">Organisable</p>
        <p class="footer-paragraph-div">Propulsé par l'IA</p>
      </div>
      <div>
        <h1 class="footer-title-div">Autres</h1>
        <p class="footer-paragraph-div">Nous contacter</p>
        <p class="footer-paragraph-div">Notre projet</p>
      </div>
    </div>
    </div>
  </footer>
</body>
<script src="../script/main.js"></script>
</html>

