<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../assets/public/alumet.ico" />

    <meta na content="alumet.io">
    <meta name="twitter:url" contentme="description" content="L'outil gratuit, open-source, pour l'éducation, construit par des élèves, pour des professeurs. Maintenu et hébergé en France.">
    <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers">
    <meta property="og:title" content="Alumet: La flamme de l’innovation au service de l’éducation.">
    <meta property="og:description" content="L'outil gratuit, open-source, pour l'éducation, construit par des élèves, pour des professeurs. Maintenu et hébergé en France.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://alumet.io">
    <meta property="og:image" content="https://i.imgur.com/WZO8U8s.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain"="https://alumet.io/">
    <meta name="twitter:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
    <meta name="twitter:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta name="twitter:image" content="https://i.imgur.com/WZO8U8s.png">

    <link rel="stylesheet" type="text/css" href="../style/main.css">
    <link rel="stylesheet" type="text/css" href="../style/global.css">


    <title>Alumet</title>
</head>
<body>
  <header>
      <div class="alumet-infos">
        <img src="../assets/app/alumet.png" alt="Logo Alumet">
        <h1>Alumet</h1>
      </div>
      <div class="nav-items">
        <h2 onclick="document.location.href='#wa'">Adopter</h2>
        <h2 onclick="document.location.href='#fc'">Fonctionnalités</h2>
        <h2 onclick="alert('Pas encore disponible')">Contacts</h2>
      </div>
      <div class="connect">
        <button onclick="document.location.href='/auth/signup'" id="sign-up">S'inscrire</button>
        <button onclick="document.location.href='/auth/signin'" id="sign-in">Se connecter</button>
      </div>
  </header>

  <!--Page-->
  <div class="header-section">
    <div class="title">
      <h1>La flamme de l’innovation au service de l’éducation </h1>
    </div>
  </div>
  <div class="under-header">
    <div class="video-tag">
      <div class="see-vid">
        <div class="play-icon">
          <img onclick="alert('La vidéo n\'est pas encore disponible !')" src="../assets/app/play.svg">
        </div>
        <h1>Voir la vidéo de présentation d’Alumet</h1>
      </div>
      <div class="badges">
        <div class="badge">PERFORMANT</div>
        <div class="badge">INTUITIF, MODERNE & EFFICACE</div>
        <div class="badge">HÉBERGÉ EN FRANCE</div>
      </div>
    </div>
    <div class="items">
        <div class="item">
          <img src="../assets/app/yellow-folder.svg">
        </div>
        <div onclick="window.location.href='#wa'" class="item">
          <img src="../assets/app/beige-folder.svg">
        </div>
        <div class="item">
          <img src="../assets/app/orange-folder.svg">
        </div>
    </div>
  </div>
  <h1 id="wa" class="big-title">Pourquoi Alumet</h1>
  <div class="box-container">
    <div class="why-alumet-box">
      <div class="wa-header">
        <img class="black-box" src="../assets/app/black-box.svg">
        <img class="wa-img" src="../assets/app/wa-1.png">
      </div>
      <div class="wa-content">
        <h1 class="box-title">Tout les outils réunis</h1>
        <p class="box-paragraph">Chez Alumet notre objectif à toujours été de crée un seul outil qui regroupe les fonctionnalitésles plus performantes au même endroits, et cela afin de proposer une application complête</p>
      </div>
    </div>

    <div class="why-alumet-box">
      <div class="wa-header">
        <img class="black-box" src="../assets/app/black-box.svg">
        <img class="wa-img" src="../assets/app/wa-2.png">
      </div>
      <div class="wa-content">
        <h1 class="box-title">Tout les outils réunis</h1>
        <p class="box-paragraph">Chez Alumet notre objectif à toujours été de crée un seul outil qui regroupe les fonctionnalitésles plus performantes au même endroits, et cela afin de proposer une application complête</p>
      </div>
    </div>

    <div class="why-alumet-box">
      <div class="wa-header">
        <img class="black-box" src="../assets/app/black-box.svg">
        <img class="wa-img" src="../assets/app/wa-3.png">
      </div>
      <div class="wa-content">
        <h1 class="box-title">Tout les outils réunis</h1>
        <p class="box-paragraph">Chez Alumet notre objectif à toujours été de crée un seul outil qui regroupe les fonctionnalitésles plus performantes au même endroits, et cela afin de proposer une application complête</p>
      </div>
    </div>

    <div class="why-alumet-box">
      <div class="wa-header">
        <img class="black-box" src="../assets/app/black-box.svg">
        <img class="wa-img" src="../assets/app/wa-4.png">
      </div>
      <div class="wa-content">
        <h1 class="box-title">Tout les outils réunis</h1>
        <p class="box-paragraph">Chez Alumet notre objectif à toujours été de crée un seul outil qui regroupe les fonctionnalitésles plus performantes au même endroits, et cela afin de proposer une application complête</p>
      </div>
    </div>

  </div>



  <h1 id="fc" class="big-title">Fonctionnalités</h1>
  <div class="features-container">
    <div class="description-container">
      <h1>Organisable</h1>
      <div class="separation-line"></div>
      <h2>Finis les environnement de travail terriblement désorganiser, adopter Alumet et organiser vos cours, classes par séquence ou lorep ipsum dolor asit amet  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</h2>
    </div>
    <div class="preview-container">
      <img class="back-preview" src="../assets/preview/preview1.png">
      <img class="top-right" src="../assets/preview/preview1_1.png">
      <img class="bottom-left" src="../assets/preview/preview1_2.png">
    </div>
  </div>
  
  <div id="left" class="features-container">
    <div class="description-container">
      <h1>Organisable</h1>
      <div class="separation-line"></div>
      <h2>Finis les environnement de travail terriblement désorganiser, adopter Alumet et organiser vos cours, classes par séquence ou lorep ipsum dolor asit amet  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</h2>
    </div>
    <div class="preview-container">
      <img class="back-preview" src="../assets/preview/preview2.png">
      <img class="top-left" src="../assets/preview/preview2_1.png">
      <img class="bottom-right" src="../assets/preview/preview2_2.png">
    </div>
  </div>

  <div class="features-container">
    <div class="description-container">
      <h1>Organisable</h1>
      <div class="separation-line"></div>
      <h2>Finis les environnement de travail terriblement désorganiser, adopter Alumet et organiser vos cours, classes par séquence ou lorep ipsum dolor asit amet  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</h2>
    </div>
    <div class="preview-container">
      <img class="back-preview" src="../assets/preview/preview3.png">
      <img class="top-right" src="../assets/preview/preview3_1.png">
      <img class="bottom-left" src="../assets/preview/preview3_2.png">
    </div>
  </div>

  <div id="left" class="features-container">
    <div class="description-container">
      <h1>Organisable</h1>
      <div class="separation-line"></div>
      <h2>Finis les environnement de travail terriblement désorganiser, adopter Alumet et organiser vos cours, classes par séquence ou lorep ipsum dolor asit amet  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</h2>
    </div>
    <div class="preview-container">
      <img class="back-preview" src="../assets/preview/preview4.png">
      <img style="width: 60%;" class="bottom-right" src="../assets/preview/preview4_1.png">
    </div>
  </div>
</body>
<script src="../script/main.js"></script>
</html>

