<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../assets/public/alumet.ico" />

    <meta name="description" content="Alumet, explorer d'une nouvelle façon.">
    <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers">
    <meta property="og:title" content="Alumet: Explorer d'une nouvelle façon.">
    <meta property="og:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://alumet.io">
    <meta property="og:image" content="https://i.imgur.com/O9RdHj1.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="alumet.io">
    <meta name="twitter:url" content="https://alumet.io/">
    <meta name="twitter:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
    <meta name="twitter:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta name="twitter:image" content="https://i.imgur.com/O9RdHj1.png">
    <link rel="stylesheet" type="text/css" href="../style/header.css">
    <link rel="stylesheet" href="../style/terms-of-service.css"/>
    <link rel="stylesheet" type="text/css" href="../style/global.css">

    <title>Alumet - Politique de confidentialité</title>
</head>
<body>
    <div id="toast"></div>
    <header>
        <div class="alumet-infos">
          <img src="../assets/app/alumet.png" alt="Logo Alumet">
          <h1>Alumet</h1>
        </div>
        <div class="nav-items">
          <h2 onclick="document.location.href='#wa'">Adopter</h2>
          <h2 onclick="document.location.href='#fc'">Fonctionnalités</h2>
          <a href="mailto:alumet.io@gmail.com">Contacts</a>
        </div>
        <div class="connect">
          <button onclick="document.location.href='/auth/signup'" id="sign-up">S'inscrire</button>
          <button onclick="document.location.href='/auth/signin'" id="sign-in">Se connecter</button>
        </div>
    </header>
      
      <h1 class="presentation-title">Conditions d'utilisation</h1>
      <div class="badges">
          <div>DONNÉES COLLECTÉES</div>
          <div>UTILISATION DES DONNÉES COLLECTÉES</div>
          <div>DONNÉES TRANSFÉRÉES AUX AUTORITÉS</div>
          <div>DURÉE DE CONSERVATION DES DONNÉES</div>
          <div>TRANSFERT DES DONNÉES</div>
          <div>PROTECTION DES DONNÉES</div>
          <div>DROIT D’ACCÈS AUX DONNÈES</div>
          <div>MODIFICATION DE LA POLITIQUE DE CONFIDENTIALITÉ</div>
          <div>CONTACT</div>
      </div>
      <div class="text-container">
        <h2>Alumet, en sa qualité de responsable du traitement, attache une grande importance à la protection et au respect de votre vie privée. La présente politique vise à vous informer, conformément au Règlement n°2016-679 du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données (ci-après dénommé le « Règlement »), de nos pratiques concernant la collecte, l’utilisation et le partage des informations que vous êtes amenés à nous fournir par le biais de notre site internet <i>https://alumet.io</i>, nos applications, etc. Cette politique a pour but de vous informer sur les catégories de données personnelles que nous pourrions recueillir ou détenir sur vous, comment nous les utilisons, quels en sont les destinataires et avec qui nous les partageons, la durée pendant laquelle nous les conservons et comment nous les protégeons, 
            enfin les droits dont vous disposez sur vos données personnelles.</h2>

        <h1> 1/ Les données que nous collectons</h1>
        <p>En utilisant Alumet, vous êtes amenés à nous transmettre des informations, dont certaines sont de nature à vous identifier et constituent de ce fait des données à caractère personnel (ci-après dénommées les « Données »). C’est notamment le cas lorsque vous vous inscrivez sur le site. Ces informations contiennent notamment les données suivantes :<br>
                Données du compte : désignent les données que vous renseignez lors de la création d’un compte en remplissant le formulaire d’inscription.<br>
                Données rendues publiques : désignent l’ensemble des informations que vous affichez volontairement sur le Site et les Applications telles que notamment les publications, les commentaires, discussions, et profil de compte.<br>
                Données relatives à la navigation : désignent les données que nous collectons lors de votre navigation sur <i> https://alumet.io.</i> Dans le cas où vous vous connectez à nos services en utilisant les fonctionnalités d’application tiers, nous aurons accès à certaines données de votre compte sur lesdites applications conformément aux conditions générales d’utilisation de l’application concernée. Nous sommes également susceptibles de recueillir certaines de vos Données, lorsque vous interagissez avec des fonctionnalités de ces applications, telles que les fonctionnalités « Google Drive ».</p>
        <h1>2/Utilisation des données collectées </h1>
        <p>Nous utilisons les Données que nous recueillons afin de  subvenir aux besoins suivants : 
            <br>Fournir un compte,
            <br>Fournir des services,
            <br>Lors de la collecte des Données, vous serez informés si certaines Données doivent être obligatoirement renseignées ou si elles sont facultatives. Les Données identifiées par un astérisque au sein du formulaire de collecte sont obligatoires. A défaut, l’exécution de votre demande pourra être restreinte.</p>
        <h1>3/ Destinataires externes et partage des données</h1>
        <p>Conformément à la règlementation en vigueur, les Données peuvent être transmises aux autorités compétentes sur requête et notamment aux organismes publics, aux auxiliaires de justice, aux officiers ministériels, aux organismes chargés d’effectuer le recouvrement de créances, exclusivement pour répondre aux obligations légales, ainsi que dans le cas de la recherche des auteurs d’infractions commises sur internet.</p>
        <h1>4/ Durée de conservation des données </h1>
        <p>Vos Données ne seront pas conservées au-delà de la durée strictement nécessaire aux finalités poursuivies telles qu’énoncées dans la présente politique et ce conformément au Règlement et aux lois applicables. A cet égard, les Données utilisées aux fins d’utilisation d’Alumet sont conservées pendant toute la durée de la propriété intellectuelle.
            Lorsque les durées de conservation arrivent à leur terme, vos Données sont effacées ou anonymisées de manière à pouvoir les exploiter sans porter atteinte à vos droits. Néanmoins, vos Données pourront être archivées au-delà des durées prévues pour les besoins de la recherche, la constatation et de la poursuite des infractions pénales dans le seul but de permettre, en tant que de besoin, la mise à disposition de vos Données à l’autorité judiciaire. L’archivage implique que vos Données ne seront plus consultables en ligne mais seront extraites et conservées sur un support autonome et sécurisé.</p>
        <h1>5/ Transfert des données </h1>
        <p>Vos Données ne font pas l’objet de transfert hors du territoire de l’Union européenne.</p>
        <h1>6/ Protection des données</h1>
        <p>Nous prenons des mesures adéquates sur le plan de la technique et de l’organisation pour interdire l’accès non autorisé ou la modification, divulgation, perte ou destruction de vos Données. Il importe que vous préserviez la confidentialité de vos identifiants de façon à empêcher une utilisation illicite de votre compte.</p>
        <h1>7/ Droit d’accès aux données</h1>
        <p> Conformément aux lois et règlements applicables en matière de protection des données personnelles, vous bénéficiez d’un certain nombre de droits relatifs à vos Données, à savoir un droit d’accès et d’information. Vous avez le droit d’être informé de manière concise, transparente, intelligible et facilement accessible de la manière dont vos Données sont traitées. Vous avez également un droit :

            <h3>(I) D’obtention de confirmation : vous avez le droit d’obtenir la confirmation que des Données vous concernant sont traitées et, le cas échéant.</h3>
        
            <h3>(II) D’accès aux données : vous avez le droit d’accéder à ces Données et d’en obtenir une copie.</h3>
        
            <h3>(III) De rectification : vous avez le droit de demander la rectification des Données inexactes vous concernant. Vous avez également le droit de compléter les Données incomplètes vous concernant, en fournissant une déclaration complémentaire. En cas d’exercice de ce droit, nous nous engageons à communiquer toute rectification à l’ensemble des destinataires de vos Données.</h3>
        
            <h3>(IV) D’effacement : dans certains cas, vous avez le droit d’obtenir l’effacement de vos Données. Cependant, ceci n’est pas un droit absolu et nous pouvons pour des raisons légales ou légitimes conserver ces Données.</h3> 
        
            <h3>(V) À la limitation du traitement : dans certains cas, vous avez le droit d’obtenir la limitation du traitement sur vos Données.</h3>
        
            <h3>(VI)  À la portabilité des Données : vous avez le droit de recevoir vos Données que vous nous avez fournies, dans un format structuré, couramment utilisé et lisible par une machine, pour votre usage personnel ou pour les transmettre à un tiers de votre choix. Ce droit ne s’applique que lorsque le traitement de vos Données est basé sur votre consentement, sur un contrat et que ce traitement est effectué par des moyens automatisés.</h3>
        
            <h3>(VII) D’opposition au traitement : vous avez le droit de vous opposer à tout moment au traitement de vos Données pour les traitements basés sur notre intérêt légitime, une mission d’intérêt public. Ceci n’est pas un droit absolu et nous pouvons pour des raisons légales ou légitimes refuser votre demande d’opposition.</h3>
        
            <h3>(VIII) De retirer votre consentement à tout moment : vous pouvez retirer votre consentement au traitement de vos Données lorsque le traitement est basé sur votre consentement. Le retrait du consentement ne compromet pas la licéité du traitement fondé sur le consentement effectué avant ce retrait.</h3>
         
            <h3>(IX) De déposition une plainte auprès d’une autorité de contrôle : vous avez le droit de contacter votre autorité de protection des données pour vous plaindre de nos pratiques de protection des données personnelles.</h3>
         
            <h3>(X) De donner des directives concernant le sort de vos données après votre décès : vous avez le droit de nous donner des directives concernant l’utilisation de vos Données après votre décès. Pour exercer ces droits, vous pouvez nous contacter  à l’adresse suivante : alumet.io@gmail.com |   Notez que nous pouvons exiger un justificatif de votre identité pour l’exercice de ces droits.</h3>
            </p>
        <h1>8/ Modification de notre politique de confidentialité</h1>
        <p>Nous pouvons être amenés à modifier occasionnellement la présente politique, afin notamment de se conformer à toutes évolutions réglementaires, jurisprudentielles, éditoriales ou techniques. Le cas échéant, nous changerons la date de « dernière mise à jour » et indiquerons la date à laquelle les modifications ont été apportées. Lorsque cela est nécessaire, notamment mais pas exclusivement en cas de modification substantielle ou d’évènement particulier requérant la modification de la présente politique, nous vous informerons et/ou solliciterons votre accord. Nous vous conseillons de consulter régulièrement cette page pour prendre connaissance des éventuelles modifications ou mises à jour apportées à notre politique.</p>
        <h1>9/Contact</h1>
        <p>Pour toute question relative à la présente politique ou pour toute demande relative à vos Données, vous pouvez nous contacter en adressant un courriel à l’adresse suivante : <i>alumet.io@gmail.com</i></p>
  
      </div>
  </body>
  </html>