<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../assets/public/alumet.ico" />

    <meta name="description" content="Une nouvelle façon d'organiser vos classes.">
    <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers">
    <meta property="og:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
    <meta property="og:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://alumet.io">
    <meta property="og:image" content="https://i.imgur.com/WZO8U8s.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="alumet.io">
    <meta name="twitter:url" content="https://alumet.io/">
    <meta name="twitter:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
    <meta name="twitter:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta name="twitter:image" content="https://i.imgur.com/WZO8U8s.png">

    <link rel="stylesheet" type="text/css" href="../style/privacy-policy.css">
    <link rel="stylesheet" type="text/css" href="../style/global.css">
    <link rel="stylesheet" type="text/css" href="../style/header.css">
    <link rel="stylesheet" type="text/css" href="../style/footer.css">

    <title>Alumet -  Politique de confidentialité</title>
</head>
<body>
  <!--Header-->
  <div class="blur-orange-background"></div>
  <div class="high-background-dots"></div>
  <div class="high-background-gradient"></div>

  <button class="burger-button-open-menu"></button>
  <header class="main-header">
      <div class="header-logo-container">
        <img onclick="document.location.href='/auth/main'" src="../assets/app/alumet.png" alt="Logo d'Alumet" class="logo-alumet">
        <a onclick="document.location.href='/auth/main'" class="name-logo">Alumet</a>
      </div>
      <div class="header-navigation-container">
        <!--<a onclick="document.location.href='/auth/statut'" class="button-header-navigation">Statut</a>-->
        <a onclick="document.location.href='/auth/project'" class="button-header-navigation">Le projet</a>
        <a onclick="document.location.href='/auth/why-adopt'" class="button-header-navigation">Pourquoi adopter ?</a>
        <a onclick="document.location.href='/auth/update'" class="button-header-navigation">Mise à jour</a>
      </div>
      <div class="header-connexion-buttons-container">
        <button class="button-signup-header" onclick="document.location.href='/auth/signin'">Se connecter</button>
        <button class="button-signin-header" onclick="document.location.href='/auth/signup'" >S'incrire</button>
      </div>
   </header>

   <!--Page-->
   <div class="title">
    <h1 class="big-title">Politique de confidentalité</h1>
    <p class="subtitle-big-title">Politique de conficentalité d’Alumet</p>
    <p class="paragraph">Nous respectons votre vie privée et nous sommes déterminés à protéger les informations personnelles que vous nous fournissez. Cette politique de confidentialité explique comment nous recueillons, utilisons et divulguons vos informations personnelles.</p>
  </div>
  <div class="article">
    <h1 class="medium-title">Collecte d'informations personnelles</h1>
    <p class="paragraph">Nous collectons que ces informations personnelles qui sont : votre nom, votre adresse e-mail et votre adresse IP lorsque vous vous inscrivez à notre liste de diffusion ou lorsque vous nous contactez via notre formulaire de contact.</p>
  </div>
  <div class="article">
    <h1 class="medium-title">Utilisation des informations personnelles</h1>
    <p class="paragraph">Nous utilisons vos informations personnelles pour répondre à vos demandes, traiter vos contributions et vous fournir des informations sur notre projet. Nous pouvons également utiliser vos informations personnelles pour améliorer notre site Web et nos services.</p>
  </div>
  <div class="article">
    <h1 class="medium-title">Divulgation des informations personnelles</h1>
    <p class="paragraph">Nous ne divulguons pas vos informations personnelles à des tiers sans votre consentement, sauf si la loi l'exige ou si cela est nécessaire pour fournir les services que vous avez demandés.</p>
  </div>
  <div class="article">
    <h1 class="medium-title">Sécurité des informations personnelles</h1>
    <p class="paragraph">Nous prenons des mesures raisonnables pour protéger les informations personnelles que vous nous fournissez contre la perte, l'utilisation abusive et l'accès non autorisé, la divulgation, l'altération et la destruction.</p>
  </div>
  <div class="article">
    <h1 class="medium-title">Accès et modification des informations personnelles</h1>
    <p class="paragraph">Si vous souhaitez accéder ou modifier vos informations personnelles, veuillez nous contacter à l'adresse contact@alumet.io . Nous ferons de notre mieux pour répondre à votre demande dans les plus brefs délais.</p>
  </div>
  <div class="article">
    <h1 class="medium-title">Modifications de la politique de confidentialité</h1>
    <p class="paragraph">Nous pouvons modifier cette politique de confidentialité de temps à autre pour refléter les changements dans nos pratiques de collecte et d'utilisation de données. La version la plus récente sera toujours disponible sur notre site Web.</p>
  </div>
  <div class="article">
    <h1 class="medium-title">Contactez-nous</h1>
    <p class="paragraph">Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité, veuillez nous contacter à l'adresse [insérer votre adresse e-mail]. Nous sommes engagés à respecter votre vie privée et nous prendrons toutes les mesures nécessaires pour protéger vos informations personnelles.</p>
  </div>

   <!--Footer-->
   <footer class="footer-container">
    <div class="footer-logo">
      <img onclick="document.location.href='/auth/main'" src="../assets/app/alumet.png" alt="Logo d'Alumet" class="logo-alumet-footer">
      <a onclick="document.location.href='/auth/main'" class="title-alumet-footer">Alumet</a>
    </div>
    <div class="footer-links-container">
      <p class="footer-paragraph"><a onclick="document.location.href='/auth/contacts'" class="footer-links">Contacts</a></p>
      <p class="footer-hyphen">-</p>
      <p class="footer-paragraph"><a onclick="document.location.href='/auth/privacy-policy'" class="footer-links">Conditions d'utilisation</a></p>
      <p class="footer-hyphen">-</p>
      <p class="footer-paragraph"><a onclick="document.location.href='/auth/terms-of-service'" class="footer-links">Politique de confidentialité</a></p>
      <p class="footer-hyphen">-</p>
      <p class="footer-paragraph"><a onclick="document.location.href='/auth/report'" class="footer-links">Signaler un bug</a></p>
    </div>
  </footer>
</body>
<script src="../script/privacy-policy.js"></script>
</html>