<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="../assets/public/alumet.ico" />

  <meta name="description" content="Une nouvelle façon d'organiser vos classes.">
  <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers">
  <meta property="og:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
  <meta property="og:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://alumet.io">
  <meta property="og:image" content="https://i.imgur.com/WZO8U8s.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:domain" content="alumet.io">
  <meta name="twitter:url" content="https://alumet.io/">
  <meta name="twitter:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
  <meta name="twitter:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
  <meta name="twitter:image" content="https://i.imgur.com/WZO8U8s.png">

  <link rel="stylesheet" type="text/css" href="../style/projet.css">
  <link rel="stylesheet" type="text/css" href="../style/global.css">
  <link rel="stylesheet" type="text/css" href="../style/header.css">
  <link rel="stylesheet" type="text/css" href="../style/footer.css">

  <title>Alumet - Projet</title>
</head>
<body>



    <!--Header-->
    <div class="blur-orange-background"></div>
    <div class="high-background-dots"></div>
    <div class="high-background-gradient"></div>

    <button class="burger-button-open-menu"></button>
    <header class="main-header">
      <div class="header-logo-container">
        <img onclick="document.location.href='/'" src="../assets/app/alumet.png" alt="Logo d'Alumet" class="logo-alumet">
        <a onclick="document.location.href='/'" class="name-logo">Alumet</a>
      </div>
      <div class="header-navigation-container">
        <!--<a onclick="document.location.href='/auth/statut'" class="button-header-navigation">Statut</a>-->
        <a onclick="document.location.href='/project'" class="button-header-navigation">Le projet</a>
        <a onclick="document.location.href='/adopter'" class="button-header-navigation">Pourquoi adopter ?</a>
        <a onclick="document.location.href='/update'" class="button-header-navigation">Mise à jour</a>
      </div>
      <div class="header-connexion-buttons-container">
        <button class="button-signup-header" onclick="document.location.href='/auth/signin'">Se connecter</button>
        <button class="button-signin-header" onclick="document.location.href='/auth/signup'" >S'incrire</button>
      </div>
     </header>
  




     <!-- Big Title-->
    <div class="big-project-title-container">
      <img class="big-project-logo" src="../assets/app/wide_alumet.png" alt="gros logo d'Alumet">
      <div class="big-project-text-container">
        <span class="big-project-title">Alumet</span>
        <p class="big-project-title-details">La flamme de l’innovation au service de l’éducation</p>
      </div>
    </div>

    <div class="light-blur-orange-background"></div>




    <!-- Introduction-->
    <div class="introduction-global-container">
      <div class="introduction-box-container">
        <div class="introduction-box-title-container">
          <p class="introduction-box-title">Une mission engagée pour faciliter le travail des professeurs</p>
        </div>
        <p class="introduction-details">
        Alumet est né d'une problématique fréquente chez les professeurs et les élèves : la difficulté à retrouver les fichiers et devoirs sur l'ENT scolaire. 
        Après une recherche approfondie et des entretiens avec des professeurs, nous avons créé Alumet pour remédier à ce problème.
        </p>
      </div>
      <div class="introduction-box-container">
        <div class="introduction-box-title-container">
          <p class="introduction-box-title">Une organisation efficace pour un projet ambitieux</p>
        </div>
        <p class="introduction-details">Malgré le projet de grande envergure, nous avons opté pour une collaboration à trois, ce qui a permis une organisation efficace.
           Pour ce faire, nous avons défini des horaires dédiés au projet en dehors des heures de cours et utilisé des outils tels que Figma et Github pour communiquer et partager notre travail.</p>
      </div>
      <div class="introduction-box-container">
        <div class="introduction-box-title-container">
          <p class="introduction-box-title">Des compétences apportées par la NSI</p>
        </div>
        <p class="introduction-details">La NSI est une matière essentielle pour comprendre le monde numérique dans lequel nous vivons et développer des compétences clés en programmation et en algorithmique.
           Elle encourage la résolution de problèmes de manière logique et créative tout en sensibilisant aux enjeux éthiques liés aux technologies numériques. En somme, la NSI est une matière riche et stimulante offrant de nombreuses opportunités de développement personnel et professionnel.</p>
      </div>
    </div>

  <!--Footer-->
  <footer class="footer-container">
    <div class="footer-logo">
      <img onclick="document.location.href='/auth/main'" src="../assets/app/alumet.png" alt="Logo d'Alumet" class="logo-alumet-footer">
      <a onclick="document.location.href='/auth/main'" class="title-alumet-footer">Alumet</a>
    </div>
    <div class="footer-links-container">
      <p class="footer-paragraph"><a onclick="document.location.href='/auth/contacts'" class="footer-links">Contacts</a></p>
      <p class="footer-hyphen">-</p>
      <p class="footer-paragraph"><a onclick="document.location.href='/auth/privacy-policy'" class="footer-links">Conditions d'utilisation</a></p>
      <p class="footer-hyphen">-</p>
      <p class="footer-paragraph"><a onclick="document.location.href='/auth/terms-of-service'" class="footer-links">Politique de confidentialité</a></p>
      <p class="footer-hyphen">-</p>
      <p class="footer-paragraph"><a onclick="document.location.href='/auth/report'" class="footer-links">Signaler un bug</a></p>
    </div>
  </footer>
  </body>
<script src="../script/project.js"></script>
</html>