<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../assets/public/alumet.ico" />

    <meta name="description" content="Alumet, explorer d'une nouvelle façon.">
    <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers">
    <meta property="og:title" content="Alumet: Explorer d'une nouvelle façon.">
    <meta property="og:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://alumet.io">
    <meta property="og:image" content="https://i.imgur.com/O9RdHj1.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="alumet.io">
    <meta name="twitter:url" content="https://alumet.io/">
    <meta name="twitter:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
    <meta name="twitter:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta name="twitter:image" content="https://i.imgur.com/O9RdHj1.png">

    <link rel="stylesheet" href="../style/signup.css"/>
    <link rel="stylesheet" type="text/css" href="../style/global.css">

    <title>Alumet: Inscription</title>
</head>
<body>
    <div class="blur-orange-background"></div>
    <div class="high-background-dots"></div>
    <div class="high-background-gradient"></div>
    <div class="positon">
        <div class="signup">
            <div class="first">
                <div class="header-infos">
                    <img class="warn" src="../assets/app/warning.svg" alt="warn">
                    <h2 class="title-info">Merci de lire attentivement</h2>
                </div>
                <p class="infos-desc">Version 1, comporte probablement des instabilitées/bogs, merci de vous réferer a la documentation <a href="https://doc.alumet.io">en cliquand ici</a>Alumet a été réalisé en quelques semaines seulement.</p>
            </div>
            <div class="second">
                <div class="low-container">
                    <div class="header-infos">
                        <img class="warn" src="../assets/app/user.svg" alt="warn">
                        <h2 class="title-info">Création de votre profil</h2>
                    </div>
                    <input id="prenom" class="input" type="text" placeholder="Prénom">
                    <input id="nom" class="input" type="password" placeholder="Nom">
                    <input id="mail" class="input" type="text" placeholder="Adresse e-mail">
                    <input id="password" class="input" type="password" placeholder="Mot de passe">
                    </button>
                </div>
            </div>
            <div class="third">
                <div class="header-infos">
                    <img class="warn" src="../assets/app/warning.svg" alt="warn">
                    <h2 class="title-info">Tous est prêt !</h2>
                </div>
                <p class="infos-desc">Alumet: La flamme de l'inovation au service de l'éducation</p>
            </div>
        </div>
        <button class="continue" onclick="progress()">Continue<img class="continue-img" src="../assets/app/open.svg" alt="flèche pour continuer"></button>
    </div>

    <div class="dots"></div>
</body>
<script src="../script/signup.js"></script>
</html>