<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../assets/public/alumet.ico" />

    <meta name="description" content="Alumet, explorer d'une nouvelle façon.">
    <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers">
    <meta property="og:title" content="Alumet: Explorer d'une nouvelle façon.">
    <meta property="og:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://alumet.io">
    <meta property="og:image" content="https://i.imgur.com/O9RdHj1.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="alumet.io">
    <meta name="twitter:url" content="https://alumet.io/">
    <meta name="twitter:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
    <meta name="twitter:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta name="twitter:image" content="https://i.imgur.com/O9RdHj1.png">
    <link rel="stylesheet" type="text/css" href="../style/header.css">
    <link rel="stylesheet" href="../style/terms-of-service.css"/>
    <link rel="stylesheet" type="text/css" href="../style/global.css">

    <title>Alumet - Conditions d'utilisation</title>
</head>
<body>
  <div id="toast"></div>
  <header>
      <div class="alumet-infos">
        <img src="../assets/app/alumet.png" alt="Logo Alumet">
        <h1>Alumet</h1>
      </div>
      <div class="nav-items">
        <h2 onclick="document.location.href='#wa'">Adopter</h2>
        <h2 onclick="document.location.href='#fc'">Fonctionnalités</h2>
        <a href="mailto:alumet.io@gmail.com">Contacts</a>
      </div>
      <div class="connect">
        <button onclick="document.location.href='/auth/signup'" id="sign-up">S'inscrire</button>
        <button onclick="document.location.href='/auth/signin'" id="sign-in">Se connecter</button>
      </div>
  </header>
    
    <h1 class="presentation-title">Conditions d'utilisation</h1>
    <div class="badges">
        <div>OBJET</div>
        <div>MENTIONS LEGALES</div>
        <div>ACCES AU SITE</div>
        <div>COLLECTE DE DONNEES</div>
        <div>PROPRIETE INTELECTUELLE</div>
        <div>RESPONSABILITE</div>
        <div>LIEN HYPERTEXTES</div>
        <div>COOKIES</div>
        <div>PUBLICATION PAR L'UTILISATEUR</div>
        <div>DUREE DU CONTRAT</div>
        <div>DROIT APPLICABLE ET JURIDICTION COMPETANTE</div>
    </div>
    <div class="text-container">
      <h1>Article 1: Objet</h1>
      <p>Les présentes  Conditions Générales d’Utilisation encadrent juridiquement l’utilisation des services du site Alumet (ci-après dénommé « le site »).
      L’accès au site doit être précédé de l’acceptation de ces CGU. L’accès à cette plateforme signifie l’acceptation des présentes CGU.</p>
      <h1>Article 2: Mentions Légales</h1>
      <p>L’hébergeur du site Alumet est la société Oracle, siège au 15, boulevard Charles de Gaulle92715 Colombes cedex
      Tél: +33 (0)1 57 60 20 20 Fax: +33 (0)1 57 60 20 32</p>
      <h1>Article 3: Accès au site</h1>
      <p>Le site est accessible gratuitement depuis n’importe où par tout utilisateur disposant d’un accès à Internet. Tous les frais nécessaires pour l’accès aux services (matériel informatique, connexion Internet…) sont à la charge de l’utilisateur.
      L’accès aux services dédiés aux membres s’effectue à l’aide d’un identifiant et d’un mot de passe.
      Pour des raisons de maintenance ou autres, l’accès au site peut être interrompu ou suspendu par l’éditeur sans préavis ni justification.</p>
      <h1>Article 4: Collecte des données</h1>
      <p>Pour la création du compte de l’Utilisateur, la collecte des informations au moment de l’inscription sur le site est nécessaire et obligatoire. Conformément à la loi n°78-17 du 6 janvier relative à l’informatique, aux fichiers et aux libertés, la collecte et le traitement d’informations personnelles s’effectuent dans le respect du Règlement Général de la Protection des Données.
      Suivant la loi Informatique et Libertés en date du 6 janvier 1978, articles 39 et 40, l’Utilisateur dispose du droit d’accéder, de rectifier, de supprimer et d’opposer ses données personnelles. L’exercice de ce droit s’effectue par :
      Le formulaire de contact </p>
      <h1>Article 5:  Propriété intellectuelle</h1>
      <p>Les marques, logos ainsi que les contenus du site Alumet (illustrations graphiques, textes…) sont protégés par le Code de la propriété intellectuelle et par le droit d’auteur.
      La reproduction et la copie des contenus par l’Utilisateur requièrent une autorisation préalable du site. Dans ce cas, toute utilisation à des usages commerciaux ou à des fins publicitaires est proscrite..</p>
      <h1>Article 6: Responsabilité</h1>
      <p>Le site décline toute responsabilité concernant les éventuels virus pouvant infecter le matériel informatique de l’Utilisateur après l’utilisation ou l’accès à ce site.
      La garantie totale de la sécurité et la confidentialité des données est assurée par le site. Cependant, le site s’engage à mettre en œuvre toutes les méthodes requises pour le faire au mieux</p>
      <h1>Article 7: Liens hypertextes</h1>
      <p>Le site peut être constitué de liens hypertextes. En cliquant sur ces derniers, l’Utilisateur sortira de la plateforme. Cette dernière n’a pas de contrôle et ne peut pas être tenue responsable du contenu des pages web relatives à ces liens.</p>
      <h1>Article 8: Publication par l’Utilisateur</h1>
      <p>Le site Alumet permet aux membres de publier des commentaires.
      Dans ses publications, le membre est tenu de respecter les règles de la Netiquette ainsi que les règles de droit en vigueur.
      Le site dispose du droit d’exercer une modération à priori sur les publications et peut refuser leur mise en ligne sans avoir à fournir de justification.
      À chaque utilisation, l’éditeur s’engage à mentionner le nom du membre à proximité de la publication.
      L’Utilisateur est tenu responsable de tout contenu qu’il met en ligne. L’Utilisateur s’engage à ne pas publier de contenus susceptibles de porter atteinte aux intérêts de tierces personnes. Toutes procédures engagées en justice par un tiers lésé à l’encontre du site devront être prises en charge par l’Utilisateur.
      La suppression ou la modification par le site du contenu de l’Utilisateur peut s’effectuer à tout moment, pour n’importe quelle raison et sans préavis.</p>
      <h1>Article 9: Droit applicable et juridiction compétente</h1>
      <p>Le présent contrat est soumis à la législation française. L’absence de résolution à l’amiable des cas de litige entre les parties implique le recours aux tribunaux français compétents pour régler le contentieux.</p>
    </div>
</body>
</html>