<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../assets/public/alumet.ico" />

    <meta name="description" content="Alumet, explorer d'une nouvelle façon.">
    <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers">
    <meta property="og:title" content="Alumet: Explorer d'une nouvelle façon.">
    <meta property="og:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://alumet.io">
    <meta property="og:image" content="https://i.imgur.com/O9RdHj1.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="alumet.io">
    <meta name="twitter:url" content="https://alumet.io/">
    <meta name="twitter:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
    <meta name="twitter:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta name="twitter:image" content="https://i.imgur.com/O9RdHj1.png">

    <link rel="stylesheet" href="../style/terms-of-service.css"/>
    <link rel="stylesheet" type="text/css" href="../style/global.css">

    <title>Alumet: Condition d'utilisation</title>
</head>
<body>
    <header>
        <div class="alumet-infos">
          <img src="../assets/app/alumet.png" alt="Logo Alumet">
          <h1>Alumet</h1>
        </div>
        <div class="nav-items">
          <h2 onclick="document.location.href='#wa'">Adopter</h2>
          <h2 onclick="document.location.href='#fc'">Fonctionnalités</h2>
          <h2 onclick="alert('Pas encore disponible')">Contacts</h2>
        </div>
        <div class="connect">
          <button onclick="document.location.href='/auth/signup'" id="sign-up">S'inscrire</button>
          <button onclick="document.location.href='/auth/signin'" id="sign-in">Se connecter</button>
        </div>
    </header>
    
    <h1 class="presentation-title">Condition d'utilisation</h1>
    <div class="badges">
        <div>OBJET</div>
        <div>MENTIONS LEGALES</div>
        <div>ACCES AU SITE</div>
        <div>COLLECTE DE DONNEES</div>
        <div>PROPRIETE INTELECTUELLE</div>
        <div>RESPONSABILITE</div>
        <div>LIEN HYPERTEXTES</div>
        <div>COOKIES</div>
        <div>PUBLICATION PAR L'UTILISATEUR</div>
        <div>DUREE DU CONTRAT</div>
        <div>DROIT APPLICABLE ET JURIDICTION COMPETANTE</div>
    </div>
</body>
</html>