

.send-button {
    border-radius: 0;
    margin-left: 0;
}


.module-footer > input {
    background-color: #000000;
    padding-left: 12px;
    font-size: 12px;
    outline: none;
    border: none;
    color: white;
    width: 100%;

}



.user-message {
    display: flex;
    flex-direction: column;
}

.username > p {
    color: white;
    font-size: 14px;
    margin: 0;
}

.message > p {
    overflow-wrap: anywhere;
    color: rgb(193, 193, 193);
    font-size: 12px;
    margin: 0;
}

.conversation {
    scroll-behavior: smooth;
    margin: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 10px;
}

.loader {
    margin-right: 3px;
    width: 32px;
    height: 32px;
    display: inline-block;
    position: relative;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid var(--teranga-color);
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
  }
  .loader::after {
    animation-delay: 1s;
  }
  
  @keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

