<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="../assets/global/alumet.ico" />
        <meta name="description" content="Alumet: La flamme de l’innovation au service de l’éducation." />
        <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers" />
        <meta property="og:title" content="Alumet: La flamme de l’innovation au service de l’éducation." />
        <meta property="og:description" content="L'outil gratuit, open-source, pour l'éducation, construit par des élèves, pour des professeurs. Maintenu et hébergé en France." />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://alumet.io" />
        <meta property="og:image" content="https://i.imgur.com/WZO8U8s.png" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:domain" content="alumet.io" />
        <meta name="twitter:url" content="https://alumet.io/" />
        <meta name="twitter:title" content="Alumet: Une nouvelle façon d'organiser vos classes." />
        <meta name="twitter:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !" />
        <meta name="twitter:image" content="https://i.imgur.com/WZO8U8s.png" />
        <link href="../style/pages/dashboard.css" rel="stylesheet" type="text/css" />
        <link href="../style/applications/swiftChat.css" rel="stylesheet" type="text/css" />
        <link href="../style/global.css" rel="stylesheet" type="text/css" />
        <title>Alumet - Tableau de bord</title>
    </head>
    <body>
        <section class="loading" style="display: flex">
            <h4>Alumet <span>Education</span></h4>
            <span class="loader-bar"></span>
        </section>
        <div id="toast"></div>
        <div class="prompt-popup popup">
            <div class="prompt">
                <h1 id="prompt-head">Prompt name</h1>
                <h4 id="prompt-desc"></h4>
                <input autocomplete="off" id="prompt-input" type="text" placeholder="Prompt placeholder" />
                <div class="prompt-buttons">
                    <button class="large" id="prompt-red">Supprimer</button> <button class="large" onclick="document.querySelector('.prompt-popup').classList.remove('active-popup')">Annuler</button>
                    <button class="large" id="prompt-confirm">Confirmer</button>
                </div>
                <datalist id="users"> </datalist>
            </div>
        </div>
        <div class="user-popup popup">
            <div class="prompt">
                <h1>Créé une discussion</h1>
                <input spellcheck="false" autocomplete="off" id="user-prompt" type="text" placeholder="Entrez un nom ou prénom" />
                <div class="users-fetch">
                    <div class="details loading-users">
                        <span class="loader"></span>
                    </div>
                    <div class="details no-result">
                        <h1>Aucun resultats</h1>
                        <p>Affiner votre recherche</p>
                    </div>
                </div>
                <div class="prompt-buttons">
                    <button class="large">Supprimer</button> <button class="large" onclick="document.querySelector('.user-popup').classList.remove('active-popup')">Annuler</button>
                    <button onclick="createConversation()" class="large">Confirmer</button>
                </div>
            </div>
        </div>
        <div class="nav">
            <button class="active" id="home"><img src="../assets/global/home.svg" alt="home" /></button> <button id="cloud"><img src="../assets/global/cloud.svg" alt="gestionnaire de fichiers" /></button>
            <button id="messages">
                <img src="../assets/global/chat.svg" alt="messagerie" />
                <div class="ping"></div>
            </button>
            <button id="professors_community"><img src="../assets/global/group.svg" alt="communauté des professeurs" /></button> <button id="profile"><img src="../assets/global/profile.svg" alt="paramètres" /></button>
        </div>
        <section class="sections-container">
            <section class="home active-section">
                <div class="main-container">
                    <div class="items-container">
                        <div class="items-container-header">
                            <div>
                                <h3>Vos Alumets</h3>
                            </div>
                            <div>
                                <input placeholder="Chercher dans vos Alumets" />
                                <button onclick="joinAlumet()" class="large">Rejoindre un alumet</button>
                                <button onclick="window.location.href='/setup/alumet'" class="large">Créer un alumet</button>
                            </div>
                        </div>
                        <div class="items alumets">
                            <div class="full-screen">
                                <h1>Aucun Alumets</h1>
                                <p>Commencez par en créer un !</p>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>
                    <div class="items-container">
                        <div class="items-container-header">
                            <div>
                                <h3>Vos jeux de flashcards</h3>
                            </div>
                            <div><input placeholder="Chercher dans vos flashcards" /> <button onclick="window.location.href = '/setup/flashcards'" class="large">Créer un jeu de flashcards</button></div>
                        </div>
                        <div class="items flashcards">
                            <div class="no-items">
                                <h1>Aucun jeu de flashcards</h1>
                                <p>Commencer par en creer un !</p>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>

                    <!--  <div class="items-container">
                        <div class="items-container-header">
                            <div>
                                <h3>Vos cartes mentales</h3>
                            </div>
                            <div><input placeholder="Chercher dans vos cartes mentales" /> <button id="editAlumet" class="large interactable">Créer une carte mental</button></div>
                        </div>
                        <div class="items flashcards">
                            <div class="no-items">
                                <h1>Aucune carte mentale</h1>
                                <p>Commencer par en creer un !</p>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="sub-container">
                    <div class="header">
                        <h2>Notifications</h2>
                    </div>
                    <div class="divider"></div>
                    <div class="notifications-container">
                        <div class="full-screen">
                            <h1>Aucune notifications</h1>
                            <p>Vous n'avez aucune notifications</p>
                        </div>
                    </div>
                    <div class="header">
                        <h2>Nouveautées</h2>
                    </div>
                    <div class="divider"></div>
                    <div class="news-container">
                        <div class="new-item">
                            <img src="../../assets/global/date.jpg" alt="banner" />
                            <div class="new-item-infos">
                                <h3>Date de publication</h3>
                                <p>Passer votre souris sur une publication et vous pourrez désormais voir la date de publication !</p>
                            </div>
                        </div>
                        <div class="new-item">
                            <img src="../assets/global/new.jpg" alt="banner" />
                            <div class="new-item-infos">
                                <h3>Première vague</h3>
                                <p>La première vague d'accès a Alumet aux professeurs est lancée</p>
                            </div>
                        </div>
                        <div class="new-item">
                            <img src="../assets/global/latex.gif" alt="banner" />
                            <div class="new-item-infos">
                                <h3>Latex</h3>
                                <p>Ecriver en Latex dans vos publications Alumet</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ================ Cloud =================== -->
            <section class="cloud">
                <div class="sub-container">
                    <div class="sub-item">
                        <h4>Mes dossiers</h4>
                    </div>
                    <div class="folder-selector">
                        <div class="selector">
                            <div class="selector-line"></div>
                            <div class="selector-box"><img onclick="editFolder()" src="../assets/global/edit.svg" alt="edit" /></div>
                        </div>
                        <div class="line-selector"></div>
                        <div class="folder-list"></div>
                    </div>
                    <button onclick="newFolder()" id="new-folder" class="large">Nouveau dossier</button>
                </div>
                <div class="main-container">
                    <div class="row-fm-header">
                        <select name="folder" id="folder-selection"></select>
                        <button onclick="newFolder()" id="new-folder" class="large">Nouveau dossier</button>
                    </div>
                    <div class="drop-box">
                        <div class="indications">
                            <h3>
                                Cliquer pour envoyer de nouveaux fichiers.<br />
                                Chaque envoi peut contenir jusqu’à 500 fichiers
                            </h3>
                        </div>
                        <div class="sending-box">
                            <div class="loading-box">
                                <span class="loader"></span>
                            </div>
                            <div class="file-sending-infos">
                                <h3>methodologie_bac<span id="file-upload-ext">.pdf</span></h3>
                                <p>5bm - 4 fichiers restants</p>
                            </div>
                            <div class="progress"></div>
                        </div>
                        <div class="sending-box rts">
                            <div class="loading-box reponsive-hide"><img src="../assets/global/file_rts.svg" alt="tick" /></div>
                            <div class="file-sending-infos">
                                <h3><span id="numbers-of-files">14</span> fichiers<span id="file-upload-ext">prêt à l'envoi</span></h3>
                            </div>
                            <div class="send-actions"><button onclick="cancelSend()" id="cancel-send" class="large greyed">Retirer</button> <button onclick="sendFiles()" id="send-files" class="large">Envoyer</button></div>
                        </div>
                        <div class="success-box">
                            <h3>C'est fait !</h3>
                        </div>
                        <input type="file" id="files-upload" multiple />
                    </div>
                    <div class="files-header connected">
                        <h3>Nom du fichier</h3>
                        <h3>Taille</h3>
                        <h3>Mise en ligne</h3>
                        <input id="search-bar" placeholder="Rechercher un fichier" type="text" name="search" />
                    </div>
                    <div class="files-items connected">
                        <div class="loader-container">
                            <span class="loader"></span>
                        </div>
                        <div class="full-screen">
                            <h1>Pas de fichiers</h1>
                            <p>Ce dossier ne contient pas de fichiers</p>
                        </div>
                    </div>
                </div>
                <div class="sub-container right-container">
                    <div id="storage-usage" class="header reponsive-hide">
                        <h2>Mémoire</h2>
                        <h5>20<span>GB</span></h5>
                    </div>
                    <div class="divider reponsive-hide"></div>
                    <div class="memory-split reponsive-hide">
                        <div class="graph">
                            <div id="graph-document"></div>
                            <div id="graph-audio"></div>
                            <div id="graph-image"></div>
                            <div id="graph-video"></div>
                            <div id="graph-other"></div>
                        </div>
                        <div class="legend reponsive-hide">
                            <h4 id="percentage-document-container">Documents <span id="percentage-document" class="document-color">20%</span></h4>
                            <h4 id="percentage-audio-container">Audio <span id="percentage-audio" class="audio-color">20%</span></h4>
                            <h4 id="percentage-image-container">Images <span id="percentage-image" class="image-color">20%</span></h4>
                            <h4 id="percentage-video-container">Vidéos <span id="percentage-video" class="video-color">20%</span></h4>
                            <h4 id="percentage-other-container">Autres <span id="percentage-other" class="other-color">20%</span></h4>
                        </div>
                    </div>
                    <div class="header">
                        <h2>Fichier</h2>
                        <button onclick="document.querySelector('.active-sub-container').classList.remove('active-sub-container')" class="large greyed">Fermer</button>
                    </div>
                    <div class="divider"></div>
                    <div class="file-info no-selected-file">
                        <div class="file-details">
                            <div class="file-preview">
                                <div class="filePreview-loading"><span class="loader"></span></div>
                                <img src="" alt="file icon" />
                            </div>
                            <div class="file-basic-info">
                                <img src="../assets/global/doc.png" alt="file icon" />
                                <h4>resultats_bac_2023_france.xlss</h4>
                            </div>
                            <div class="file-single-info">
                                <h4>Taille</h4>
                                <p id="file-size">5mb</p>
                            </div>
                            <div class="file-single-info">
                                <h4>Extension du fichier</h4>
                                <p id="file-ext">5mb</p>
                            </div>
                            <div class="file-single-info">
                                <h4>Date de mise en ligne</h4>
                                <p id="file-date">2 semaines</p>
                            </div>
                        </div>
                        <div class="full-screen">
                            <h1>Aucun fichier sélectionné</h1>
                            <p>Séléctionner un fichier pour obtenir des informations</p>
                        </div>
                        <div class="actions-buttons-file"><button onclick="modifyFile()" class="large">Modifier</button> <button id="openFileBtn" onclick="openFile()" class="large">Ouvrir le fichier</button></div>
                    </div>
                </div>
                <div class="full-screen">
                    <h1>Aucun dossiers</h1>
                    <p>Commencez par en créer un et envoyer vos fichiers !</p>
                    <button onclick="newFolder()" id="new-folder" class="large">Nouveau dossier</button>
                </div>
            </section>
            <!-- ================= Swift Chat ======================= -->
            <section class="messages">
                <div class="sub-container">
                    <div class="header">
                        <h2>Messages</h2>
                    </div>
                    <div class="divider"></div>
                    <div class="messages-head-option">
                        <input placeholder="Rechercher une conversation" type="text" name="search-conv" id="search-conv" />
                    </div>
                    <div class="conversations-container"></div>

                    <button onclick="initConversation()" id="new-conv" class="large">Nouvelle conversation</button>
                </div>
                <div class="main-container no-conversation showing-group-settings">
                    <div class="full-screen">
                        <h1>Cliquer sur une conversation pour commencer !</h1>
                        <p>Amélioré, Alumet garantit la sécurité de vos données, où que vous soyez !</p>
                    </div>
                    <div class="loading-conversation full-screen">
                        <span class="loader"></span>
                    </div>
                    <div class="conversation-container">
                        <div class="conversation-header">
                            <div class="conversation-user-infos">
                                <img src="../assets/default/default_user.png" alt="user icon" />
                                <div class="sub-infos">
                                    <h4 id="conversation-username">conversation.name</h4>
                                    <p id="conversation-lastTime">conversation.lastusage</p>
                                </div>
                            </div>
                            <div class="options"><button id="close-conversation-button" class="large greyed">Fermer</button> <img src="../assets/global/dots.svg" alt="dots" /></div>
                        </div>
                        <div class="conversation-body">
                            <div class="information">
                                <img src="../../assets/global/messages_top.svg" />
                                <p>La discussion commence ici !</p>
                            </div>
                        </div>
                        <div class="conversation-footer"><input autocomplete="off" type="text" name="message" id="message" placeholder="Écrire un message" /> <img id="send-text" src="../assets/global/send.svg" alt="send icon" /></div>
                    </div>
                    <div class="conversation-settings">
                        <div class="header">
                            <h2>Paramètres de la conversation</h2>
                            <button onclick="document.querySelector('.showing-group-settings').classList.remove('showing-group-settings'), document.querySelector('.context-menu').classList.remove('active-context')" class="large greyed">
                                Fermer
                            </button>
                        </div>
                        <div class="divider"></div>
                        <div class="group-content">
                            <div class="group-infos">
                                <div>
                                    <img id="group-profile-picture" src="../assets/global/default_group.png" alt="file icon" />
                                    <input type="file" id="group-profile-picture-input" accept="image/png, image/jpeg" />
                                    <input id="parameter-group-name" type="text" class="group-name" placeholder="Nom du groupe" />
                                </div>
                                <!-- <button class="large greyed">Renommer</button> -->
                                <button id="leave-group-btn" class="large reded">Quitter le groupe</button>
                            </div>
                            <div class="context-menu">
                                <div class="row-context-menu">
                                    <h2>Actions</h2>
                                    <button onclick="document.querySelector('.context-menu').classList.remove('active-context')" class="large greyed">Fermer</button>
                                </div>
                                <div class="divider"></div>
                                <button onclick="promoteAdmin()" class="large">Promouvoir administrateur</button>
                                <button onclick="demoteAdmin()" class="large greyed">Retrograder administrateur</button>
                                <button onclick="promoteOwnerPrompt()" class="large greyed">Transferer la proprieté</button>
                                <button onclick="removeUser()" class="large reded">Expulser du groupe</button>
                            </div>

                            <div class="group-participants-container">
                                <h3>Participants</h3>
                                <div class="participants-list"></div>
                            </div>
                        </div>
                        <div class="private-content">
                            <div class="information">
                                <img src="../assets/global/locked.svg" />
                                <h3>
                                    Bientôt disponible en
                                    <div class="beta">BETA</div>
                                </h3>
                                <p>Vous avez accès à une version préliminaire d'Alumet. De nombreuses fonctionnalités sont encore en cours de déploiement.</p>
                            </div>
                        </div>
                        <div class="alumet-content">
                            <div class="information">
                                <img src="../assets/global/locked.svg" />
                                <h3>
                                    Bientôt disponible en
                                    <div class="beta">BETA</div>
                                </h3>
                                <p>Vous avez accès à une version préliminaire d'Alumet. De nombreuses fonctionnalités sont encore en cours de déploiement.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- ================== Professor Community =================== -->
            <section class="professors_community">
                <div class="information">
                    <img src="../assets/global/locked.svg" />
                    <h3>
                        Bientôt disponible en
                        <div class="beta">BETA</div>
                    </h3>
                    <p>Vous avez accès à une version préliminaire d'Alumet. De nombreuses fonctionnalités sont encore en cours de déploiement.</p>
                </div>
            </section>

            <!-- ================== Profile =================== -->
            <section class="profile">
                <div class="main-container">
                    <img src="../assets/global/banner.jpg" class="banner" alt="banner" />
                    <div class="user-infos">
                        <img id="profile-picture" src="../assets/global/fauxmaxence.png" alt="file icon" /> <input type="file" id="profile-picture-input" accept="image/png, image/jpeg" />
                        <div class="sub-infos">
                            <h4>User.name user.lastname</h4>
                            <p>user.mail</p>
                        </div>
                    </div>
                    <div class="warning-box">L'espace profil est actuellement en train d'être retravaillé</div>
                    <div class="user-settings">
                        <div class="user-options-heading">
                            <div class="user-options-infos">
                                <h4>Informations</h4>
                                <p>Mettez a jour vos informations si nécessaire</p>
                            </div>
                            <button id="saveInfosBtn" class="large">Enregistrer</button>
                        </div>
                        <div class="divider"></div>
                        <div class="grid-user-container">
                            <div class="item">
                                <h3>Nom d'utilisateur</h3>
                                <input spellcheck="false" maxlength="25" type="text" name="username" id="usernameField" placeholder="Nom d'utilisateur" autocomplete="on" />
                            </div>
                            <div class="item">
                                <h3>Prénom</h3>
                                <input disabled="true" type="text" name="firstname" id="firstnameField" placeholder="Prénom" autocomplete="on" />
                            </div>
                            <div class="item">
                                <h3>Nom</h3>
                                <input disabled="true" type="text" name="lastname" id="lastnameField" placeholder="Nom" autocomplete="on" />
                            </div>
                            <div class="item">
                                <h3>Adresse e-mail</h3>
                                <input disabled="true" type="text" name="email" autocomplete="on" id="mailField" placeholder="Adresse e-mail" />
                            </div>
                        </div>
                        <div class="user-options-heading">
                            <div class="user-options-infos">
                                <h4>Sécurité</h4>
                                <p>Mettez en place les mesures de sécurité nécessaire pour proteger votre compte</p>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="grid-user-container">
                            <button id="changePasswordBtn" class="large greyed">Changer de mot de passe</button> <button id="toggleA2FBtn" class="large greyed">Activer l'A2F</button>
                            <button onclick="window.location='/auth/logout'" class="large greyed">Déconnexion</button> <button id="deleteAccountBtn" class="large reded">Supprimer mon compte</button>
                        </div>
                        <div class="user-options-heading">
                            <div class="user-options-infos">
                                <h4>Notifications</h4>
                                <p>Activer ou desactiver selon vos préférences certains notifications</p>
                            </div>
                            <button class="large">Enregistrer</button>
                        </div>
                        <div class="divider"></div>
                        <div class="grid-user-container">
                            <div class="option">
                                <h1>Nouveau message groupe</h1>
                                <label class="switch">
                                    <input id="alumet-private" type="checkbox" />
                                    <span class="slide round"></span>
                                </label>
                            </div>
                            <div class="option">
                                <h1>Nouveau message privé</h1>
                                <label class="switch">
                                    <input id="alumet-private" type="checkbox" />
                                    <span class="slide round"></span>
                                </label>
                            </div>
                            <div class="option">
                                <h1>Nouveau commentaire sous mon post</h1>
                                <label class="switch">
                                    <input id="alumet-private" type="checkbox" />
                                    <span class="slide round"></span>
                                </label>
                            </div>
                            <div class="option">
                                <h1>Invitation à collaborer</h1>
                                <label class="switch">
                                    <input id="alumet-private" type="checkbox" />
                                    <span class="slide round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            const socket = io();
        </script>
        <script src="../script/global.js"></script>
        <script src="../../script/socket/chat.js"></script>
        <script src="../script/dashboard/dashboard.js"></script>
        <script src="../script/dashboard/cloud.js"></script>
        <script src="../script/dashboard/profile.js"></script>
        <script src="../script/applications/swiftChat.js"></script>
        <script src="../script/dashboard/uploadHandler.js"></script>
    </body>
</html>
