<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="icon" href="../assets/global/alumet.ico" />

        <meta name="description" content="Tableau de bord interactif : Organisez et gérez efficacement tous vos supports d'apprentissage et fichiers en un seul endroit, facilitant ainsi votre expérience éducative." />
        <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers, education, messagerie, français, temps réel, gratuit" />
        <meta property="og:title" content="Alumet Education" />
        <meta property="og:description" content="Tableau de bord interactif : Organisez et gérez efficacement tous vos supports d'apprentissage et fichiers en un seul endroit, facilitant ainsi votre expérience éducative." />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://education.alumet.io" />
        <meta property="og:image" content="https://i.imgur.com/dtHIa4A.png" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:domain" content="alumet.io" />
        <meta name="twitter:url" content="https://education.alumet.io/" />
        <meta name="twitter:title" content="Alumet Education" />
        <meta name="twitter:description" content="Tableau de bord interactif : Organisez et gérez efficacement tous vos supports d'apprentissage et fichiers en un seul endroit, facilitant ainsi votre expérience éducative." />
        <meta name="twitter:image" content="https://i.imgur.com/dtHIa4A.png" />

        <link href="../style/pages/dashboard.css" rel="stylesheet" type="text/css" />
        <link href="../style/applications/swiftChat.css" rel="stylesheet" type="text/css" />
        <link href="../style/global.css" rel="stylesheet" type="text/css" />
        <link rel="apple-touch-icon" sizes="180x180" href="../../assets/global/logopwa.png" />

        <link rel="manifest" href="./../../assets/manifest/manifest.json" />
        <title>Alumet - Tableau de bord</title>
    </head>

    <body>
        <section class="loading" style="display: flex">
            <h4>Alumet <span>Education</span></h4>
            <span class="loader-bar"></span>
        </section>
        <div id="toast"></div>
        <div class="prompt-popup popup">
            <div class="prompt">
                <h1 id="prompt-head">Prompt name</h1>
                <h4 id="prompt-desc"></h4>
                <input autocomplete="off" id="prompt-input" type="text" placeholder="Prompt placeholder" />
                <div class="prompt-buttons">
                    <button class="large" id="prompt-red">Supprimer</button> <button class="large greyed" onclick="document.querySelector('.prompt-popup').classList.remove('active-popup')">Annuler</button>
                    <button class="large" id="prompt-confirm">Confirmer</button>
                </div>
                <datalist id="users"> </datalist>
            </div>
        </div>
        <div class="user-popup popup">
            <div class="prompt">
                <h1>Créer une discussion</h1>
                <input spellcheck="false" autocomplete="off" id="user-prompt" type="text" placeholder="Entrez un nom ou prénom" />
                <div class="users-fetch">
                    <div class="details loading-users">
                        <span class="loader"></span>
                    </div>
                    <div class="details no-result">
                        <h1>Aucun resultats</h1>
                        <p>Affiner votre recherche</p>
                    </div>
                </div>
                <div class="prompt-buttons">
                    <button class="large">Supprimer</button> <button class="large greyed" onclick="document.querySelector('.user-popup').classList.remove('active-popup')">Annuler</button>
                    <button onclick="createConversation()" class="large">Confirmer</button>
                </div>
            </div>
        </div>

        <div class="nav">
            <button class="active" id="home"><img src="../assets/global/home.svg" alt="home" /></button>
            <button id="messages">
                <img src="../assets/global/chat.svg" alt="messagerie" />
                <div class="ping"></div>
            </button>
            <button id="help">
                <img src="../assets/global/helpcenter.svg" alt="Centre d'aide" />
                <div class="ping"></div>
            </button>
            <button id="profile"><img src="../assets/global/profile.svg" alt="paramètres" /></button>
        </div>
        <section class="sections-container">
            <section class="home active-section">
                <div class="alumet-incidents-overlay">
                    <div onclick="toggleDetailsIncidents()" class="alumet-status">
                        <div class="lookup">
                            <div data-incident="red" class="indicator"></div>
                            <p>1 incident majeur en cours</p>
                        </div>

                        <div class="details-incidents">
                            <div class="divider"></div>
                        </div>
                    </div>
                </div>
                <div class="main-container">
                    <div class="modulable-header">
                        <div class="modulable-left">
                            <div data-ref="items" data-module="alumets" class="module-selected">Alumets</div>
                            <div data-ref="items" data-module="flashcards">Flashcards</div>
                            <!-- <div style="cursor: not-allowed" data-ref="items" data-module="mindmaps">Cartes mentales</div> -->
                        </div>
                        <div class="modulable-right">
                            <button onclick="startSetup()" class="large">Nouveau</button>
                        </div>
                    </div>
                    <div data-reference="items" style="display: flex" class="module items alumets">
                        <div class="information">
                            <img src="../assets/global/no-items.svg" />
                        </div>
                    </div>
                    <div data-reference="items" class="module items flashcards">
                        <div class="information">
                            <img src="../assets/global/no-items.svg" />
                        </div>
                    </div>
                    <div data-reference="items" class="module items mindmaps">
                        <div class="information">
                            <img src="../assets/global/no-items.svg" />
                        </div>
                    </div>
                </div>
            </section>

            <!-- ================= Swift Chat ======================= -->
            <section class="messages">
                <div class="sub-container">
                    <div class="modulable-header selector-plain">
                        <div class="modulable-left">
                            <div data-ref="informations" data-module="official-messages" class="module-selected">Messages<span class="redot"></span></div>
                            <div data-ref="informations" data-module="notifications-container">Notifications<span class="redot"></span></div>
                        </div>
                    </div>
                    <div style="display: flex" data-reference="informations" class="conversations-container official-messages">
                        <div class="information">
                            <img src="../assets/global/notifications.svg" />
                        </div>
                    </div>
                    <div data-reference="informations" style="display: none" class="notifications-container module">
                        <div class="information">
                            <img src="../assets/global/notifications.svg" />
                        </div>
                    </div>
                </div>

                <div class="main-container no-conversation showing-group-settings">
                    <div class="full-screen">
                        <h1>Cliquez sur une conversation pour commencer !</h1>
                        <p>Alumet garantit la sécurité de vos données, où que vous soyez !</p>
                    </div>
                    <div class="loading-conversation full-screen">
                        <span class="loader"></span>
                    </div>
                    <div class="conversation-container">
                        <div class="conversation-header">
                            <div class="conversation-user-infos">
                                <img src="../assets/default/default_user.png" alt="user icon" />
                                <div class="user-details">
                                    <h3 id="conversation-username">conversation.name</h3>
                                    <p id="conversation-lastTime">conversation.lastusage</p>
                                </div>
                            </div>
                            <div class="options"><button id="close-conversation-button" class="large greyed">Fermer</button></div>
                        </div>
                        <div class="conversation-body">
                            <img class="lueur" src="../../assets/global/lueur.png" />
                        </div>
                        <textarea rows="1" autocomplete="off" type="text" name="message" id="message" placeholder="Écrire un message"></textarea>
                        <div class="send-text"><img id="send-text" src="../assets/global/send.svg" alt="send icon" /></div>
                        <div class="upload-text"><img id="upload-text" src="../assets/global/upload.svg" alt="file icon" /></div>
                    </div>
                    <div class="conversation-settings">
                        <div class="header">
                            <h2>Paramètres de la conversation</h2>
                            <button onclick="document.querySelector('.showing-group-settings').classList.remove('showing-group-settings'), document.querySelector('.context-menu').classList.remove('active-context')" class="large greyed">
                                Fermer
                            </button>
                        </div>
                        <div class="divider"></div>
                        <div class="group-content">
                            <div class="group-infos">
                                <div>
                                    <img id="group-profile-picture" src="../assets/global/default_group.png" alt="file icon" />
                                    <input type="file" id="group-profile-picture-input" accept="image/png, image/jpeg" />
                                    <input id="parameter-group-name" type="text" class="group-name" placeholder="Nom du groupe" />
                                </div>
                                <!-- <button class="large greyed">Renommer</button> -->
                                <button id="leave-group-btn" class="large reded">Quitter le groupe</button>
                            </div>
                            <div class="context-menu">
                                <div class="row-context-menu">
                                    <h2>Actions</h2>
                                    <button onclick="document.querySelector('.context-menu').classList.remove('active-context')" class="large greyed">Fermer</button>
                                </div>
                                <div class="divider"></div>
                                <button onclick="promoteAdmin()" class="large">Promouvoir administrateur</button>
                                <button onclick="demoteAdmin()" class="large greyed">Retrograder administrateur</button>
                                <button onclick="promoteOwnerPrompt()" class="large greyed">Transferer la proprieté</button>
                                <button onclick="removeUser()" class="large reded">Expulser du groupe</button>
                            </div>

                            <div class="group-participants-container">
                                <h3>Participants</h3>
                                <div class="participants-list"></div>
                            </div>
                        </div>
                        <div class="private-content">
                            <div class="information">
                                <img src="../assets/global/locked.svg" />
                                <h3>
                                    Bientôt disponible en
                                    <div class="beta">BETA</div>
                                </h3>
                                <p>Vous avez accès à une version préliminaire d'Alumet. De nombreuses fonctionnalités sont encore en cours de déploiement.</p>
                            </div>
                        </div>
                        <div class="alumet-content">
                            <div class="information">
                                <img src="../assets/global/locked.svg" />
                                <h3>
                                    Bientôt disponible en
                                    <div class="beta">BETA</div>
                                </h3>
                                <p>Vous avez accès à une version préliminaire d'Alumet. De nombreuses fonctionnalités sont encore en cours de déploiement.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- ================== Profil =================== -->
            <section class="profile">
                <div class="main-container">
                    <div class="modulable-header">
                        <div class="modulable-left">
                            <div data-ref="profile" data-module="informations" class="module-selected">Informations</div>
                            <div data-ref="profile" data-module="security">Sécurité</div>
                            <div data-ref="profile" data-module="notificationsparams">Notifications</div>
                        </div>
                        <div class="modulable-right">
                            <button onclick="saveSettings()" class="large">Enregistrer</button>
                        </div>
                    </div>
                    <div data-reference="profile" style="display: grid" class="module informations">
                        <div class="user-infos">
                            <img id="profile-picture" src="../assets/global/fauxmaxence.png" alt="file icon" /> <input type="file" id="profile-picture-input" accept="image/png, image/jpeg" />
                            <div class="user-details">
                                <h3>User.name user.lastname</h3>
                                <p>user.mail</p>
                            </div>
                        </div>

                        <div class="grid-user-container">
                            <div class="item">
                                <h3>Nom d'utilisateur</h3>
                                <input disabled spellcheck="false" maxlength="18" type="text" name="username" id="usernameField" placeholder="Nom d'utilisateur" autocomplete="on" />
                            </div>
                            <div class="item">
                                <h3>Prénom</h3>
                                <input disabled="true" type="text" name="firstname" id="firstnameField" placeholder="Prénom" autocomplete="on" />
                            </div>
                            <div class="item">
                                <h3>Nom</h3>
                                <input disabled="true" type="text" name="lastname" id="lastnameField" placeholder="Nom" autocomplete="on" />
                            </div>
                            <div class="item">
                                <h3>Adresse e-mail</h3>
                                <input disabled="true" type="text" name="email" autocomplete="on" id="mailField" placeholder="Adresse e-mail" />
                            </div>
                        </div>
                    </div>
                    <div data-reference="profile" class="module security">
                        <div class="grid-user-container">
                            <button id="changePasswordBtn" class="large greyed">Changer de mot de passe</button> <button id="toggleA2FBtn" class="large greyed">Activer l'A2F</button>
                            <button onclick="window.location='/auth/logout'" class="large greyed">Déconnexion</button> <button id="deleteAccountBtn" class="large reded">Supprimer mon compte</button>
                        </div>
                    </div>
                    <div data-reference="profile" class="module notificationsparams">
                        <div class="grid-user-container">
                            <div class="option">
                                <h1>Nouveau message d'application</h1>
                                <label class="switch">
                                    <input id="messageG" type="checkbox" />
                                    <span class="slide round"></span>
                                </label>
                            </div>
                            <div class="option">
                                <h1>Nouveau message privé</h1>
                                <label class="switch">
                                    <input id="messageP" type="checkbox" />
                                    <span class="slide round"></span>
                                </label>
                            </div>
                            <div class="option">
                                <h1>Nouveau commentaire</h1>
                                <label class="switch">
                                    <input id="commentP" type="checkbox" />
                                    <span class="slide round"></span>
                                </label>
                            </div>
                            <div class="option">
                                <h1>Invitation à collaborer</h1>
                                <label class="switch">
                                    <input id="invitationC" type="checkbox" />
                                    <span class="slide round"></span>
                                </label>
                            </div>
                            <div class="option">
                                <h1>Demande d'accès aux Alumets</h1>
                                <label class="switch">
                                    <input id="alumetA" type="checkbox" />
                                    <span class="slide round"></span>
                                </label>
                            </div>
                            <div class="option">
                                <h1>Recevoir les nouvelles fonctionnalités en avant-première</h1>
                                <label class="switch">
                                    <input id="experiments" type="checkbox" />
                                    <span class="slide round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ================== Centre d'aude =================== -->
            <section class="help">
                <div class="main-container">
                    <div class="header-help">
                        <div class="header-help-left">
                            <h1>Centre d'aide</h1>
                            <p>Vous avez une question ? Nous avons la réponse !</p>
                        </div>
                    </div>
                    <div class="accordions">
                        <div class="accordion">
                            <h1 class="accordion-title">Alumet, Flashcards et Cartes Mentales (Supports)</h1>
                            <div class="accordion-item">
                                <input type="checkbox" id="accordion1" />
                                <label for="accordion1" class="accordion-item-title"><span class="icon"></span>Comment créer un nouveau support ?</label>
                                <div class="accordion-item-desc">
                                    Pour créer un nouveau support, assurez-vous d'être dans le premier onglet en cliquant sur la petite maison située en haut à gauche de votre écran. Ensuite, choisissez le type de support que vous souhaitez créer et
                                    cliquez sur le bouton "Nouveau" en haut à droite de votre écran. Vous serez ensuite guidé pour la création de votre support.
                                </div>
                            </div>
                            <div class="accordion-item">
                                <input type="checkbox" id="accordion5" />
                                <label for="accordion5" class="accordion-item-title"><span class="icon"></span>Comment changer les paramètres de mon support (nom, image, niveau d'accès, etc.) ?</label>
                                <div class="accordion-item-desc">
                                    Pour modifier les paramètres de votre support, cliquez sur celui-ci pour l'ouvrir. Ensuite, dans la barre de navigation à droite, ouvrez les paramètres. Vous pourrez alors ajuster les paramètres de votre support
                                    selon vos besoins.
                                </div>
                            </div>
                            <div class="accordion-item">
                                <input type="checkbox" id="accordion2" />
                                <label for="accordion2" class="accordion-item-title"><span class="icon"></span>Comment supprimer un de mes supports ?</label>
                                <div class="accordion-item-desc">
                                    Pour supprimer l'un de vos supports, cliquez dessus pour l'ouvrir, puis, dans la barre de navigation à droite, ouvrez les paramètres où vous trouverez l'option de suppression de votre support.
                                </div>
                            </div>
                            <div class="accordion-item">
                                <input type="checkbox" id="accordion3" />
                                <label for="accordion3" class="accordion-item-title"><span class="icon"></span>Comment partager un de mes supports ?</label>
                                <div class="accordion-item-desc">
                                    Pour partager un de vos supports avec un autre utilisateur, cliquez sur le support concerné pour l'ouvrir, puis, dans la barre de navigation, cliquez sur "Partager". Vous serez ensuite guidé pour partager votre
                                    support.
                                </div>
                            </div>
                            <div class="accordion-item">
                                <input type="checkbox" id="accordion4" />
                                <label for="accordion4" class="accordion-item-title"><span class="icon"></span>Pourquoi je n'ai pas accès à tous les supports ?</label>
                                <div class="accordion-item-desc">
                                    Nous développons continuellement de nouveaux supports pour Alumet Education, et leur mise en ligne se fait progressivement. Si vous ne voyez pas un support, c'est qu'il n'est pas encore disponible pour vous.
                                </div>
                            </div>
                            <div class="accordion-item">
                                <input type="checkbox" id="accordion14" />
                                <label for="accordion14" class="accordion-item-title"><span class="icon"></span>Je n'ai pas trouvé la réponse à ma question.</label>
                                <div class="accordion-item-desc">
                                    Pour chaque support, cliquez sur "Aide" dans la barre de navigation. Une fenêtre s'ouvrira avec des questions fréquemment posées sur le support en question. Si vous ne trouvez pas la réponse à votre question,
                                    contactez alumet.education@gmail.com.
                                </div>
                            </div>
                        </div>
                        <div class="accordion">
                            <h1 class="accordion-title">Compte</h1>
                            <div class="accordion-item">
                                <input type="checkbox" id="accordion10" />
                                <label for="accordion10" class="accordion-item-title"><span class="icon"></span>Qui peut voir mes données ?</label>
                                <div class="accordion-item-desc">
                                    Seuls les utilisateurs d'Alumet ont accès à votre prénom et nom. Votre adresse e-mail n'est pas visible. Votre mot de passe est crypté et reste inaccessible aux équipes d'Alumet Education.
                                </div>
                            </div>
                            <div class="accordion-item">
                                <input type="checkbox" id="accordion11" />
                                <label for="accordion11" class="accordion-item-title"><span class="icon"></span>Comment modifier mes données ?</label>
                                <div class="accordion-item-desc">Pour des raisons de sécurité, la modification de vos données est limitée. Si vous souhaitez les modifier, veuillez envoyer un email à alumet.education@gmail.com.</div>
                            </div>
                            <div class="accordion-item">
                                <input type="checkbox" id="accordion12" />
                                <label for="accordion12" class="accordion-item-title"><span class="icon"></span>Comment supprimer mon compte ?</label>
                                <div class="accordion-item-desc">Pour supprimer votre compte, veuillez envoyer un email à alumet.education@gmail.com.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            const socket = io();
        </script>
        <script src="../script/global.js"></script>
        <script src="../../script/socket/chat.js"></script>
        <script src="../script/dashboard/profile.js"></script>
        <script src="../script/dashboard/dashboard.js"></script>
        <script src="../script/applications/swiftChat.js"></script>
    </body>
</html>
