<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="icon" href="../assets/global/alumet.ico" />

        <meta name="description" content="Interactive dashboard: organize and manage all your learning spaces and files in one place." />
        <meta name="keywords" content="Alumet, class, free, organization, boards, files, education, messaging, English, real time" />
        <meta property="og:title" content="Alumet Education" />
        <meta property="og:description" content="Interactive dashboard: organize and manage all your learning spaces and files in one place." />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://education.alumet.io" />
        <meta property="og:image" content="https://i.imgur.com/dtHIa4A.png" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:domain" content="alumet.io" />
        <meta name="twitter:url" content="https://education.alumet.io/" />
        <meta name="twitter:title" content="Alumet Education" />
        <meta name="twitter:description" content="Interactive dashboard: organize and manage all your learning spaces and files in one place." />
        <meta name="twitter:image" content="https://i.imgur.com/dtHIa4A.png" />

        <link href="../style/pages/dashboard.css" rel="stylesheet" type="text/css" />
        <link href="../style/applications/swiftChat.css" rel="stylesheet" type="text/css" />
        <link href="../style/global.css" rel="stylesheet" type="text/css" />
        <link rel="apple-touch-icon" sizes="180x180" href="../../assets/global/logopwa.png" />

        <link rel="manifest" href="./../../assets/manifest/manifest.json" />
        <title>Alumet - Dashboard</title>
    </head>

    <body>
        <section class="loading" style="display: flex">
            <h4>Alumet <span>Education</span></h4>
            <span class="loader-bar"></span>
        </section>
        <div id="toast"></div>
        <div class="prompt-popup popup">
            <div class="prompt">
                <h1 id="prompt-head">Prompt name</h1>
                <h4 id="prompt-desc"></h4>
                <input autocomplete="off" id="prompt-input" type="text" placeholder="Prompt placeholder" />
                <div class="prompt-buttons">
                    <button class="large" id="prompt-red">Delete</button> <button class="large greyed" onclick="document.querySelector('.prompt-popup').classList.remove('active-popup')">Cancel</button>
                    <button class="large" id="prompt-confirm">Confirm</button>
                </div>
                <datalist id="users"> </datalist>
            </div>
        </div>
        <div class="user-popup popup">
            <div class="prompt">
                <h1>Create a conversation</h1>
                <input spellcheck="false" autocomplete="off" id="user-prompt" type="text" placeholder="Enter a first or last name" />
                <div class="users-fetch">
                    <div class="details loading-users">
                        <span class="loader"></span>
                    </div>
                    <div class="details no-result">
                        <h1>No resultats</h1>
                        <p>Affiner your recherche</p>
                    </div>
                </div>
                <div class="prompt-buttons">
                    <button class="large">Delete</button> <button class="large greyed" onclick="document.querySelector('.user-popup').classList.remove('active-popup')">Cancel</button>
                    <button onclick="createConversation()" class="large">Confirm</button>
                </div>
            </div>
        </div>

        <div class="nav">
            <button class="active" id="home"><img src="../assets/global/home.svg" alt="home" /></button>
            <button id="messages">
                <img src="../assets/global/chat.svg" alt="messagerie" />
                <div class="ping"></div>
            </button>
            <button id="help">
                <img src="../assets/global/helpcenter.svg" alt="Centre d'aide" />
                <div class="ping"></div>
            </button>
            <button id="profile"><img src="../assets/global/profile.svg" alt="settings" /></button>
        </div>
        <section class="sections-container">
            <section class="home active-section">
                <div class="alumet-incidents-overlay">
                    <div onclick="toggleDetailsIncidents()" class="alumet-status">
                        <div class="lookup">
                            <div data-incident="red" class="indicator"></div>
                            <p>1 major incident in progress</p>
                        </div>

                        <div class="details-incidents">
                            <div class="divider"></div>
                        </div>
                    </div>
                </div>
                <div class="main-container">
                    <div class="modulable-header">
                        <div class="modulable-left">
                            <div data-ref="items" data-module="alumets" class="module-selected">Alumets</div>
                            <div data-ref="items" data-module="flashcards">Flashcards</div>
                            <!-- <div style="cursor: not-allowed" data-ref="items" data-module="mindmaps">Mind maps</div> -->
                        </div>
                        <div class="modulable-right">
                            <button onclick="startSetup()" class="large">New</button>
                        </div>
                    </div>
                    <div data-reference="items" style="display: flex" class="module items alumets">
                        <div class="information">
                            <img src="../assets/global/no-items.svg" />
                        </div>
                    </div>
                    <div data-reference="items" class="module items flashcards">
                        <div class="information">
                            <img src="../assets/global/no-items.svg" />
                        </div>
                    </div>
                    <div data-reference="items" class="module items mindmaps">
                        <div class="information">
                            <img src="../assets/global/no-items.svg" />
                        </div>
                    </div>
                </div>
            </section>

            <!-- ================= Swift Chat ======================= -->
            <section class="messages">
                <div class="sub-container">
                    <div class="modulable-header selector-plain">
                        <div class="modulable-left">
                            <div data-ref="informations" data-module="official-messages" class="module-selected">Messages<span class="redot"></span></div>
                            <div data-ref="informations" data-module="notifications-container">Notifications<span class="redot"></span></div>
                        </div>
                    </div>
                    <div style="display: flex" data-reference="informations" class="conversations-container official-messages">
                        <div class="information">
                            <img src="../assets/global/notifications.svg" />
                        </div>
                    </div>
                    <div data-reference="informations" style="display: none" class="notifications-container module">
                        <div class="information">
                            <img src="../assets/global/notifications.svg" />
                        </div>
                    </div>
                </div>

                <div class="main-container no-conversation showing-group-settings">
                    <div class="full-screen">
                        <h1>Cliquez sur une conversation pour commencer !</h1>
                        <p>Alumet keeps your data secure wherever you are.</p>
                    </div>
                    <div class="loading-conversation full-screen">
                        <span class="loader"></span>
                    </div>
                    <div class="conversation-container">
                        <div class="conversation-header">
                            <div class="conversation-user-infos">
                                <img src="../assets/default/default_user.png" alt="user icon" />
                                <div class="user-details">
                                    <h3 id="conversation-username">conversation.name</h3>
                                    <p id="conversation-lastTime">conversation.lastusage</p>
                                </div>
                            </div>
                            <div class="options"><button id="close-conversation-button" class="large greyed">Close</button></div>
                        </div>
                        <div class="conversation-body">
                            <img class="lueur" src="../../assets/global/lueur.png" />
                        </div>
                        <textarea rows="1" autocomplete="off" type="text" name="message" id="message" placeholder="Write a message"></textarea>
                        <div class="send-text"><img id="send-text" src="../assets/global/send.svg" alt="send icon" /></div>
                        <div class="upload-text"><img id="upload-text" src="../assets/global/upload.svg" alt="file icon" /></div>
                    </div>
                    <div class="conversation-settings">
                        <div class="header">
                            <h2>Conversation settings</h2>
                            <button onclick="document.querySelector('.showing-group-settings').classList.remove('showing-group-settings'), document.querySelector('.context-menu').classList.remove('active-context')" class="large greyed">
                                Close
                            </button>
                        </div>
                        <div class="divider"></div>
                        <div class="group-content">
                            <div class="group-infos">
                                <div>
                                    <img id="group-profile-picture" src="../assets/global/default_group.png" alt="file icon" />
                                    <input type="file" id="group-profile-picture-input" accept="image/png, image/jpeg" />
                                    <input id="parameter-group-name" type="text" class="group-name" placeholder="Group name" />
                                </div>
                                <!-- <button class="large greyed">Rename</button> -->
                                <button id="leave-group-btn" class="large reded">Quitter le groupe</button>
                            </div>
                            <div class="context-menu">
                                <div class="row-context-menu">
                                    <h2>Actions</h2>
                                    <button onclick="document.querySelector('.context-menu').classList.remove('active-context')" class="large greyed">Close</button>
                                </div>
                                <div class="divider"></div>
                                <button onclick="promoteAdmin()" class="large">Promouvoir administrateur</button>
                                <button onclick="demoteAdmin()" class="large greyed">Retrograder administrateur</button>
                                <button onclick="promoteOwnerPrompt()" class="large greyed">Transfer ownership</button>
                                <button onclick="removeUser()" class="large reded">Expulser du groupe</button>
                            </div>

                            <div class="group-participants-container">
                                <h3>Participants</h3>
                                <div class="participants-list"></div>
                            </div>
                        </div>
                        <div class="private-content">
                            <div class="information">
                                <img src="../assets/global/locked.svg" />
                                <h3>
                                    Coming soon in
                                    <div class="beta">BETA</div>
                                </h3>
                                <p>You have access to an early version of Alumet. Many features are still being rolled out.</p>
                            </div>
                        </div>
                        <div class="alumet-content">
                            <div class="information">
                                <img src="../assets/global/locked.svg" />
                                <h3>
                                    Coming soon in
                                    <div class="beta">BETA</div>
                                </h3>
                                <p>You have access to an early version of Alumet. Many features are still being rolled out.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- ================== Profile =================== -->
            <section class="profile">
                <div class="main-container">
                    <div class="modulable-header">
                        <div class="modulable-left">
                            <div data-ref="profile" data-module="informations" class="module-selected">Information</div>
                            <div data-ref="profile" data-module="security">Security</div>
                            <div data-ref="profile" data-module="notificationsparams">Notifications</div>
                        </div>
                        <div class="modulable-right">
                            <button onclick="saveSettings()" class="large">Save</button>
                        </div>
                    </div>
                    <div data-reference="profile" style="display: grid" class="module informations">
                        <div class="user-infos">
                            <img id="profile-picture" src="../assets/global/fauxmaxence.png" alt="file icon" /> <input type="file" id="profile-picture-input" accept="image/png, image/jpeg" />
                            <div class="user-details">
                                <h3>User.name user.lastname</h3>
                                <p>user.mail</p>
                            </div>
                        </div>

                        <div class="grid-user-container">
                            <div class="item">
                                <h3>Username</h3>
                                <input disabled spellcheck="false" maxlength="18" type="text" name="username" id="usernameField" placeholder="Username" autocomplete="on" />
                            </div>
                            <div class="item">
                                <h3>First name</h3>
                                <input disabled="true" type="text" name="firstname" id="firstnameField" placeholder="First name" autocomplete="on" />
                            </div>
                            <div class="item">
                                <h3>Last name</h3>
                                <input disabled="true" type="text" name="lastname" id="lastnameField" placeholder="Last name" autocomplete="on" />
                            </div>
                            <div class="item">
                                <h3>Email address</h3>
                                <input disabled="true" type="text" name="email" autocomplete="on" id="mailField" placeholder="Email address" />
                            </div>
                        </div>
                    </div>
                    <div data-reference="profile" class="module security">
                        <div class="grid-user-container">
                            <button id="changePasswordBtn" class="large greyed">Change password</button> <button id="toggleA2FBtn" class="large greyed">Enable 2FA</button>
                            <button onclick="signOut()" class="large greyed">Sign out</button> <button id="deleteAccountBtn" class="large reded">Delete my account</button>
                        </div>
                    </div>
                    <div data-reference="profile" class="module notificationsparams">
                        <div class="grid-user-container">
                            <div class="option">
                                <h1>New application message</h1>
                                <label class="switch">
                                    <input id="messageG" type="checkbox" />
                                    <span class="slide round"></span>
                                </label>
                            </div>
                            <div class="option">
                                <h1>New private message</h1>
                                <label class="switch">
                                    <input id="messageP" type="checkbox" />
                                    <span class="slide round"></span>
                                </label>
                            </div>
                            <div class="option">
                                <h1>New comment</h1>
                                <label class="switch">
                                    <input id="commentP" type="checkbox" />
                                    <span class="slide round"></span>
                                </label>
                            </div>
                            <div class="option">
                                <h1>Collaboration invitation</h1>
                                <label class="switch">
                                    <input id="invitationC" type="checkbox" />
                                    <span class="slide round"></span>
                                </label>
                            </div>
                            <div class="option">
                                <h1>Alumet access request</h1>
                                <label class="switch">
                                    <input id="alumetA" type="checkbox" />
                                    <span class="slide round"></span>
                                </label>
                            </div>
                            <div class="option">
                                <h1>Receive new features early</h1>
                                <label class="switch">
                                    <input id="experiments" type="checkbox" />
                                    <span class="slide round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ================== Centre d'aude =================== -->
            <section class="help">
                <div class="main-container">
                    <div class="header-help">
                        <div class="header-help-left">
                            <h1>Centre d'aide</h1>
                            <p>Have a question? We have the answer.</p>
                        </div>
                    </div>
                    <div class="accordions">
                        <div class="accordion">
                            <h1 class="accordion-title">Alumet, Flashcards, and Mind Maps (Resources)</h1>
                            <div class="accordion-item">
                                <input type="checkbox" id="accordion1" />
                                <label for="accordion1" class="accordion-item-title"><span class="icon"></span>How do I create a new workspace?</label>
                                <div class="accordion-item-desc">
                                    To create a new workspace, open the first tab by clicking the small home icon at the top left. Then choose the type of workspace you want and click "New" at the top right. You will then be guided through setup.
                                </div>
                            </div>
                            <div class="accordion-item">
                                <input type="checkbox" id="accordion5" />
                                <label for="accordion5" class="accordion-item-title"><span class="icon"></span>How do I change workspace settings (name, image, access level, etc.)?</label>
                                <div class="accordion-item-desc">
                                    To edit workspace settings, open the workspace, then open settings from the right navigation bar. You can then adjust its settings.
                                    selon your besoins.
                                </div>
                            </div>
                            <div class="accordion-item">
                                <input type="checkbox" id="accordion2" />
                                <label for="accordion2" class="accordion-item-title"><span class="icon"></span>How do I delete one of my workspaces?</label>
                                <div class="accordion-item-desc">
                                    To delete one of your workspaces, open it, then open settings from the right navigation bar and use the delete option.
                                </div>
                            </div>
                            <div class="accordion-item">
                                <input type="checkbox" id="accordion3" />
                                <label for="accordion3" class="accordion-item-title"><span class="icon"></span>Comment partager un de mes workspaces ?</label>
                                <div class="accordion-item-desc">
                                    To share a workspace with another user, open it and click "Share" in the navigation bar. You will then be guided through sharing.
                                </div>
                            </div>
                            <div class="accordion-item">
                                <input type="checkbox" id="accordion4" />
                                <label for="accordion4" class="accordion-item-title"><span class="icon"></span>Why don't I have access to every workspace?</label>
                                <div class="accordion-item-desc">
                                    We continuously develop new workspace types for Alumet Education, and they are released gradually. If you do not see one, it is not available to you yet.
                                </div>
                            </div>
                            <div class="accordion-item">
                                <input type="checkbox" id="accordion14" />
                                <label for="accordion14" class="accordion-item-title"><span class="icon"></span>I didn't find the answer to my question.</label>
                                <div class="accordion-item-desc">
                                    For each workspace, click "Help" in the navigation bar. A window will open with frequently asked questions for that workspace. If you do not find your answer,
                                    contactez alumet.education@gmail.com.
                                </div>
                            </div>
                        </div>
                        <div class="accordion">
                            <h1 class="accordion-title">Compte</h1>
                            <div class="accordion-item">
                                <input type="checkbox" id="accordion10" />
                                <label for="accordion10" class="accordion-item-title"><span class="icon"></span>Who can see my data?</label>
                                <div class="accordion-item-desc">
                                    Only Alumet users can see your first and last name. Your email address is not visible. Your password is encrypted and remains inaccessible to the Alumet Education team.
                                </div>
                            </div>
                            <div class="accordion-item">
                                <input type="checkbox" id="accordion11" />
                                <label for="accordion11" class="accordion-item-title"><span class="icon"></span>How do I edit my data?</label>
                                <div class="accordion-item-desc">For security reasons, editing your data is limited. To request changes, email alumet.education@gmail.com.</div>
                            </div>
                            <div class="accordion-item">
                                <input type="checkbox" id="accordion12" />
                                <label for="accordion12" class="accordion-item-title"><span class="icon"></span>How do I delete my account?</label>
                                <div class="accordion-item-desc">To delete your account, email alumet.education@gmail.com.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            const socket = io();
        </script>
        <script src="../script/global.js"></script>
        <script src="../../script/socket/chat.js"></script>
        <script src="../script/dashboard/profile.js"></script>
        <script src="../script/dashboard/dashboard.js"></script>
        <script src="../script/applications/swiftChat.js"></script>
    </body>
</html>
