body {
    display: flex;
    flex-direction: row;
    background-color: #131313;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}


.dots {
    position: absolute;
    width: 100%;
    height: 180px;
    top: -10px;
    left: -10px;
    background-image: radial-gradient(#54503F 2px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
    z-index: -10;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 169px;
    left: 0px;
    top: 0px;
    background: linear-gradient(178.31deg, rgba(22, 22, 22, 0.0) 1.43%, rgb(19, 19, 19, 1.0) 90%);
    z-index: -1;
}

.menu {
    display: flex;
    flex-direction: column;
    padding-inline: 15px;
    margin: 20px;
    width: 18%;
    min-width: 350px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    z-index: 50;
}

.menu-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.menu-infos img {
    width: 25px;
}

.menu-infos h3 {
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    opacity: 0.1;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    margin-left: 12px;
    z-index: 1;
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.option img {
    width: 22px;
    margin-right: 10px;
}

.option h3 {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
}

.selector { 
    width: 100%;
    min-height: 45px;
    background: rgba(88, 88, 88, 0.5);
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transform: translateY(-198px);
    transition: transform 0.3s ease-in-out;
}

.user-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: auto;
    margin-bottom: 15px;
}

.user-avatar {
    width: 55px;
    margin-right: 10px;
}

.user-infos-column {
    display: flex;
    flex-direction: column;
}

.user-infos-column h3 {
    font-weight: 400;
    font-size: 18px;
    color: white;
    font-weight: 400;
    margin: 0;
}

.user-infos-column h4 {
    font-size: 12px;
    color: #939393;
    font-weight: 400;
    margin: 0;
}

.logout {
    width: 20px;
    margin-left: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.logout:hover {
    transform: scale(1.05);
}

.alumets {
    width: 100%;
    margin: 20px;
    display: none;
    flex-direction: column;
}

.file-manager {
    width: 100%;
    margin: 20px;
    display: none;
    flex-direction: column;
}

.file-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
}

.informations {
    flex-direction: column;
    width: 100%;
    margin: 20px;
    display: none;
}

.active-section {
    display: flex;
    animation: active-section 0.7s ease-in-out !important;
}

@keyframes active-section {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.section-title {
    gap: 10px;
    color: #ffffff;
    font-weight: 500;
    font-size: 40px;
    flex-wrap: wrap;
    display: flex;
    margin: 20px 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-input {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    color: white;
    padding: 0 15px;
    border: none;
    height: 53px;
    outline: none;
    width: 200px;
    margin-left: auto;
}

.alumet-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: scroll;
    padding-bottom: 8px;
}

.alumet {
    min-width: 350px;
    cursor: pointer;
    height: 200px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    background-image: url("../assets/app/default-thumbnail.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#archived {
    height: 100%;
}

.alumet-infos {
    margin-top: auto;
    width: 100%;
    padding: 15px;
    background: rgba(19, 19, 19, 0.01);
    backdrop-filter: blur(5px);
    transition: all 0.3s ease-in-out;
}

.alumet-infos h3 {
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    margin: 0;
}

.alumet-infos h4 {
    font-size: 14px;
    color: #adadad;
    font-weight: 400;
    margin: 0;
}

.open-menu {
    z-index: 51;
    display: none;
    cursor: pointer;
    padding: 25px 15px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    position: absolute;
    left: 0;
    top: 70%;
    border-radius: 0 5px 5px 0;
}

.open-menu img {
    width: 10px;
    transition: transform 0.3s ease-in-out;
}

.main-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    padding: 18px 28px;
    border-radius: 4px;
    border: none;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.main-button:hover {
    background: rgba(255, 255, 255, 0.2);
}

.notifications-container {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.scroll {
    overflow-y: scroll;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: white;
    font-size: 14px;
    font-weight: 300;
    overflow-wrap: anywhere;
    min-width: 80px;
}

.info img {
    width: 22px;
    height: 22px;
}

.quick-actions {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.quick-actions img {
    width: 18px;
    height: 18px;
}

.action {
    cursor: pointer;
    display: flex;
    padding: 10px;
    border-radius: 4px;
    background: rgba(217, 217, 217, 0.1);
    transition: background 0.3s ease-in-out;
}

.notification {
    border-radius: 5px;
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    width: 100%;
    background: rgba(217, 217, 217, 0.05);
    padding: 20px;
}



.file {
    border-radius: 5px;
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    background: rgba(217, 217, 217, 0.05);
    padding: 20px;
}

#user {
    margin-left: auto;
}

.isDisplayed {
    display: flex !important;
    animation: fadeIn 0.5s ease-in-out;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.view-modal {
    display: none;
    flex-direction: column;
    width: calc(100% - 440px);
    position: fixed;
    top: 20px;
    background: rgba(35, 35, 35, 0.5);
    backdrop-filter: blur(10.5px);  
    border-radius: 5px;
    left: 420px;
    right: 20px;
    height: calc(100% - 40px);
    z-index: 49;
}

iframe {
    width: 100%;
    height: calc(100% - 60px);
    border-radius: 0 0 5px 5px;
}

.file-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    gap: 10px;
    font-weight: 400;
    color: white;
    margin-left: 20px;
}

#file-loading {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

.image-view {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.file-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.loading-screen {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1c1c1c;
    background-image: url("../assets/app/loading.png");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.loading-infos h3 {
    font-size: 28px;
    font-weight: 400;
    color: #ffffff;
}

.loading-infos img {
    width: 40px;
}

.loading {
    margin-top: 10px;
    width: 250px;
    height: 5px;
    border: 0.5px solid #4A4A4A;
    border-radius: 11px;
}

.loader {
    width: 50px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 11px;
    animation: loading 0.7s ease-in-out infinite;
}

@keyframes loading {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(0px);
    }
}

.end-loading {
    animation: end-loading 0.5s ease-in-out forwards;
}

#alumet-setup {
    width: calc(100% - 480px);
    border: 1px solid #4A4A4A;
    padding-inline: 20px;
    backdrop-filter: blur(30px);
}

.setup-container {
    gap: 10px;
    width: calc(40%);
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 120px);
}

.setup-title {
    font-weight: 700;
    color: white;
    font-size: 22px;
    margin: 0;
}

.setup-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    color: white;
    font-size: 14px;
    margin-top: 10px;
    margin: 0;
}

.setup-input {
    resize: none;
    padding: 0 15px;
    height: 50px;
    background: #303030;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    transition: all 0.3s ease-in-out;
}

.setup-button {
    cursor: pointer;
    margin-top: 10px;
    font-size: 12px;
    color: white;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    background-color: #161616;
    border: 1px solid #828282;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.setup-preview {
    max-width: 650px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.option-selector {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #161616;
    border-radius: 5px;
}



.option-selector > p {
    cursor: pointer;
    z-index: 10;
    font-size: 14px;
    font-weight: 300;
    color: white;
    margin: 0;
}

.selected {
    background-color: #303030;
    padding: 8px 45px;
    border-radius: 4px;
}

.step {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.step2 {
    flex-direction: column;
    gap: 10px;
    display: none;
}

.step3 {
    flex-direction: column;
    gap: 10px;
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
  }
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #161616;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.file-drop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    width: 100%;
    border: 1px dashed #4A4A4A;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.footer-upload {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 20px;
}

#new-alumet-loading {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    display: none;
}

.setup-tracker {
    display: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: 300;
    color: rgb(185, 185, 185);
    margin-top: 20px;
}

.serveur {
    padding: 5px;
    background: #313131;
    border-radius: 10px;
}

.infos-upload {
    font-weight: 300;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-inline: 10px;
    height: 50px;
    background-color: #161616;
    color: white;
    border-radius: 5px;
}

#upload-files-b {
    margin: 0;
    width: 300px;
}

.file-drop > h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    color: #818181;
    margin: 0;
}

.file-drop > h3 > img {
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

#file-input {
    display: none;
} 
.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: #373737;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
input:checked + .slider {
    background-color: #161616;
  }
  
input:focus + .slider {
    box-shadow: 0 0 1px #373737;
  }
  
input:checked + .slider:before {
    transform: translateX(18px);
}

.slider.round {
    border-radius: 34px;
    border: 1px solid #262626;
}
  
.slider.round:before {
    border-radius: 50%;
}

.setup-button:hover {
    background-color: #1c1c1c;
}

.setup-input:focus {
    background: #4A4A4A;
}

input:checked + .slider + .menu {
    display: none;
}

.switch-container input:checked + .slider + .menu {
    display: none;
}

.module-selector {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.module {
    border-radius: 4px;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;
    background-color: #161616;
}

.module > h1 {
    font-size: 12px;
    font-weight: 300;
    color: white;
    margin: 0;
}
@keyframes end-loading {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#file-uploader {
    display: none;
    flex-direction: column;
    padding-inline: 20px;
    width: calc(100% - 480px);
    border: 1px solid #4A4A4A;
    backdrop-filter: blur(20px);
}

.file-uplading-prev {
    background-color: #161616;
}

.upload-s-1 {
    display: flex;
    flex-direction: column;
    height: calc(100% - 80px);
}

.upload-s-2 {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 80px);
}

.files {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.not-supported {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

.not-supported > img {
    width: 400px;
}

.not-supported > h3 {
    font-size: 14px;
    font-weight: 300;
    color: #818181;
    margin: 0;
}

.loader-upload {
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
  }
  
.loader-upload:before , .loader-upload:after{
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader-upload:after {
    box-shadow: 0 2px 0 #FF3D00 inset;
    animation: rotate 1s linear infinite;
}
  
@keyframes rotate {
    0% {  transform: rotate(0)}
    100% { transform: rotate(360deg)}
}

@media screen and (max-width: 1200px) {
    .menu {
        position: absolute;
        transform: translateX(-110%);
        background-color: #1c1c1c;
        min-width: 0;
        width: calc(100vw - 30px);
        margin: 0;
        height: 100%;
    }
    .alumet {
        min-width: 0;
    }
    .open-menu {
        display: flex;
    }
    .alumets {
        margin: 10px;
        height: calc(100% - 80px);
    }
    .responsive {
        display: none;
    }
    .view-modal {
        width: calc(100%);
        top: 0;
        left: 0;
        height: 100%;
        border-radius: 0;
    }
    iframe {
        border-radius: 0;
    }
    .file-title {
        width: 65%;
        overflow: hidden;
    }
    #alumet-setup {
        padding-inline: 10px;
        width: calc(100% - 20px);
        border: none;
    }
    #file-uploader {
        width: calc(100% - 20px);
        padding-inline: 10px;
        border: none;
    }
    .setup-container {
        width: 100%;
        justify-content: flex-start;
    }
    .file {
        flex-wrap: wrap;
    }
    .section-title > input {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .footer-upload {
        position: absolute;
        bottom: 20px;
    }
}