@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Plus Jakarta Sans', sans-serif;
    scrollbar-width: thin;
}

.large:hover {
    background-color: #1e54e3;
    transform: scale(0.98);
}

.large {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    white-space: nowrap;
    padding: 0 20px;
    background-color: #296eff;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 500;
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.full-screen {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1500;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.full-screen > h1 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    text-align: center;
}

.full-screen > p {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    color: #9ea1a7;
    text-align: center;
}

.large-white:hover {
    background-color: #f1f1f1;
    transform: scale(0.98);
}
.large-white {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    white-space: nowrap;
    padding: 0 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #296eff;
    color: #296eff;
    font-weight: 600;
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.active {
    background-color: #296eff !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
    width: 6px;
    height: 4px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px transparent;
    border-left: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px #ebebeb;
    border-left: solid 3px transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.button__text {
    display: flex;
    justify-content: center;
    color: #ffffff;
    transition: all 0.2s;
}

.button--loading .button__text {
    display: none;
}

.button--loading::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    margin: auto;
    border: 2px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.loading {
    display: none;
    position: absolute;
    z-index: 10000;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: #f1f1f1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.drop-box {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 24px);
    min-height: 115px;
    border-radius: 8px;
    height: 15%;
    padding: 10px;
    border: 2px dashed #e5e5e5;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.drop-box:hover {
    background-color: #f6f8fc;
}

.sending-box {
    display: flex;
    align-items: center;
    padding: 8px;
    position: absolute;
    width: calc(100% - 36px);
    border-radius: 5px;
    bottom: 10px;
    height: 50px;
    background-color: white;
    box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.08);
    transform: translateY(30%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    cursor: default;
    pointer-events: none;
    overflow: hidden;
}

.sending-data > .indications > h3 {
    transform: translateY(-100%);
}

.ready-to-send > .indications > h3 {
    transform: translateY(-100%);
}

.sending-data > .sending-box:nth-child(2) {
    opacity: 1;
    transform: translateY(0%);
    pointer-events: all;
}

.ready-to-send > .rts {
    opacity: 1;
    transform: translateY(0%);
    pointer-events: all;
}

.indications {
    pointer-events: none;
}
.success-upload > .success-box {
    opacity: 1;
    transform: translateY(0%);
    pointer-events: all;
}

.success-box {
    cursor: default;
    pointer-events: none;
    position: absolute;
    bottom: 15px;
    width: calc(100% - 30px);
    border-radius: 5px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #296eff;
    transform: scale(0.9);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.file-sending-infos {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    overflow: hidden;
}

.file-sending-infos > h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
    color: #000000;
    text-align: left;
}

.files-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: calc(100% - 2px);
    min-height: 50px;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
}

.files-header > h3 {
    position: absolute;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    color: #b4b4b4;
}

.files-header > h3:nth-child(1) {
    margin-left: 20px;
}

.files-header > h3:nth-child(2) {
    margin-left: 35%;
}

.files-header > h3:nth-child(3) {
    margin-left: 52%;
}

.files-header > #search-bar {
    display: flex;
    flex-direction: row;
    gap: 8px;
    position: absolute;
    right: 5px;
    font-size: 0.8rem;
    border-radius: 5px;
    width: 28%;
    padding-right: 5px;
    height: 40px;
    padding-left: 15px;
}

.file-sending-infos > h3 > span {
    color: #6a6a6a;
}

.file-sending-infos > p {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    color: #6a6a6a;
}

.send-actions {
    right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: auto;
    gap: 10px;
}

.loading-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 50px;
    background-color: #f6f8fc;
    border-radius: 4px;
}

.loading-box > img {
    width: 20px;
}
.indications > h3 {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
    color: #6a6a6a;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.loader-upload {
    position: relative;
    width: 100px;
    height: 100px;
}

input {
    width: calc(100% - 42px);
    border-radius: 10px;
    padding: 0 20px;
    height: 50px;
    font-size: 0.9rem;
    outline-color: #e5e5e5;
    border: 1px solid #e5e5e5;
}

textarea {
    width: calc(100% - 42px);
    height: calc(50px - 30px);
    border-radius: 10px;
    resize: none;
    font-size: 0.9rem;
    outline-color: #e5e5e5;
    border: 1px solid #e5e5e5;
}

textarea[placeholder] {
    padding: 20px;
}

.loader-upload:before,
.loader-upload:after {
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1) inset;
}
.loader-upload:after {
    box-shadow: 0 2px 0 #2f86eb inset;
    animation: rotate 0.5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none !important;
}

.warning-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 0.8rem;
    z-index: 20;
    text-align: center;
}

#toast {
    position: absolute;
    top: 15px;
    right: 15px;

    display: flex;
    flex-direction: column-reverse;
    z-index: 999999;
    gap: 14px;
}
.reded {
    background-color: #c02b10;
    color: white;
    box-shadow: none;
}

.grid-user-container {
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
}

.grid-user-container > input {
    width: calc(100% - 40px);
}

.item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item > h3 {
    font-size: 1rem;
    font-weight: 400;
    color: #9ea1a7;
    margin: 0;
}

.item > input {
    width: calc(100% - 40px);
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slide:before {
    position: absolute;
    content: '';
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slide {
    background-color: #1e54e3;
}

input:focus + .slide {
    box-shadow: 0 0 1px #1e54e3;
}

.option {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 0 15px;
    height: 48px;
    width: calc(100% - 32px);
}

.switch-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

.switch-options > select {
    width: 100%;
}

.option > h1 {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
}

input:checked + .slide:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

input:focus,
textarea:focus,
select:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #0597ff;
}

.slide.round {
    border-radius: 34px;
}

.slide.round:before {
    border-radius: 50%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
    padding: 0 6px;
    background: #f6f8fc;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: all 0.2s ease-in-out;
}

.slider:hover {
    opacity: 1;
    background-color: #e1e2e4;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 12px;
    background: #1e54e3;
    border-radius: 10px;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 30px;
    height: 12px;
    border-radius: 10px;
    background: #1e54e3;
    cursor: pointer;
}

.reded:hover {
    background-color: #8a1e0b;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 0;
    padding-right: 20px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
}

@keyframes slideInTop {
    from {
        opacity: 0;
        transform: translateY(calc(-100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
    }
}

.toast--success {
    border-color: #19c43b;
}

.toast--success .toast__icon {
    color: #19c43b;
}

.toast--info {
    border-color: #2f86eb;
}

.toast--info .toast__icon {
    color: #2f86eb;
}

.toast--warning {
    border-color: #ffc021;
}

.toast--warning .toast__icon {
    color: #ffc021;
}

.toast--error {
    border-color: #ff623d;
}

.toast--error .toast__icon {
    color: #ff623d;
}

.toast__icon > span {
    font-size: 34px;
}

.toast__icon {
    padding: 0 16px;
}

#alumet-background {
    display: none;
}

.toast__body {
    margin-left: 20px;
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin: 0;
    margin-bottom: 5px;
}

.toast__msg {
    font-size: 14px;
    overflow-wrap: anywhere;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
    margin: 0;
}

.greyed {
    background-color: #f6f8fc;
    color: #000000;
    border-radius: 10px;
    min-height: 50px;
    box-shadow: none;
}

.greyed:hover {
    background-color: #e6e6e6;
    border-radius: 10px;
}

.information {
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.information > img {
    width: 50%;
    max-width: 500px;
    margin-bottom: 20px;
}

.details {
    height: 100px;
    justify-content: center;
    display: none;
    flex-direction: column;
    align-items: center;
}

.loading-users {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}

.details > h1 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    color: #000000;
}

.details > p {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    color: #6a6a6a;
}

.popup {
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: calc(100% - 20px);
    padding: 10px;
    height: calc(100% - 20px);
    position: absolute;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.4);
}

.prompt-buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
}

.active-popup {
    display: flex !important;
}

.active-popup > .prompt {
    animation: popup 0.3s ease-in-out;
}

@keyframes popup {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.prompt {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 550px;
}

.prompt-buttons > button:nth-child(1) {
    position: absolute;
    left: 0;
    display: none;
    background-color: #a82d17;
    color: #ffffff;
    box-shadow: none;
}

.prompt > h4 {
    display: block;
    font-size: 1rem;
    color: #474747ec;
    margin: 0;
    font-weight: 500;
}

.prompt-buttons > button:nth-child(2) {
    background-color: #f6f8fc;
    color: #000000;
    box-shadow: none;
}

.prompt > h1 {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
}

.information > h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    color: #000000;
}

.users-fetch {
    position: relative;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    min-height: 60px;
    max-height: 600px;
    overflow-y: auto;
}

.users-fetch > .user {
    margin: 10px;
}

.searching > .loading-users {
    display: flex !important;
    z-index: 1501;
}

.user {
    display: flex;
    width: calc(100% - 20px);
    flex-direction: row;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.selected-user > img {
    display: flex;
}

.ticked-user {
    display: none;
    margin-left: auto;
}

.selected-user > .ticked-user {
    display: flex;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.user:hover {
    transform: scale(0.98);
}

.user > div {
    display: flex;
    flex-direction: column;
}

.user > img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
}

.no-result {
    display: flex;
    margin: auto;
}

.user > div > h3 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    color: #000000;
}

.user > div > p {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    color: #6a6a6a;
}

.users-fetch > .full-screen {
    border-radius: 10px;
}

.information > p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    margin-top: 10px;
    text-align: center;
    color: #000000;
}

.beta {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    width: 50px;
    height: 30px;
    border-radius: 6px;
    color: white;
    font-size: 0.75rem;
    background-color: #296eff;
}

.loader {
    width: 30px;
    height: 30px;
    border: 2px solid #296eff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.7s linear infinite;
}

.files-items {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

.loading-files > .loader-container {
    display: flex !important;
}

.loader-bar {
    width: 100%;
    height: 4.8px;
    display: inline-block;
    position: relative;
    background: rgba(118, 118, 118, 0.15);
    overflow: hidden;
}
.loader-bar::after {
    content: '';
    width: 192px;
    height: 4.8px;
    background: #296eff;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: animloader 1s ease-in-out infinite;
}

@keyframes animloader {
    0% {
        left: 0;
        transform: translateX(-100%);
        width: 100px;
    }
    50% {
        width: 400px;
    }
    100% {
        left: 100%;
        transform: translateX(0%);
        width: 100px;
    }
}

.file-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid #f3f3f3;
    transition: all 0.3s ease-in-out;
}

.file-item:hover {
    background-color: #fafafa;
    border-radius: 5px;
}

.file-item h4 {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    color: #000000;
}

.file-name {
    white-space: nowrap;
    width: 32%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding-left: 1.5%;
}

.file-name > img {
    width: 18px;
}

.file-item span {
    color: black;
}

.file-item > h4:nth-child(2) {
    position: absolute;
    margin-left: 35%;
}

.file-item > h4:nth-child(3) {
    position: absolute;
    margin-left: 52%;
}

.files-items > .loader-container {
    position: absolute;
    width: 100%;
    display: none;
    height: 100%;
    z-index: 2000;
    align-items: center;
    justify-content: center;
    background-color: white;
}

select {
    height: 50px;
    border: none;
    outline: none;
    background-color: #f6f8fc;
    border-radius: 10px;
    padding: 0 10px;
    width: calc(200px - 20px);
}

.from-device > h3 {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
    margin-left: 5px;
    color: white;
}

.from-device {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: calc(100% - 20px);
    background-color: #296eff;
    border-radius: 10px;
}

#folder-selection {
    width: 100%;
    min-height: 50px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1400px) {
    .files-header > h3:nth-child(2) {
        display: none;
    }
    .files-header > h3:nth-child(3) {
        display: none;
    }

    .file-item > h4:nth-child(2) {
        display: none;
    }

    .file-item > h4:nth-child(3) {
        display: none;
    }

    .file-name {
        width: 100% !important;
    }
}

@media screen and (max-width: 600px) {
    #toast {
        top: 10px;
        right: 10px;
    }
}
