@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

body {
    display: flex;
    flex-direction: row;
    background-color: #131313;
    margin: 0;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

:root {
    --main-color: white;
    --secondary-color: #000000;
    --accent-color: #555555;
    --hover-color: #d8d8d8;

    --post-red: #f9afaf;
    --post-green: #9affac;
    --post-blue: #97a5f1;

    --teranga-color: #ff6b00;

    --true-color: #ffffff;
}

.wall-container {
    display: flex;
    flex-direction: row; 
    z-index: 100;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.layer-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
}

.main-button {
    background-color: var(--main-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    padding-inline: 30px;
    font-size: 14px;
    font-weight: 600;
    height: 35px;
    width: 100%;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.3s ease;
}

#add-post {
    margin-bottom: 20px;
}

.main-button:hover {
    background-color: var(--hover-color);
}

.wall {
    margin-right: 20px;
}

.post {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--main-color);
    padding: 8px;
    margin-bottom: 15px;
    width: 254px;
    min-width: 254px;
    transition: transform 0.5s ease;
}

.post-header {
    color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.post-user-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-user-img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 8px;
}

.post-user-username {
    font-size: 12px;
    font-weight: 300;
    margin: 0;
}

.dots {
    width: 20px;
    height: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    margin-right: 2px;
}

.dots div {
    min-width: 2px;
    min-height: 2px;
    border-radius: 50%;
    background-color: var(--accent-color);
}

pre {
    color: var(--accent-color);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 10px;
    margin: 0;
}

.post-user-date {
    display: none;
    margin-left: 6px;
}

.post-title {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 5px;
}

.wall-header {
    min-width: 254px;
    max-width: 254px;
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 8px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.wall-title {
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    word-wrap: break-word;
}

.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
    flex-direction: column;
    align-items: end;
    overflow: hidden;
}

#delete {
    border: 1px solid var(--teranga-color);
}

.active-modal {
    animation: fadeIn 0.5s ease;
    animation-fill-mode: forwards;
}

.idle-modal{
    animation: fadeOut 0.5s ease;
    animation-fill-mode: forwards;
}

.active-modal > .modal-container {
    animation: leftFade 0.5s ease;
    animation-fill-mode: forwards;
}

.idle-modal > .modal-container {
    animation: rightFade 0.5s ease;
    animation-fill-mode: forwards;
}





@keyframes leftFade {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
    


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes rightFade {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    } 
}

.modal-container {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    border-radius: 5px 0 0 5px;
    width: 350px;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    overflow-x: scroll;
}

.file-preview {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    cursor: pointer;
    width: 100%;
    max-height: 160px;
    height: 160px;
    border-radius: 5px;
    background-image: url('../assets/app/AcceuilConnected.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease;
}

.file-preview:hover {
    filter: brightness(0.8);  
}

.file-type {
    margin: 5px;
    border-radius: 5px;
    font-size: 12px;
    padding: 6px;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.5);
}

.post-content {
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    margin-top: 5px;
    word-wrap: break-word;
}

.post-scroll {
    overflow-y: auto;
    height: calc(100vh - 100px);
}

.modal-container > h1 {
    color: var(--secondary-color);
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

.modal-container > p {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 15px;
}

.modal-container > input {
    width: calc(100% - 20px);
    min-height: 26px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.modal-container > input:focus {
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.05)
}

.modal-container > textarea {
    width: calc(100% - 20px);
    min-height: 100px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
    resize: none;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.option > p {
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.edit-buttons {
    display: flex;
    position: sticky;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: auto;
    bottom: 0;
    box-shadow: 0px 20px 11px rgba(0, 0, 0, 0.05);
}

.edit-buttons button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    color: var(--secondary-color);
    outline: none;
    border: none;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--true-color);
}

.edit-buttons button:hover {
    filter: brightness(0.8);
}

#accent {
    color: white;
    background-color: var(--teranga-color);
}

.modal-container textarea:focus {
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.05)
}

.items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}
.items div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 15px;    
    width: calc(100% - 30px);
    height: 50px;
    border-radius: 5px;
    background-color: var(--true-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.items div p {
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.items div:hover {
    filter: brightness(0.8);
}

.items div img {
    width: 20px;
    height: 20px;
}



.color-selector {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.color-selector div {
    width: 28px;
    height: 28px;
    outline: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.7s ease;
}

.selected-color {
    outline: 0.7px solid #FFFFFF !important;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
}

.loading {
    position: absolute;
    z-index: 10000;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.loader-upload {
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
  }
  
.loader-upload:before , .loader-upload:after{
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1) inset;
}
.loader-upload:after {
    box-shadow: 0 2px 0 #FF3D00 inset;
    animation: rotate 0.5s linear infinite;
}

@keyframes rotate {
    0% {  transform: rotate(0)}
    100% { transform: rotate(360deg)}
}

.hidden {
    display: none !important;
}

#current-theme {
    background-color: var(--true-color);
}

#blue {
    background-color: #1e90ff;
}

#red {
    background-color: #ff6347;
}

#green {
    background-color: #32cd32;
}

#yellow {
    background-color: #ffd700;
}

#purple {
    background-color: #9370db;
}

#orange {
    background-color: #ffa500;
}

.button__text {
    color: #ffffff;
    transition: all 0.2s;
  }
  
  .button--loading .button__text {
    display: none;
  }
  
  .button--loading::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    margin: auto;
    border: 2px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
  }
  

  .toggle {
    cursor: pointer;
    display: inline-block;
  }
  
  .toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 51px;
    height: 25px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
  }
  .toggle-switch:before, .toggle-switch:after {
    content: "";
  }
  .toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
  }
  .toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  }
  .toggle-checkbox:checked + .toggle-switch {
    background: var(--teranga-color);
  }
  .toggle-checkbox:checked + .toggle-switch:before {
    left: 30px;
  }
  
  .toggle-checkbox {
    position: absolute;
    visibility: hidden;
  }
  
  
 

  @keyframes button-loading-spinner {
    from {
      transform: rotate(0turn);
    }
  
    to {
      transform: rotate(1turn);
    }
  }
  

@media  (max-width: 768px) {
    body {
        padding: 10px;
        height: 100vh;      
    }
    .post-scroll {
        height: calc(100vh - 80px);
    }
    .modal-container {
        width: calc(100% - 20px);
        padding: 10px;
        margin: 0;
        border-radius: 0;
    }
}
    