@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
    font-family: 'Mona Sans';
    src: url('./../assets/fonts/MonaSans.woff2') format('woff2 supports variations'), url('../assets/fonts/MonaSans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

* {
    font-family: 'Plus Jakarta Sans', sans-serif;
    scrollbar-width: thin;
    box-sizing: border-box;
}

.large:hover {
    background-color: #1e54e3;
    transform: scale(0.98);
}

.large {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    white-space: nowrap;
    padding: 0 20px;
    background-color: #296eff;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 500;
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.progression {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 10px;
    min-height: 10px;
    background-color: #c6c9ce;
    overflow: hidden;
}

#good {
    height: 100%;
    background-color: #296eff;
}

#medium {
    height: 100%;
    background-color: #f0ac00;
}

#bad {
    height: 100%;
    background-color: #ff0000;
}

#neutral {
    width: 100%;
    height: 100%;
}

.progression > div {
    transition: all 0.3s ease-in-out;
}

.full-screen {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1500;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.full-screen > h1 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    text-align: center;
}

.full-screen > p {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    color: #9ea1a7;
    text-align: center;
}

.large-white:hover {
    background-color: #f1f1f1;
    transform: scale(0.98);
}
.large-white {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    white-space: nowrap;
    padding: 0 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #296eff;
    color: #296eff;
    font-weight: 600;
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.active {
    background-color: #296eff !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
    width: 6px;
    height: 4px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px transparent;
    border-left: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px #ebebeb;
    border-left: solid 3px transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.button__text {
    display: flex;
    justify-content: center;
    color: #ffffff;
    transition: all 0.2s;
}

.button--loading .button__text {
    display: none;
}

.button--loading::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    margin: auto;
    border: 2px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.loading {
    display: none;
    position: absolute;
    z-index: 10000;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: #f1f1f1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden-loading {
    animation: hide 0.3s ease-in-out forwards;
    animation-delay: 0.3s;
}

.hidden-loading > h4 {
    animation: goUp 0.3s ease-in-out forwards !important;
}

.hidden-loading > .loader-bar {
    animation: hide 0.3s ease-in-out forwards !important;
}

@keyframes goUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.loader-bar {
    opacity: 0;
    animation: opacity 1s ease-in-out forwards;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loading > h4,
.loading > h4 > span {
    font-family: 'Mona Sans';
    font-weight: 600;
    font-size: 1.8rem;
    font-stretch: 150%;
    margin: 10px 0;
}

.loading > h4 {
    opacity: 0;
    animation: showUp 0.6s ease-in-out forwards;
    animation-delay: 0.3s;
}

@keyframes showUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.loading > h4 > span {
    color: #1e54e3;
}

.drop-box {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 90px;
    border-radius: 8px;
    padding: 10px;
    border: 2px dashed #e5e5e5;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.drop-box:hover {
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.1);
}

.sending-box {
    display: flex;
    align-items: center;
    padding: 8px;
    position: absolute;
    width: calc(100% - 20px);
    border-radius: 5px;
    bottom: 10px;
    pointer-events: none;
    background-color: white;
    box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.08);
    transform: translateY(30%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    cursor: default;
    overflow: hidden;
}

.sending-data > .indications > p {
    opacity: 0;
}

.ready-to-send > .indications > p {
    opacity: 0;
}

.sending-data > .sending-box:nth-child(2) {
    opacity: 1;
    transform: translateY(0%);
    pointer-events: all;
}

.ready-to-send > .rts {
    opacity: 1;
    transform: translateY(0%);
    pointer-events: all;
}

.indications {
    pointer-events: none;
}

.file-sending-infos {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    overflow: hidden;
}

.file-sending-infos > h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
    color: #000000;
    text-align: left;
}

.files-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 50px;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
}

.files-header > h3 {
    position: absolute;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    color: var(--text-secondary);
}

.files-header > h3:nth-child(1) {
    margin-left: 20px;
}

.files-header > h3:nth-child(2) {
    margin-left: 35%;
}

.files-header > h3:nth-child(3) {
    margin-left: 52%;
}

.files-header > #search-bar {
    display: flex;
    flex-direction: row;
    gap: 8px;
    position: absolute;
    right: 5px;
    font-size: 0.8rem;
    border-radius: 5px;
    width: 28%;
    padding-right: 5px;
    height: 40px;
    padding-left: 15px;
}

.file-sending-infos > h3 > span {
    color: #6a6a6a;
}

.file-sending-infos > p {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    color: #6a6a6a;
}

.send-actions {
    right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: auto;
    gap: 10px;
}

.loading-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    min-width: 50px;
    background-color: #f6f8fc;
    border-radius: 4px;
}

.loading-box > img {
    width: 20px;
}
.indications > div {
    width: 46px;
    height: 46px;
    background-color: #f6f8fc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.indications > div > img {
    width: 18px;
}

input {
    width: 100%;
    border-radius: 8px;
    padding: 0 20px;
    height: 50px;
    outline-color: white;
    font-size: 0.9rem;
    outline-color: #e5e5e5;
    border: 1px solid #e5e5e5;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    border-radius: 8px;
    height: 90px;
    resize: none;
    font-size: 0.9rem;
    padding-bottom: 0.875rem;
    padding-left: 1.2rem;
    padding-top: 0.875rem;
    padding-right: 6rem;
    border: 1px solid #e5e5e5;
    max-height: 25%;
    line-height: 1.5rem;
}

.text-input {
    width: 100%;
    height: 50px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}

.hidden {
    display: none !important;
}

.warning-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 12px;
    font-size: 0.9rem;
    z-index: 20;
    margin: 0;
    padding: 15px;
    background-color: rgba(255, 0, 0, 0.199);
}

#toast {
    position: absolute;
    top: 15px;
    right: 15px;

    display: flex;
    flex-direction: column-reverse;
    z-index: 999999;
    gap: 14px;
}
.reded {
    background-color: #e17055;
    color: white;
    box-shadow: none;
}

.grid-user-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    grid-gap: 15px;
}

.grid-user-container > input {
    width: 100%;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item > select {
    width: 100%;
}

.item > h3 {
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    margin: 0;
}

.item > input {
    width: 100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    border-radius: 10px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slide:before {
    position: absolute;
    content: '';
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slide {
    background-color: #1e54e3;
}

input:focus + .slide {
    box-shadow: 0 0 1px #1e54e3;
}

.option {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 0 15px;
    min-height: 52px;
    width: 100%;
}

.switch-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

.switch-options > select {
    width: 100%;
}

.option > h1 {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
}

input:checked + .slide:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

input:focus,
textarea:focus,
select:focus,
label.switch:hover {
    outline-style: solid;
    outline-width: 3px;
    outline-color: #0597ff;
    outline-offset: 2px;
}

.description-container:focus {
    outline-style: solid;
    outline-width: 3px;
    outline-color: #0597ff;
    outline-offset: 2px;
}

.slide.round {
    border-radius: 34px;
}

.slide.round:before {
    border-radius: 50%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
    padding: 0 6px;
    background: #f6f8fc;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: all 0.2s ease-in-out;
}

.slider:hover {
    opacity: 1;
    background-color: #e1e2e4;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 12px;
    background: #1e54e3;
    border-radius: 10px;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 30px;
    height: 12px;
    border-radius: 10px;
    background: #1e54e3;
    cursor: pointer;
}

.reded:hover {
    background-color: #e3603f;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 0;
    padding-right: 20px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
}

@keyframes slideInTop {
    from {
        opacity: 0;
        transform: translateY(calc(-100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
    }
}

.toast--success {
    border-color: #19c43b;
}

.toast--success .toast__icon {
    color: #19c43b;
}

.toast--info {
    border-color: #2f86eb;
}

.toast--info .toast__icon {
    color: #2f86eb;
}

.toast--warning {
    border-color: #ffc021;
}

.toast--warning .toast__icon {
    color: #ffc021;
}

.toast--error {
    border-color: #ff623d;
}

.toast--error .toast__icon {
    color: #ff623d;
}

.toast__icon > span {
    font-size: 34px;
}

.toast__icon {
    padding: 0 16px;
}

#alumet-background {
    display: none;
}

.toast__body {
    margin-left: 20px;
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin: 0;
    margin-bottom: 5px;
}

.toast__msg {
    font-size: 14px;
    overflow-wrap: anywhere;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
    margin: 0;
}

.greyed {
    background-color: #f6f8fc;
    color: #000000;
    border-radius: 10px;
    min-height: 50px;
    box-shadow: none;
}

.greyed:hover {
    background-color: #e6e6e6;
    border-radius: 10px;
}

.information {
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.information > img {
    width: 50%;
    max-width: 500px;
    margin-bottom: 20px;
}

.details {
    height: 100px;
    justify-content: center;
    display: none;
    flex-direction: column;
    align-items: center;
}

.loading-users {
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: white;
    border-radius: 10px;
}

.details > h1 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    color: #000000;
}

.details > p {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    color: #6a6a6a;
}

.popup {
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    height: 100%;
    position: absolute;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.4);
}

.prompt-buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
}

.active-popup {
    display: flex !important;
}

.active-popup > .prompt {
    animation: popup 0.3s ease-in-out;
}

@keyframes popup {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.prompt {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 550px;
}

.prompt-buttons > button:nth-child(1) {
    /*  position: absolute; */
    left: 0;
    display: none;
    background-color: #a82d17;
    color: #ffffff;
    box-shadow: none;
}

.prompt > h4 {
    display: block;
    font-size: 1rem;
    color: #474747ec;
    margin: 0;
    font-weight: 500;
}

.prompt-buttons > button {
    width: 100%;
}

.prompt-buttons > button:nth-child(2) {
    background-color: #f6f8fc;
    color: #000000;
    box-shadow: none;
}

.prompt > h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}

.information > h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    color: #000000;
}

.users-fetch {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: relative;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    min-height: 60px;
    max-height: 600px;
    overflow-y: auto;
}

.searching > .loading-users {
    display: flex !important;
    z-index: 1501;
}

.user {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.selected-user > img {
    display: flex;
}

.ticked-user {
    display: none;
    margin-left: auto;
}

.selected-user > .ticked-user {
    display: flex;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.user:hover {
    transform: scale(0.98);
}

.user > div {
    display: flex;
    flex-direction: column;
}

.user > img {
    width: 50px;
    height: 50px;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
}

.loadingRessources > .loading,
.loading-flashcards > .loading {
    display: flex;
}

.loading > h3 {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    color: #000000;
    margin-top: 20px;
    text-align: center;
}

.row-bottom-buttons {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.backgroundImg {
    width: 100%;
    min-height: 150px;
    border-radius: 10px;
    object-fit: cover;
    max-height: 200px;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.backgroundImg:hover {
    transform: scale(0.98);
    filter: brightness(0.8);
}

.row-bottom-buttons > button {
    width: 100%;
}

.no-result {
    display: flex;
    margin: auto;
}

.user > div > h3 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    color: #000000;
}

.user > div > p {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    color: #6a6a6a;
}

.users-fetch > .full-screen {
    border-radius: 10px;
}

.information > p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    margin-top: 10px;
    text-align: center;
    color: #000000;
}

.beta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 30px;
    border-radius: 6px;
    color: white;
    font-size: 0.75rem;
    background-color: #296eff;
}

.loader {
    width: 30px;
    height: 30px;
    border: 2px solid #296eff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.7s linear infinite;
}

.files-items {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

.loading-files > .loader-container {
    display: flex !important;
}

.loader-bar {
    width: 300px;
    height: 4.8px;
    display: inline-block;
    position: relative;
    background: rgba(118, 118, 118, 0.15);
    overflow: hidden;
}
.loader-bar::after {
    content: '';
    width: 192px;
    height: 4.8px;
    background: #296eff;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: animloader 1s ease-in-out infinite;
}

@keyframes animloader {
    0% {
        left: 0;
        transform: translateX(-100%);
        width: 100px;
    }
    50% {
        width: 400px;
    }
    100% {
        left: 100%;
        transform: translateX(0%);
        width: 100px;
    }
}

.file-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid #f3f3f3;
    transition: all 0.3s ease-in-out;
}

.file-item:hover {
    background-color: #fafafa;
    border-radius: 5px;
}

.file-item h4 {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    color: #000000;
}

.file-name {
    white-space: nowrap;
    width: 32%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding-left: 1.5%;
}

.file-name > img {
    width: 18px;
}

.file-item span {
    color: black;
}

.file-item > h4:nth-child(2) {
    position: absolute;
    margin-left: 35%;
}

.file-item > h4:nth-child(3) {
    position: absolute;
    margin-left: 52%;
}

select {
    height: 50px;
    border: none;
    outline: none;
    background-color: #f6f8fc;
    border-radius: 10px;
    padding: 0 10px;
    width: 200px;
}

.from-device > h3 {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
    margin-left: 5px;
    color: white;
}

.from-device {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: #296eff;
    border-radius: 10px;
}

#folder-selection {
    width: 100%;
    min-height: 50px;
}

.radio-option {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.radio-option .radio input[type='radio'] {
    display: none;
}

.radio-option .radio {
    cursor: pointer;
    border-radius: 10px;
}

.radio-option .radio .radio-content {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #e1e2e7;
    border-radius: 10px;
    position: relative;
}

.radio-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.radio-option .radio .radio-details span {
    margin-bottom: 3px;
    display: block;
    font-size: 1rem;
    line-height: 24px;
    color: #252f42;
}

.container .title {
    font-size: 1rem;
    font-weight: 500;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    color: #252f42;
    margin-bottom: 20px;
}

.radio-option .radio .radio-details p {
    color: #646a79;
    font-size: 0.9rem;
    line-height: 18px;
    margin: 0;
}

.radio-option .radio input[type='radio']:checked + .radio-content:after {
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    background: #0597ff;
    right: 20px;
    top: 20px;
    border-radius: 100%;
    border: 3px solid #fff;
    box-shadow: 0px 0px 0px 2px #0597ff;
}

.radio-option .radio input[type='radio']:checked + .radio-content {
    border: 1px solid #216ee0;
    background: #eaf1fe;
    transition: ease-in 0.3s;
}

.module-selected {
    background-color: #f4f4f4;
}

.module {
    display: none;
    flex-direction: column;
}

.participants-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 15px;
}

.modulable-left > div {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 5%;
    height: 52px;
    font-size: 0.95rem;
    font-weight: bold;
    border-radius: 10px;
}

.user-details > h3 {
    display: flex;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin: 0;
}

.user-details > p {
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(124, 124, 124);
    margin: 0;
}

.user-details {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.user-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #e5e5e5;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
}

.user-infos > img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
}

.modulable-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 15px;
    padding: 8px;
}
.modulable-left::-webkit-scrollbar {
    display: none;
}

.modulable-left {
    display: flex;
    flex-direction: row;
    overflow: auto;
    align-items: center;
    white-space: pre;
    width: inherit;
}

.navbar {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #efefee;
    width: 90px;
    background-color: white;
    height: 100%;
    transition: all 0.3s ease-in-out;
    z-index: 10;
    overflow-y: auto;
}

.active > img {
    filter: brightness(0) invert(1);
}

.navbar > img {
    width: 26px;
    margin-top: 40px;
    cursor: pointer;
    filter: invert(0.5);
}

.navbar > button {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 30px;
    background: transparent;
    border: none;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

.navbar > button > p {
    text-align: center;
    font-size: 11px;
    color: #a7a7a7;
    margin: 0;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
}

.navbar > button > img {
    filter: invert(0.5);
    width: 30px;
    transition: all 0.3s ease-in-out;
}

.navbar-active > img {
    filter: invert(0) !important;
}

.navbar-active > p {
    color: #000 !important;
    font-weight: 600;
}

.modulable-right {
    display: flex;
    flex-direction: row;
    min-height: 52px;
    gap: 8px;
}

.modulable-right > button {
    border-radius: 8px;
    height: 100%;
}
.modulable-right > input {
    border-radius: 5px;
    min-width: 200px;
    height: 100%;
}

.selector-plain > .modulable-left {
    gap: 0;
    width: 100%;
    justify-content: space-between;
}

.selector-plain > .modulable-left > div {
    flex: 1;
    justify-content: center;
}

.burger {
    position: relative;
    display: none;
    cursor: pointer;
    user-select: none;
    order: -1;
    z-index: 10;
    width: 1.6rem;
    height: 1.15rem;
    border: none;
    outline: none;
    background: none;
    visibility: visible;
    transform: rotate(0deg);
    transition: 0.35s ease;
}

.burger-line {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 1.75px;
    border: none;
    outline: none;
    opacity: 1;
    transform: rotate(0deg);
    background-color: #000;
    transition: 0.25s ease-in-out;
}
.burger-line:nth-child(1) {
    top: 0px;
}
.burger-line:nth-child(2) {
    top: 0.5rem;
    width: 70%;
}
.burger-line:nth-child(3) {
    top: 1rem;
}
.burger.is-active .burger-line:nth-child(1) {
    top: 0.5rem;
    transform: rotate(135deg);
}
.burger.is-active .burger-line:nth-child(2) {
    opacity: 0;
    visibility: hidden;
}
.burger.is-active .burger-line:nth-child(3) {
    top: 0.5rem;
    transform: rotate(-135deg);
}

#bottomNav {
    margin-top: auto;
}

.navProfile > img {
    width: 50px !important;
    height: 50px;
    border: 1px solid #e5e5e5;
    object-fit: cover;
    max-height: 50px;
    border-radius: 8px;
    filter: invert(0) !important;
}

.navProfile {
    display: flex !important;
    margin-bottom: 15px;
}

.selector-plain {
    flex-direction: column;
    gap: 10px;
}

.navbar > button:nth-of-type(1) {
    margin-top: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.overlay-content > .toggle > h3 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-right: 10px;
}

.overlay-content > .drop-box {
    margin: 0;
}

.overlay-content > select {
    width: 100%;
}

.overlay-content > input {
    min-height: 50px;
}

.overlay-content > .divider {
    width: 100%;
    min-height: 1px;
    background-color: #eaeaea;
}

.overlay-content > .toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 0;
}

.overlay-content {
    position: absolute;
    overflow-y: auto;
    display: flex;
    pointer-events: none;
    flex-direction: column;
    right: 90px;
    width: 500px;
    padding: 15px;
    gap: 15px;
    height: 100%;
    background-color: #fff;
    border-radius: 15px 0 0 15px;
    opacity: 0;
    transform: translateX(10%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.header-setting {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-setting > div > p {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    color: #9ea1a7;
}

.active-section {
    pointer-events: all;
    opacity: 1;
    z-index: 10;
    transform: translateX(0) !important;
}

.active-layer {
    display: block;
    pointer-events: all !important;
    opacity: 1 !important;
}

.overlay-content > button {
    min-height: 50px;
    margin-top: auto;
}

h1 {
    font-size: 28px;
    margin: 0;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1400px) {
    .files-header > h3:nth-child(2) {
        display: none;
    }
    .files-header > h3:nth-child(3) {
        display: none;
    }

    .file-item > h4:nth-child(2) {
        display: none;
    }

    .file-item > h4:nth-child(3) {
        display: none;
    }

    .file-name {
        width: 100% !important;
    }
}

@media screen and (max-width: 600px) {
    .header-setting > div > p {
        display: none;
    }
    .overlay-content {
        padding: 10px;
        width: 100%;
        height: calc(100% - 60px);
        border-radius: 0;
        border-top: 1px solid #e5e5e5;
        top: 60px;
        left: 0;
        gap: 10px;
    }
    .navbar > div {
        display: block;
        margin-left: 4%;
    }
    .navbar > button {
        display: none;
    }
    .navbar > button {
        margin: 0;
        margin-left: auto;
    }
    .row-bottom-buttons {
        flex-wrap: wrap;
        gap: 10px;
    }
    .navbar > img {
        margin: 0;
        margin-left: 10%;
    }
    .navbar {
        height: 60px;
        flex-direction: row;
        width: 100%;
        border-bottom: 1px solid #efefee;
    }
    .grid-user-container {
        grid-gap: 10px;
    }
    .modulable-left > div {
        flex: 1;
        padding: 0 2%;
        justify-content: center;
    }
    .modulable-header {
        flex-direction: column;
        gap: 10px;
    }
    .modulable-right > button {
        min-height: 52px;
        width: 100%;
    }
    .modulable-left {
        gap: 0;
        width: 100%;
        justify-content: space-between;
    }
    #toast {
        top: 10px;
        right: 10px;
    }
}
