body {
    background-color: #131313;
    font-family: 'Plus Jakarta Sans';
    height: auto;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
}

/* BACKGROUNDS  */


.blur-orange-background {
    background: linear-gradient(180deg, rgba(255, 61, 0, 0.5) 0%, rgba(255, 61, 0, 0) 89.06%);
    filter: blur(148.5px);
    width: 100%;
    height: 9.8125em;
    position: absolute;
    z-index: -9;
}
.light-blur-orange-background {
    background: linear-gradient(180deg, rgba(255, 61, 0, 0.3) 0%, rgba(255, 61, 0, 0) 89.06%);
    filter: blur(148.5px);
    width: 100%;
    height: 9em;
    position: absolute;
    z-index: -9;
}
.high-background-dots {
    position: absolute;
    width: 100%;
    height: 16.625em;
    top: -0.625em;
    left: -0.625em;
    background-image: radial-gradient(#54503F 2px, transparent 0, #131313 100%), linear-gradient(to bottom, #13131300 0%, #131313 100%);
    background-size: 35px 35px;
    background-position: -19px -19px;
    z-index: -11;
}
.high-background-gradient {
    position: absolute;
    width: 100%;
    height: 16.625em;
    left: 0px;
    top: 0px;
    background: linear-gradient(178.31deg, rgba(22, 22, 22, 0.0) 1.43%, rgb(19, 19, 19, 1.0) 90%);
    z-index: -10;
}

.orange-led-light-container {
    width: 100%;
    height: 30%;
    background-image: url(../assets/app/orange_ellipse_led.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: auto;
    padding-top: 15em;
}


/* BANNER */


.banner {
    position: absolute;
    width: 100%;
    height: 3em;
    color: white;
    display: flex;
    text-align: center;
    z-index: 100000000;
    background-color: #131313;
    align-items: center;
}
.title-banner {
    font-size: 1vw;
    justify-content: center;
    text-align: center;
    display: flex;
    margin: auto;
}
.close {
    width: 1em;
    height: auto;
    margin-left: auto;
    margin-right: 1em;
    cursor: pointer;
}
.burger-button-open-menu {
    display: none;
    position: sticky;
    width: 100%;
    height: 50%;
    background: #FF3D00;
}


/* HEADER */


.main-header {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    height: auto;
    width: 100%;
    position: sticky;
    top: 0em;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    overflow: hidden;
    backdrop-filter: blur(8px);
    border-width: 0px  0px 1px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(77,77,77,1) 50%, rgba(0,212,255,0) 100%) 1;
    z-index: 100000;
}
.header-logo-container {
    width: min-content;
    margin-left: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
}
.header-navigation-container {
    width: 30%;
    margin-left: 3em;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
}
.logo-alumet {
    width: 30%;
    height: auto;
    cursor: pointer;
}
.name-logo {
    color: #FFFFFF;
    font-size: 1.7vw;
    margin-left: 1em;
    cursor: pointer;
    transition: 0.1s ease-out;
}
.name-logo:hover {
    color: #FF3D00;
}

.button-header-navigation {
    float: left;
    color: white;
    margin-left: 5%;
    font-size: 1.2vw;
    cursor: pointer;
    transition: 0.1s ease-out;
    text-decoration: none;
}
.button-header-navigation:hover {
    color: #FF3D00;
}
.header-connexion-buttons-container {
    width: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    height: auto;
}
.button-signup-header {
    background: rgba(217, 217, 217, 0);
    color: #FFFFFF;
    border: none;
    float: left;
    font-size: 1.2vw;
    cursor: pointer;
    margin-right: 2em;
    text-decoration: none;
}
.button-signup:hover {
    text-decoration: underline;
}
.button-signin-header {
    float: left;
    font-size: 1.2vw;
    background-color: #FF3D00;
    border-radius: 7px;
    width: 9.25em;
    height: 2.3125em;
    align-items: center;
    cursor: pointer;
    border: none;
    color: white;
    margin-right: 2em;
}



/* PRESENTATION */


.presentation-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    align-items: center;
    text-align: center;
}
.presentation-button-video {
    background: rgba(217, 217, 217, 0.1);
    color: #BBBBBB;
    width: auto;
    border-radius: 40px;
    height: 2.6em;
    border: 0.5px solid #484848;
    font-size: 1vw;
    cursor: pointer;
    transition: 0.3s ease-out;
}
.presentation-button-video:hover {
    color: #131313;
    background: rgba(217, 217, 217, 0.5);
}
.presentation-button-arrow {
    margin-top: auto;
    margin-left: 0.3em;
}
.presentation-slogan {
    color: white;
    font-size: 5vw;
    margin-top: 1.1875em;
}
.presentation-slogan-details {
    color: #BBBBBB;
    margin: auto;
    font-size: 1.9vw;
}
.incentive-join-button {
    width: 9.875em;
    height: 3.1875em;
    margin-top: 2.4375em;
    border-radius: 63px;
    background-color: #FF3D00;
    border: none;
    color: white;
    align-items: center;
    flex-direction: row;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease-out;
}
.incentive-join-button:hover {
    box-shadow: 1px 1px 50px #9c240036;
}
.incentive-join-button-arrow {
    margin-left: 0.8125em;
    width: 0.4375em;
    height: 0.9375em;
}

.presentation-alumet-preview {
    width: 75em;
    max-width: 75%;
    height: auto;
    margin: auto;
    display: block;
    margin-top: 4em;
    border: 0.5px solid #FF3D00;
    filter: drop-shadow(0px 0px 64px rgba(255, 61, 0, 0.1));
    border-radius: 9px;
    z-index: -1;

}


/* DESCRIPTION */


.description-orange-round-border{
    background: #131313;
    max-width: 100%;
    height: 18em;
    border-radius: 80% 80% 0% 0%;
    margin: auto;
    margin-top: 12.5em;
    align-items: center;
    position: relative;
    border-width: 1px 0px 0px 0px;
    border-color: #FF3D00;
    border-style: solid;
    z-index: -5;
}
.description-container {
    background-color: #131313;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6em;
    margin-top: -10em;
    text-align: center;
}
.description-slogan {
    color: #FFFFFF;
    font-size: 5vw;
    margin: auto;
}
.description-slogan-details {
    color: #BBBBBB;
    font-size: 1.5vw;
    margin: auto;

}
.description-boxes-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 3em;
    margin: auto;
}
.description-box {
    height: auto;
    max-height: 10em;
    width: auto;
    max-width: 25%;
    margin-top: 1.6875em;
    padding: 3em 3em 3em 3em;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
    border: 0.5px solid #4E4E4E;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: 0.4s ease-out;
}
.description-box:hover{
    transform: scale(1.03);
    }
.description-box-title {
    color: white;
    font-size: 1.3vw;
    margin: auto;
}
.description-box-details {
    color: #BBBBBB;
    font-size: 1vw;
    margin: auto;
}



/* ARGUMENTS */






.argument-big-title {
    color: #FFFFFF;
    max-width: 50%;
    font-weight: 500;
    font-size: 4vw;
    margin: auto;
}
.separation-line {
    width: 60%;
    height: 1px;
    background-color: #4D4D4D;
    margin: auto;
    margin-top: 5em;
}
.arguments-global-container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;

}
.argument-container {
    width: auto;
    max-width: 30%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: start;
    margin-top: 2em;
}
.argument-title {
    color: #BBBBBB;
    font-size: 1.1vw;
    font-weight: 500;
}
.argument-details {
    font-size: 1vw;
    color: #BBBBBB;
    float: left;
    font-weight: 300;
}
.argument-illustration {
    height: auto;
    width: auto;
    margin-right: 1em;
}



/* WHY ADOPT */

.class-argument-container {
    max-width: 75%;
    height: 30em;
    margin: auto;
    margin-top: 5em;
    padding: 0em 2em 0em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: 1px dashed #bbbbbb5a;
    border-radius: 20px;
}
.class-selector-container {
    width: auto;
    min-width: 30%;
    height: auto;
}
.class-selector-title {
    color: #FFFFFF;
    font-size: 1.5vw;
}
.class-selector-choices-container {
    width: 100% inherit;
    max-height: 100%;
}  
.class-choices {
    width: 90%;
    background: rgba(217, 217, 217, 0.1);
    border-radius: 5px;
    height: 35px;
    color: #BBBBBB;
    cursor: pointer;
    border: 0.5px solid #484848;
    margin: auto;
    display: block;
    margin-top: 0.3125em;
    transition: 0.2s cubic-bezier(.16,.93,.79,.9);
}
.class-choices:hover {
    background: rgba(217, 217, 217, 0.5);
}
.class-argument-preview-container {
    width: 60%;
    max-height: 80%;
    text-align: center;
    color: #BBBBBB;
}
.image {
    position: absolute;
    margin-left: 30em;
    width: 30%;
}

/* FOOTER  */

.footer-container {
    color: white;
    background: linear-gradient(-105deg, #131313, #461000);
    border-width: 1px  0px 0px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(77,77,77,1) 50%, rgba(0,212,255,0) 100%) 1;
    width: 100%;
    margin-top: 3em;
    height: auto;
    max-height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    bottom: 0;
    z-index: 1000;
}
.footer-logo {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 0em;
    height: auto;
    border-bottom: 1px solid #BBBBBB;
}
.logo-alumet-footer {
    width: 20%;
    height: auto;
    cursor: pointer; 
    margin-bottom: 1em;   
}
.title-alumet-footer {
    font-size: 1.7vw;
    margin: auto;
    margin-right: auto;
    cursor: pointer;
    transition: 0.1s ease-out;
}
.title-alumet-footer:hover {
    color: #FF3D00;
}
.footer-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
    width: 50%;
    margin-top: 1em;
}
.footer-paragraph {
    justify-content: center;
}
.terms-of-service {
    cursor: pointer;
    transition: 0.1s ease-out;
}
.terms-of-service:hover {
    color: #FF3D00;
}

@media screen and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .blur-orange-background {
        position: relative;
    }
    .main-header {
        position: absolute;
        flex-direction: row;
        transform: translateY(-110%);
        background-color: #1c1c1c;
        min-width: 0;
        width: 100%;
        margin: 0;
        height: auto;
        border-bottom: 2px solid #BBBBBB;
        z-index: 100000;
    }
    .logo-alumet {
        width: 20%;
        height: auto;
    }
    .name-logo {
        font-size: 6vw;
    }
    .header-logo-navigation-container {
        max-width: 30%;
    }
    .button-header-navigation {
        font-size: 4vw;
        margin-top: 2em;
    }
    .header-connexion-buttons-container {
        display: block;
        max-height: 20%;
        max-width: 50%;
        flex-direction: row;
        margin-top: auto;
    }
    .button-signin-header {
        font-size: 5vw;
        margin-right: none;
    }
    .button-signup-header {
        font-size: 5vw;
    }
    .burger-button-open-menu {
        display: flex;
        position: absolute;
        right: 0;
        width: 10%;
        height: 10%;
        background: #FF3D00;
        z-index: 4000000;
        border: none;
        border-radius: 0px 0px 0px 50px;
    }
    .presentation-button-video {
        width: auto;
        max-height: 20%;
        font-size: 4vw;
        position: relative;
        margin-top: -5em;
    }
    .presentation-slogan {
        font-size: 7vw;
    }
    .presentation-slogan-details {
        font-size: 4vw;
    }
    .incentive-join-button {
        max-width: 60%;
        font-size: 4vw;
    }
    .presentation-alumet-preview {
        display: none;
    }
    .description-orange-round-border {
        width: 100%;
        position: relative;
        margin-top: -6em;
    }
    .description-container {
        padding: 0em;
    }
    .description-slogan {
        font-size: 7vw;
        font-weight: 700;
        width: 100%;
    }
    .description-slogan-details {
        font-size: 4vw;
        margin-top: 1em;
        padding: 0em 1em 0em 1em;
    }
    .description-boxes-container {
        margin-top: 1.1707em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 1em;

    }
    .description-box {
        max-width: 100%;
    }
    .description-box-title {
        font-size: 6vw;
    }
    .description-box-details {
        font-size: 4vw;
    }
    .orange-led-light-container {
        width: 100%;
        background-image: url(../assets/app/orange_ellipse_led.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        padding: 5em 1em 0em 1em;
    }
    .argument-big-title {
        font-size: 7vw;
        max-width: 100%;
        margin: auto;

    }
    .separation-line {
        margin: auto;
        display: block;
        margin-top: 3em;
    }
    .arguments-global-container {
        max-width: 100%;
        position: relative;
    }
    .argument-container {
        max-width: calc(100em - 4em);
        margin-left: 2em;
    }
    .argument-title {
        font-size: 3vw;
    }
    .argument-details {
        font-size: 2.7vw;
    }
    .argument-illustration {
        max-width: 15%;
        height: auto;
    }
    .class-argument-container {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
    }
    .class-selector-title {
        font-size: 6vw;
        width: 90%;
    }
    .class-selector-choices-container {
        max-height: 8em;
        overflow: scroll;
    }
    .class-argument-preview {
        max-width: 100%;
        height: auto;
        margin-bottom: 1em;
    }
    .footer-container {
        width: 100%;
        max-height: 20em;
        border-width: 1px  0px 0px;
        border-style: solid;
        border-image: linear-gradient(90deg, #BBBBBB 0%, rgba(77,77,77,1) 50%, #540f00 100%) 1;
    }
    .footer-logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: auto;
        border: none;
    }
    .title-alumet-footer {
        font-size: 10vw;
    }
    .footer-links-container {
        width: 100%;
        align-items: center;
    }
}

