body {
    background-color: #131313;
    background-image: url(../assets/app/dots.svg);
    font-family: 'Plus Jakarta Sans';
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;

}
.blur-orange-background {
    background: linear-gradient(180deg, rgba(255, 61, 0, 0.5) 0%, rgba(255, 61, 0, 0) 89.06%);
    filter: blur(148.5px);
    width: 100%;
    height: 9.8125em;
    z-index: -100;

}
.main-header {
    background: rgba(217, 217, 217, 0.01);
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    height: 5.5em;
    width: 100%;
    position: sticky;
    overflow: hidden;
    backdrop-filter: blur(8px);
    display: flex;
    border-width: 0px  0px 1px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(77,77,77,1) 50%, rgba(0,212,255,0) 100%) 1;
}
.header-logo-navigation-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
}
.logo-alumet {
    width: 1.1875em;
    height: 1.75em;
    margin-left: 5%;
    position: relative;
}
.name-logo {
    color: #FFFFFF;
    font-size: 24px;
    float: left;
}

.button-header-navigation {
    float: left;
    color: white;
    margin-left: 5%;
    font-size: 14px;
    cursor: pointer;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}
.button-header-navigation:hover {
    color: #FF3D00;
}
.header-connexion-buttons-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    height: auto;
}
.button-signup-header {
    background: rgba(217, 217, 217, 0);
    color: #FFFFFF;
    border: none;
    float: left;
    font-size: 14px;
    cursor: pointer;
    margin-right: 2em;
}
.button-signup:hover {
    text-decoration: underline;
}
.button-signin-header {
    float: left;
    background-color: #FF3D00;
    border-radius: 7px;
    width: 9.25em;
    height: 2.3125em;
    align-items: center;
    cursor: pointer;
    border: none;
    color: white;
}
.presentation {
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    align-items: center;
}
.button-video {
    background: rgba(217, 217, 217, 0.1);
    color: #BBBBBB;
    border-radius: 40px;
    width: 232px;
    height: 32px;
    border: 0.5px solid #484848;
    font-size: 12px;
    margin: auto;
    cursor: pointer;
    animation: 1s ease-in-out;
}
.button-video:hover {
    background: rgba(217, 217, 217, 0.5);
}
.petite-flèche {
    margin-left: 9px;
}
.slogan {
    color: white;
    font-size: 96px;
    margin: auto;
    margin-top: 19px;
}
.sous-titre-slogan {
    margin-top: 8px;
    color: #BBBBBB;
    margin: auto;
    font-size: 28px;
}
.button-join {
    width: 158px;
    height: 51px;
    margin: auto;
    margin-top: 39px;
    border-radius: 63px;
    background-color: #FF3D00;
    border: none;
    color: white;
    align-items: center;
    flex-direction: row;
    display: block;
    font-size: 15px;
    cursor: pointer;
}
.moyenne-flèche {
    margin-left: 13px;
    width: 7px;
    height: 15px;
}
.apercu {
    width: 1585px;
    height: 891px;
    margin-top: 62px;
    align-items: center;
}
.border{
    width: 1100px;
    height: 150px;
    border: 0px;
    border-top: 1px solid red;
    border-radius: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 200px;
    align-items: center;
}
.second-slogan {
    color: white;
    font-size: 64px;
    margin-top: 350px;
    margin: auto;
}
.second-sous-titre-slogan {
    color: #BBBBBB;
    font-size: 24px;
    margin-top: 0px;
    margin: auto;
}
.some-boxes{
    display: flex;
    flex-direction: row;
}
.first-box {
    margin-top: 27px;
    width: 494px;
    height: 281px;
    margin-left: 1.5%;
    background-color: #4E4E4E;
    border-radius: 15px;
    flex-direction: column;
    display: flex;
    cursor: pointer;
}
.first-titre {
    color: white;
    margin-top: 209px;
    font-size: 20px;
    margin: auto;
}
.first-sous-titre {
    color: #BBBBBB;
    font-size: 14px;
    margin-top: 25px;
    margin: auto;
}
.second-box {
    width: 494px;
    height: 281px;
    background-color: #4E4E4E;
    border-radius: 15px;
    flex-direction: column;
    display: flex;
    margin-left: 35px;
    margin-top: 27px;
    cursor: pointer;
}
.third-box {
    margin-top: 421px;
    width: 494px;
    height: 281px;
    margin-left: 184px;
    background-color: #4E4E4E;
    border-radius: 15px;
    flex-direction: column;
    display: flex;
    cursor: pointer;
}
.fourth-box {
    width: 1023px;
    height: 281px;
    background-color: #4E4E4E;
    margin-top: 27px;
    border-radius: 15px;
    margin-left: 35px;
    cursor: pointer;
}
.arguments {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 798px;
    border-top: 1px solid rgba(255, 61, 0, 0.5);
    margin-left: 573px;
    background: linear-gradient(rgba(255, 61, 0, 0.5), #131313);
    backdrop-filter: blur(34,5px);
}
.raison {
    color: white;
    font-size: 80px;
    margin-top: 60px;
}
.ligne {
    width: 1101px;
    border: 1px solid #4D4D4D;
}
.arguments-2 {
    flex-direction: row;
    display: flex;
    width: 1101px;
    border-top: 1px solid #4D4D4D;
    margin-left: 422px;
}
.synchro {
    margin-top: 71px;
    width: 18px;
    height: 17px;
}
.synchro-titre {
    margin-top: 66px;
    color: #BBBBBB;
    font-size: 14px;
    margin-left: 17px;
}
.eclair {
    width: 14.55px;
    height: 20px;
    margin-left: 105px;
    margin-top: 68px;
}
.cube {
    width: 17px;
    height: 18px;
    margin-top: 71px;
    margin-left: 105px;
}
.arguments-3 {
    display: flex;
    flex-direction: row;
}
.ondes {
    width: 18px;
    height: 11px;
    margin-left: 422px;
    margin-top: 18px;
}
.ondes-titre {
    color: #BBBBBB;
    margin-left: 17px;
    font-size: 14px;
}
.camera {
    width: 18px;
    height: 14px;
    margin-top: 18px; 
    margin-left: 105px;
}
