body {
    background-color: #131313;
    font-family: 'Plus Jakarta Sans';
    height: auto;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
}

/* TOP BACKGROUND  */


.blur-orange-background {
    background: linear-gradient(180deg, rgba(255, 61, 0, 0.5) 0%, rgba(255, 61, 0, 0) 89.06%);
    filter: blur(148.5px);
    width: 100%;
    height: 9.8125em;
    position: absolute;
    z-index: -9;
}
.light-blur-orange-background {
    background: linear-gradient(180deg, rgba(255, 61, 0, 0.3) 0%, rgba(255, 61, 0, 0) 89.06%);
    filter: blur(148.5px);
    width: 100%;
    height: 9em;
    position: absolute;
    z-index: -9;
}
.high-background-dots {
    position: absolute;
    width: 100%;
    height: 16.625em;
    top: -0.625em;
    left: -0.625em;
    background-image: radial-gradient(#54503F 2px, transparent 0, #131313 100%), linear-gradient(to bottom, #13131300 0%, #131313 100%);
    background-size: 35px 35px;
    background-position: -19px -19px;
    z-index: -11;
}
.high-background-gradient {
    position: absolute;
    width: 100%;
    height: 16.625em;
    left: 0px;
    top: 0px;
    background: linear-gradient(178.31deg, rgba(22, 22, 22, 0.0) 1.43%, rgb(19, 19, 19, 1.0) 90%);
    z-index: -10;
}


/* HEADER */


.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    height:auto;
    width: 100%;
    position: sticky;
    top: 0em;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    overflow: hidden;
    backdrop-filter: blur(8px);
    border-width: 0px  0px 1px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(77,77,77,1) 50%, rgba(0,212,255,0) 100%) 1;
    z-index: 400000;
}
.burger-button-open-menu {
    display: none;
    position: sticky;
    width: 100%;
    height: 50%;
    background: #FF3D00;
}
.header-logo-navigation-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
}
.logo-alumet {
    width: 1.1875em;
    height: 1.75em;
    margin-left: 5%;
    position: relative;
    cursor: pointer;
}
.name-logo {
    color: #FFFFFF;
    font-size: 1.7vw;
    float: left;
    cursor: pointer;
    transition: 0.1s ease-out;
}
.name-logo:hover {
    color: #FF3D00;
}

.button-header-navigation {
    float: left;
    color: white;
    margin-left: 5%;
    font-size: 1.2vw;
    cursor: pointer;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
}
.button-header-navigation:hover {
    color: #FF3D00;
}
.header-connexion-buttons-container {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    height: auto;
}
.button-signup-header {
    background: rgba(217, 217, 217, 0);
    color: #FFFFFF;
    border: none;
    float: left;
    font-size: 1.2vw;
    cursor: pointer;
    margin-right: 2em;
    text-decoration: none;
}
.button-signup:hover {
    text-decoration: underline;
}
.button-signin-header {
    float: left;
    font-size: 1.2vw;
    background-color: #FF3D00;
    border-radius: 7px;
    width: 9.25em;
    height: 2.3125em;
    align-items: center;
    cursor: pointer;
    border: none;
    color: white;
    margin-right: 2em;
}



/* BIG TITLE */

.big-project-title-container {
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 5em;
    backdrop-filter: blur(1px);
}
.big-project-logo {
    width: 20%;
    height: auto;
}
.big-project-text-container {
    line-height: 1;
}
.big-project-title {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15vw;
}
.big-project-title-details {
    color: #BBBBBB;
    font-weight: 300;
    font-size: 2vw;
}
.global-presentation-container {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.separation-line {
    width: 70%;
    height: 1px;
    background: linear-gradient(to right, #131313, #FF3D00, #131313);
    margin: auto;
    margin-top: 5em;
    position: relative;
}




/* INTRODUCTION */


.introduction-global-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(2,0,36,0) 0%, #FF3D00 50%, rgba(0,212,255,0) 100%) 1;
    margin-top: 5em;
    backdrop-filter: blur(100000000000px);
    background: #131313;
}
.introduction-box-container {
    height: 16em;
    width: auto;
    max-width: 40%;
    margin-top: 1.6875em;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
    border: 0.5px solid #4E4E4E;
    border-radius: 15px;
    text-align: center;
    transition: 0.4s ease-out;
}
.introduction-box-title-container {
    margin: auto;
    width: 60%;
    text-align: center;
}

.introduction-box-title {
    font-size: 2vw;
    color: #FFFFFF;
    margin: auto;
    margin-top: 1em;
    position: relative;
}
.introduction-details {
    color: #FFFFFF;
    font-size: 1.1vw;
    font-weight: 300;
}


/* FOOTER  */

.footer-container {
    color: white;
    background: linear-gradient(-105deg, #131313, #461000);
    border-width: 1px  0px 0px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(77,77,77,1) 50%, rgba(0,212,255,0) 100%) 1;
    width: 100%;
    margin-top: 3em;
    height: auto;
    max-height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    bottom: 0;
    z-index: 1000;
}
.footer-logo {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 0em;
    height: auto;
    border-bottom: 1px solid #BBBBBB;
}
.logo-alumet-footer {
    width: 20%;
    height: auto;
    cursor: pointer; 
    margin-bottom: 1em;   
}
.title-alumet-footer {
    font-size: 1.7vw;
    margin: auto;
    cursor: pointer;
    transition: 0.1s ease-out;
}
.name-logo-footer:hover {
    color: #FF3D00;
}
.footer-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
    width: 50%;
    margin-top: 1em;
}
.footer-paragraph {
    justify-content: center;
}
.terms-of-service {
    cursor: pointer;
    transition: 0.1s ease-out;
}
.terms-of-service:hover {
    color: #FF3D00;
}

@media screen and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .main-header {
        position: absolute;
        flex-direction: row;
        transform: translateY(-110%);
        background-color: #1c1c1c;
        min-width: 0;
        width: 100%;
        margin: 0;
        height: auto;
        border-bottom: 2px solid #BBBBBB;
        z-index: 100000;
    }
    .logo-alumet {
        width: 20%;
        height: auto;
    }
    .name-logo {
        font-size: 6vw;
    }
    .header-logo-navigation-container {
        max-width: 30%;
    }
    .button-header-navigation {
        font-size: 4vw;
        margin-top: 2em;
    }
    .header-connexion-buttons-container {
        display: block;
        max-height: 20%;
        max-width: 50%;
        flex-direction: row;
        margin-top: auto;
    }
    .button-signin-header {
        font-size: 5vw;
        margin-right: none;
    }
    .button-signup-header {
        font-size: 5vw;
    }
    .burger-button-open-menu {
        display: flex;
        position: absolute;
        right: 0;
        width: 10%;
        height: 10%;
        background: #FF3D00;
        z-index: 4000000;
        border: none;
        border-radius: 0px 0px 0px 50px;
    }
    .big-project-title {
        font-size: 18vw;
        margin-left: 1vh;
    }
    .big-project-title-details {
        font-size: 5vw;
        margin-left: 1vh;
    }
    .introduction-global-container {
        margin-top: 1.1707em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 1em;
    }
    .introduction-box-container {
        max-width: 100%;
        height: auto;
    }
    .introduction-box-title-container {
        width: 90%;
    }
    .introduction-box-title {
        font-size: 9vw;
    }
    .introduction-details {
        font-size: 6vw;
    }
    .footer-container {
        width: 100%;
        max-height: 20em;
        border-width: 1px  0px 0px;
        border-style: solid;
        border-image: linear-gradient(90deg, #BBBBBB 0%, rgba(77,77,77,1) 50%, #540f00 100%) 1;
    }
    .footer-logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: auto;
        border: none;
    }
    .title-alumet-footer {
        font-size: 10vw;
    }
    .footer-links-container {
        width: 100%;
        align-items: center;
    }
}
