body {
    height: 100%;
    top: 0;
    left: 0;
    background-color: #131313;
    margin: 0;
    padding: 30px;
}

.dots {
    position: absolute;
    width: 100%;
    height: 180px;
    top: -10px;
    left: -10px;
    background-image: radial-gradient(#54503F 2px, transparent 0);
    background-size: 35px 35px;
    background-position: -19px -19px;
    z-index: -10;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 55px;
}

.logo {
    height: 100%;
}

.title {
    color: white;
    margin-left: 15px;
    font-size: 26px;
    font-weight: 600;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 169px;
    left: 0px;
    top: 0px;
    background: linear-gradient(178.31deg, rgba(22, 22, 22, 0.0) 1.43%, rgb(19, 19, 19, 1.0) 90%);
    z-index: -1;
}

.thin-title {
    color: white;
    font-size: 40px;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 15px;
}

.input {
    background: rgba(217, 217, 217, 0.2);
    border-radius: 6px;
    border: none;
    outline: none;
    height: 48px;
    padding: 0 20px;
    color: white;
    margin-bottom: 15px;
    transition: all 0.5s ease-in-out;
}

.input:focus {
    background: rgba(152, 152, 152, 0.5);
    color: #FFFFFF;
    transform: scale(1.005);
}

.high-container {
    display: flex;
    flex-direction: row;
}

.low-container {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgba(12, 12, 12, 0.5);
    border: 0.5px solid #3D3D3D;
    border-radius: 6px;
    outline: none;
    height: 48px;
    padding: 0 20px;
    color: white;
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.4s ease-in-out;

}
.button:hover {
    background: rgba(25, 25, 25, 0.5);
    border: 0.2px solid #AAAAAA;
    border-radius: 8px;
}
.button-img {
    width: 12px;
    margin-left: 10px;
}

.features {
    display: flex;
    flex-direction: column;
    max-width: 408px;
    max-height: 90%;
    align-items: center;
    padding: 10px;
    background: rgba(12, 12, 12, 0.5);
    border: 0.5px solid #3D3D3D;
    border-radius: 6px;
    flex-wrap: wrap;
}
.feature-title {
    color: #FFFFFF;
    margin: auto;
    font-size: calc(1.2vw + 1.0em);
    font-weight: 100;

}


.new-feature {
    display: flex;
    max-width: 330px;
    max-height: 40%;
    flex-direction: column;
    align-items: left;
    background: rgba(100, 100, 100,0.1);
    border: 0.5px solid #838383;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
    padding: 10px;
}

.feature-text {
    color: #FFFFFF;
    font-weight: 300;
    font-size: calc(0.4vw + 1.0em);
    margin-bottom: 5px;
    margin-top: 0;
}
.feature-description {
    color: #D0D0D0;
    font-weight: 100;
    font-size: 12px;
    line-height: 14.6px;
    margin: 0;
}
.feature-img {
    width: 90%;
    margin: auto;
}

.feature-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgba(100, 100, 100,0.1);
    border: 0.5px solid #3D3D3D;
    border-radius: 6px;
    outline: none;
    height: 48px;
    padding: 0 20px;
    color: white;
    margin-bottom: 3%px;
    margin-top: 3%;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.4s ease-in-out;

}
.feature-button:hover {
    background: rgba(25, 25, 25, 0.5);
    border: 0.2px solid #AAAAAA;
}

@media screen and (max-width: 768px) {
    .high-container {
        flex-direction: column;
    }
}
    