body {
    background-color: #131313;
    font-family: 'Plus Jakarta Sans';
    height: auto;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
}

/* TOP BACKGROUND  */


.blur-orange-background {
    background: linear-gradient(180deg, rgba(255, 61, 0, 0.5) 0%, rgba(255, 61, 0, 0) 89.06%);
    filter: blur(148.5px);
    width: 100%;
    height: 9.8125em;
    position: absolute;
    z-index: -9;
}
.light-blur-orange-background {
    background: linear-gradient(180deg, rgba(255, 61, 0, 0.3) 0%, rgba(255, 61, 0, 0) 89.06%);
    filter: blur(148.5px);
    width: 100%;
    height: 9em;
    position: absolute;
    z-index: -9;
}
.high-background-dots {
    position: absolute;
    width: 100%;
    height: 16.625em;
    top: -0.625em;
    left: -0.625em;
    background-image: radial-gradient(#54503F 2px, transparent 0, #131313 100%), linear-gradient(to bottom, #13131300 0%, #131313 100%);
    background-size: 35px 35px;
    background-position: -19px -19px;
    z-index: -11;
}
.high-background-gradient {
    position: absolute;
    width: 100%;
    height: 16.625em;
    left: 0px;
    top: 0px;
    background: linear-gradient(178.31deg, rgba(22, 22, 22, 0.0) 1.43%, rgb(19, 19, 19, 1.0) 90%);
    z-index: -10;
}


/* HEADER */


.main-header {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    height: auto;
    width: 100%;
    position: sticky;
    top: 0em;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    overflow: hidden;
    backdrop-filter: blur(8px);
    border-width: 0px  0px 1px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(77,77,77,1) 50%, rgba(0,212,255,0) 100%) 1;
    z-index: 100000;
}
.header-logo-container {
    width: min-content;
    margin-left: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
}
.header-navigation-container {
    width: 30%;
    margin-left: 3em;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
}
.logo-alumet {
    width: 30%;
    height: auto;
    cursor: pointer;
}
.name-logo {
    color: #FFFFFF;
    font-size: 1.7vw;
    margin-left: 1em;
    cursor: pointer;
    transition: 0.1s ease-out;
}
.name-logo:hover {
    color: #FF3D00;
}

.button-header-navigation {
    float: left;
    color: white;
    margin-left: 5%;
    font-size: 1.2vw;
    cursor: pointer;
    transition: 0.1s ease-out;
    text-decoration: none;
}
.button-header-navigation:hover {
    color: #FF3D00;
}
.header-connexion-buttons-container {
    width: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    height: auto;
}
.button-signup-header {
    background: rgba(217, 217, 217, 0);
    color: #FFFFFF;
    border: none;
    float: left;
    font-size: 1.2vw;
    cursor: pointer;
    margin-right: 2em;
    text-decoration: none;
}
.button-signup:hover {
    text-decoration: underline;
}
.button-signin-header {
    float: left;
    font-size: 1.2vw;
    background-color: #FF3D00;
    border-radius: 7px;
    width: 9.25em;
    height: 2.3125em;
    align-items: center;
    cursor: pointer;
    border: none;
    color: white;
    margin-right: 2em;
}
.burger-button-open-menu {
    display: none;
    position: sticky;
    width: 100%;
    height: 50%;
    background: #FF3D00;
}



/* BIG TITLE */

.big-project-title-container {
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 5em;
    backdrop-filter: blur(1px);
}
.big-project-text-container {
    line-height: 1.2;
}
.big-main-title {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 5vw;
}
.big-project-title-details {
    color: #BBBBBB;
    font-weight: 300;
    font-size: 1.5vw;
    width: 70%;
    padding-top: 2em;
    margin: auto;
}
.incentive-join-button {
    width: 12em;
    height: 4em;
    margin-top: 3em;
    border-radius: 63px;
    background-color: #FF3D00;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease-out;
}
.incentive-join-button:hover {
    box-shadow: 1px 1px 50px #9c240036;
}
.incentive-join-button-arrow {
    margin-left: 0.8125em;
    width: 0.4375em;
    height: 0.9375em;
}


.global-presentation-container {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}


.separation-line {
    width: 70%;
    height: 1px;
    background: linear-gradient(to right, #131313, #FF3D00, #131313);
    margin: auto;
    margin-top: 5em;
    position: relative;
}




/* Comparaison */
.comparaison-global-container {
    width: 100%;
    height: auto;
    background: #131313;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
}
.comparaison-big-title {
    font-size: 4vw;
    color: #FFFFFF;
}
.comparaison-arguments-container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.comparaison-argument {
    color: #FFFFFF;
    width: 30%;
    height: auto;
    padding: 0em 1em 0em 1em;
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-image: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(77,77,77,1) 50%, rgba(0,212,255,0) 100%) 1;
}
.comparaison-argument-illustration {
    width:  7%;
    margin-top: 1em;
    height: auto;
    opacity: 1;
}
.comparaison-argument-title {
    font-size: 2vw;
}
.comparaison-argument-paragraph {
    font-weight: 100;
}



/* FOOTER  */

.footer-container {
    color: white;
    background: linear-gradient(-105deg, #131313, #461000);
    border-width: 1px  0px 0px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(77,77,77,1) 50%, rgba(0,212,255,0) 100%) 1;
    width: 100%;
    height: auto;
    max-height: 10em;
    display: flex;
    margin-top: 3em;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    bottom: 0;
    z-index: 1000;
}
.footer-logo {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 0em;
    height: auto;
    border-bottom: 1px solid #BBBBBB;
}
.logo-alumet-footer {
    width: 20%;
    height: auto;
    cursor: pointer; 
    margin-bottom: 1em;   
}
.title-alumet-footer {
    font-size: 1.7vw;
    margin: auto;
    cursor: pointer;
    transition: 0.1s ease-out;
}
.name-logo-footer:hover {
    color: #FF3D00;
}
.footer-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
    width: 100%;
    margin-top: 1em;
}
.footer-paragraph {
    justify-content: center;
}
.footer-links {
    cursor: pointer;
    transition: 0.1s ease-out;
}
.footer-links:hover {
    color: #FF3D00;
}

@media screen and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .blur-orange-background {
        position: relative;
    }
    .main-header {
        position: absolute;
        flex-direction: row;
        flex-wrap: wrap;
        transform: translateY(-110%);
        background-color: #1c1c1c;
        min-width: 0;
        width: 100%;
        margin: 0;
        height: auto;
        border-bottom: 2px solid #BBBBBB;
        z-index: 100000;
    }
    .header-logo-container {
        width: 51%;
        margin-left: 1em;
        margin-top: 1em;
    }
    .logo-alumet {
        width: 20%;
        height: auto;
    }
    .name-logo {
        font-size: 6vw;
    }
    .header-navigation-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin-left: 1em;
    }
    .button-header-navigation {
        font-size: 4vw;
        margin-top: 2em;
    }
    .header-connexion-buttons-container {
        display: block;
        max-height: 20%;
        max-width: 45%;
        flex-direction: row;
        margin-top: auto;
        margin-right: auto;
    }
    .button-signin-header {
        font-size: 5vw;
        margin-top: 1em;
    }
    .button-signup-header {
        font-size: 5vw;
    }
    .burger-button-open-menu {
        display: flex;
        position: absolute;
        right: 0;
        width: 10%;
        height: 10%;
        background: #FF3D00;
        z-index: 4000000;
        border: none;
        border-radius: 0px 0px 0px 50px;
    }
    .big-project-title {
        font-size: 22vw;
        margin-left: 1vh;
        margin-top: none;
    }
    .big-project-title-details {
        font-size: 5vw;
        margin-left: 1vh;
    }
    .introduction-global-container {
        margin-top: 1.1707em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 1em;
    }
    .introduction-box-container {
        max-width: 100%;
        height: auto;
    }
    .introduction-box-title-container {
        width: 90%;
    }
    .introduction-box-title {
        font-size: 9vw;
    }
    .introduction-details {
        font-size: 6vw;
    }
    .footer-container {
        width: 100%;
        max-height: auto;
        margin-bottom: 0em;
        border-width: 1px  0px 0px;
        border-style: solid;
        border-image: linear-gradient(90deg, #BBBBBB 0%, rgba(77,77,77,1) 50%, #540f00 100%) 1;
    }
    .footer-logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: auto;
        border: none;
    }
    .title-alumet-footer {
        font-size: 10vw;
    }
    .footer-links-container {
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 6vw;
        background: linear-gradient(-105deg, #131313, #461000);
    }
    .footer-hyphen {
        display: none;
    }
}
