<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="icon" href="../assets/global/alumet.ico" />
        <meta
            name="description"
            content="Alumet Education : Un environnement numérique de travail innovant, offrant un écosystème complet d'outils conçus pour favoriser la réussite éducative. Unique en son genre, il a été développé par et pour les élèves et les professeurs. Fièrement maintenu et hébergé en France, il incarne l'excellence dans l'éducation numérique."
        />
        <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers, education, messagerie, français, temps réel, gratuit" />
        <meta property="og:title" content="Alumet Education" />
        <meta
            property="og:description"
            content="Alumet Education : Un environnement numérique de travail innovant, offrant un écosystème complet d'outils conçus pour favoriser la réussite éducative. Unique en son genre, il a été développé par et pour les élèves et les professeurs. Fièrement maintenu et hébergé en France, il incarne l'excellence dans l'éducation numérique."
        />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://education.alumet.io" />
        <meta property="og:image" content="https://i.imgur.com/r9fXjM9.png" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:domain" content="alumet.io" />
        <meta name="twitter:url" content="https://education.alumet.io" />
        <meta name="twitter:title" content="Alumet Education" />
        <meta
            name="twitter:description"
            content="Alumet Education : Un environnement numérique de travail innovant, offrant un écosystème complet d'outils conçus pour favoriser la réussite éducative. Unique en son genre, il a été développé par et pour les élèves et les professeurs. Fièrement maintenu et hébergé en France, il incarne l'excellence dans l'éducation numérique."
        />
        <meta name="twitter:image" content="https://i.imgur.com/r9fXjM9.png" />

        <link href="../../style/authentification/authentification.css" rel="stylesheet" type="text/css" />
        <link href="../../style/global.css" rel="stylesheet" type="text/css" />

        <title>Alumet - Auth Portal</title>
    </head>
    <body>
        <section class="loading" style="display: flex">
            <h4>Alumet <span>Education</span></h4>
            <span class="loader-bar"></span>
        </section>

        <div id="toast"></div>
        <section class="access load">
            <section class="full-screen">
                <span class="loader"></span>
                <h3>Autorisation en cours</h3>
            </section>
            <div class="container">
                <h1>Accès au support</h1>
                <div class="public-nc">
                    <button class="large connect">Se connecter avec Alumet</button>
                    <button class="large greyed guest">Accéder en tant que visiteur</button>
                </div>
                <div class="public-c">
                    <div class="user-infos">
                        <img src="../../assets/default/default_user.png" />
                        <div class="user-details">
                            <h3>Name Lastname</h3>
                            <p>Connecté</p>
                        </div>
                    </div>
                    <button class="large join">Accéder</button>
                </div>

                <div class="onpassword-nc">
                    <div class="user-details">
                        <h3>Mot de passe</h3>
                        <p>Fournissez le mot de passe pour accéder au support</p>
                    </div>
                    <input class="code" type="text" placeholder="Mot de passe" />
                    <button class="large join">Accéder</button>
                </div>
                <div class="onpassword-c">
                    <div class="user-infos">
                        <img src="../../assets/default/default_user.png" />
                        <div class="user-details">
                            <h3>Name Lastname</h3>
                            <p>Connecté</p>
                        </div>
                    </div>
                    <input class="code" type="text" placeholder="Mot de passe" />
                    <button class="large join">Accéder</button>
                </div>
                <div class="closed-nc">
                    <div class="user-details">
                        <h3>Ce support est privé</h3>
                        <p>Si vous êtes membre de ce support, connectez vous !</p>
                    </div>
                    <button class="large connect">Se connecter</button>
                </div>
                <div class="closed-c">
                    <div class="user-infos">
                        <img src="../../assets/default/default_user.png" />
                        <div class="user-details">
                            <h3>Name Lastname</h3>
                            <p>Connecté</p>
                        </div>
                    </div>
                    <div class="user-details">
                        <h3>Ce support est privé</h3>
                        <p>Vous êtes connecté, mais vous n'avez pas été autorisé à y accéder. Veuillez demander au gestionnaire de vous ajouter.</p>
                    </div>
                </div>
                <span class="footer-infos">
                    <p>Besoin d'aide ?</p>
                    <p onclick="window.location.href='/auth/signup'">Pas de compte ?</p>
                </span>
            </div>
        </section>
        <section class="appInfos">
            <div class="appDetails">
                <h1>Alumet titre</h1>
                <h3>Alumet description</h3>
            </div>
            <img />
        </section>
    </body>
    <script src="../../script/global.js"></script>
    <script src="../../script/authentification/authentification.js"></script>
</html>
