<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="icon" href="../assets/global/alumet.ico" />
        <meta
            name="description"
            content="Alumet Education: an innovative digital workspace with a complete ecosystem of tools designed to workspace educational success. Built by and for students and teachers."
        />
        <meta name="keywords" content="Alumet, class, free, organization, boards, files, education, messaging, English, real time" />
        <meta property="og:title" content="Alumet Education" />
        <meta
            property="og:description"
            content="Alumet Education: an innovative digital workspace with a complete ecosystem of tools designed to workspace educational success. Built by and for students and teachers."
        />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://education.alumet.io" />
        <meta property="og:image" content="https://i.imgur.com/r9fXjM9.png" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:domain" content="alumet.io" />
        <meta name="twitter:url" content="https://education.alumet.io" />
        <meta name="twitter:title" content="Alumet Education" />
        <meta
            name="twitter:description"
            content="Alumet Education: an innovative digital workspace with a complete ecosystem of tools designed to workspace educational success. Built by and for students and teachers."
        />
        <meta name="twitter:image" content="https://i.imgur.com/r9fXjM9.png" />

        <link href="../../style/authentification/authentification.css" rel="stylesheet" type="text/css" />
        <link href="../../style/global.css" rel="stylesheet" type="text/css" />

        <title>Alumet - Auth Portal</title>
    </head>
    <body>
        <section class="loading" style="display: flex">
            <h4>Alumet <span>Education</span></h4>
            <span class="loader-bar"></span>
        </section>

        <div id="toast"></div>
        <section class="access load">
            <section class="full-screen">
                <span class="loader"></span>
                <h3>Autorisation en cours</h3>
            </section>
            <div class="alumet-status-div">
                <div onclick="toggleDetailsIncidents()" class="alumet-status">
                    <div class="lookup">
                        <div data-incident="red" class="indicator"></div>
                        <p>//</p>
                    </div>

                    <div class="details-incidents">
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
            <div class="container">
                <h1>Access au workspace</h1>
                <div class="public-nc">
                    <button class="large connect">Sign in avec Alumet</button>
                    <button class="large greyed guest">Continue as guest</button>
                </div>
                <div class="public-c">
                    <div class="user-infos">
                        <img src="../../assets/default/default_user.png" />
                        <div class="user-details">
                            <h3>Name Lastname</h3>
                            <p>Signed in</p>
                        </div>
                    </div>
                    <button class="large join">Access</button>
                </div>

                <div class="onpassword-nc">
                    <div class="user-details">
                        <h3>Password</h3>
                        <p>Enter the password to access the workspace</p>
                    </div>
                    <input class="code" type="text" placeholder="Password" />
                    <button class="large join">Access</button>
                </div>
                <div class="onpassword-c">
                    <div class="user-infos">
                        <img src="../../assets/default/default_user.png" />
                        <div class="user-details">
                            <h3>Name Lastname</h3>
                            <p>Signed in</p>
                        </div>
                    </div>
                    <input class="code" type="text" placeholder="Password" />
                    <button class="large join">Access</button>
                </div>
                <div class="closed-nc">
                    <div class="user-details">
                        <h3>This workspace is private</h3>
                        <p>If you are a member of this workspace, sign in.</p>
                    </div>
                    <button class="large connect">Sign in</button>
                </div>
                <div class="closed-c">
                    <div class="user-infos">
                        <img src="../../assets/default/default_user.png" />
                        <div class="user-details">
                            <h3>Name Lastname</h3>
                            <p>Signed in</p>
                        </div>
                    </div>
                    <div class="user-details">
                        <h3>This workspace is private</h3>
                        <p>You are signed in, but you have not been authorized to access it. Please ask the manager to add you.</p>
                    </div>
                </div>
                <span class="footer-infos">
                    <p>Besoin d'aide ?</p>
                    <p data-type="signup" class="connect">No account?</p>
                </span>
            </div>
        </section>
        <section class="appInfos">
            <div class="appDetails">
                <h1>Alumet titre</h1>
                <h3>Alumet description</h3>
            </div>
            <img />
        </section>
    </body>
    <script src="../../script/global.js"></script>
    <script src="../../script/authentification/authentification.js"></script>
</html>
