<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="icon" href="../assets/global/alumet.ico" />

        <meta name="description" content="Alumet, vous donnez les outils." />
        <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers" />
        <meta property="og:title" content="Alumet: La flamme de l’innovation au service de l’éducation." />
        <meta property="og:description" content="L'outil gratuit, open-source, pour l'éducation, construit par des élèves, pour des professeurs. Maintenu et hébergé en France." />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://education.alumet.io" />
        <meta property="og:image" content="https://i.imgur.com/O9RdHj1.png" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:domain" content="alumet.io" />
        <meta name="twitter:url" content="https://education.alumet.io/" />
        <meta name="twitter:title" content="Alumet: Une nouvelle façon d'organiser vos classes." />
        <meta name="twitter:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !" />
        <meta name="twitter:image" content="https://i.imgur.com/O9RdHj1.png" />

        <link href="../../style/authentification/authentication.css" rel="stylesheet" type="text/css" />
        <link href="../../style/global.css" rel="stylesheet" type="text/css" />

        <title>Alumet - Auth Portal</title>
    </head>
    <body>
        <section class="loading" style="display: flex">
            <h4>Alumet <span>Education</span></h4>
            <span class="loader-bar"></span>
        </section>

        <div id="toast"></div>
        <section class="access load">
            <section class="full-screen">
                <span class="loader"></span>
                <h3>Autorisation en cours</h3>
            </section>
            <div class="container">
                <h1>Accès à l'Alumet</h1>
                <div class="public-nc">
                    <button class="large connect">Se connecter avec Alumet</button>
                    <button class="large greyed guest">Acceder en tant que visiteur</button>
                </div>
                <div class="public-c">
                    <div class="user-infos">
                        <img src="../../assets/default/default_user.png" />
                        <div class="user-details">
                            <h3>Name Lastname</h3>
                            <p>Connecté</p>
                        </div>
                    </div>
                    <button class="large join">Rejoindre cet Alumet</button>
                </div>
                <div class="private-nc">
                    <div class="user-infos">
                        <div class="user-details">
                            <h3>Cet Alumet est privé</h3>
                            <p>Vous devez vous conneter pour continuer</p>
                        </div>
                    </div>
                    <button class="large connect">Se connecter</button>
                </div>
                <div class="private-c">
                    <div class="user-infos">
                        <img src="../../assets/default/default_user.png" />
                        <div class="user-details">
                            <h3>Gabriel Lancelot</h3>
                            <p>Connecté</p>
                        </div>
                    </div>
                    <input class="code" type="text" placeholder="Code d'accès" />
                    <button class="large join">Rejoindre cet Alumet privé</button>
                </div>
                <span class="footer-infos">
                    <p>Besoin d'aide ?</p>
                    <p style="cursor: not-allowed">Pas de compte ?</p>
                </span>
            </div>
        </section>
        <section class="appInfos">
            <div class="appDetails">
                <h1>Alumet titre</h1>
                <h3>Alumet description</h3>
                <p>Créé par <span id="creator">utilisateur </span>utilisé <span id="lastusage">bien logntemps</span></p>
            </div>
            <img />
        </section>
    </body>
    <script src="../../script/global.js"></script>
    <script src="../../script/authentification/authentification.js"></script>
</html>
