<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <link rel="icon" href="../assets/global/alumet.ico" />

        <meta name="description" content="Alumet, vous donnez les outils." />
        <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers" />
        <meta property="og:title" content="Alumet: La flamme de l’innovation au service de l’éducation." />
        <meta property="og:description" content="L'outil gratuit, open-source, pour l'éducation, construit par des élèves, pour des professeurs. Maintenu et hébergé en France." />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://education.alumet.io" />
        <meta property="og:image" content="https://i.imgur.com/O9RdHj1.png" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:domain" content="alumet.io" />
        <meta name="twitter:url" content="https://education.alumet.io/" />
        <meta name="twitter:title" content="Alumet: Une nouvelle façon d'organiser vos classes." />
        <meta name="twitter:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !" />
        <meta name="twitter:image" content="https://i.imgur.com/O9RdHj1.png" />

        <link href="../../style/authentification/authentification.css" rel="stylesheet" type="text/css" />
        <link href="../../style/global.css" rel="stylesheet" type="text/css" />

        <title>Alumet - Auth Portal</title>
    </head>
    <body>
        <section class="loading" style="display: flex">
            <h4>Alumet <span>Education</span></h4>
            <span class="loader-bar"></span>
        </section>

        <div id="toast"></div>
        <section class="access load">
            <section style="display: none" class="full-screen">
                <span class="loader"></span>
                <h3>Patientez, nous y sommes presque !</h3>
            </section>
            <div class="container">
                <h1>Alumet <span>Education</span></h1>
                <div class="choose activeStep">
                    <div class="user-details">
                        <h3>Choissisez le type de compte</h3>
                        <p>Acceder a des outils personnalisées selon votre usage.</p>
                    </div>
                    <div class="options">
                        <div id="student">
                            <h3>Compte élève</h3>
                            <p>Pour profiter de puissants outils pour réussir votre scolarité</p>
                        </div>
                        <div id="professor">
                            <h3>Compte professeur</h3>
                            <p>Accompagnez vos élèves dans leur réussite scolaire. Enseignez davantage avec Alumet.</p>
                        </div>
                    </div>
                    <button class="large continue">Continuer</button>
                </div>

                <div class="verify">
                    <div class="user-infos">
                        <div class="user-details">
                            <h3>Confirmer votre e-mail</h3>
                            <p>Un code de sécurité vous a été envoyé</p>
                        </div>
                    </div>
                    <input id="code" type="text" placeholder="Code de sécurité" />

                    <button class="large confirm">Rejoindre Alumet</button>
                </div>

                <!-- ------------------------------------ -->

                <div class="signup">
                    <div class="row-inputs">
                        <input id="name" type="text" placeholder="Prénom" />
                        <input id="lastname" type="text" placeholder="Nom" />
                    </div>
                    <input id="mail" type="email" placeholder="Adresse mail" />
                    <input id="password" type="password" placeholder="Mot de passe" />
                    <button onclick="verify()" class="large">Continuer</button>
                </div>

                <!-- ------------------------------------ -->

                <span class="footer-infos">
                    <p>Vous accepter les CGU d'Alumet</p>
                    <p onclick="window.location.href='/auth/signin'">Déja de compte ?</p>
                </span>
            </div>
        </section>
    </body>
    <script src="../../script/global.js"></script>
    <script src="../../script/authentification/signup.js"></script>
</html>
