<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../assets/global/alumet.ico" />

    <meta name="description" content="Alumet, explorer d'une nouvelle façon.">
    <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers">
    <meta property="og:title" content="Alumet: Explorer d'une nouvelle façon.">
    <meta property="og:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://alumet.io">
    <meta property="og:image" content="https://i.imgur.com/O9RdHj1.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="alumet.io">
    <meta name="twitter:url" content="https://alumet.io/">
    <meta name="twitter:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
    <meta name="twitter:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta name="twitter:image" content="https://i.imgur.com/O9RdHj1.png">

    <link rel="stylesheet" href="../style/authentification/signin.css"/>
    <link rel="stylesheet" type="text/css" href="../style/global.css">

    <title>Alumet - Connexion</title>
</head>
<body>
    <div id="toast"></div>
    <div class="login-container">


        <div class="forgot-password full-screen">
            <h1>Mot de passe oublié</h1>
            <p>Un code de sécurité vous a été envoyé sur votre adresse email.</p>
            <input autocomplete="off" type="text" name="code-reset-password" id="code-reset-password" placeholder="Entrez le code de sécurité">
            <input autocomplete="off" type="password" name="new-password-input" id="new-password-input" placeholder="Entrez votre nouveau mot de passe">
            <button type="submit" id="log-reset-password">Modifier mon mot de passe</button>
            <h4>Code non reçu ?</h4>
        </div>

        <div class="loading-login full-screen">
            <span class="loader"></span>
        </div>

        <div class="a2f-challenge full-screen">
            <h1>Défi de sécurité</h1>
            <p>Une code de sécurité vous a été envoyé sur votre adresse email.</p>
            <input autocomplete="off" type="text" name="a2f-code" id="a2f-code" placeholder="Entrez le code de sécurité">
            <button type="submit" id="a2f-log">Se connecter</button>
            <h4>Code non reçu ?</h4>
        </div>


        <img src="../../assets/global/branding.png">
        <h1>Se connecter à Alumet</h1>
        <p>Alumet, vous donner les outils pour enseigner +, Mashallah</p>
        <div class="input-container">
            <label for="mail">Adresse mail</label>
            <input type="text" name="mail" id="mail" placeholder="Entrez votre adresse mail">
        </div>
        <div class="input-container">
            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password" placeholder="Entrez votre mot de passe">
        </div>
        <button type="submit" id="login-btn">Se connecter</button>
        <h4 id="forgot-password">Mot de passe oublié ?</h4>
    </div>
</body>
<script src="../../script/authentification/signin.js"></script>
<script src="../../script/global.js"></script>
</html>