<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="icon" href="../assets/global/alumet.ico" />
        <meta
            name="description"
            content="Alumet Education: an innovative digital workspace with a complete ecosystem of tools designed to workspace educational success. Built by and for students and teachers."
        />
        <meta name="keywords" content="Alumet, class, free, organization, boards, files, education, messaging, English, real time" />
        <meta property="og:title" content="Alumet Education" />
        <meta
            property="og:description"
            content="Alumet Education: an innovative digital workspace with a complete ecosystem of tools designed to workspace educational success. Built by and for students and teachers."
        />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://education.alumet.io" />
        <meta property="og:image" content="https://i.imgur.com/r9fXjM9.png" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:domain" content="alumet.io" />
        <meta name="twitter:url" content="https://education.alumet.io" />
        <meta name="twitter:title" content="Alumet Education" />
        <meta
            name="twitter:description"
            content="Alumet Education: an innovative digital workspace with a complete ecosystem of tools designed to workspace educational success. Built by and for students and teachers."
        />
        <meta name="twitter:image" content="https://i.imgur.com/r9fXjM9.png" />

        <link href="../../style/authentification/authentification.css" rel="stylesheet" type="text/css" />
        <link href="../../style/global.css" rel="stylesheet" type="text/css" />

        <title>Alumet - Auth Portal</title>
    </head>
    <body>
        <section class="loading" style="display: flex">
            <h4>Alumet <span>Education</span></h4>
            <span class="loader-bar"></span>
        </section>

        <div id="toast"></div>
        <section class="access load">
            <section style="display: none" class="full-screen">
                <span class="loader"></span>
                <h3>We are signing you in to your account</h3>
            </section>
            <div class="alumet-status-div">
                <div onclick="toggleDetailsIncidents()" class="alumet-status">
                    <div class="lookup">
                        <div data-incident="red" class="indicator"></div>
                        <p>1 major incident in progress</p>
                    </div>

                    <div class="details-incidents">
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
            <div class="container">
                <h1>Alumet <span>Education</span></h1>
                <div class="login-container activeStep">
                    <div class="user-details">
                        <h3>Sign-in Portal</h3>
                        <p>Enter your credentials to access your workspace.</p>
                    </div>
                    <input id="mail" type="email" placeholder="Email address" />
                    <input id="password" type="password" placeholder="Password" />
                    <button onclick="login()" id="login" class="large">Sign in</button>
                </div>

                <div class="verify">
                    <div class="user-details">
                        <h3>Security Challenge</h3>
                        <p>A security code has been sent to you</p>
                    </div>
                    <input id="code" type="text" placeholder="Security code" />
                    <div class="warning-box">Did not receive a code? Check your spam folder. A code can take up to 10 minutes to arrive the first time.</div>

                    <button onclick="authorizeCode()" class="large">Confirm code</button>
                </div>

                <!-- ------------------------------------ -->

                <div class="fg-passwd">
                    <div class="user-details">
                        <h3>Confirm your identity</h3>
                        <p>A security code has been sent to you</p>
                    </div>
                    <input id="auth-code" type="text" placeholder="Code" />
                    <input id="new-password" type="password" placeholder="New password" />
                    <div class="buttons">
                        <button onclick="backToLogin()" class="large greyed">Back</button>
                        <button onclick="resetPassword()" class="large">Change password</button>
                    </div>
                </div>

                <!-- ------------------------------------ -->
                <span class="footer-infos">
                    <p onclick="handleReset()">Forgot password?</p>
                    <p onclick="window.location.href='/auth/signup' + window.location.search">No account?</p>
                </span>
            </div>
        </section>
    </body>
    <script src="../../script/global.js"></script>
    <script src="../../script/authentification/signin.js"></script>
</html>
