<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="icon" href="../assets/global/alumet.ico" />
        <meta
            name="description"
            content="Alumet Education : Un environnement numérique de travail innovant, offrant un écosystème complet d'outils conçus pour favoriser la réussite éducative. Unique en son genre, il a été développé par et pour les élèves et les professeurs. Fièrement maintenu et hébergé en France, il incarne l'excellence dans l'éducation numérique."
        />
        <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers, education, messagerie, français, temps réel, gratuit" />
        <meta property="og:title" content="Alumet Education" />
        <meta
            property="og:description"
            content="Alumet Education : Un environnement numérique de travail innovant, offrant un écosystème complet d'outils conçus pour favoriser la réussite éducative. Unique en son genre, il a été développé par et pour les élèves et les professeurs. Fièrement maintenu et hébergé en France, il incarne l'excellence dans l'éducation numérique."
        />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://education.alumet.io" />
        <meta property="og:image" content="https://i.imgur.com/r9fXjM9.png" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:domain" content="alumet.io" />
        <meta name="twitter:url" content="https://education.alumet.io" />
        <meta name="twitter:title" content="Alumet Education" />
        <meta
            name="twitter:description"
            content="Alumet Education : Un environnement numérique de travail innovant, offrant un écosystème complet d'outils conçus pour favoriser la réussite éducative. Unique en son genre, il a été développé par et pour les élèves et les professeurs. Fièrement maintenu et hébergé en France, il incarne l'excellence dans l'éducation numérique."
        />
        <meta name="twitter:image" content="https://i.imgur.com/r9fXjM9.png" />

        <link href="../../style/authentification/authentification.css" rel="stylesheet" type="text/css" />
        <link href="../../style/global.css" rel="stylesheet" type="text/css" />

        <title>Alumet - Auth Portal</title>
    </head>
    <body>
        <section class="loading" style="display: flex">
            <h4>Alumet <span>Education</span></h4>
            <span class="loader-bar"></span>
        </section>

        <div id="toast"></div>
        <section class="access load">
            <section style="display: none" class="full-screen">
                <span class="loader"></span>
                <h3>Patientez, nous y sommes presque !</h3>
            </section>
            <div class="alumet-status-div">
                <div onclick="toggleDetailsIncidents()" class="alumet-status">
                    <div class="lookup">
                        <div data-incident="red" class="indicator"></div>
                        <p>1 incident majeur en cours</p>
                    </div>

                    <div class="details-incidents">
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
            <div class="container">
                <h1>Alumet <span>Education</span></h1>
                <div class="choose activeStep">
                    <div class="user-details">
                        <h3>Choissisez le type de compte</h3>
                        <p>Accéder a des outils personnalisés selon votre usage.</p>
                    </div>
                    <div class="options">
                        <div id="student">
                            <h3>Compte élève</h3>
                            <p>Profitez de puissants outils pour réussir dans votre parcours scolaire !</p>
                        </div>
                        <div id="professor">
                            <h3>Compte professeur</h3>
                            <p>Accompagnez vos élèves dans leur réussite scolaire. Enseignez davantage avec Alumet Education.</p>
                        </div>
                    </div>
                    <button class="large continue">Continuer</button>
                </div>

                <div class="verify">
                    <div class="user-details">
                        <h3>Confirmer votre e-mail</h3>
                        <p>Un code de sécurité vous a été envoyé</p>
                    </div>

                    <input id="code" type="text" placeholder="Code de sécurité" />
                    <div class="warning-box">Attention, pensez à vérifier vos <strong>spams</strong> ! (Un code peut prendre jusqu'à 10 minutes pour arriver la première fois.)</div>
                    <button class="large confirm">Rejoindre Alumet Education !</button>
                </div>

                <!-- ------------------------------------ -->

                <div class="signup">
                    <div class="row-inputs">
                        <input id="name" type="text" placeholder="Prénom" />
                        <input id="lastname" type="text" placeholder="Nom" />
                    </div>
                    <input id="mail" type="email" placeholder="Adresse mail (académique si professeur)" />
                    <input id="password" type="password" placeholder="Mot de passe" />
                    <div class="warning-box">Votre confidentialité est notre priorité ! Soyez assuré que votre <strong>adresse mail</strong> sera seulement visible par vous-même, garantissant ainsi votre vie privée et sécurité.</div>
                    <button onclick="verify()" class="large">Continuer</button>
                </div>

                <!-- ------------------------------------ -->

                <span class="footer-infos">
                    <p onclick="window.location.href='/legal/tos'">Vous acceptez les CGU d'Alumet</p>
                    <p onclick="window.location.href='/auth/signin' + window.location.search">Déja un compte ?</p>
                </span>
            </div>
        </section>
    </body>
    <script src="../../script/global.js"></script>
    <script src="../../script/authentification/signup.js"></script>
</html>
