<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="icon" href="../assets/global/alumet.ico" />
        <meta
            name="description"
            content="Alumet Education : Un environnement numérique de travail innovant, offrant un écosystème complet d'outils conçus pour favoriser la réussite éducative. Unique en son genre, il a été développé par et pour les élèves et les professeurs. Fièrement maintenu et hébergé en France, il incarne l'excellence dans l'éducation numérique."
        />
        <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers, education, messagerie, français, temps réel, gratuit" />
        <meta property="og:title" content="Alumet Education" />
        <meta
            property="og:description"
            content="Alumet Education : Un environnement numérique de travail innovant, offrant un écosystème complet d'outils conçus pour favoriser la réussite éducative. Unique en son genre, il a été développé par et pour les élèves et les professeurs. Fièrement maintenu et hébergé en France, il incarne l'excellence dans l'éducation numérique."
        />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://education.alumet.io" />
        <meta property="og:image" content="https://i.imgur.com/r9fXjM9.png" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:domain" content="alumet.io" />
        <meta name="twitter:url" content="https://education.alumet.io" />
        <meta name="twitter:title" content="Alumet Education" />
        <meta
            name="twitter:description"
            content="Alumet Education : Un environnement numérique de travail innovant, offrant un écosystème complet d'outils conçus pour favoriser la réussite éducative. Unique en son genre, il a été développé par et pour les élèves et les professeurs. Fièrement maintenu et hébergé en France, il incarne l'excellence dans l'éducation numérique."
        />
        <meta name="twitter:image" content="https://i.imgur.com/r9fXjM9.png" />

        <link href="../../style/authentification/authentification.css" rel="stylesheet" type="text/css" />
        <link href="../../style/global.css" rel="stylesheet" type="text/css" />

        <title>Alumet - Auth Portal</title>
    </head>
    <body>
        <section class="loading" style="display: flex">
            <h4>Alumet <span>Education</span></h4>
            <span class="loader-bar"></span>
        </section>

        <div id="toast"></div>
        <section class="access load">
            <section style="display: none" class="full-screen">
                <span class="loader"></span>
                <h3>Nous essayons de vous connecter à votre compte</h3>
            </section>
            <div class="container">
                <h1>Alumet <span>Education</span></h1>
                <div class="divider"></div>
                <div class="login-container activeStep">
                    <div class="user-details">
                        <h3>Portail de connexion</h3>
                        <p>Fournissez vos identifiants pour accéder à votre espace.</p>
                    </div>
                    <input id="mail" type="email" placeholder="Adresse mail" />
                    <input id="password" type="password" placeholder="Mot de passe" />
                    <button onclick="login()" id="login" class="large">Se connecter</button>
                </div>

                <div class="verify">
                    <div class="user-details">
                        <h3>Défis de sécurité</h3>
                        <p>Un code de sécurité vous a été envoyé</p>
                    </div>
                    <input id="code" type="text" placeholder="Code de sécurité" />
                    <div class="warning-box">Vous n'avez pas reçu de code ? Verifier vos spams ! (Un code peut prendre jusqu'à 10 minutes pour arriver la première fois.)</div>

                    <button onclick="authorizeCode()" class="large">Confirmer le code</button>
                </div>

                <!-- ------------------------------------ -->

                <div class="fg-passwd">
                    <div class="user-details">
                        <h3>Confirmer votre identité</h3>
                        <p>Un code de sécurité vous a été envoyé</p>
                    </div>
                    <input id="auth-code" type="text" placeholder="Code" />
                    <input id="new-password" type="password" placeholder="Nouveau mot de passe" />
                    <div class="buttons">
                        <button onclick="backToLogin()" class="large greyed">Retour</button>
                        <button onclick="resetPassword()" class="large">Changer de mot de passe</button>
                    </div>
                </div>

                <!-- ------------------------------------ -->
                <span class="footer-infos">
                    <p onclick="handleReset()">Mot de passe oublié ?</p>
                    <p onclick="window.location.href='/auth/signup' + window.location.search">Pas de compte ?</p>
                </span>
            </div>
        </section>
    </body>
    <script src="../../script/global.js"></script>
    <script src="../../script/authentification/signin.js"></script>
</html>
