body {
    background-color: #f6f8fc;
    backdrop-filter: none;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: white;
    min-height: 70px;
    border-radius: 10px;
}

.header > div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    overflow: auto;
    justify-content: center;
}

.header > div:nth-of-type(1) > h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.choose {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.choose > .choose-option {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #e2e2e2;
}

.choose > div > div > h1 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
}

.choose > div > button {
    margin-left: auto;
}

.choose > div > div > p {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
}

.choose > div > div {
    margin-left: 5px;
}

.header > div:nth-of-type(1) > p {
    margin: 0;
    font-size: 14px;
    color: #919191;
    font-weight: 400;
}

.header > button {
    margin-left: auto;
    height: 100%;
}

.alumet-content {
    flex-direction: column;
}

.new-flashcard {
    border: 1px dashed #dddddd !important;
    height: 125px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    align-items: center;
    cursor: pointer;
}

.flashcards > #toolbar {
    margin-bottom: 10px;
}

.description-container {
    margin-bottom: 10px;
}

#toolbar {
    margin: 0;
}

.new-flashcard > img {
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
    filter: invert(0.5);
}

.new-flashcard > h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #919191;
}

.alumet {
    gap: 15px;
}

.flashcards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 15px;
    overflow-y: auto;
}

.flashcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #dddddd;
    background-color: white;
    height: 125px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
}
.verify-flashcards > .flashcards-container > .flashcard > h1 {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.flashcard:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
}

[data-status='3'] {
    border: 2px solid #296eff;
}
[data-status='2'] {
    border: 2px solid #f0ac00;
}
[data-status='1'] {
    border: 2px solid #ff0000;
}

.flashcard > h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.ia > .keywords {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.ia > .keywords > button {
    flex-grow: 0;
}
.ia > .keywords > input {
    flex-grow: 1;
    width: auto;
}

@media screen and (max-width: 600px) {
    .choose {
        gap: 10px;
    }
    .choose > .choose-option {
        padding: 10px;
    }
    .header > div:nth-of-type(1) > p {
        display: none;
    }
    .alumet {
        gap: 10px;
    }
    .flashcards-container {
        grid-gap: 10px;
    }
}

.overlay-content > h3 {
    font-size: 1rem;
    font-weight: 400;
    color: #9ea1a7;
    margin: 0;
}
