body {
    display: flex;
    flex-direction: column;
    background-color: #f6f8fc;
    padding: 15px;
    margin: 0;
    overflow: hidden;
}

html,
body {
    height: calc(100% - 15px);
    min-height: calc(100% - 15px);
}

#flashcardTitle {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0;
}

#flashcardDescription {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
}

@media (max-width: 600px) {
    body {
        flex-direction: column;
        padding: 10px;
    }
    html,
    body {
        height: calc(100% - 10px);
        min-height: calc(100% - 10px);
    }
    .choose {
        width: calc(100% - 22px);
        gap: 10px;
    }
    .choose > div {
        padding: 10px;
    }
}
