* {
    user-select: none;
    z-index: 1;
}
.hidden-left {
    position: absolute;
    display: flex !important;
    transform: translateX(-5%) !important;
    opacity: 0 !important;
    z-index: 0 !important;
}
.hidden-right {
    position: absolute;
    display: flex !important;
    transform: translateX(5%) !important;
    opacity: 0 !important;
    z-index: 0 !important;
}

body {
    display: flex;
    flex-direction: row;
    background-color: #f6f8fc;
    padding: 20px;
    margin: 0;
    overflow: hidden;
}

html,
body {
    height: calc(100% - 20px);
    min-height: calc(100% - 20px);
}

#loading-mindflash {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 100000;
    background-color: #f6f8fc;
}
#loading-mindflash.active-loading {
    display: flex !important;
}

.overlay {
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
    background: #00000098;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    cursor: pointer;
}
.prompt-active {
    visibility: visible !important;
    opacity: 1 !important;
}
.create-flashcard-container {
    position: absolute;
    z-index: 1000;
    right: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    background: #fff;
    max-height: 80%;
    width: fit-content;
    transition: all 0.3s ease-in-out;
    transform: translate(50%, -50%);
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.active-section > p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    color: #454545;
    margin-bottom: 5px;
}

.warning-box {
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
    background-color: #cc7e714e;
    margin-top: 10px;
    border: 1px solid #cc7e71;
    padding: 10px 15px;
    border-radius: 5px;
}

.create-flashcard-container > section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 750px;
    height: fit-content;
    gap: 10px;
    overflow-y: auto;
    padding: 20px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
.create-flashcard-container > section {
    transform: translateX(0%);
    opacity: 1;
    z-index: 1;
}
.create-flashcard-container > section > h1 {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
}
.create-flashcard-container > section > .create-flashcard-buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    gap: 10px;
    width: 100%;
    align-self: flex-end;
    justify-content: space-between;
}

.create-flashcard-container > section > .create-flashcard-buttons-container > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
#creating-with-ai-btn {
    background: linear-gradient(133deg, #296eff 0%, #553bf1 53.13%, #7c36d7 100%);
    padding-left: 6px;
    font-size: 0.85em;
}
#creating-with-ai-btn > img {
    width: 45px;
    height: 45px;
}
#delete-btn-new-flashcard {
    background-color: #c02b10;
}
.create-flashcard-container > section > .flashcard {
    width: calc(100% - 45px);
    height: fit-content;
    gap: 20px;
    min-height: 180px;
    align-self: center;
}
.create-flashcard-container > section > .flashcard > textarea {
    caret-color: #858585;
    width: calc(100% - 20px);
    height: 85px;
    padding: 10px;
    resize: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
}

.create-flashcard-container > section > .upload-document-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    width: calc(100% - 20px);
    height: 290px;
    padding: 10px;
    border-radius: 10px;
    border: 1px dashed #c6c9ce;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-align: center;
}
.create-flashcard-container > section > .upload-document-container:hover {
    background-color: #0000000a;
}

#check-flashcards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(160px, 1fr));
    gap: 20px;
    width: 100%;
    height: 300px;
    overflow-y: auto;
}

.main-sub-container {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 14px;
    flex-shrink: 1;
    width: 20%;
    background-color: white;
    height: calc(100vh - 80px);
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.main-sub-container > .title {
    overflow-wrap: break-word;
    font-size: 1.6rem;
}
.informations-display-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}
.informations-display-buttons > button {
    width: 33.33%;
    height: fit-content;
    font-size: 0.72em;
    padding: 10px 10px;
    border: none;
    box-shadow: inset 0 0 0 1px #296eff;
}

.main-sub-container > .informations {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    height: calc(100% - 50px);
    max-height: calc(100% - 50px);
}
.informations > section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    height: fit-content;
    max-height: calc(100% - 70px);
    margin-top: 10px;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
}
.informations > .sub-container-buttons {
    width: 100%;
    position: absolute;
    bottom: 0px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.informations > .sub-container-buttons > :last-child {
    display: none;
}
section > .sub-section-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 14px;
    margin-bottom: 2px;
    width: 100%;
    height: fit-content;
}
.last-section-child {
    padding-bottom: 15px;
}
.sub-section-box > h2 {
    font-size: 1.4em;
    font-weight: 500;
    margin: 0;
    text-align: left;
}
.sub-section-box > .percentage-bar {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    width: 100%;
    height: 10px;
}

.sub-section-box > .percentage-bar > #percentage-bar-good {
    background-color: #00c75a;
    width: 37%;
}

.sub-section-box > .percentage-bar > #percentage-bar-ok {
    background-color: #f0ac00;
    width: 17%;
}

.sub-section-box > .percentage-bar > #percentage-bar-bad {
    background-color: #f00;
    width: 6%;
}

.sub-section-box > .percentage-bar > #percentage-bar-unrated {
    background-color: #c6c9ce;
    width: 40%;
}

.sub-section-box > .stats-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    height: fit-content;
}
.stats-info-container > .stats-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
    width: 100%;
    height: fit-content;
}

.stats-info-container > .stats-info > svg {
    min-width: 15px;
    min-height: 15px;
}

.stats-info-container > .stats-info > p {
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    text-align: left;
}
.stats-info-container > .stats-info > svg > circle::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #296eff;
}
.sub-section-box.set-basic-informations {
    gap: 0px;
}
.sub-section-box > .set-basic-informations-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 10px 0;
}

.sub-section-box > .set-basic-informations-container > h3 {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
    color: #000000;
}

.sub-section-box > .set-basic-informations-container > p {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    color: #9198a3;
}

.filter-section > .sub-section-box > .sub-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 13px;
    width: calc(100% - 4px);
    height: fit-content;
    padding-left: 4px;
    cursor: pointer;
}

.filter-section > .sub-section-box > .sub-box > p {
    margin: 0;
}

.filter-section > .sub-section-box > .sub-box > svg {
    min-width: 15px;
    min-height: 15px;
}
.sub-box > svg > circle {
    fill: white;
    stroke: rgb(41, 110, 255);
    transition: all 0.3s ease-in-out;
}
.sub-box.filter-activate > svg > circle,
.sub-box.sort-activate > svg > circle {
    fill: rgb(41, 110, 255);
}

.main-container {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-shrink: 1;
    background-color: white;
    width: calc(100vw - 390px);
    height: calc(100vh - 80px);
    padding: 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.main-container > .full-screen {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.main-container > .full-screen > h1 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    text-align: center;
}
.main-container > .full-screen > p {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    color: #9ea1a7;
    text-align: center;
}

#loading-section-sub-container,
#loading-flashcard-container {
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.loading-element {
    display: none !important;
}
.active-loading > .loading-element {
    display: flex !important;
}

.main-container > .infos-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.main-container > .infos-bar > h2 {
    margin: 0;
    font-size: 1.8em;
    font-weight: 400;
}

.main-container > .infos-bar > .buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
#open-sub-container-btn {
    display: none;
}

.main-flashcard-container > .options > img {
    width: 32px;
    cursor: pointer;
}
#flashcards-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(160px, 1fr));
    gap: 20px;
    width: 100%;
    height: 100%;
    margin: 20px 0px;
    overflow-y: auto;
}
#flashcards-container > .information-screen-flashcards-container {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
#flashcards-container > .information-screen-flashcards-container > h1 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    text-align: center;
}
#flashcards-container > .information-screen-flashcards-container > p {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    color: #9ea1a7;
    text-align: center;
}
#flashcards-container > .information-screen-flashcards-container:hover {
    transform: scale(0.98);
    background-color: #0000000a;
}
.flashcard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    min-height: 115px;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #c6c9ce;
    background: #fff;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.flashcard-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 100%;
    z-index: 99;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.flashcard.active-selection {
    cursor: pointer;
}
.flashcard.active-selection:hover {
    transform: scale(0.98);
    background-color: #00000004;
}
.flashcard.flashcard-selected {
    cursor: pointer;
    transform: scale(0.95);
    background-color: #0000000a;
    border: 3px solid #1e54e3;
}

.flashcard-good {
    border: 3px solid #00c75a;
}
.flashcard-ok {
    border: 3px solid #f0ac00;
}
.flashcard-bad {
    border: 3px solid #f00;
}
.flashcard-unrated {
    border: 3px solid #c6c9ce;
}

.flashcard > .flashcard-options {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    position: absolute;
    top: 10px;
    right: 8px;
}

.flashcard > .flashcard-question,
.flashcard > .flashcard-answer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #000;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    transition: all ease-in-out 500ms;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flashcard > .flashcard-divider {
    width: 80%;
    height: 1px;
    background: #c6c9ce;
}

@media (min-width: 1000px) {
    .main-container,
    .main-sub-container {
        display: flex !important;
    }
}
@media (max-width: 1000px) {
    html,
    body {
        height: calc(100% - 10px);
        min-height: calc(100% - 10px);
    }
    .create-flashcard-container {
        width: calc(100% - 20px);
    }
    .create-flashcard-buttons-container > div {
        flex-direction: column !important;
        flex-wrap: nowrap !important;
        width: 100%;
    }
    .create-flashcard-buttons-container > button,
    .create-flashcard-buttons-container > div > button {
        width: 100%;
    }
    .create-flashcard-buttons-container > div > div {
        padding: 0 20px;
    }
    body {
        padding: 10px;
    }
    #toast {
        position: absolute !important;
        top: 20px !important;
        right: 20px !important;
        max-width: calc(100% - 80px);
    }
    .main-container,
    .main-sub-container {
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 10px;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
    }
    .main-sub-container {
        opacity: 0;
        z-index: 0;

        transform: translateY(100%);
    }
    .main-container {
        opacity: 1;
        z-index: 1;
    }
    body.active-sub-container > .main-container {
        opacity: 0;
        z-index: 0;
    }

    body.active-sub-container > .main-sub-container {
        opacity: 1;
        z-index: 1;
        transform: translateY(0%);
    }

    body.active-prompt > .main-container {
        opacity: 0;
        z-index: 0;
    }

    body.active-prompt > .main-sub-container {
        opacity: 0;
        z-index: 0;
        transform: translateY(100%);
    }
    .infos-bar > div {
        display: flex !important;
    }
    .sub-section-box.stats > .percentage-bar {
        max-width: 400px;
    }
    .informations > section {
        max-height: calc(100% - 130px);
    }
    .sub-container-buttons :last-child {
        display: flex !important;
    }
    #open-sub-container-btn {
        display: flex !important;
    }

    .create-flashcard-container > section {
        width: calc(100% - 40px);
    }
}
