* {
    user-select: none;
}

body {
    display: flex;
    flex-direction: row;
    background-color: #f6f8fc;
    padding: 20px;
    margin: 0;
    overflow: hidden;
    height: calc(100% - 20px);
    min-height: calc(100% - 20px);
}
.hidden {
    visibility: hidden;
}

#loading-mindflash {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 100000;
    background-color: #f6f8fc;
}
#loading-mindflash.active-loading {
    display: flex !important;
}

.overlay {
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
    background: #0000004c;
    height: 200vh;
    width: 200vw;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    cursor: pointer;
}
.prompt-active {
    visibility: visible !important;
    transform: translate(50%,-50%) scale(1) !important;
    opacity: 1 !important;
}
.create-flashcard-container {
    position: absolute;
    z-index: 1000;
    right: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    background: #FFF;
    padding: 30px 50px;
    height: fit-content;
    width: fit-content;
    transition: all 0.3s ease-in-out;
    transform: translate(50%,-50%) scale(0.6);
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.create-flashcard-container > section {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: flex-start;
    justify-content: center;
    width: fit-content;
    gap: 32px;
}
.create-flashcard-container > section > h1 {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
}
.create-flashcard-container > section > .create-flashcard-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    align-self: flex-end;
    justify-content: space-between;

    > div {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}
.create-flashcard-container > section > .flashcard {
    max-width: 70%;
    height: fit-content;
    gap: 20px;
    min-width: 500px;
    min-height: 180px;
}
.create-flashcard-container > section > .flashcard > textarea {
    width: 90%;
    padding: 10px;
    resize: none;
    display: flex;
    align-items: center;
    justify-content: center;
}








.main-sub-container {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 14px;
    flex-shrink: 1;
    max-width: 250px;
    background-color: white;
    height: calc(100vh - 80px);
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.main-sub-container > .title{
    overflow-wrap: break-word;
    font-size: 1.6rem;
}
.informations-display-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}
.informations-display-buttons > button {
    width: fit-content;
    height: fit-content;
    font-size: 0.72em;
    padding: 10px 10px;
    border: none;
    box-shadow: inset 0 0 0 1px #296EFF;
}

.main-sub-container > .informations {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    height: calc(100% - 90px);
    max-height: calc(100% - 90px);
}
.informations > section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    height: fit-content;
    max-height: calc(100% - 70px);
    margin-top: 10px;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
}

#back-to-alumet-btn {
    width: 100%;
    position: absolute;
    bottom: 0px;
    min-height: 50px;
}
section > .sub-section-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 14px;
    margin-bottom: 2px;
    width: 100%;
    height: fit-content;
}
.last-section-child {
    padding-bottom: 15px;
}
.sub-section-box > h2 {
    font-size: 1.4em;
    font-weight: 500;
    margin: 0;
    text-align: left;
}
.sub-section-box > .percentage-bar {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    width: 100%;
    height: 10px;

    > #percentage-bar-good {
        background-color: #00c75a;
        width: 37%;
    }
    > #percentage-bar-ok {
        background-color: #F0AC00;
        width: 17%;
    }
    > #percentage-bar-bad {
        background-color: #F00;
        width: 6%;
    }
    > #percentage-bar-unrated {
        background-color: #C6C9CE;
        width: 40%;
    }
}

.sub-section-box > .stats-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    height: fit-content;
}
.stats-info-container > .stats-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
    width: 100%;
    height: fit-content;

    > svg {
        min-width: 15px;
        min-height: 15px;
    }
    > p {
        font-size: 1em;
        font-weight: 400;
        margin: 0;
        text-align: left;
    }
}
.stats-info-container > .stats-info > svg > circle::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #296EFF;
}
.sub-section-box > .set-basic-informations-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
    width: 100%;
    height: fit-content;

    > h3 {
        font-size: 1em;
        font-weight: 400;
        margin: 0;
        text-align: left;
    }
    > h3 > span {
        font-style: italic;
    }
}

.filter-section > .sub-section-box > .sub-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 13px;
    width: calc(100% - 4px);
    height: fit-content;
    padding-left: 4px;
    cursor: pointer;

    > p {
        margin: 0
    }

    > svg {
        min-width: 15px;
        min-height: 15px;
    }
}
.sub-box > svg > circle {
    cx: 7.5;
    cy: 7.5;
    r: 7;
    fill: white;
    stroke: rgb(41, 110, 255);
    transition: all 0.3s ease-in-out;
}
.sub-box.filter-activate > svg > circle,
.sub-box.sort-activate > svg > circle {
    fill: rgb(41, 110, 255);
}

.main-container {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 20px;
    flex-shrink: 1;
    background-color: white;
    width: calc(100% - 40px);
    height: calc(100vh - 80px);
    padding: 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.main-container > .full-screen {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.main-container > .full-screen > h1 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    text-align: center;
}
.main-container > .full-screen > p {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    color: #9ea1a7;
    text-align: center;
}

#loading-section-sub-container,
#loading-flashcard-container {
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.loading-element {
    display: none !important;
}
.active-loading > .loading-element {
    display: flex !important;
}

.main-container > .infos-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: calc(100% - 20px);
    padding: 0px 10px;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;

    .infos-bar-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        height: fit-content;
        width: fit-content;

        > div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 32px;
            width: 32px;
            cursor: pointer;

            > img {
                width: 32px;
                color: #000;
            }
        }
        > h2 {
            margin: 0;
            font-size: 1.8em;
            font-weight: 400;
        }

    }
    > .buttons-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
}

.main-container > .infos-bar > .buttons-container > .buttons-container-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    > img {
        width: 32px;
        cursor: pointer;
    }
}

.main-flashcard-container > .options > img {
    width: 32px;
    cursor: pointer;
}
#flashcards-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(160px, 1fr));
    gap: 20px;
    width: 100%;
    height: 100%;
    margin: 20px 0px;
    overflow-y: auto;
}
#flashcards-container > .information-screen-flashcards-container {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
#flashcards-container > .information-screen-flashcards-container > h1 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    text-align: center;
}
#flashcards-container > .information-screen-flashcards-container > p {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    color: #9ea1a7;
    text-align: center;
}
#flashcards-container > .information-screen-flashcards-container:hover {
    transform: scale(0.98);
    background-color: #0000000a;
}
.flashcard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    min-height: 115px;
    padding: 20px;
    border-radius: 12px;
    border: 3px solid #C6C9CE;
    background: #FFF;
    text-align: center;
}

.flashcard-good {
    border: 3px solid #00c75a;
}
.flashcard-ok {
    border: 3px solid #F0AC00;
}
.flashcard-bad {
    border: 3px solid #F00;
}
.flashcard-unrated {
    border: 3px solid #C6C9CE;
}

.flashcard > .flashcard-options {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    position: absolute;
    top: 10px;
    right: 8px;
}
.flashcard > .flashcard-question {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 100%;
    width: 95%;
}
.flashcard > .flashcard-divider {
    width: 230px;
    height: 1px;
    background: #c6c9ce;    
}
.flashcard > .flashcard-answer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #000;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 1200px) {
    
}