body {
    height: 100%;
    top: 0;
    left: 0;
    background-color: #131313;
    margin: 0;
    padding: 30px;
    text-align: center;
    overflow-x: hidden;
}

.high-background-dots {
    position: absolute;
    width: 100%;
    height: 16.625em;
    top: -0.625em;
    left: -0.625em;
    background-image: radial-gradient(#54503F 2px, transparent 0, #131313 100%), linear-gradient(to bottom, #13131300 0%, #131313 100%);
    background-size: 35px 35px;
    background-position: -19px -19px;
    z-index: -11;
}
.high-background-gradient {
    position: absolute;
    width: 100%;
    height: 16.625em;
    left: 0px;
    top: 0px;
    background: linear-gradient(178.31deg, rgba(22, 22, 22, 0.0), rgb(19, 19, 19, 1.0) 100%);
    z-index: -10;
}
.blur-orange-background {
    background: linear-gradient(180deg, rgba(255, 61, 0, 0.5) 0%, rgba(255, 61, 0, 0) 89.06%);
    filter: blur(148.5px);
    width: 100%;
    height: 9.8125em;
    position: absolute;
    z-index: -9;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    padding: 0.5em 0em 0em 2em;
}
.logo {
    width: 3%;
    height: auto;
    cursor: pointer;
}
.title {
    color: #FFFFFF;
    font-size: 2vw;
    font-weight: 600;
    margin-left: 1vw;
    cursor: pointer;
    transition: 0.1s ease-out;
}
.title:hover {
    color: #FF3D00;
}

/*PAGE*/

.global {
    flex-direction: row;
    display: flex;
}
.about {
    color: #FFFFFF;
    padding-right: 2em;
    display: flex;
    flex-direction: column;
    width: calc(50% - 1em);
    border-right: 1px solid #BBBBBB;
    height: auto;
    text-align: center;
}
.title-about {
    color: #FF3D00;
    font-size: 3vw;
}
.subtitle-about {
    margin-right: auto;
    font-size: 2vw;
}
.paragraph-about {
    text-align: left;
    font-size: 1.5vw;
    font-weight: 300;
}
.network {
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-left: -4em;
}
.network-container {
    width: 20%;
    height: 20%;
}
.ytb {
    width: 45%;
    height: auto;
    cursor: pointer;
    margin: auto;
}
.inst {
    width: 35%;
    height: auto;
    cursor: pointer;
    margin: auto;
}
.twitter {
    width: 40%;
    height: auto;
    cursor: pointer;
    margin: auto;
}
.email {
    width: 40%;
    height: auto;
    cursor: pointer;
    margin: auto;
}
.contacts {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: max-content;
    color: #FFFFFF;
    width: calc(50% - 1em);
    height: auto;
    padding: 0em 2em 0em 2em;
}
.f-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
    margin-top: 20px;
}
.f-column > input, textarea{
    width: 95%;
    min-height: 40px;
    background: rgba(129, 129, 129, 0.2);
    border: 0.5px solid #6D6D6D;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    color: white;
    padding: 0 15px;
    font-size: 1vw;
    margin-bottom: 15px;
    outline: none;
}
.f-column > textarea {
    resize: none;
    height: 20em;
}
.button {
    width: 98.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgba(12, 12, 12, 0.5);
    border: 0.5px solid #3D3D3D;
    border-radius: 6px;
    outline: none;
    height: 48px;
    padding: 0 20px;
    color: white;
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
h3 {
    color: #FFFFFF;
}
@media screen and (max-width: 768px) {
    .body {
        padding: 0px;
        width: 100%;
    }
    .global {
        flex-direction: column;
    }
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 0em;
        height: auto;
    }
    .logo {
        width: 20%;
        height: auto;
        margin: auto;
    }
    .title {
        margin: auto;
        font-size: 12vw;
        margin-left: 0em;
    }
    .about {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: none;
        text-align: center;
        margin: auto;
        width: 100%;
        height: auto;
    }
    .title-about {
        text-align: center;
        width: 100%;
        margin: auto;
        margin-top: 1em;
        font-size: 10vw;
    }
    .subtitle-about {
        margin: auto;
        width: 100%;
        margin-top: 1em;
        font-size: 8vw;
    }
    .paragraph-about {
        margin: auto;
        margin-top: 1em;
        font-size: 6vw;
        text-align: center;
        width: 90%;
    }
    .network {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: auto;
        margin: auto;
        margin-top: 3em;
    }
    .network-container {
        width: 100%;
        margin: auto;
        margin-top: 1em;
        font-size: 5vw;
    }
    .contacts {
        width: 100%;
        padding: 0em;
    }
    .f-column {
        margin-left: 0;
    }
    .f-column > input, textarea {
        width: 91%;
    }
}