.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.setting {
    position: absolute;
    bottom: 20px;
    border: 1px solid rgb(131, 131, 131);
    z-index: 800;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 130px;
    justify-content: center;
    height: 35px;
    gap: 10px;
    background-color: rgba(67, 66, 66, 0.5);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    padding: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.setting > p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.setting > img {
    width: 20px;
    height: 20px;
}

#add-wall {
  min-width: 150px;
}

.setting:hover {
    background-color: rgba(67, 66, 66, 0.8);
    transform: scale(1.02);
}

.warning-modal {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 21000;
  height: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(0,0,0,1) 100%);
  transition: all 0.3s ease-in-out;
}



.warning-infos > h1 {
  margin: 0;
  font-size: 60px;
  font-weight: 500;
  color: white;
}

.warning-infos > h3 {
  font-size: 20px;
  margin: 0;
  overflow-wrap: anywhere;
  font-weight: 400;
  color: white;
}

.warning-infos > button {
  margin-top: 20px;
  cursor: pointer;
  height: 50px;
  border: 1px solid white;
  color: white;
  background: transparent;
  border-radius: 5px;
}

#wrap-section {
  flex-wrap: wrap;
}

#add-file {
  min-height: 40px;
  cursor: pointer;
  border: 1px solid #ffffff;
  background-color: var(--teranga-color);
  margin-bottom: 10px;
  color: white;
  border-radius: 5px;
  transition: all 0.3s ease-in;
}

#add-file:hover {
  transform: scale(0.98);
  filter: brightness(0.8);
}

.warning-infos {
  display: flex;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 70%;
  flex-direction: column;
  align-self: flex-end;
}

.alumet-p-preview {
    width: 100%;
    position: relative;
    max-height: 250px;
}

.change-preview {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  z-index: 10;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease-in;
}
.change-preview > button {
  height: 40px;
  cursor: pointer;
  border: 1px solid #a9a9a9;
  width: 94%;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in;
}

.images-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

#choose-template {
  z-index: 15000;
}

#choose-file {
  z-index: 16000;
}

.files-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 10px;
  overflow-y: auto;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.action > div {
  background: rgb(0 0 0 / 35%);
}

.darker {
  background: rgba(111, 111, 111, 0.534) !important;
}

.file {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  transition: all 0.3s ease-in;
}

.file:hover {
  transform: scale(0.98);
  filter: brightness(0.8);
}

#search-input {
  margin-top: 10px;
}
#dots-wall {
  display: flex !important;
}

.file > h1 {
  font-size: 14px;
  margin-right: 5px;
  overflow-wrap: anywhere;
  font-weight: 500;
  margin-left: 10px;
  width: 100%;
  cursor: pointer;
}

#file-waiting {
  display: none;	
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
}

.images-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.images-container > img:hover {
  transform: scale(1.03);
  filter: brightness(0.8);
}

.change-preview > button:hover {
  background-color: #dbdbdb;
}

.change-preview:hover {
  opacity: 1;
  backdrop-filter: brightness(0.8);
  transform: translateY(0px);
}

#p-alumet-back {
    width: 100%;
    height: 100%;
}

.layer-p-preview {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slidecontainer {
    width: 100%; 
  }
  
 
  .slider {
    -webkit-appearance: none;  
    appearance: none;
    width: 100%; 
    height: 15px; 
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  

  .slider:hover {
    opacity: 1; 
  }
  
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 10px; 
    background: var(--teranga-color); 
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb {
    width: 25px; 
    height: 10px;
    background: var(--teranga-color); 
    cursor: pointer; 
  }
  
#delete-alumet {
    cursor: pointer;
    min-height: 40px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: rgb(186, 0, 0);
    color: white;
    outline: none;
    margin-bottom: 10px;
}

.teacher-hw-layer {
  display: flex !important;
}
.module-header > button {
  display: block !important;
}
  
@media screen and (max-width: 1200px) {
  .setting {
    top: 10px;
    right: 10px !important;
  }
}