/* FOOTER  */

.footer-container {
    color: white;
    background: linear-gradient(-105deg, #131313, #461000);
    border-width: 1px  0px 0px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(77,77,77,1) 50%, rgba(0,212,255,0) 100%) 1;
    width: 100%;
    height: auto;
    max-height: 10em;
    display: flex;
    margin-top: 3em;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    bottom: 0;
    z-index: 1000;
}
.footer-logo {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 0em;
    height: auto;
    border-bottom: 1px solid #BBBBBB;
}
.logo-alumet-footer {
    width: 20%;
    height: auto;
    cursor: pointer; 
    margin-bottom: 1em;   
}
.title-alumet-footer {
    font-size: 1.7vw;
    margin: auto;
    cursor: pointer;
    transition: 0.1s ease-out;
}
.title-alumet-footer:hover {
    color: #FF3D00;
}
.footer-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
    width: 100%;
    margin-top: 1em;
}
.footer-paragraph {
    justify-content: center;
}
.footer-links {
    cursor: pointer;
    transition: 0.1s ease-out;
}
.footer-links:hover {
    color: #FF3D00;
}

@media screen and (max-width: 768px) {
    .footer-container {
        width: 100%;
        max-height: auto;
        margin-bottom: 0em;
        border-width: 1px  0px 0px;
        border-style: solid;
        border-image: linear-gradient(90deg, #BBBBBB 0%, rgba(77,77,77,1) 50%, #540f00 100%) 1;
    }
    .footer-logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: auto;
        border: none;
    }
    .title-alumet-footer {
        font-size: 10vw;
    }
    .footer-links-container {
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 6vw;
        background: linear-gradient(-105deg, #131313, #461000);
    }
    .footer-hyphen {
        display: none;
    }
}