@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

body {
    display: flex;
    gap: 15px;
    flex-direction: row;
    background-color: #131313;
    margin: 0;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

:root {
    --main-color: white;
    --secondary-color: #000000;
    --accent-color: #555555;
    --hover-color: #d8d8d8;

    --post-red: #f9afaf;
    --post-green: #9affac;
    --post-blue: #97a5f1;

    --teranga-color: #ff6b00;

    --true-color: #ffffff;
}

.wall-container {
    display: flex;
    flex-direction: row; 
    z-index: 100;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.layer-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
}

.main-button {
    background-color: var(--main-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    padding-inline: 30px;
    font-size: 14px;
    font-weight: 600;
    height: 35px;
    width: 100%;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.3s ease;
}

#add-post {
    margin-bottom: 20px;
}

.main-button:hover {
    background-color: var(--hover-color);
}

.wall {
    margin-right: 20px;
}

#dots-absolute {
    position: absolute;
    right: 6px;
}

.post {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
    background-color: var(--main-color);
    padding: 8px;
    margin-bottom: 15px;
    width: 254px;
    min-width: 254px;
    transition: transform 0.5s ease;
}

.post-header {
    color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post-user-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-user-img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 8px;
}

.post-user-username {
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    overflow-wrap: anywhere;
}

#dots-wall {
    display: none;
}

.dots {
    display: flex;
    width: 20px;
    z-index: 1500;
    height: 12px;
    cursor: pointer;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    margin-right: 2px;
}

.dots div {
    min-width: 2px;
    min-height: 2px;
    border-radius: 50%;
    background-color: var(--accent-color);
}

pre {
    color: var(--accent-color);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 10px;
    margin: 0;
}

.post-user-date {
    display: none;
    margin-left: 6px;
}

.post-title {
    overflow-wrap: anywhere;
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.wall-header {
    min-width: 254px;
    max-width: 254px;
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 8px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.wall-title {
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    word-wrap: break-word;
}

.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
    flex-direction: column;
    align-items: end;
    overflow: hidden;
}

#delete {
    border: 1px solid var(--teranga-color);
}

.active-modal {
    animation: fadeIn 0.5s ease;
    animation-fill-mode: forwards;
}

.idle-modal{
    animation: fadeOut 0.5s ease;
    animation-fill-mode: forwards;
}

.active-modal > .modal-container {
    animation: leftFade 0.5s ease;
    animation-fill-mode: forwards;
}

.idle-modal > .modal-container {
    animation: rightFade 0.5s ease;
    animation-fill-mode: forwards;
}





@keyframes leftFade {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
    


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes rightFade {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    } 
}

.modal-container {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    border-radius: 5px 0 0 5px;
    width: 350px;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    overflow-x: scroll;
}

.file-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.file-container > img {
    width: 100%;
    height: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    object-position: top;
}

.file-container > video {
    width: 100%;
}

.file-container > audio {
    width: 100%;
}

.file-container:hover {
    filter: brightness(0.8);  
}

.file-type {
    overflow-wrap: anywhere;
    bottom: 0;
    margin: 5px;
    position: absolute;
    border-radius: 5px;
    font-size: 12px;
    color: white;
    padding: 6px;
    backdrop-filter: blur(2px);
    background-color: rgba(67, 67, 67, 0.579)
}

.post-content {
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    word-wrap: break-word;
}

.post-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 120px);
}

.modal-container > h1 {
    color: var(--secondary-color);
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

.modal-container > p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 15px;
}

.back-option {
    display: none;
    width: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.back-option:hover {
    transform: scale(1.1);
}

.modal-container > input {
    width: calc(100% - 20px);
    min-height: 26px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.modal-container > input:focus {
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.05)
}

.modal-container > textarea {
    width: calc(100% - 20px);
    min-height: 100px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
    resize: none;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.option > p {
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.edit-buttons {
    display: flex;
    position: sticky;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: auto;
    bottom: 0;
    box-shadow: 0px 20px 11px rgba(0, 0, 0, 0.05);
}

p.file-name {
    color: #626262;
    font-size: 12px;
    align-self: flex-start;
    font-weight: 400;
    margin: 0;
    margin-top: 5px;
    overflow-wrap: anywhere;
}

.edit-buttons button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    color: var(--secondary-color);
    outline: none;
    border: none;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--true-color);
}

.edit-buttons button:hover {
    filter: brightness(0.8);
}

#accent {
    color: white;
    background-color: var(--teranga-color);
}

.modal-container textarea:focus {
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.05)
}

.items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}
.items div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 15px;    
    width: calc(100% - 30px);
    height: 44px;
    border-radius: 5px;
    background-color: var(--true-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.items div p {
    color: var(--secondary-color);
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}

.items div:hover {
    filter: brightness(0.8);
}

#cancel {
    border: 1px solid #c2c2c2;
}

.items div img {
    width: 20px;
    height: 20px;
}

.file-modal {
    display: none;
    padding: 15px;
    width: calc(100% - 30px);
    min-height: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px dashed #c2c2c2;
    border-radius: 5px;
    cursor: pointer;
}

.link-input {
    width: calc(100% - 20px);
    height: 22px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
    transition: all 0.3s ease;
}

.website-preview {
    width: 100%;
}

.link-row {
    display: flex;
    flex-direction: row;
}

.l-preview {
    display: flex;
    cursor: pointer;
    min-width: 42px;
    justify-content: center;
    height: 42px;
    border: none;
    align-items: center;
    margin-left: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.l-preview:hover {
    transform: scale(0.97);
}

.link-row {
    margin-bottom: 10px;
}

.link-input:focus {
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.05)
}

#preview-image {
    object-fit: cover;
    width: 100%;
    height: 130px;
    border-radius: 5px;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.05);
}

#preview-title {
    font-size: 16px;
    width: 100%;
    margin: 0;
    margin-top: 5px;
    font-weight: 500;
}

.modules-container {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    z-index: 500;
    gap: 10px;
}

.module-header {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #626262;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 5px;
}
.module-container {
    display: flex;
    flex-direction: column;
    width: 275px;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.module-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: auto;
}

.module-header > p {
  color: white;
  overflow-wrap: anywhere;
  font-size: 14px;
  margin-left: 10px;
}


#preview-description {
    width: 100%;
    font-size: 14px;
    margin: 0;
    color: #979797;
    font-weight: 300;
}

.link-modal {
    display: none;
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid var(--teranga-color);
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
  }
  .loader::after {
    animation-delay: 1s;
  }
  
  @keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }


.file-modal p {
    color: #b9b9b9;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 5px;
    margin: 0;
}

.file-modal h3 {
    overflow-wrap: anywhere;
    text-align: center;
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    margin: 0;
}

#file-input {
    display: none;
}

.color-selector {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.color-selector div {
    width: 28px;
    height: 28px;
    outline: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.7s ease;
}

.selected-color {
    outline: 0.5px solid #000000 !important;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
}

.loading {
    position: absolute;
    z-index: 10000;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.loader-upload {
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
  }
  
.loader-upload:before , .loader-upload:after{
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1) inset;
}
.loader-upload:after {
    box-shadow: 0 2px 0 #FF3D00 inset;
    animation: rotate 0.5s linear infinite;
}

@keyframes rotate {
    0% {  transform: rotate(0)}
    100% { transform: rotate(360deg)}
}

.hidden {
    display: none !important;
}

#current-theme {
    background-color: #ffffff;
}

.blue {
    background-color: #1e90ff !important;
}

.red {
    background-color: #ff6347 !important;
}

.green {
    background-color: #32cd32 !important;
}

.yellow {
    background-color: #ffd700 !important;
}

.purple {
    background-color: #9370db !important;
}

.orange {
    background-color: #ffa500 !important;
}

.button__text {
    color: #ffffff;
    transition: all 0.2s;
  }

#delete-post {
    cursor: pointer;
    background-color: #d23100;
    height: 40px;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: white;
}

.nav-bar {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding: 0 20px;
    width: 100%;
    height: 70px;
    background-color: var(--main-color);
    box-shadow:  0px -1px 11px rgba(0, 0, 0, 0.25);
    z-index: 500;
}
  
#selected-item > img {
    filter: brightness(1);
}

#selected-item > p {
    color: #000000
}

.item {
    display: none;
    width: 45px;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.item > img {
    width: 23px;
    height: 23px;
    filter: invert(0.5);
}

.item > p {
    font-size: 11px;
    color: #6e6e6e;
    margin: 0;
    margin-top: 5px;
}

  .button--loading .button__text {
    display: none;
  }
  
  .button--loading::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    margin: auto;
    border: 2px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
  }
  

  .toggle {
    cursor: pointer;
    display: inline-block;
  }
  
  .toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 45px;
    height: 21px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
  }
  .toggle-switch:before, .toggle-switch:after {
    content: "";
  }
  .toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
  }
  .toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  }
  .toggle-checkbox:checked + .toggle-switch {
    background: var(--teranga-color);
  }
  .toggle-checkbox:checked + .toggle-switch:before {
    left: 28px;
  }
  
  .toggle-checkbox {
    position: absolute;
    visibility: hidden;
  }
  
  .not-supported {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.not-supported > img {
    width: 400px;
}

.not-supported > h3 {
    font-size: 14px;
    font-weight: 300;
    color: #818181;
    margin: 0;
}
 
  .view-modal {
    display: none;
    transform: translateY(100%);
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    right: 0px;
    background: rgba(35, 35, 35, 0.797);
    backdrop-filter: blur(30px);  
    z-index: 19000;
    border: 1px solid rgba(255, 255, 255, 0.1);
}



#cover-center {
    object-position: center;
}

.quick-actions {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.quick-actions img {
    width: 18px;
    height: 18px;
}

.action {
    cursor: pointer;
    display: flex;
    padding: 10px;
    border-radius: 4px;
    background: rgba(217, 217, 217, 0.1);
    transition: background 0.3s ease-in-out;
}

iframe {
    width: 100%;
    height: calc(100% - 60px);
    border-radius: 0 0 5px 5px;
}

.file-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    gap: 10px;
    font-weight: 400;
    color: white;
    margin-left: 20px;
}

#file-loading {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.image-view {
    width: 100%;
    height: calc(100% - 60px);
    object-fit: contain;
}

.video-view {
    width: 100%;
    height: calc(100% - 60px);
    object-fit: contain;
}

.file-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.post-yellow {
    background: #e7ff89;
}

.post-blue {
    background: #89dfff;
}

.post-green {
    background: #89ff9e;
}

.post-red {
    background: #ff899e;
}

.post-purple {
    background: #d689ff;
}

.post-orange {
    background: #ffcc89;
}


  @keyframes button-loading-spinner {
    from {
      transform: rotate(0turn);
    }
  
    to {
      transform: rotate(1turn);
    }
  }
  

@media  (max-width: 768px) {
    body {
        padding: 10px;
        height: 100vh;      
    }
    .post-scroll {
        height: calc(100% - 120px);
    }
    .modal-container {
        width: calc(100% - 20px);
        padding: 10px;
        margin: 0;
        border-radius: 0;
    }
}

.active-module {
    display: flex !important;
    animation: fadeTop 0.7s ease-in-out;
}

@keyframes fadeTop {
    from {
        opacity: 0;
        transform: scale(0.9)
    }
    to {
        opacity: 1;
        transform: scale(1)
    }
}


@media screen and (max-width: 1200px) {
    .modules-container {
        display: none;
        position: absolute;
        width: 100%;
        height: calc(100% - 70px);
        top: 0;
        left: 0;
    }
    .nav-bar {
        display: flex;
    }
    .module {
        display: none;
    }
    .wall-container {
        height: calc(100% - 60px);
    }
    .view-modal {
        border: none;
    }
    .not-supported > img {
        width: 90%;
    }    
}

@media screen and (max-width: 1200px) {
    .module-container {
        width: 100%;
        height: 100% !important;
        border-radius: 0;
    }
    .module-footer {
      min-height: 55px;
    }
    .send-button {
      max-height: 60px;
      height: 100%;
      min-width: 60px;
    }
    .module-header {
      min-height: 60px;
      max-height: 60px;
    }
  }