body {
    background-color: #131313;
    font-family: 'Plus Jakarta Sans';
    height: auto;
    margin: 0;
    margin-inline: 3%;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    border-width: 0 0 1px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(77,77,77,1) 50%, rgba(0,212,255,0) 100%) 1;
}

.preview-container img {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .preview-container.show img {
    opacity: 1;
  }

.alumet-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.alumet-infos > img {
    width: 30px;
    
}

#left {
    flex-direction: row-reverse;
}

#left > .preview-container {
    margin: 0;
    margin-right: auto;
}

.alumet-infos > h1 {
    font-size: 1.7em;
    font-weight: 600;
    margin: 0;
    color: white;
    background: linear-gradient(to right, #FFFFFF 20%, #FFCA68 35%, #FFCA68 75%, #FFFFFF 100%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 2s ease-in-out infinite;
}
@keyframes shine {
    to {
      background-position: 200% center;
    }
  }

.nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15%;
}

.nav-items > h2 {
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    color: white;
    cursor: pointer;
}


.connect {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

#sign-in {
    border: 1px solid rgb(134, 134, 134);
    background: #383737;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    height: 50px;
    padding-inline: 30px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: 0.4s cubic-bezier(.18,1.19,.81,.96);
}
#sign-in:hover {
    background: #585858;
}
#sign-up {
    border: none;
    background: transparent;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-out;
}



/* Page */

.header-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    gap: 2%;
}

.under-header {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}


.see-vid {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.see-vid > h1 {
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin: 0;
    margin-left: 15px;
}

.play-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: 0.3s ease-out;
}
.play-icon:hover {
    background: #FBDF77;
    cursor: pointer;
}
.play-icon > img {
    margin-left: 7px;
    transition: 0.2s ease-out;
}

.items {
    width: 70%;
    margin-left: auto;
    justify-content: end;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.item {
    background-image: url("../assets/app/");
    width: 30%;
}
.item > img {
    width: 100%;
    transition: 0.3s ease-out;
}
.item > img:hover {
    transform: scale(1.02) translatey(-10px);
    cursor: pointer;
}
.badges {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 55px;
    align-items: flex-start;
}

.badge {
    display: inline-block;
    border: 1px solid #848484;
    padding: 10px;
    padding-inline: 20px;
    color: #B8B8B8;
    border-radius: 50px;
    font-size: 15px;
    transition: 0.4s cubic-bezier(.18,1.19,.81,.96);
}
.badge:hover {
    cursor: pointer;
    color: #C8C8C8;
    background: #383737;
}


.title {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}



.round {
    position: relative;
    width: 9.4vh;
    height: 9.4vh;
    border-radius: 50%;
    background: #FFE3AF;
    outline: 1.0vh solid #131313;
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.8vw;
}

.round > img {
    height: 100%;
    position: absolute;
    width: 100%;
}



.title > h1 {
    margin: 0;
    margin-bottom: 50px;
    font-size: 12vh;
    font-weight: 800;
    background: #FFE3AF;
    background: linear-gradient(to right, #FFE3AF 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.round:nth-child(1) {
    background-color: #FFE1D7;
}

.round:nth-child(2) {
    background-color: #E68869;
}
.round:nth-child(3) {
    background-color: #E24A21;
}
.big-title {
    margin: 0;
    margin-top: 0.7em;
    font-size: 6vh; 
    font-weight: 600; 
    background: linear-gradient(90.36deg, #FFFFFF 0.32%, #FFE3AF 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.why-alumet-container {
    display: flex;
    flex-direction: column;
    
}
.box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px;
    margin-top: 25px;
}

.why-alumet-box {
    display: flex;
    max-width: 375px;
    flex-direction: column;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #131313 30%, #B7B7B7 100%) 1;
}

.wa-content {
    padding: 25px;
}

.black-box {
    width: 100%;
}

.wa-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.wa-img {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.box-title {
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 5px;
}

.box-paragraph {
    line-height: 1.5;
    font-size: 15px;
    color: #B7B7B7;
    font-weight: 300;
    margin-left: 0.5em;
    margin: 0;

}
.features-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 3%;
}
.description-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
  
}
.description-container > h1 {
    margin: 0;
    margin-bottom: 10px;
    color: #FFFFFF;
    font-weight: 500;
}
.description-container > h2 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
}
.preview-container {
    justify-content: center;
    margin-left: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
}

.preview-container > img {
    filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.5));
}
.back-preview {
    width: 90%;
}
.separation-line {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #FDBF77, #9B9B9B);
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 38%;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 38%;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 38%;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 38%;
}

@media screen and (max-width: 800px) {
    .nav-items > h2 {
        display: none;
    }
    .connect {
        margin: 0;
        margin-bottom: 10px;
    }
    .nav-items > h2  {
        font-size: 1.2em;
    }
    .title > h1 {
        font-size: 6.7vh;
        margin-bottom: 0;
    }
    .badges {
        margin-top: 20px;
    }
    .round {
        width: 5.9vh;
        height: 5.9vh;
        border: 0.05vh solid #131313;
    }
    #sign-up {
        display: none;
    }
    .connect {
        margin: 0;
        margin-left: auto;
    }
    .features-container {
        flex-direction: column !important;
    }
    .preview-container{
        margin: 0;
        width: 100%;
    }
    .top-right {
        width: 40%;
    }
    .bottom-left {
        width: 40%;
    }
    .top-left {
        width: 40%;
    }
    .bottom-right {
        width: 40%;
    }
    .description-container {
        width: 100%;
    }
    .reasons {
        display: none;
    }
}


@media screen and (max-width: 1200px) {
    .items {
        display: none;
    }
    .box-container {
        justify-content: center;
    }
}