body {
    background-color: #131313;
    font-family: 'Plus Jakarta Sans';
    height: auto;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
}


/* PAGE */

.title {
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}
.big-title {
    color: #FF3D00;
    justify-content: center;
    font-size: 5vw;
}
.subtitle-big-title {
    color: #FFFFFF;
    justify-content: center;
    font-size: 2.5vw;
}
.article {
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}
.medium-title {
    color: #FF3D00;
    justify-content: center;
    font-size: 2vw;
}
.paragraph {
    text-align: left;
    color: #FFFFFF;
    font-size: 1.2vw;
    text-indent: 5%;
    font-weight: 300;
}


@media screen and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .big-title {
        font-size: 12vw;
    }
    .subtitle-big-title {
        font-size: 10vw;
    }
    .medium-title {
        font-size: 7vw;
    }
    .paragraph {
        font-size: 5vw;
    }
}