body {
    background-color: #131313;
    font-family: 'Plus Jakarta Sans';
    height: auto;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
}


/* BIG TITLE */

.big-project-title-container {
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 5em;
    backdrop-filter: blur(1px);
}
.big-project-logo {
    width: 20%;
    height: auto;
}
.big-project-text-container {
    line-height: 1;
}
.big-project-title {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15vw;
}
.big-project-title-details {
    color: #BBBBBB;
    font-weight: 300;
    font-size: 2vw;
}
.global-presentation-container {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.separation-line {
    width: 70%;
    height: 1px;
    background: linear-gradient(to right, #131313, #FF3D00, #131313);
    margin: auto;
    margin-top: 5em;
    position: relative;
}




/* INTRODUCTION */


.introduction-global-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(2,0,36,0) 0%, #FF3D00 50%, rgba(0,212,255,0) 100%) 1;
    margin-top: 5em;
    backdrop-filter: blur(100000000000px);
    background: #131313;
}
.introduction-box-container {
    width: auto;
    max-width: 40%;
    margin-top: 1.6875em;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
    border: 0.5px solid #4E4E4E;
    border-radius: 15px;
    text-align: center;
    transition: 0.4s ease-out;
    padding-bottom: 1em;
}
.introduction-box-title-container {
    margin: auto;
    width: 60%;
    text-align: center;
}

.introduction-box-title {
    font-size: 2vw;
    color: #FFFFFF;
    margin: auto;
    margin-top: 1em;
    position: relative;
}
.introduction-details {
    color: #FFFFFF;
    font-size: 1.1vw;
    font-weight: 300;
    width: 90%;
    margin: auto;
    margin-top: 1em;
}


@media screen and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .big-project-title {
        font-size: 22vw;
        margin-left: 1vh;
        margin-top: none;
    }
    .big-project-title-details {
        font-size: 5vw;
        margin-left: 1vh;
    }
    .introduction-global-container {
        margin-top: 1.1707em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 1em;
    }
    .introduction-box-container {
        max-width: 100%;
        height: auto;
    }
    .introduction-box-title-container {
        width: 90%;
    }
    .introduction-box-title {
        font-size: 9vw;
    }
    .introduction-details {
        font-size: 6vw;
    }
}
