body {
    background-color: #131313;
    font-family: 'Plus Jakarta Sans';
    height: auto;
    margin: 0;
    margin-inline: 3%;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.presentation-title {
    color: white;
    font-size: 8vh;
    border-bottom: 1px solid #C8C8C8;
    padding-bottom: 1%;
    margin: 0;
    margin-top: 5vh;
}

.badges {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5%;
}

.badges > div {
    display: inline-block;
    border: 1px solid #848484;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    color: #B8B8B8;
    border-radius: 50px;
    font-size: 15px;
    transition: 0.4s cubic-bezier(.18,1.19,.81,.96);
}


.badges>div:hover {
    cursor: default;
    color: #C8C8C8;
    background: #383737;
}

.text-container {
    margin-top: 12.0405vh;
}
h1 {
    color:  white;
    font-size: 3.0418vh;
    font-weight: 700;
    margin-top: 5vh;
}
h2 {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 3.041825095057034vh;
}
h3 {
    color: #DDDDDD;
    font-size: 2.534854245880862vh;
    font-weight: 100;
}
p {
    color: white;
    font-size:  2.5348vh;
    font-weight: 200;
}