body {
    background-color: #131313;
    font-family: 'Plus Jakarta Sans';
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
}


/* PAGE */


.global-container {
    max-width: 100%;
    min-height: 65vh;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-y: hidden;

}
.update-description-container {
    width: 65%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 1em;
    overflow-y: scroll;
}
.update-description-title {
    color: #FFFFFF;
    font-size: 4vw;
    font-weight: 600;
    margin-top: none;
}
.update-description-subtitle {
    color: #FF3D00;
    font-size: 2vw;
    font-weight: 500;
}
.update-description-paragraph {
    color: #FFFFFF;
    font-size: 1.3vw;
    font-weight: 300;
    width: 90%;
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 1.5em;
}
.update-choice-container {
    width: 30%;
    height: auto;
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-right: 1em;
    padding-top: 1em;
}
.update-date-title {
    width: 100%;
    color: #FF3D00;
    font-size: 2.5vw;
    font-weight: 700;
}
.update-choice-date-container {
    width: 100%;
    min-height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
    border-top-width: 1px;
    border-bottom-width: 3px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(77,77,77,1) 50%, rgba(0,212,255,0) 100%) 1;
    backdrop-filter: blur(10px);
}
.update-choice-date {
    width: 90%;
    background: rgba(217, 217, 217, 0.1);
    border-radius: 5px;
    min-height: 3em;
    color: #FFFFFF;
    cursor: pointer;
    border: 0.5px solid #484848;
    margin: auto;
    display: block;
    font-size: 1vw;
    font-weight: 300;
    margin-top: 0.3125em;
    transition: 0.2s cubic-bezier(.16,.93,.79,.9);
    position: relative;
}
.burger-button-open-menu {
    display: none;
}


@media screen and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .global-container {
        flex-direction: column;
    }
    .update-description-container {
        width: 100%;
        height: auto;
    }
    .update-description-title {
        font-size: 10vw;
    }
    .update-description-subtitle {
        font-size: 8vw;
    }
    .update-description-paragraph {
        font-size: 4vw;
    }
    .update-choice-container {
        width: 100%;
    }
    .update-date-title {
        font-size: 8vw;
    }
    .update-choice-date-container {
        max-height: 20em;
    }
    .update-choice-date {
        min-height: 5em;
        font-size: 4vw;
    }
}