body {
    display: flex;
    flex-direction: row;
    background: #f6f8fc;
    margin: 0;
    padding: 20px;
    gap: 20px;
}

html,
body {
    height: calc(100% - 20px);
    min-height: calc(100% - 20px);
}

section.access {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    border-radius: 20px;
    gap: 10px;
    background-color: rgb(255, 255, 255);
}

.container {
    width: 90%;
    max-width: 350px;
}

.container > p {
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(124, 124, 124);
    margin: 0;
    margin-bottom: 10px;
}
.container > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.user-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 50px;
    margin-right: auto;
}

.user-details > h3 {
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin: 0;
}

.user-details > p {
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(124, 124, 124);
    margin: 0;
}

.loading > .full-screen {
    display: flex;
}

.alumet-details {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    top: 5%;
    left: 5%;
    height: calc(100% - 10%);
    z-index: 3;
}

.alumet-details > h1 {
    font-size: 1.9rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin: 0;
}

.alumet-details > p {
    font-size: 0.9rem;
    font-weight: 400;
    color: rgb(214, 214, 214);
    margin: 0;
}

.alumet-details > p > span {
    color: rgb(255, 255, 255);
    margin: 0;
}

.user-infos > img {
    width: 50px;
    height: 50px;
    border-radius: 6px;
}

.container > div > button {
    width: 100%;
}

.container > h1 {
    font-size: 1.9rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    margin: 0;
    margin-right: auto;
}

.full-screen {
    position: absolute;
    display: none;
    border-radius: 20px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100%;
}

section.alumet-infos {
    position: relative;
    width: 60%;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.alumet-infos > .layer-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    z-index: 1;
    --webkit-backdrop-filter: blur(10px);
}

.alumet-infos > img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

@media screen and (max-width: 900px) {
    body {
        flex-direction: column-reverse;
    }

    section.access {
        width: 100%;
        height: 70%;
    }

    section.alumet-infos {
        width: 100%;
        height: 30%;
    }
}
