body {
    display: flex;
    flex-direction: row;
    background: #f6f8fc;
    margin: 0;
    padding: 15px;
    gap: 15px;
    overflow: hidden;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

section.access {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #e3e3e3;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    gap: 10px;
    background-color: #ffffff;
    overflow-y: auto;
}

.radio-option {
    margin-top: 10px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

#step1 > .module {
    width: 100%;
}

.module > p {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    font-stretch: 150%;
    color: rgb(124, 124, 124);
    margin: 0;
}

.options > div {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border: 1px solid rgb(214, 214, 214);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.selectedOption {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #0597ff;
    transform: scale(0.98);
}

.options > div:hover {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #0597ff;
}

.options > div > h3 {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin: 0;
}

.options > div > p {
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(124, 124, 124);
    margin: 0;
}

.container {
    width: 90%;

    max-width: 425px;
}

.footer-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-infos > p {
    font-size: 0.8rem;
    font-weight: 400;
    cursor: pointer;
    color: rgb(124, 124, 124);
    margin: 0;
}
.container > div {
    display: none;
    width: 100%;
    flex-direction: column;
    margin: 3% 0 4% 0;
    align-items: center;
    gap: 10px;
}

#step4 > img {
    width: 100%;
    height: 200px;
    padding: 10px;
    object-fit: cover;
    object-position: center;
    border: 1px dashed rgb(214, 214, 214);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#step4 > img:hover {
    filter: brightness(0.9);
    transform: scale(0.98);
}

.appInfos > .layer-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backdrop-filter: blur(5px) brightness(0.8);
    z-index: 1;
    --webkit-backdrop-filter: blur(5px) brightness(0.8);
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 10px;
}

.container > div > select {
    width: 100%;
}

.container > div > .user-details {
    margin-right: auto;
}

.load > .full-screen {
    display: flex;
}

.full-screen > h3 {
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin: 0;
    margin-top: 20px;
    text-align: center;
}

.appDetails {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20px;
    left: 30px;
    height: 100%;
    z-index: 3;
}

.appDetails > h1 {
    font-size: 1.9rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin: 0;
}

.appDetails > h3 {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(202, 202, 202);
    margin: 0;
}

.appDetails > p {
    font-size: 0.9rem;
    font-weight: 400;
    color: rgb(214, 214, 214);
    margin: 0;
    margin-top: auto;
}

.appDetails > p > span {
    color: rgb(255, 255, 255);
    margin: 0;
}

.container > div > button {
    width: 100%;
}

.container > h1 {
    font-family: 'Mona Sans';
    font-size: 2rem;
    font-weight: 800;
    font-stretch: 150%;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    margin: 0;
    margin-right: auto;
}

.container > h1 > span {
    font-family: inherit;
    color: #296eff;
}

.full-screen {
    position: absolute;
    display: none;
    border-radius: 20px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100%;
    z-index: 500;
}

section.appInfos {
    overflow: hidden;
    position: relative;
    width: 60%;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.appInfos > img {
    position: absolute;
    width: 100%;
    filter: brightness(0.5);
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.row-inputs {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.row-inputs > select {
    width: 40%;
}

.activeStep {
    display: flex !important;
}

@media screen and (max-width: 1300px) {
    body {
        flex-direction: column-reverse;
        padding: 0px;
        border-radius: 0;
        gap: 0px;
    }

    section.access {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    section.appInfos {
        width: 100%;
        border-radius: 0;
        height: 25%;
    }
    .appInfos > img {
        border-radius: 0;
    }
}
