body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #ffffff;
    margin: 0;
}

.login-container {
    position: relative;
    display: flex;
    max-width: 400px;
    flex-direction: column;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.08);
}

.full-screen {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
}

#a2f-log {
    margin-top: 20px;
}

.loading-login {
    z-index: 200;
}
.active-loading > .loading-login {
    display: flex;
}

.active-a2f > .a2f-challenge {
    display: flex;
}

.a2f-challenge > h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.a2f-challenge > p {
    font-size: 0.9rem;
    color: #747474;
    text-align: center;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 20px;
}

.login-container > img {
    width: 160px;
    margin-bottom: 40px;
}

.login-container > h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.login-container > p {
    font-size: 0.9rem;
    color: #747474;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


 input {
    width: calc(100% - 42px);
    border-radius: 10px;
    padding: 0 20px;
    height: 60px;
    font-size: 0.9rem;
    outline-color: #e5e5e5;
    border: 1px solid #e5e5e5;
}

.input-container > label {
    margin-bottom: 8px;
}

textarea:focus, input:focus{
    outline-color: #296EFF;
}

button {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: #296EFF;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

h4 {
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
    margin-top: 20px;
    text-align: center;
    color: #747474;
}


button:hover {
    filter: brightness(0.9);
    transform: scale(0.98);
}

.loader {
    width: 48px;
    height: 48px;
    border: 2px solid #296EFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.7s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

@media screen and (max-width: 600px) {
    .login-container {
        border: none;
        height: 100vh;
        border-radius: 0;
        margin: 0;
        padding: 20px;

    }
    .loading-login {
        border-radius: 0;
    }
}