<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="icon" href="../assets/global/alumet.ico" />
        <meta
            name="description"
            content="Alumet Education: an innovative digital workspace with a complete ecosystem of tools designed to workspace educational success. Built by and for students and teachers."
        />
        <meta name="keywords" content="Alumet, class, free, organization, boards, files, education, messaging, English, real time" />
        <meta property="og:title" content="Alumet Education" />
        <meta
            property="og:description"
            content="Alumet Education: an innovative digital workspace with a complete ecosystem of tools designed to workspace educational success. Built by and for students and teachers."
        />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://education.alumet.io" />
        <meta property="og:image" content="https://i.imgur.com/r9fXjM9.png" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:domain" content="alumet.io" />
        <meta name="twitter:url" content="https://education.alumet.io" />
        <meta name="twitter:title" content="Alumet Education" />
        <meta
            name="twitter:description"
            content="Alumet Education: an innovative digital workspace with a complete ecosystem of tools designed to workspace educational success. Built by and for students and teachers."
        />
        <meta name="twitter:image" content="https://i.imgur.com/r9fXjM9.png" />

        <link rel="stylesheet" href="../style/pages/404.css" />
        <link rel="stylesheet" href="../style/global.css" />
        <title>Alumet - Introuvable</title>
    </head>
    <body>
        <section class="loading" style="display: flex">
            <h4>Alumet <span>Education</span></h4>
            <span class="loader-bar"></span>
        </section>
        <h1>Ressource not found</h1>
        <p>We looked everywhere, but this page does not seem to exist.</p>
        <p>
            <img src="../assets/global/stop.png" alt="photo avec homme et panneau stop" />
        </p>
    </body>
    <script src="../script/global.js"></script>
    <script>
        endLoading();
    </script>
</html>
