<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="../../assets/global/alumet.ico" />
        <meta name="description" content="Alumet: La flamme de l’innovation au service de l’éducation." />
        <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers, courses, classroom" />
        <meta property="og:title" content="Alumet: La flamme de l’innovation au service de l’éducation." />
        <meta property="og:description" content="L'outil gratuit, open-source, pour l'éducation, construit par des élèves, pour des professeurs. Maintenu et hébergé en France." />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://alumet.io" />
        <meta property="og:image" content="https://i.imgur.com/QMtz1MF.png" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:domain" content="alumet.io" />
        <meta name="twitter:url" content="https://alumet.io/" />
        <meta name="twitter:title" content="Alumet: La flamme de l’innovation au service de l’éducation." />
        <meta name="twitter:description" content="L'outil gratuit, open-source, pour l'éducation, construit par des élèves, pour des professeurs. Maintenu et hébergé en France." />
        <meta name="twitter:image" content="https://i.imgur.com/QMtz1MF.png" />

        <link rel="stylesheet" type="text/css" href="../style/pages/alumet.css" />
        <link rel="stylesheet" type="text/css" href="../../style/global.css" />

        <title>Alumet</title>
    </head>
    <body>
        <section class="loading">
            <span class="loader-upload"></span>
        </section>

        <div id="toast"></div>
        <div class="alumet">
            <div class="alumet-content">
                <div class="list">
                    <h1>TODO</h1>
                    <div class="draggingContainer">
                        <div class="card" draggable="true">
                            <div class="title">Complete Header Design</div>
                            <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet volutpat dui. Cras sed vulputate augue, vel egestas quam. Donec condimentum vitae orci sed bibendum.</div>
                        </div>

                        <div class="card" draggable="true">
                            <div class="title">Task number 2</div>
                            <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet volutpat dui. Cras sed vulputate augue, vel egestas quam. Donec condimentum vitae orci sed bibendum.</div>
                        </div>

                        <div class="card" draggable="true">
                            <div class="title">Task number 3</div>
                            <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet volutpat dui. Cras sed vulputate augue, vel egestas quam. Donec condimentum vitae orci sed bibendum.</div>
                        </div>
                    </div>
                </div>

                <div class="list">
                    <h1>In Progress</h1>
                    <button>Ajouter</button>
                    <div class="draggingContainer">
                        <div class="card" draggable="true">
                            <div class="title">Task number 5</div>
                            <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet volutpat dui. Cras sed vulputate augue, vel egestas quam. Donec condimentum vitae orci sed bibendum.</div>
                        </div>
                        <div class="card" draggable="true">
                            <div class="title">Task number 6</div>
                            <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet volutpat dui. Cras sed vulputate augue, vel egestas quam. Donec condimentum vitae orci sed bibendum.</div>
                        </div>
                    </div>
                </div>

                <div class="list">
                    <h1>In Review</h1>
                    <div class="draggingContainer">
                        <div class="card" draggable="true">
                            <div class="title">Task number 7</div>
                            <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet volutpat dui. Cras sed vulputate augue, vel egestas quam. Donec condimentum vitae orci sed bibendum.</div>
                        </div>
                    </div>
                </div>

                <div class="list">
                    <h1>Done</h1>
                    <div class="draggingContainer">
                        <div class="card" draggable="true">
                            <div class="title">Task number 8</div>
                            <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet volutpat dui. Cras sed vulputate augue, vel egestas quam. Donec condimentum vitae orci sed bibendum.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar">
            <div class="burger" id="burger">
                <span class="burger-line"></span>
                <span class="burger-line"></span>
                <span class="burger-line"></span>
            </div>
            <div id="menu"></div>
            <button class="navbar-active" id="home">
                <img src="../assets/global/home_a.svg" alt="home" />
                <p>Accueil</p>
            </button>
            <button id="messages ">
                <img src="../assets/global/messages_a.svg" alt="messagerie" />
                <p>Messages</p>
                <div class="ping"></div>
            </button>
            <button id="mindFlash">
                <img src="../assets/global/mindFlash_a.svg" />
                <p>Flashcards</p>
            </button>
            <button id="ideaFlow">
                <img src="../assets/global/ideaFlow_a.svg" alt="paramètres" />
                <p>Cartes Mentales</p>
            </button>
            <button class="force" id="profile"><img src="../assets/global/default_user.png" /></button>
        </div>
    </body>
    <script src="../script/alumet/alumet.js"></script>
    <script src="../../script/global.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
    </script>
</html>
