<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/public/alumet.ico" />
    <meta name="description" content="Alumet: La flamme de l’innovation au service de l’éducation.">
    <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers, courses, classroom">
    <meta property="og:title" content="Alumet: La flamme de l’innovation au service de l’éducation.">
    <meta property="og:description" content="L'outil gratuit, open-source, pour l'éducation, construit par des élèves, pour des professeurs. Maintenu et hébergé en France.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://alumet.io">
    <meta property="og:image" content="https://i.imgur.com/QMtz1MF.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="alumet.io">
    <meta name="twitter:url" content="https://alumet.io/">
    <meta name="twitter:title" content="Alumet: La flamme de l’innovation au service de l’éducation.">
    <meta name="twitter:description" content="L'outil gratuit, open-source, pour l'éducation, construit par des élèves, pour des professeurs. Maintenu et hébergé en France.">
    <meta name="twitter:image" content="https://i.imgur.com/QMtz1MF.png">
    <link rel="stylesheet" type="text/css" href="../style/board.css">
    <link rel="stylesheet" type="text/css" href="../style/global.css">
    <title>Mur d'idées</title>
  </head>
  <body>
    <section class="loading">
      <span class="loader-upload"></span>
      <h1>De meilleurs outils, pour une meilleur éducation !</h1>
    </section>
    <div id="toast"></div>
    <div class="tool-bar">
      <span class="material-symbols-rounded">add</span>
      <span class="material-symbols-rounded">magic_button</span>
    </div>
    <svg style="position: absolute; z-index: 1000; pointer-events:none;" width="100%" height="100vh">
       
    </svg>
    <div id="canvas-container">
      <div id="canvas">
        <div id="items">
          <div id="7" class="item-bloc">
            <h1>Ete 1789</h1>
            <p class="YES">Les paysans brûlent châteux des seigneurs</p>
          </div>
          <div id="6" class="item-bloc">
            <p class="YES">Population terrorisé</p>
          </div>
          <div id="5" class="item-bloc">
            <h1>Grande peur</h1>
          </div>
          <div id="4" class="item-bloc">
            <p class="YES">Il amasse ses troupes autour de Paris</p>
          </div>
          <div id="3" class="item-bloc">
            <p class="YES">Colère des députés</p>
          </div>
          <div id="2" class="item-bloc">
            <h1>Le roi</h1>
            <p class="YES">Ce dernié accepte l'assemblée national mais...</p>
          </div>
          <div id="1" class="item-bloc">
            <h1>Révolution (1798)</h1>
          </div>
        </div>
      </div>
    </div>
    </div>
  </body>
  <script src="../script/global.js"></script>
  <script src="../script/board.js"></script>