<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../assets/public/alumet.ico" />

    <meta name="description" content="Une nouvelle façon d'organiser vos classes.">
    <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers">
    <meta property="og:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
    <meta property="og:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://alumet.io">
    <meta property="og:image" content="https://i.imgur.com/WZO8U8s.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="alumet.io">
    <meta name="twitter:url" content="https://alumet.io/">
    <meta name="twitter:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
    <meta name="twitter:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta name="twitter:image" content="https://i.imgur.com/WZO8U8s.png">

    <link href="../style/dash.css" rel="stylesheet" type="text/css">
    <link href="../style/global.css" rel="stylesheet" type="text/css">

    <title>Alumet: Dashboard</title>
</head>
<body>
    <div class="box">
        <div class="logo">
            <img class="logo-alumet" src="../assets/app/alumet.png" alt="logo d'Alumet">
            <h1>Alumet</h1>
        </div>
        <div class="ligne"></div>
        <div class="menu">
            <button class="button-box" onclick=""><img class="maison"src="../assets/app/home.svg" alt="icone de l'accueil">Accueil</button>
            <button class="button-box" onclick=""><img class="maison"src="../assets/app/files-manager.svg" alt="icone de l'accueil">File manager</button>
            <button class="button-box" onclick=""><img class="maison"src="../assets/app/infos.svg" alt="icone de l'accueil">Infos</button>
        </div>
        <div class="account">
            <img class="photo-profil" src="../assets/app/default.png" alt="photo de profil">
            <div class="info-user">
                <h1>Utilisateur</h1>
                <p>Pro subcription</p>
            </div>
            <img class="logout" src="../assets/app/logout.svg" alt="petite-flèche">
        </div>
    </div>
    <div class="alumets">
        <button class="create">Create new</button>
    </div>
</body>
<script src="../script/dash.js"></script>
</html>