<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../assets/public/alumet.ico" />

    <meta name="description" content="Une nouvelle façon d'organiser vos classes.">
    <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers">
    <meta property="og:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
    <meta property="og:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://alumet.io">
    <meta property="og:image" content="https://i.imgur.com/WZO8U8s.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="alumet.io">
    <meta name="twitter:url" content="https://alumet.io/">
    <meta name="twitter:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
    <meta name="twitter:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta name="twitter:image" content="https://i.imgur.com/WZO8U8s.png">

    <link rel="stylesheet" type="text/css" href="../style/main.css">
    <link rel="stylesheet" type="text/css" href="../style/global.css">

    <title>Alumet</title>
</head>
<body>
  <!--Header-->
  <div class="blur-orange-background"></div>
  <header class="main-header">
    <div class="header-logo-navigation-container">
        <img src="../assets/app/alumet.png" alt="Alumet's logo" class="logo-alumet">
        <p class="name-logo">Alumet</p>
        <h2 class="button-header-navigation">Statut</h2>
        <h2 class="button-header-navigation">Le projet</h2>
        <h2 class="button-header-navigation">Pourquoi adopter ?</h2>
        <h2 class="button-header-navigation">Mise à jour</h2>
      </div>
      <div class="header-connexion-buttons-container">
        <button class="button-signup-header" onclick="document.location.href='/views/pages/signin.html'">Se connecter</button>
        <button class="button-signin-header" onclick="document.location.href='/views/pages/signup.html'" >S'incrire</button>
      </div>
   </header>




   <!--Presentation-->
   <div class="presentation-container">
        <button class="presentation-button-video" onclick="window.open('https://www.youtube.com/watch?v=dQw4w9WgXcQ&list=PLjiRLNE8yAtBnaVDtlB1W0-jQ0nbHPtqq&index=5&ab_channel=RickAstley', '_blank');"">Visionner la vidéo de présentation <img src="../assets/app/Vector.png" alt="petite flèche" class="presentation-button-arrow"></button>
          <h1 class="presentation-slogan">Alumet, la révolution des environnements de travaux numériques</h1>
          <p class="presentation-slogan-details">Découvrez enfin un environnement de travail moderne pour vos élèves, simple a <br> utiliser et tellement plus efficace</p>
        <button class="incentive-join-button" onclick="document.location.href='/views/pages/signup.html'">Rejoindre<img src="../assets/app/Vector.png" alt="petite-flèche" class="incentive-join-button-arrow"></button>

   </div>


   <!--Preview-->
   <img src="../assets/app/AcceuilConnected.png" alt="apercu-accueil" class="presentation-alumet-preview">


   <!--Description-->
   <div class="blur-orange-background"></div>
    <div class="description-orange-round-border"></div>
    <div description-container>
        <p class="description-slogan">Construit pour les professeurs</p>
        <p class="description-slogan-details">Construit pas des élèves pour correspondre au mieux au besoins des professeurs, Alumet <br> évolue continuellement pour répondre aux besoins</p>
   <div class="some-boxes">
    <div class="first-box">
        <p class="first-titre">Un tableau de bord moderne</p>
        <p class="first-sous-titre">Epuré et simple a utiliser, le tableau de bord <br> vous permet de gerer vos alumets pour vos classes</p>
    </div>
    <div class="second-box">
        <p class="first-titre">Un tableau de bord moderne</p>
        <p class="first-sous-titre">Epuré et simple a utiliser, le tableau de bord <br> vous permet de gerer vos alumets pour vos classes</p>
    </div>
    <div class="second-box">
        <p class="first-titre">Un tableau de bord moderne</p>
        <p class="first-sous-titre">Epuré et simple a utiliser, le tableau de bord <br> vous permet de gerer vos alumets pour vos classes</p>
    </div>
    </div>
    <div class="some-boxes">
    <div class="first-box">
        <p class="first-titre">Un tableau de bord moderne</p>
        <p class="first-sous-titre">Epuré et simple a utiliser, le tableau de bord <br> vous permet de gerer vos alumets pour vos classes</p>
    </div>
    <div class="fourth-box">
        <p class="first-titre">Un tableau de bord moderne</p>
        <p class="first-sous-titre">Epuré et simple a utiliser, le tableau de bord <br> vous permet de gerer vos alumets pour vos classes</p>
    </div>
   </div>
  </div>


  <!--Arguments-->
    <div class="arguments">
        <h1 class="raison">C'est vos élèves <br> qui vous diront merci !</h1>
    </div>
    <div class="arguments-2">
      <img class="synchro" alt="flèche de syncrhonisation" src="../assets/app/files-manager.svg">
      <p class="synchro-titre">Synchronisé. Partout ou que <br> vous soyez profiter de vos fichiers</p>
      <img class="eclair" alt="petit éclair" src="../assets/app/eclair.png">
      <p class="synchro-titre">Rapide. Créé pour gagner un <br> maximum de temps, profiter de <br> lorep ipsum</p>
      <img class="cube" alt="petit cube" src="../assets/app/cube.png">
      <p class="synchro-titre">Modulable. Profiter de nombreux mobile, <br> pour faire de votre Alumet l’endroit le plus <br> adapté a votre discipline</p>
   </div>
   <div class="arguments-3">
      <img class="ondes" alt="petites ondes" src="../assets/app/ondes.png">
      <p class="ondes-titre">Synchronisé. Partout ou que <br> vous soyez profiter de vos fichiers</p>
      <img class="camera" alt="petite camera" src="../assets/app/camera.png">
      <p class="ondes-titre">Synchronisé. Partout ou que <br> vous soyez profiter de vos fichiers, <br> même ne voyage aux Bahamas</p>
   </div>
   <div class="arguments">
      <h1 class="raison">Je suis sûr qu'on a <br> pensé à vous !</h1>
    </div>
    <div class="high-background-gradient"></div>
    <div class="high-background-dots"></div>
</body>
<script src="../script/main.js"></script>
</html>

