<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="icon" href="../assets/global/alumet.ico" />
        <meta
            name="description"
            content="Alumet Education : Un environnement numérique de travail innovant, offrant un écosystème complet d'outils conçus pour favoriser la réussite éducative. Unique en son genre, il a été développé par et pour les élèves et les professeurs. Fièrement maintenu et hébergé en France, il incarne l'excellence dans l'éducation numérique."
        />
        <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers, education, messagerie, français, temps réel, gratuit" />
        <meta property="og:title" content="Alumet Education" />
        <meta
            property="og:description"
            content="Alumet Education : Un environnement numérique de travail innovant, offrant un écosystème complet d'outils conçus pour favoriser la réussite éducative. Unique en son genre, il a été développé par et pour les élèves et les professeurs. Fièrement maintenu et hébergé en France, il incarne l'excellence dans l'éducation numérique."
        />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://education.alumet.io" />
        <meta property="og:image" content="https://i.imgur.com/r9fXjM9.png" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:domain" content="alumet.io" />
        <meta name="twitter:url" content="https://education.alumet.io" />
        <meta name="twitter:title" content="Alumet Education" />
        <meta
            name="twitter:description"
            content="Alumet Education : Un environnement numérique de travail innovant, offrant un écosystème complet d'outils conçus pour favoriser la réussite éducative. Unique en son genre, il a été développé par et pour les élèves et les professeurs. Fièrement maintenu et hébergé en France, il incarne l'excellence dans l'éducation numérique."
        />
        <meta name="twitter:image" content="https://i.imgur.com/r9fXjM9.png" />
        <link href="../style/global.css" rel="stylesheet" type="text/css" />
        <link href="../style/main_copy.css" rel="stylesheet" type="text/css" />
        <link rel="icon" href="../assets/global/alumet.ico" />
        <title>Bienvenue sur Alumet Education</title>
    </head>
    <body>
        <div class="grid">
            <div class="overlay-grid"></div>
            <div class="blue-gradient"></div>
        </div>
        <!-- <img class="grid" src="../assets/global/homepage_gradient.png" /> -->
        <div class="nav-header">
            <img class="logo" src="../assets/global/alumet.png" alt="logo" />
            <div class="pages">
                <a class="activePage" href="/auth/signup">Accueil</a>
                <a href="/auth/signin">Prix</a>
                <a href="/auth/signin">Blog</a>
                <a href="/auth/signin">A propos</a>
                <a href="/auth/signin">Status</a>
            </div>
            <div class="actions">
                <button onclick="window.location.href='/auth/signup'" class="large greyed">S'inscrire</button>
                <button onclick="window.location.href='/auth/signin'" class="large">Se connecter</button>
            </div>
            <div class="burger" id="burger">
                <span class="burger-line"></span>
                <span class="burger-line"></span>
                <span class="burger-line"></span>
            </div>
        </div>
        <div class="mobile-nav">
            <div class="links">
                <a class="activePage" href="/auth/signup">Accueil</a>
                <a href="/auth/signin">Prix</a>
                <a href="/auth/signin">Blog</a>
                <a href="/auth/signin">A propos</a>
                <a href="/auth/signin">Status</a>
            </div>
            <div class="row-low-buttons">
                <button onclick="window.location.href='/auth/signup'" class="large greyed">S'inscrire</button>
                <button onclick="window.location.href='/auth/signin'" class="large">Se connecter</button>
            </div>
        </div>
        <section class="home">
            <div class="heading-section">
                <h1>Vous offrir les outils qui font la différence, gratuitement !</h1>
                <p>Alumet Education propose une suite d’outils innovant pour peforme lorep ipsum dolor asit amet lorep aka74 miaplacidus megaloman</p>
            </div>
            <!-- <div class="app-selector">
                <p class="activeApp">Alumets</p>
                <p>Flashcards</p>
                <p>Cartes Mentales</p>
            </div> -->
        </section>
    </body>
    <script src="../script/global.js"></script>
    <script src="../script/main.js"></script>
</html>
