<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../assets/public/alumet.ico" />

    <meta name="description" content="Une nouvelle façon d'organiser vos classes.">
    <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers">
    <meta property="og:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
    <meta property="og:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://alumet.io">
    <meta property="og:image" content="https://i.imgur.com/WZO8U8s.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="alumet.io">
    <meta name="twitter:url" content="https://alumet.io/">
    <meta name="twitter:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
    <meta name="twitter:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta name="twitter:image" content="https://i.imgur.com/WZO8U8s.png">

    <link rel="stylesheet" type="text/css" href="../style/main.css">
    <link rel="stylesheet" type="text/css" href="../style/global.css">

    <title>Alumet</title>
</head>
<body>
    <div class="logo">
        <img class="logo-alumet" src="../assets/app/alumet.png"  alt="logo d'Alumet">
        <h1>Alumet</h1> 
        <button class="button" onclick="window.location.href='/auth/signup'">Inscription</button>
        <button id="connect" class="button" onclick="window.location.href='/auth/signin'";>Se connecter<img class="fleche" src="../assets/app/open.svg"></button> 
    </div>
    <div class="description"><h2>Projet de NSI, réalisé par Loris, Maxence et Colomban, année 2023</h2></div>
    <h1 class="gros-titre">Une nouvelle facon<br> d’organiser vos classes</h1>
    <div class="ligne"></div>
    <div class="features">
        <div class="box">
            <img class="feature-img" src="../assets/app/front-1.png" alt="feature 1">
            <div class="text-infos">
                <h3 class="feature-title">Pensé pour l’école</h3>
                <p class="feature-desc">Cette application a été conçue en collaboration avec des professeurs, c'est certain que vous trouverez ce que vous êtes venu chercher.</p>
            </div>
        </div>
        <div class="box">
            <img class="feature-img" src="../assets/app/front-2.png" alt="feature 1">
            <div class="text-infos">
                <h3 class="feature-title">Design, rapide, simple</h3>
                <p class="feature-desc">Epurée, travaillée et accessible, l'interface saura vous séduire. Vous ne pouvez plus perdre de temps.</p>
            </div>
        </div>
        <div class="box">
            <img class="feature-img" src="../assets/app/front-3.png" alt="feature 1">
            <div class="text-infos">
                <h3 class="feature-title">Ou que vous soyez !</h3>
                <p class="feature-desc">Tout est enregistré, où que vous soyez, retrouvez vos fichiers et vos alertes, et profitez également d'une synchronisation en temps réel.</p>
            </div>
        </div>
    </div>
    
    <div class="dots"></div>
</body>
<script src="../script/main.js"></script>
</html>