<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <link rel="icon" href="../../assets/global/alumet.ico" />

        <meta
            name="description"
            content="Alumet Education: an innovative digital workspace with a complete ecosystem of tools designed to workspace educational success. Built by and for students and teachers."
        />
        <meta name="keywords" content="Alumet, class, free, organization, boards, files, education, messaging, English, real time" />
        <meta property="og:title" content="Alumet Education" />
        <meta
            property="og:description"
            content="Alumet Education: an innovative digital workspace with a complete ecosystem of tools designed to workspace educational success. Built by and for students and teachers."
        />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://education.alumet.io" />
        <meta property="og:image" content="https://i.imgur.com/r9fXjM9.png" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:domain" content="alumet.io" />
        <meta name="twitter:url" content="https://education.alumet.io" />
        <meta name="twitter:title" content="Alumet Education" />
        <meta
            name="twitter:description"
            content="Alumet Education: an innovative digital workspace with a complete ecosystem of tools designed to workspace educational success. Built by and for students and teachers."
        />
        <meta name="twitter:image" content="https://i.imgur.com/r9fXjM9.png" />

        <link href="../../style/authentification/authentification.css" rel="stylesheet" type="text/css" />
        <link href="../../style/global.css" rel="stylesheet" type="text/css" />

        <title>Create</title>
    </head>
    <body>
        <section class="loading" style="display: flex">
            <h4>Alumet <span>Education</span></h4>
            <span class="loader-bar"></span>
        </section>
        <div class="user-popup popup">
            <div class="prompt">
                <input spellcheck="false" autocomplete="off" id="user-prompt" type="text" placeholder="Enter a first or last name" />
                <div class="users-fetch">
                    <div class="details loading-users">
                        <span class="loader"></span>
                    </div>
                    <div class="details no-result">
                        <h1>No resultats</h1>
                        <p>Affiner your recherche</p>
                    </div>
                </div>
                <div class="prompt-buttons">
                    <button class="large">Delete</button> <button class="large greyed" onclick="document.querySelector('.user-popup').classList.remove('active-popup')">Cancel</button>
                    <button onclick="document.querySelector('.user-popup').classList.remove('active-popup')" class="large">Confirm</button>
                </div>
            </div>
        </div>
        <div id="toast"></div>
        <section class="access load">
            <section style="display: none" class="full-screen">
                <span class="loader"></span>
                <h3>Patientez quelques instants...</h3>
            </section>
            <div class="container">
                <h1 id="new-app-title" class="indefinite-name">Create an application</h1>
                <div id="step1" class="activeStep">
                    <div class="user-details">
                        <h3>Un last name et une description</h3>
                        <p>This will make it easy to identify later</p>
                    </div>
                    <input id="app-name" required type="text" placeholder="Name" />
                    <input id="app-description" type="text" placeholder="Description" />
                    <div class="buttons">
                        <button onclick="window.location.href = '/dashboard';" class="large greyed">Cancel</button>
                        <button onclick="next(1, 2)" class="large">Continue</button>
                    </div>
                </div>
                <div id="step2">
                    <div class="user-details">
                        <h3>Options</h3>
                        <p class="app-name">Set the application options</p>
                    </div>
                    <div class="switch-options">
                        <select id="app-subject" class="option">
                            <option value="mathematics">Mathematics</option>
                            <option value="french">French</option>
                            <option value="history">History</option>
                            <option value="geography">Geography</option>
                            <option value="physics">Physics</option>
                            <option value="biology">SVT</option>
                            <option value="philosophy">Philosophy</option>
                            <option value="english">English</option>
                            <option value="language">Languages</option>
                            <option value="technology">Technology</option>
                            <option value="snt">SNT</option>
                            <option value="nsi">NSI</option>
                            <option value="other">Other</option>
                        </select>

                        <div class="option">
                            <h1 class="app-name">Application messaging</h1>
                            <label class="switch">
                                <input id="app-chat" checked="" type="checkbox" />
                                <span class="slide round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="buttons">
                        <button onclick="next(2, 1)" class="large greyed">Back</button>
                        <button onclick="next(2, 3)" class="large">Continue</button>
                    </div>
                </div>
                <div id="step3">
                    <div class="user-details">
                        <h3>Security</h3>
                        <p class="app-name">Define who can access the application</p>
                        <div class="radio-option">
                            <label class="radio" for="open">
                                <input checked="" type="radio" name="radio" id="open" />
                                <div class="radio-content">
                                    <div class="radio-details">
                                        <span>Open</span>
                                        <p>Anyone with a link can access the content; actions are AI moderated</p>
                                    </div>
                                </div>
                            </label>

                            <label class="radio" for="onpassword">
                                <input type="radio" id="onpassword" name="radio" />
                                <div class="radio-content">
                                    <div class="radio-details">
                                        <span>Password</span>
                                        <p>Access is restricted by a password. An account is not required</p>
                                    </div>
                                </div>
                            </label>

                            <input class="disabledInput" maxlength="50" autocomplete="off" type="text" name="password" id="password-input" placeholder="Password" />

                            <label class="radio" for="closed">
                                <input type="radio" id="closed" name="radio" />
                                <div class="radio-content">
                                    <div class="radio-details">
                                        <span>Closed</span>
                                        <p>You will need to manually add collaborators or participants who must have an account.</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>

                    <div class="buttons">
                        <button class="large greyed" onclick="next(3, 2)">Back</button>
                        <button onclick="next(3, 4)" class="large">Continue</button>
                    </div>
                </div>
                <div id="step4">
                    <div class="user-details">
                        <h3>Style</h3>
                        <p class="app-name">Optionally choose an image for the application</p>
                    </div>
                    <img class="alumet-background load-background" src="../../assets/default/default_alumet.jpg" />
                    <!-- //TODO - Change alumet name to app -->
                    <input id="alumet-background" type="file" accept="image/*" />
                    <div class="buttons">
                        <button onclick="next(4, 3)" class="large greyed">Back</button>
                        <button onclick="createApp()" class="large app-name">Create the application</button>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
    </script>
    <script src="../../script/global.js"></script>
    <script src="../../script/setup/setup.js" defer></script>
</html>
