<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <link rel="icon" href="../../assets/global/alumet.ico" />

        <meta
            name="description"
            content="Alumet Education : Un environnement numérique de travail innovant, offrant un écosystème complet d'outils conçus pour favoriser la réussite éducative. Unique en son genre, il a été développé par et pour les élèves et les professeurs. Fièrement maintenu et hébergé en France, il incarne l'excellence dans l'éducation numérique."
        />
        <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers, education, messagerie, français, temps réel, gratuit" />
        <meta property="og:title" content="Alumet Education" />
        <meta
            property="og:description"
            content="Alumet Education : Un environnement numérique de travail innovant, offrant un écosystème complet d'outils conçus pour favoriser la réussite éducative. Unique en son genre, il a été développé par et pour les élèves et les professeurs. Fièrement maintenu et hébergé en France, il incarne l'excellence dans l'éducation numérique."
        />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://education.alumet.io" />
        <meta property="og:image" content="https://i.imgur.com/r9fXjM9.png" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:domain" content="alumet.io" />
        <meta name="twitter:url" content="https://education.alumet.io" />
        <meta name="twitter:title" content="Alumet Education" />
        <meta
            name="twitter:description"
            content="Alumet Education : Un environnement numérique de travail innovant, offrant un écosystème complet d'outils conçus pour favoriser la réussite éducative. Unique en son genre, il a été développé par et pour les élèves et les professeurs. Fièrement maintenu et hébergé en France, il incarne l'excellence dans l'éducation numérique."
        />
        <meta name="twitter:image" content="https://i.imgur.com/r9fXjM9.png" />

        <link href="../../style/authentification/authentification.css" rel="stylesheet" type="text/css" />
        <link href="../../style/global.css" rel="stylesheet" type="text/css" />

        <title>Créer</title>
    </head>
    <body>
        <section class="loading" style="display: flex">
            <h4>Alumet <span>Education</span></h4>
            <span class="loader-bar"></span>
        </section>
        <div class="user-popup popup">
            <div class="prompt">
                <input spellcheck="false" autocomplete="off" id="user-prompt" type="text" placeholder="Entrez un nom ou prénom" />
                <div class="users-fetch">
                    <div class="details loading-users">
                        <span class="loader"></span>
                    </div>
                    <div class="details no-result">
                        <h1>Aucun resultats</h1>
                        <p>Affiner votre recherche</p>
                    </div>
                </div>
                <div class="prompt-buttons">
                    <button class="large">Supprimer</button> <button class="large greyed" onclick="document.querySelector('.user-popup').classList.remove('active-popup')">Annuler</button>
                    <button onclick="document.querySelector('.user-popup').classList.remove('active-popup')" class="large">Confirmer</button>
                </div>
            </div>
        </div>
        <div id="toast"></div>
        <section class="access load">
            <section style="display: none" class="full-screen">
                <span class="loader"></span>
                <h3>Patientez quelques instants...</h3>
            </section>
            <div class="container">
                <h1 id="new-app-title" class="indefinite-name">Créer une application</h1>
                <div id="step1" class="activeStep">
                    <div class="user-details">
                        <h3>Un nom et une description</h3>
                        <p>Cela vous permettra facilement de facilement l'identifier</p>
                    </div>
                    <input id="app-name" required type="text" placeholder="Nom" />
                    <input id="app-description" type="text" placeholder="Description" />
                    <div class="buttons">
                        <button onclick="window.location.href = '/dashboard';" class="large greyed">Annuler</button>
                        <button onclick="next(1, 2)" class="large">Continuer</button>
                    </div>
                </div>
                <div id="step2">
                    <div class="user-details">
                        <h3>Options</h3>
                        <p class="app-name">Déterminez les options de l'application</p>
                    </div>
                    <div class="switch-options">
                        <select id="app-subject" class="option">
                            <option value="mathematics">Mathématiques</option>
                            <option value="french">Français</option>
                            <option value="history">Histoire</option>
                            <option value="geography">Géographie</option>
                            <option value="physics">Physique</option>
                            <option value="biology">SVT</option>
                            <option value="philosophy">Philosophie</option>
                            <option value="english">Anglais</option>
                            <option value="language">Langues</option>
                            <option value="technology">Technologie</option>
                            <option value="other">Autre</option>
                        </select>

                        <div class="option">
                            <h1 class="app-name">Messagerie de l'application</h1>
                            <label class="switch">
                                <input id="app-chat" checked="" type="checkbox" />
                                <span class="slide round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="buttons">
                        <button onclick="next(2, 1)" class="large greyed">Retour</button>
                        <button onclick="next(2, 3)" class="large">Continuer</button>
                    </div>
                </div>
                <div id="step3">
                    <div class="user-details">
                        <h3>Sécurité</h3>
                        <p class="app-name">Définissez qui aura accès à l'application</p>
                        <div class="radio-option">
                            <label class="radio" for="open">
                                <input checked="" type="radio" name="radio" id="open" />
                                <div class="radio-content">
                                    <div class="radio-details">
                                        <span>Ouvert</span>
                                        <p>N'importe qui avec un lien peut accéder au contenue, les actions sont modérées par IA</p>
                                    </div>
                                </div>
                            </label>

                            <label class="radio" for="onpassword">
                                <input type="radio" id="onpassword" name="radio" />
                                <div class="radio-content">
                                    <div class="radio-details">
                                        <span>Mot de passe</span>
                                        <p>L'accès est restreint par un mot de passe. Il n'est pas nécéssaire d'avoir un compte</p>
                                    </div>
                                </div>
                            </label>

                            <input class="disabledInput" maxlength="50" autocomplete="off" type="text" name="password" id="password-input" placeholder="Mot de passe" />

                            <label class="radio" for="closed">
                                <input type="radio" id="closed" name="radio" />
                                <div class="radio-content">
                                    <div class="radio-details">
                                        <span>Fermé</span>
                                        <p>Vous devrez ajouter manuellement des collaborateurs ou participants qui doivent posséder un compte.</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>

                    <div class="buttons">
                        <button class="large greyed" onclick="next(3, 2)">Retour</button>
                        <button onclick="next(3, 4)" class="large">Continuer</button>
                    </div>
                </div>
                <div id="step4">
                    <div class="user-details">
                        <h3>Style</h3>
                        <p class="app-name">Définisser une image pour l'application</p>
                    </div>
                    <img class="alumet-background load-background" src="../../assets/default/default_alumet.jpg" />
                    <!-- //TODO - Change alumet name to app -->
                    <input id="alumet-background" type="file" accept="image/*" />
                    <div class="buttons">
                        <button onclick="next(4, 3)" class="large greyed">Retour</button>
                        <button onclick="createApp()" class="large app-name">Créer l'application</button>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
    </script>
    <script src="../../script/global.js"></script>
    <script src="../../script/setup/setup.js" defer></script>
</html>
