<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../assets/public/alumet.ico" />

    <meta name="description" content="Alumet, explorer d'une nouvelle façon.">
    <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers">
    <meta property="og:title" content="Alumet: Explorer d'une nouvelle façon.">
    <meta property="og:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://alumet.io">
    <meta property="og:image" content="https://i.imgur.com/O9RdHj1.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="alumet.io">
    <meta name="twitter:url" content="https://alumet.io/">
    <meta name="twitter:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
    <meta name="twitter:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta name="twitter:image" content="https://i.imgur.com/O9RdHj1.png">

    <link rel="stylesheet" href="../style/signin.css"/>
    <link rel="stylesheet" type="text/css" href="../style/global.css">

    <title>Alumet: connexion</title>
</head>
<body>
    <div class="header">
        <img class="logo" src="../assets/app/alumet.png" alt="logo">
        <h1 class="title">Alumet</h1>
    </div>
    <div class="high-container">
        <div class="low-container">
            <h1 class="thin-title">Portail de connexion</h1>
            <input id="mail" class="input" type="text" placeholder="Adresse e-mail">
            <input id="password" class="input" type="password" placeholder="Mot de passe">
            <button id="signin" class="button" type="button" onclick="this.classList.add('button--loading')">
                <span class="button__text">Se connecter<img class="button-img" src="../assets/app/open.svg"></span>
            </button>
        </div>
        <div class="features">
            <div class="feature">
                <h2 class="feature-title">Mise à jour</h2>
                <div class="new-feature">
                    <img src="../assets/app/feature_password.svg" class="feature-img">
                <p class="feature-text">File Manager</p>
                <p class="feature-description">Cet nouvelle mise a jour vous permettra désormais d’ajouter un mot de passe a vos fichier</p>
                </div>
            <div class="feature">
                <div class="new-feature" class="feature-img">
                    <img src="../assets/app/feature_password.svg">
                    <p class="feature-text">Sécurité globale</p>
                    <p class="feature-description">Amelioration global de la sécurité, il n’est plus possible de faire lorep ipsum dolor asit amet </p>
                </div>
            </div>
            <span class="feature-button">See other features</span>
        </div>
    </div>
    <div class="gradient"></div>
    <div class="dots"></div>
</body>
<script src="../script/signin.js"></script>
</html>