<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../assets/public/alumet.ico" />

    <meta name="description" content="Alumet, explorer d'une nouvelle façon.">
    <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers">
    <meta property="og:title" content="Alumet: Explorer d'une nouvelle façon.">
    <meta property="og:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://alumet.io">
    <meta property="og:image" content="https://i.imgur.com/O9RdHj1.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="alumet.io">
    <meta name="twitter:url" content="https://alumet.io/">
    <meta name="twitter:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
    <meta name="twitter:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta name="twitter:image" content="https://i.imgur.com/O9RdHj1.png">

    <link rel="stylesheet" href="../style/terms-of-service.css"/>
    <link rel="stylesheet" type="text/css" href="../style/global.css">

    <title>Alumet: terms of service</title>
</head>
<body>
    <!--Header-->
    <div class="blur-orange-background"></div>
    <div class="high-background-dots"></div>
    <div class="high-background-gradient"></div>
  
    <button class="burger-button-open-menu"></button>
    <header class="main-header">
      <div class="header-logo-navigation-container">
          <img onclick="document.location.href='/auth/main'" src="../assets/app/alumet.png" alt="Alumet's logo" class="logo-alumet">
          <a onclick="document.location.href='/auth/main'" class="name-logo">Alumet</a>
          <a onclick="document.location.href='/auth/statut'" class="button-header-navigation">Statut</a>
          <a onclick="document.location.href='/auth/project'" class="button-header-navigation">Le projet</a>
          <a onclick="document.location.href='/auth/main#adopt'" class="button-header-navigation">Pourquoi adopter ?</a>
          <a onclick="document.location.href='/auth/update'" class="button-header-navigation">Mise à jour</a>
        </div>
        <div class="header-connexion-buttons-container">
          <button class="button-signup-header" onclick="document.location.href='/auth/signin'">Se connecter</button>
          <button class="button-signin-header" onclick="document.location.href='/auth/signup'" >S'incrire</button>
        </div>
     </header>

    <!--Page-->
    <div class="title">
        <h1 class="big-title">Conditions d’utilisation</h1>
        <p class="subtitle-big-title">Conditions d’utilisation d’Alumet</p>
    </div>
    <div class="article">
      <h1 class="medium-title">Article 1 – Préambule</h1>
      <p class="paragraph">Alumet est un environnement de travail numérique disponible sous forme d'application web. Les professeurs peuvent gérer différents espaces appelés "Alumet" où ils peuvent organiser leur contenu sous forme de murs. Dans chacun de ces murs, ils peuvent déposer du contenu tel que des fichiers, qui seront nativement pris en charge et lus directement par l'interface Alumet. Les professeurs disposent de nombreux paramètres pour personnaliser leur espace et le faire correspondre au mieux à leur matière enseignée. Ils disposent également de paramètres de sécurité pour rendre leur Alumet publiquement disponible ou non.
      Lors de la création de leur espace, les professeurs peuvent décider d'activer des "modules". Les modules sont des fonctionnalités disponibles, telles qu'une messagerie en direct, un gestionnaire de devoirs et d'autres fonctionnalités selon les besoins du professeur.</p>
      <p class="paragraph">En utilisant notre site web, vous acceptez d'être lié par les présentes conditions. Si vous n'acceptez pas ces conditions, vous ne devez pas utiliser notre site web.</p>
    </div>
    <div class="article">
      <h1 class="medium-title">Article 2 – Objet</h1>
      <p class="paragraph">La présente charte définit les règles d’utilisation de l’ENT e-lyco afin de permettre un usage adapté et sécurisé de cet outil.</p>
    </div>
    <div class="article"> 
      <h1 class="medium-title">Article 3 – Identifiants et mots de passe</h1>
      <p class="paragraph">Le compte d’accès d’un utilisateur est constitué d’un identifiant et d’un mot de passe strictement personnels et confidentiels. Leur usage ne peut en aucun cas être cédé à un tiers à quelque titre que ce soit. L’utilisateur est responsable de leur conservation.</p>
    </div>
    <div class="article">
      <h1 class="medium-title">Article 4 – Conditions générales d’utilisation</h1>
      <p class="paragraph">L’utilisateur s’engage à respecter la loi lorsqu’il utilise l’ENT, notamment :</p>
      <ul class="liste">
        <li>Respect du droit des personnes, en ne portant pas atteinte à la vie privée d’autrui, en veillant à ne pas laisser diffuser de propos injurieux ou diffamatoires ;</li>
        <li>Respect de l’intégrité morale des mineurs ;</li>
        <li>Respect de l’ordre public en veillant à ne pas laisser diffuser sur l’ENT des propos discriminatoires, ou faisant l’apologie de crimes ou de délits ;</li>
        <li>respect du droit d’auteur et de la propriété intellectuelle ;</li>
        <li>respect de l’intégrité des ressources informatiques en veillant à ne pas effectuer des opérations pouvant nuire au fonctionnement du réseau.</li>
      </ul>
      <p class="paragraph">L’utilisateur s’engage à informer les modérateurs de l’existence de contenus ou comportements illicites dont il aurait connaissance.</p>
      <p class="paragraph">Toute utilisation d'Alumet à des fins lucratives ou commerciales est interdite.</p>
      <p class="paragraph">Lorsqu’une œuvre créée par un utilisateur, et notamment un élève, est une œuvre collective au sens de l’article L. 113-2 du Code de la propriété intellectuelle, cette œuvre est la propriété de la personne morale sous le nom de laquelle elle est divulguée.</p>
    </div>
    <div class="article"> 
      <h1 class="medium-title">Article 5 –  Conditions particulières d’utilisation des outils et services de communication et de publication.</h1>
      <h2 class="little-title">5.1. Messagerie interne</h2>
      <p class="paragraph">Alumet met à disposition des utilisateurs une messagerie interne. Le contenu des messages doit être conforme aux règles légales de respect des personnes.</p>
      <p class="paragraph">Les modérateurs peuvent accéder au contenu des messageries sur demande des autorités judiciaires.</p>
      <h2 class="little-title">5.2. Pages web et autres documents</h2>
      <p class="paragraph">L’utilisateur a la responsabilité des pages web ou autres documents  qu’il a créées. Il s’engage à y faire respecter les règles énoncées à l’article 4.</p>
    </div>
    <div class="article">
      <h1 class="medium-title">Article 6 – Protection des données à caractère personnel</h1>
      <p class="paragraph">Les données traitées par Alumet font l’objet d’un enregistrement dans le registre de traitement de l’établissement</p>
      <p class="paragraph">Conformément à la réglementation, l’utilisateur dispose d’un droit d’accès, de rectification, d’effacement, d’opposition et de portabilité aux informations qui le concernent.</p>
    </div>
    <div class="article"> 
      <h1 class="medium-title">Article 7 – Responsabilité</h1>
      <p class="paragraph">Les utilisateurs mineurs utilisent Alumet sous la seule responsabilité des personnes ayant sur eux l’autorité parentale.</p>
    </div> 
    <div class="article"> 
      <h1 class="medium-title">Article 8 – Conservation des données</h1>
      <p class="paragraph">La suppression par un utilisateur de ses propres données sur Alumet est de sa responsabilité. Chaque utilisateur doit organiser et mettre en œuvre les moyens nécessaires à la conservation des messages et des contenus qu’il met en ligne sur Alumet.</p>
    </div>  
    <div class="article"> 
      <h1 class="medium-title">Article 9 – Sanctions</h1>
      <p class="paragraph">L’établissement se réserve le droit de suspendre sans préavis l’accès à Alumet pour un utilisateur en cas de non-respect de la charte et notamment dans l’hypothèse où l’utilisateur aurait diffusé sur ses documents un contenu manifestement illicite ou contraire à la vocation éducative d’Alumet. Le cas échéant, des sanctions disciplinaires et des poursuites civiles ou pénales pourront être engagées.</p>
    </div>
    <div class="article"> 
      <h1 class="medium-title">Article 10 – Validité des conditions d'utilisation</h1>
      <p class="paragraph">La charte d’utilisation figurant en ligne sur Alumet prévaut sur toute version imprimée de date antérieure.</p>
      <p class="paragraph">Je reconnais avoir pris connaissance de la présente charte et m’engage à la respecter.</p>
    </div>

    <!--Footer-->
  <footer class="footer-container">
    <div class="footer-logo">
      <img onclick="document.location.href='/auth/main'" src="../assets/app/alumet.png" alt="Logo d'Alumet" class="logo-alumet-footer">
      <a onclick="document.location.href='/auth/main'" class="title-alumet-footer">Alumet</a>
    </div>
    <div class="footer-links-container">
      <p class="footer-paragraph"><a onclick="document.location.href='/auth/contacts'" class="terms-of-service">Contacts</a></p>
      <p>-</p>
      <p class="footer-paragraph"><a onclick="document.location.href='/auth/terms-of-service'" class="terms-of-service">Conditions d'utilisation</a></p>
      <p>-</p>
      <p class="footer-paragraph"><a onclick="document.location.href='/auth/report'" class="terms-of-service">Signaler un bug</a></p>
    </div>
  </footer>
  <script src="../script/terms-of-service.js"></script>      
</body>