<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../assets/public/alumet.ico" />

    <meta name="description" content="Alumet, explorer d'une nouvelle façon.">
    <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers">
    <meta property="og:title" content="Alumet: Explorer d'une nouvelle façon.">
    <meta property="og:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://alumet.io">
    <meta property="og:image" content="https://i.imgur.com/O9RdHj1.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="alumet.io">
    <meta name="twitter:url" content="https://alumet.io/">
    <meta name="twitter:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
    <meta name="twitter:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta name="twitter:image" content="https://i.imgur.com/O9RdHj1.png">

    <link rel="stylesheet" href="../style/update.css"/>
    <link rel="stylesheet" type="text/css" href="../style/global.css">

    <title>Alumet: Mise à jour</title>
</head>
<body>
    <!--Header-->
    <div class="blur-orange-background"></div>
    <div class="high-background-dots"></div>
    <div class="high-background-gradient"></div>
    <img class="burger-menu" src="../assets/app/menu.svg" alt="menu déroulant">
    <h1 class="main-title">Mise à jour</h1>
    <button class="burger-button-open-menu"></button>
    <header class="main-header">
      <div class="header-logo-container">
        <img onclick="document.location.href='/auth/main'" src="../assets/app/alumet.png" alt="Logo d'Alumet" class="logo-alumet">
        <a onclick="document.location.href='/auth/main'" class="name-logo">Alumet</a>
      </div>
      <div class="header-navigation-container">
        <a onclick="document.location.href='/auth/statut'" class="button-header-navigation">Statut</a>
        <a onclick="document.location.href='/auth/project'" class="button-header-navigation">Le projet</a>
        <a onclick="document.location.href='/auth/main#adopt'" class="button-header-navigation">Pourquoi adopter ?</a>
        <a onclick="document.location.href='/auth/update'" class="button-header-navigation">Mise à jour</a>
      </div>
      <div class="header-connexion-buttons-container">
        <button class="button-signup-header" onclick="document.location.href='/auth/signin'">Se connecter</button>
        <button class="button-signin-header" onclick="document.location.href='/auth/signup'" >S'incrire</button>
      </div>
   </header>

    <!--Page-->
    
    <div class="global-container">
      <div class="update-description-container">
        <p class="update-description-title">Première version d'Alumet</p>
        <p class="update-description-subtitle">Phase de tests du projet</p>
        <p class="update-description-paragraph">La première version d'Alumet, lancée le 23 avril 2023, est une étape cruciale pour notre projet. En effet, cette phase de test permet à des professeurs de l'essayer et de nous fournir de précieuses informations et retours de bugs. Ces commentaires nous permettront de perfectionner Alumet et de développer la prochaine version avec de nombreuses fonctionnalités innovantes.</p>
      </div>
      <div class="update-choice-container">
          <a class="update-date-title">Mise à jour</a>
          <div class="update-choice-date-container">
            <button onclick="affichage_2()" class="update-choice-date">23 Avril 2023</button>
          </div>
        </div>
    </div>

  <!--Footer-->
  <footer class="footer-container">
    <div class="footer-logo">
      <img onclick="document.location.href='/auth/main'" src="../assets/app/alumet.png" alt="Logo d'Alumet" class="logo-alumet-footer">
      <a onclick="document.location.href='/auth/main'" class="title-alumet-footer">Alumet</a>
    </div>
    <div class="footer-links-container">
      <p class="footer-paragraph"><a onclick="document.location.href='/auth/contacts'" class="terms-of-service">Contacts</a></p>
      <p>-</p>
      <p class="footer-paragraph"><a onclick="document.location.href='/auth/privacy-policy'" class="terms-of-service">Conditions d'utilisation</a></p>
      <p>-</p>
      <p class="footer-paragraph"><a onclick="document.location.href='/auth/terms-of-service'" class="terms-of-service">Privacy Policy</a></p>
      <p>-</p>
      <p class="footer-paragraph"><a onclick="document.location.href='/auth/report'" class="terms-of-service">Signaler un bug</a></p>
    </div>
  </footer>
</body>
<script src="../script/update.js"></script>
</html>