<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../assets/public/alumet.ico" />

    <meta name="description" content="Alumet, explorer d'une nouvelle façon.">
    <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers">
    <meta property="og:title" content="Alumet: Explorer d'une nouvelle façon.">
    <meta property="og:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://alumet.io">
    <meta property="og:image" content="https://i.imgur.com/O9RdHj1.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="alumet.io">
    <meta name="twitter:url" content="https://alumet.io/">
    <meta name="twitter:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
    <meta name="twitter:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
    <meta name="twitter:image" content="https://i.imgur.com/O9RdHj1.png">

    <link rel="stylesheet" href="../style/update.css"/>
    <link rel="stylesheet" type="text/css" href="../style/global.css">

    <title>Alumet: Mise à jour</title>
</head>
<body>
    <!--Header-->
    <div class="blur-orange-background"></div>
    <div class="high-background-dots"></div>
    <div class="high-background-gradient"></div>

    <div class="blur-orange-background"></div>
    <img class="burger-menu" src="../assets/app/menu.svg" alt="menu déroulant">
    <h1 class="main-title">Mise à jour</h1>
    <button class="burger-button-open-menu"></button>
    <header class="main-header">
      <div class="header-logo-navigation-container">
        <img onclick="document.location.href='/auth/main'" src="../assets/app/alumet.png" alt="Alumet's logo" class="logo-alumet">
        <a onclick="document.location.href='/auth/main'" class="name-logo">Alumet</a>
        <a onclick="document.location.href='/auth/statut'" class="button-header-navigation">Statut</a>
        <a onclick="document.location.href='/auth/project'" class="button-header-navigation">Le projet</a>
        <a href="#adopt" class="button-header-navigation">Pourquoi adopter ?</a>
        <a onclick="document.location.href='/auth/update'" class="button-header-navigation"><span style="color:#FF3D00">Mise à jour</span></a>
        </div>
        <div class="header-connexion-buttons-container">
          <button class="button-signup-header" onclick="document.location.href='/auth/signin'">Se connecter</button>
          <button class="button-signin-header" onclick="document.location.href='/auth/signup'" >S'incrire</button>
        </div>
     </header>

    <!--Page-->
    
    <div class="global">
      <div class="date">
        <a onclick="affichage_1()"class="title-date">Date</a><br><br>
        <a onclick="affichage_2()" class="update-date">Apr 21st, 2023</a>
      </div>
      <div class="presentation">
        <p class="text-presentation">Ici je ne sais pas encore quoi mettre</p>
      </div>
      <div class="changes">
        <h1 class="title-changes">Titre</h1>
        <img src="../assets/app/AcceuilConnected.png" alt="apercu-accueil" class="presentation-alumet-preview">
        <p class="recap-changes">paragraphe avec explication</p>
      </div>
    </div>

  <!--Footer-->
  <footer>
    <p><a onclick="document.location.href='/auth/terms-of-service'" class="terms-of-service">Conditions d'utilisation</a>-<a onclick="document.location.href='/auth/report'" class="report-bug">Vous avez trouvé un bug ?</a></p>
  </footer>
</body>
<script src="../script/update.js"></script>
</html>