<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="icon" href="../assets/global/alumet.ico" />
        <meta
            name="description"
            content="Alumet Education: an innovative digital workspace with a complete ecosystem of tools designed to workspace educational success. Built by and for students and teachers."
        />
        <meta name="keywords" content="Alumet, class, free, organization, boards, files, education, messaging, English, real time" />
        <meta property="og:title" content="Alumet Education" />
        <meta
            property="og:description"
            content="Alumet Education: an innovative digital workspace with a complete ecosystem of tools designed to workspace educational success. Built by and for students and teachers."
        />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://education.alumet.io" />
        <meta property="og:image" content="https://i.imgur.com/r9fXjM9.png" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:domain" content="alumet.io" />
        <meta name="twitter:url" content="https://education.alumet.io" />
        <meta name="twitter:title" content="Alumet Education" />
        <meta
            name="twitter:description"
            content="Alumet Education: an innovative digital workspace with a complete ecosystem of tools designed to workspace educational success. Built by and for students and teachers."
        />
        <meta name="twitter:image" content="https://i.imgur.com/r9fXjM9.png" />
        <link href="../style/pages/viewer.css" rel="stylesheet" type="text/css" />
        <link href="../style/global.css" rel="stylesheet" type="text/css" />

        <title>Alumet</title>
    </head>
    <body>
        <section class="loading" style="display: flex">
            <h4>Alumet <span>Education</span></h4>
            <span class="loader-bar"></span>
        </section>
        <div id="toast"></div>

        <div class="file-viewer">
            <div class="main-container">
                <div id="default" style="display: none" class="full-screen-infos">
                    <h3>This file cannot be opened online.</h3>
                    <button onclick="downloadFile()" class="large" id="download-file">Download</button>
                </div>
            </div>
            <!-- <div class="sub-container active-infos">
                <h2>Information</h2>
                <div class="divider"></div>
                <h3>File name</h3>
                <p id="file-name"></p>
                <h3>Owner</h3>
                <p id="file-owner"></p>
                <h3>Created</h3>
                <p id="file-creation"></p>
                <h3>Taille du file</h3>
                <p id="file-size"></p>
            </div> -->
        </div>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../script/global.js"></script>
    <script src="../script/utils/viewer.js"></script>
</html>
