<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="../assets/public/alumet.ico" />

  <meta name="description" content="Une nouvelle façon d'organiser vos classes.">
  <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers">
  <meta property="og:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
  <meta property="og:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://alumet.io">
  <meta property="og:image" content="https://i.imgur.com/WZO8U8s.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:domain" content="alumet.io">
  <meta name="twitter:url" content="https://alumet.io/">
  <meta name="twitter:title" content="Alumet: Une nouvelle façon d'organiser vos classes.">
  <meta name="twitter:description" content="Une façon repenser de trier vos cours / fichiers d'interagir avec votre classe !">
  <meta name="twitter:image" content="https://i.imgur.com/WZO8U8s.png">

  <link rel="stylesheet" type="text/css" href="../style/why-adpot.css">
  <link rel="stylesheet" type="text/css" href="../style/global.css">

    <title>Alumet - Pourquoi adopter </title>
</head>
<body>



    <!--Header-->
    <div class="blur-orange-background"></div>
    <div class="high-background-dots"></div>
    <div class="high-background-gradient"></div>

    <button class="burger-button-open-menu"></button>
    <header class="main-header">
      <div class="header-logo-container">
        <img onclick="document.location.href='/auth/main'" src="../assets/app/alumet.png" alt="Logo d'Alumet" class="logo-alumet">
        <a onclick="document.location.href='/auth/main'" class="name-logo">Alumet</a>
      </div>
      <div class="header-navigation-container">
        <!--<a onclick="document.location.href='/auth/statut'" class="button-header-navigation">Statut</a>-->
        <a onclick="document.location.href='/auth/project'" class="button-header-navigation">Le projet</a>
        <a onclick="document.location.href='/auth/main#adopt'" class="button-header-navigation">Pourquoi adopter ?</a>
        <a onclick="document.location.href='/auth/update'" class="button-header-navigation">Mise à jour</a>
      </div>
      <div class="header-connexion-buttons-container">
        <button class="button-signup-header" onclick="document.location.href='/auth/signin'">Se connecter</button>
        <button class="button-signin-header" onclick="document.location.href='/auth/signup'" >S'incrire</button>
      </div>
     </header>
  




     <!-- Big Title-->
    <div class="big-project-title-container">
        <span class="big-main-title">Ne payez plus pour enseigner. Avec Alumet, devenez maître de vos classes en toute simplicité.</span>
        <p class="big-project-title-details">Tous les outils pédagogiques ne sont pas créés égaux. Les enseignants passent de Padlet à Alumet pour un enseignement en ligne plus interactif et plaisant. Commencez à créer votre plateforme éducative en ligne dès aujourd'hui avec Alumet.</p>
      <button class="incentive-join-button" onclick="document.location.href='/views/pages/signup.html'">Rejoindre<img src="../assets/app/Vector.png" alt="petite flèche" class="incentive-join-button-arrow"></button>
    </div>
    


    <div class="light-blur-orange-background"></div>




    <!--Comparaison-->
    <div class="separation-line"></div>


    <div class="comparaison-global-container">
        <p class="comparaison-big-title">Pourquoi choisir Alumet ?</p>
        <div class="comparaison-arguments-container">
            <div class="comparaison-argument">
                <img class="comparaison-argument-illustration" src="../assets/app/free-incon.png">
                    <p class="comparaison-argument-title">Un service de qualité en toute gratuité</p>
                    <p class="comparaison-argument-paragraph">Alumet vous propose ses services sans frais, pour que vous puissiez
                      laisser aller votre motivation sans limites
                    </p>
            </div>
            <div class="comparaison-argument">
              <img class="comparaison-argument-illustration" src="../assets/app/vie-privee.png">
              <p class="comparaison-argument-title">On respecte votre vie privée</p>
              <p class="comparaison-argument-paragraph">Nous collectons peu de données personnelles et ne les revendons pas, pour préserver votre vie privée</p>
            </div>
            <div class="comparaison-argument">
              <img class="comparaison-argument-illustration" src="../assets/app/securite.png">
              <p class="comparaison-argument-title">Une sécurité avancée</p>
              <p class="comparaison-argument-paragraph">Profitez d'une sécurité optimale en décidant vous-même qui peut accéder à vos Alumet et les modifier.</p>
            </div>
        </div>
    </div>
    

  <!--Footer-->
  <footer class="footer-container">
    <div class="footer-logo">
      <img onclick="document.location.href='/auth/main'" src="../assets/app/alumet.png" alt="Logo d'Alumet" class="logo-alumet-footer">
      <a onclick="document.location.href='/auth/main'" class="title-alumet-footer">Alumet</a>
    </div>
    <div class="footer-links-container">
      <p class="footer-paragraph"><a onclick="document.location.href='/auth/contacts'" class="footer-links">Contacts</a></p>
      <p class="footer-hyphen">-</p>
      <p class="footer-paragraph"><a onclick="document.location.href='/auth/privacy-policy'" class="footer-links">Conditions d'utilisation</a></p>
      <p class="footer-hyphen">-</p>
      <p class="footer-paragraph"><a onclick="document.location.href='/auth/terms-of-service'" class="footer-links">Politique de confidentialité</a></p>
      <p class="footer-hyphen">-</p>
      <p class="footer-paragraph"><a onclick="document.location.href='/auth/report'" class="footer-links">Signaler un bug</a></p>
    </div>
  </footer>
  </body>
<script src="../script/project.js"></script>
<script src="../'script/why-adpot.js"></script>
</html>