<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="icon" href="../assets/global/alumet.ico" />

        <meta name="description" content="Flashcards : Un outil efficace pour faciliter et accélérer l'apprentissage de nouvelles notions, tout en développant durablement la mémoire à long terme." />
        <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers, education, messagerie, français, temps réel, gratuit" />
        <meta property="og:title" content="Alumet Education" />
        <meta property="og:description" content="Flashcards : Un outil efficace pour faciliter et accélérer l'apprentissage de nouvelles notions, tout en développant durablement la mémoire à long terme." />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://education.alumet.io" />
        <meta property="og:image" content="https://i.imgur.com/vL2azjy.png" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:domain" content="alumet.io" />
        <meta name="twitter:url" content="https://education.alumet.io/" />
        <meta name="twitter:title" content="Alumet Education" />
        <meta name="twitter:description" content="Flashcards : Un outil efficace pour faciliter et accélérer l'apprentissage de nouvelles notions, tout en développant durablement la mémoire à long terme." />
        <meta name="twitter:image" content="https://i.imgur.com/vL2azjy.png" />

        <title>Flashcards</title>
        <link rel="stylesheet" type="text/css" href="../style/pages/alumet.css" />
        <link rel="stylesheet" href="../../style/navigation.css" />
        <link rel="stylesheet" type="text/css" href="../../style/global.css" />
        <link rel="stylesheet" type="text/css" href="../../style/applications/flashcards.css" />

        <title>Flashcards - Alumet Education</title>
    </head>
    <body>
        <section class="loading" style="display: flex">
            <h4>Alumet <span>Education</span></h4>
            <span class="loader-bar"></span>
        </section>

        <div class="prompt-popup popup">
            <div class="prompt">
                <h1 id="prompt-head">Prompt name</h1>
                <h4 id="prompt-desc"></h4>
                <input autocomplete="off" id="prompt-input" type="text" placeholder="Prompt placeholder" />
                <div class="prompt-buttons">
                    <button class="large" id="prompt-red">Supprimer</button> <button class="large greyed" onclick="document.querySelector('.prompt-popup').classList.remove('active-popup')">Annuler</button>
                    <button class="large" id="prompt-confirm">Confirmer</button>
                </div>
                <datalist id="users"> </datalist>
            </div>
        </div>
        <div style="display: none" class="file-picker">
            <div class="files-container">
                <div class="from-device">
                    <h3>Le fichier est sur votre appareil ?</h3>
                    <button id="load-post-file" class="large greyed">Charger le fichier</button>
                    <input type="file" style="display: none" id="post-file" />
                </div>
                <div class="row-fm-header">
                    <select name="folder" id="folder-selection"></select>
                </div>
                <div class="files-selector">
                    <div class="folder-container">
                        <div class="folder-list"></div>
                    </div>
                    <div class="files">
                        <div class="files-box">
                            <div class="files-items connected">
                                <div class="full-screen" style="display: none">
                                    <h1>Pas de fichiers</h1>
                                    <p>Ce dossier ne contient pas de fichiers</p>
                                </div>
                            </div>
                        </div>
                        <div class="files-selected">
                            <button onclick="document.querySelector('.file-picker').style.display='none'" class="large greyed">Annuler</button>
                            <button class="large">Selectionner</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-popup popup">
            <div class="prompt">
                <input spellcheck="false" autocomplete="off" id="user-prompt" type="text" placeholder="Entrez un nom ou prénom" />
                <div class="users-fetch">
                    <div class="details loading-users">
                        <span class="loader"></span>
                    </div>
                    <div class="details no-result">
                        <h1>Aucun resultats</h1>
                        <p>Affiner votre recherche</p>
                    </div>
                </div>
                <div class="prompt-buttons">
                    <button class="large">Supprimer</button> <button class="large greyed" onclick="document.querySelector('.user-popup').classList.remove('active-popup')">Annuler</button>
                    <button onclick="confirmCollaborators('flashcards')" class="large">Confirmer</button>
                </div>
            </div>
        </div>
        <div id="toast"></div>
        <div class="alumet">
            <div class="header">
                <div>
                    <h1 id="flashcard-title">Titre du jeu de flashcard</h1>
                    <p id="flashcard-description">Description du jeu de flashcard</p>
                </div>
                <button onclick="navbar('revise')" class="large">Réviser</button>
            </div>
            <div class="progression">
                <div data-bar="3" id="good"></div>
                <div data-bar="2" id="medium"></div>
                <div data-bar="1" id="bad"></div>
                <div data-bar="0" id="neutral"></div>
            </div>
            <div class="flashcards-container">
                <div onclick="newFlashcards()" class="new-flashcard admin">
                    <img src="../../assets/global/flashcards_a.svg" />
                    <h3>Ajouter des flashcards</h3>
                </div>
            </div>
        </div>

        <div class="overlay">
            <div class="overlay-content menu">
                <h1 class="admin" onclick="navbar('ia')">IA</h1>
                <h1 onclick="navbar('participants')">Participants</h1>
                <h1 class="admin" onclick="navbar('share')">Partager</h1>
                <h1 onclick="navbar('share')">Aide</h1>
                <h1 class="admin" onclick="navbar('settings')">Paramètres</h1>
                <h1 onclick="navbar('profile')">Identité</h1>
                <div class="row-bottom-buttons">
                    <button onclick="window.location.href='/dashboard'" class="large greyed">Retour tableau de bord</button>
                </div>
            </div>

            <div class="overlay-content revise">
                <div id="radio-revise" class="radio-option">
                    <label for="sandbox" class="radio">
                        <input checked type="radio" id="sandbox" name="radio" />
                        <div class="radio-content">
                            <div class="radio-details">
                                <span>Révision bac à sable</span>
                                <p>Le mode de révision "bac à sable" vous permet de réviser de manière aléatoire l'ensemble de votre jeu de flashcards.</p>
                            </div>
                        </div>
                    </label>
                    <label for="smart" class="radio">
                        <input type="radio" id="smart" name="radio" />
                        <div class="radio-content">
                            <div class="radio-details">
                                <span>Révision intelligente</span>
                                <p>
                                    Le mode de révision "intelligent" vous fait réviser vos flashcards par sections de 10.<br />Lorsqu'une flashcard est validée, un algorithme détermine la prochaine révison afin d'optimiser la révision à long terme.
                                </p>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="buttons">
                    <div class="option">
                        <h1>Inversion questions / réponses</h1>
                        <label class="switch">
                            <input id="reversed" type="checkbox" />
                            <span class="slide round"></span>
                        </label>
                    </div>
                    <button onclick="promptResetUserDatas()" class="large reded connectedOnly">Réinitialiser ma progression</button>
                    <button onclick="revise()" class="large">Commencer ma révision</button>
                </div>
            </div>

            <div class="overlay-content ia">
                <div class="header-setting">
                    <div>
                        <h1>Créer avec l'IA</h1>
                        <p>Créer des flashcards grâce à la <b>puissance</b> de l'intelligence artificielle.</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="grid-user-container">
                    <div class="item">
                        <h3>Comment voulez vous générez vos flaschards ?</h3>
                        <div class="modulable-header">
                            <div class="modulable-left">
                                <div data-ref="ia" data-module="document" class="module-selected">Document PDF<span class="redot"></span></div>
                                <div data-ref="ia" data-module="keywords">Mots-clés</div>
                            </div>
                        </div>
                        <div style="display: flex" data-reference="ia" class="module document selector-plain">
                            <div data-unique="true" data-extensions="pdf" class="drop-box">
                                <div class="indications">
                                    <div>
                                        <img src="../assets/global/upload.svg" alt="file icon" />
                                    </div>
                                </div>
                                <div class="sending-box rts">
                                    <div class="loading-box reponsive-hide"><img src="../assets/global/file_rts.svg" alt="tick" /></div>
                                    <div class="file-sending-infos">
                                        <h3>file_name<span id="file-upload-ext">.ext</span></h3>
                                    </div>
                                    <div class="send-actions"><button onclick="cancelSend()" id="cancel-send" class="large greyed">Retirer</button></div>
                                </div>
                            </div>
                        </div>
                        <div data-reference="ia" style="display: none" class="module keywords">
                            <div class="keywords-input">
                                <input type="text" id="keyword" placeholder="Mots clés" />
                                <button class="large" onclick="addKeyword()">Ajouter</button>
                            </div>
                            <div class="keywords-container"></div>
                            <div class="item">
                                <h3>Combien de flashcards voulez vous générer ? (20 max)</h3>
                                <input min="1" max="20" type="number" id="flashcards-amount" placeholder="Nombre de flashcards" value="10" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <div class="info-box experimental experiments-aiFlashcards" style="display: flex">
                        Vous bénéficiez d'un accès exclusif qui peut être instable. <strong>Conseils :</strong>

                        <li>Fonctionne bien pour les cours théoriques ou les feuilles de vocabulaire.</li>
                        <li>Moins efficace pour les cours avec de nombreux exercices ou applications pratiques (ex : mathématiques).</li>
                        <li>Il est recommandé d'essayer plusieurs fois, car les résultats peuvent varier considérablement.</li>
                    </div>

                    <button class="large experimental experiments-aiFlashcards" onclick="generateWithIA('keywords')">Générer les flashcards</button>
                    <button class="large experimental greyed experiments-aiFlashcards" onclick="navbar('verify-flashcards')">Flashcards créées</button>
                    <div class="warning-box experiments-aiFlashcards-rv">Cette fonctionnalité est expérimentale, vous devez demander l'accès pour l'utiliser.</div>
                </div>
            </div>

            <div class="overlay-content verify-flashcards">
                <div class="header-setting">
                    <div>
                        <h1>Vérifier les flashcards</h1>
                        <p>Vérifier et modifier les flashcards créées par l'intelligence artificielle</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="flashcards-container"></div>
                <div class="row-bottom-buttons">
                    <button class="large greyed" onclick="displayPageIA()">Retour</button>
                    <button class="large" onclick="createFlashcards('ia')">Ajouter les flashcards</button>
                </div>
            </div>

            <div class="overlay-content loading-flashcards">
                <div class="full-screen">
                    <span class="loader-bar"></span>
                </div>
            </div>
            <div class="overlay-content loadingRessources">
                <div class="loading full-screen">
                    <span class="loader"></span>
                    <h3>Nous appliquons les modifications<br />Patientez quelques instants</h3>
                </div>
            </div>

            <div class="overlay-content settings">
                <div class="modulable-header">
                    <div class="modulable-left">
                        <div data-ref="settings" data-module="informationsS" class="module-selected">Informations<span class="redot"></span></div>
                        <div data-ref="settings" data-module="style">Style<span class="redot"></span></div>
                        <div data-ref="settings" data-module="security" class="">Sécurité</div>
                    </div>
                    <div class="modulable-right">
                        <button onclick="modifyApp()" class="large">Enregistrer</button>
                    </div>
                </div>
                <div data-reference="settings" style="display: flex" class="module informationsS">
                    <input type="file" name="alumet-background" id="alumet-background" accept="image/png, image/jpeg" />
                    <div class="grid-user-container">
                        <div class="item">
                            <h3>Nom du jeu de flashcards</h3>
                            <input class="disabledInput" type="text" name="alumetName" id="appName" placeholder="Nom du jeu de flashcards" />
                        </div>
                        <div class="item">
                            <h3>Description du jeu de flashcards</h3>
                            <input class="disabledInput" type="text" name="alumetDescription" id="appDescription" placeholder="Description du jeu de flashcards" />
                        </div>
                        <div class="item">
                            <h3>Matière du jeu de flashcards</h3>
                            <select id="appSubject">
                                <option value="mathematics">Mathématiques</option>
                                <option value="french">Français</option>
                                <option value="history">Histoire</option>
                                <option value="geography">Géographie</option>
                                <option value="physics">Physique</option>
                                <option value="biology">SVT</option>
                                <option value="philosophy">Philosophie</option>
                                <option value="english">Anglais</option>
                                <option value="language">Langues</option>
                                <option value="technology">Technologie</option>
                                <option value="other">Autre</option>
                            </select>
                        </div>
                        <div class="item">
                            <h3>Supprimer le jeu de flashcards</h3>
                            <button onclick="engageDeletion()" class="large reded">Supprimer le jeu de flashcards</button>
                        </div>
                    </div>
                </div>
                <div data-reference="settings" class="module style">
                    <div class="grid-user-container">
                        <div class="item">
                            <h3>Image d'arrière plan</h3>
                            <img class="backgroundImg" src="../assets/global/dev.png" />
                        </div>
                        <div class="item">
                            <h3>Police d'écriture</h3>
                            <select name="font" disabled="true" style="cursor: not-allowed">
                                <option value="arial">Plus Jakarta Sans</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div data-reference="settings" class="module security">
                    <div class="grid-user-container">
                        <div class="item">
                            <h3>Niveau d'accès</h3>
                            <div class="radio-option">
                                <label class="radio" for="open">
                                    <input checked type="radio" name="radio" id="open" />
                                    <div class="radio-content">
                                        <div class="radio-details">
                                            <span>Ouvert</span>
                                            <p>N'importe qui avec un lien peut accéder au contenu, les actions sont modérées par IA</p>
                                        </div>
                                    </div>
                                </label>

                                <label class="radio" for="onpassword">
                                    <input type="radio" id="onpassword" name="radio" />
                                    <div class="radio-content">
                                        <div class="radio-details">
                                            <span>Mot de passe</span>
                                            <p>L'accès est restreint par un mot de passe. Il n'est pas nécéssaire d'avoir un compte</p>
                                        </div>
                                    </div>
                                </label>

                                <input class="disabledInput" maxlength="50" autocomplete="off" type="text" name="password" id="password-input" placeholder="Mot de passe" />

                                <label class="radio" for="closed">
                                    <input type="radio" id="closed" name="radio" />
                                    <div class="radio-content">
                                        <div class="radio-details">
                                            <span>Fermé</span>
                                            <p>L'utilisateur doit être connecté et demander l'accès, vous pourrez refuser ou accepter</p>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="item">
                            <h3>Option avancées</h3>
                            <div class="switch-options">
                                <div class="option">
                                    <h1>Messagerie du jeu de flashcards</h1>
                                    <label class="switch">
                                        <input id="appChat" checked="" type="checkbox" />
                                        <span class="slide round"></span>
                                    </label>
                                </div>
                                <div class="option">
                                    <h1>Repertorié dans votre organisation</h1>
                                    <label class="switch">
                                        <input id="appDiscovery" type="checkbox" />
                                        <span class="slide round"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay-content share">
                <div style="display: none" class="closed">
                    <div class="warning-box">Vous pouvez modifier le niveau d'accès de votre support dans les paramètres afin de le partager avec vos élèves ou d'autres personnes.</div>
                    <div class="header-setting">
                        <div>
                            <h1>Votre support est privé !</h1>
                            <p>Si vous souhaitez partager votre contenu avec davantage de personnes, comme une classe par exemple, vous devrez ajouter manuellement les collaborateurs et modifier le niveau d'accès dans les paramètres de sécurité.</p>
                        </div>
                    </div>
                    <div class="divider"></div>

                    <div class="row-bottom-buttons">
                        <button onclick="navbar('settings')" class="large greyed">Paramètres</button>
                        <button onclick="addCollaborators()" class="large">Ajouter des collaborateurs</button>
                    </div>
                </div>

                <div style="display: none" class="onpassword">
                    <div class="header-setting">
                        <div>
                            <h1>Votre support est sécurisé !</h1>
                            <p>Il est nécessaire d'entrer un mot de passe pour accéder à votre support. Vous pouvez le partager avec vos élèves ou d'autres personnes grâce au lien ci-dessous.</p>
                        </div>
                    </div>
                    <div class="divider"></div>

                    <div class="row-bottom-buttons">
                        <div class="option">
                            <h1>Inclure le mot de passe dans le lien</h1>
                            <label class="switch">
                                <input id="passwordLink" checked="" type="checkbox" />
                                <span class="slide round"></span>
                            </label>
                        </div>
                        <input name="invitationLink" autocomplete="off" class="app-link" type="text" placeholder="Lien d'invitation" disabled="true" style="display: block" />
                    </div>
                </div>

                <div style="display: none" class="open">
                    <div class="header-setting">
                        <div>
                            <h1>Votre support est ouvert !</h1>
                            <p>Toute personne possédant le lien ci-dessous peut accéder à votre support. Cependant, si elles ne sont pas collaboratrices ou si vous n'avez pas autorisé la publication, elles ne pourront que le consulter.</p>
                        </div>
                    </div>
                    <div class="divider"></div>

                    <div class="row-bottom-buttons">
                        <input name="invitationLink" autocomplete="off" class="app-link" type="text" placeholder="Lien d'invitation" disabled="true" style="display: block" />
                    </div>
                </div>
            </div>
            <div class="overlay-content participants">
                <div class="header-setting">
                    <div>
                        <h1>Participants</h1>
                        <p>Gérer les participants ici</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="participants-container">
                    <div class="information">
                        <img src="../assets/global/collaboration.svg" />
                        <h3>Aucun participant</h3>
                        <p>Les participants et collaborateurs de votre jeu de flashcards seront affichés ici, vous pourrez ensuite les gérer.</p>
                    </div>
                </div>
                <div class="row-bottom-buttons admin">
                    <button onclick="addCollaborators()" class="large">Ajouter des collaborateurs</button>
                </div>
            </div>

            <div class="overlay-content profile">
                <div class="header-setting">
                    <div>
                        <h1>Identité</h1>
                        <p>Votre identité sur cet application</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="user-infos">
                    <img src="../assets/default/default_user.png" />
                    <div class="user-details">
                        <h3>Anonyme</h3>
                        <p>Déconnecté</p>
                    </div>
                </div>
                <div class="row-bottom-buttons">
                    <button onclick="promptLeave()" class="large reded connectedOnly">Quitter cet application</button>
                    <button class="large connect">Se connecter</button>
                </div>
            </div>

            <div class="overlay-content flashcards">
                <div class="header-setting">
                    <div>
                        <h1>Nouvelle flaschard</h1>
                        <p>Créez une nouvelle flashcard ci-dessous.</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="grid-user-container">
                    <div class="item">
                        <h3>Ecrivez ici la question</h3>
                        <input maxlength="120" type="text" id="question" class="disabledInput" placeholder="Question" autocomplete="off" />
                    </div>
                    <div class="item">
                        <h3>Ecrivez ici la réponse</h3>
                        <input maxlength="120" type="text" id="answer" class="disabledInput" placeholder="Réponse" autocomplete="off" />
                    </div>
                </div>

                <div class="post-buttons admin">
                    <div class="buttons">
                        <button onclick="navbar('home')" class="large greyed">Retour</button>
                        <button onclick="deleteFlashcard()" class="large reded">Supprimer</button>
                    </div>
                    <button onclick="checkFlashcard()" class="large">Créer</button>
                </div>
            </div>
            <div class="overlay-content help">
                <div class="header-setting">
                    <div>
                        <h1>Aide</h1>
                        <p>Apprenez à utiliser votre Alumet dans les moindres détails !</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="accordion">
                    <div class="accordion-item">
                        <input type="checkbox" id="accordion50" />
                        <label for="accordion50" class="accordion-item-title"><span class="icon"></span>Comment ajouter de nouvelles flashcards</label>
                        <div class="accordion-item-desc">
                            Pour ajouter de nouvelles flashcards, utilisez le bouton "Ajouter des flashcards". Si ce bouton n'est pas visible, cela peut signifier que vous n'êtes ni collaborateur ni propriétaire. Dans ce cas, demandez à un
                            administrateur de vous ajouter. Vous avez également la possibilité d'utiliser l'intelligence artificielle pour générer rapidement du contenu à partir de cours ou de mots-clés.
                        </div>
                    </div>
                    <div class="accordion-item">
                        <input type="checkbox" id="accordion6" />
                        <label for="accordion6" class="accordion-item-title"><span class="icon"></span>Comment réviser mes flashcards ?</label>
                        <div class="accordion-item-desc">
                            Pour réviser vos flashcards, cliquez sur le bouton "Réviser". Vous aurez ensuite le choix entre deux modes de révision. Si vous connaissez la réponse à une flashcard, faites-la glisser vers la droite, sinon vers la gauche.
                            Utilisez la touche espace pour révéler la réponse.
                        </div>
                    </div>
                    <div class="accordion-item">
                        <input type="checkbox" id="accordion7" />
                        <label for="accordion7" class="accordion-item-title"><span class="icon"></span>Pourquoi ne puis-je plus réviser en mode intelligent ?</label>
                        <div class="accordion-item-desc">
                            Le mode de révision intelligent est conçu pour favoriser le développement de la mémoire à long terme. Pour cette raison, il peut être nécessaire d'attendre quelques jours avant de pouvoir réviser à nouveau votre jeu de
                            flashcards.
                        </div>
                    </div>
                    <div class="accordion-item">
                        <input type="checkbox" id="accordion8" />
                        <label for="accordion8" class="accordion-item-title"><span class="icon"></span>À quoi correspond cette page comparée au mode de révision ?</label>
                        <div class="accordion-item-desc">Cette page permet aux administrateurs de gérer les flashcards et offre aux utilisateurs un aperçu des flashcards ainsi que de leur progression.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar">
            <div class="burger" id="burger">
                <span class="burger-line"></span>
                <span class="burger-line"></span>
                <span class="burger-line"></span>
            </div>
            <div id="menu"></div>
            <button onclick="navbar('participants')" id="participants">
                <img src="../assets/global/participants.svg" alt="Participants" />
                <p>Collaboration</p>
            </button>
            <button onclick="displayPageIA()" class="admin" id="ia">
                <img src="../../assets/global/ai.svg" alt="messagerie" />
                <p>IA</p>
            </button>
            <button class="admin" onclick="navbar('share')" id="share">
                <img src="../assets/global/share.svg" alt="Partager" />
                <p>Partager</p>
            </button>
            <button onclick="navbar('help')" id="help">
                <img src="../assets/global/help.svg" alt="Aide" />
                <p>Aide</p>
            </button>
            <button class="admin" onclick="navbar('settings')" id="settings">
                <img src="../assets/global/settings.svg" alt="paramètres" />
                <p>Paramètres</p>
            </button>
            <button id="bottomNav" onclick="window.location.href='/dashboard'">
                <img src="../assets/global/back.svg" alt="paramètres" />
                <p>Tableau de bord</p>
            </button>
            <button onclick="navbar('profile')" class="navProfile"><img src="../assets/default/default_user.png" /></button>
        </div>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
    </script>
    <script src="../../script/global.js"></script>
    <script src="../../script/navigation.js"></script>
    <script src="../../script/applications/flashcards.js"></script>
    <script src="../../script/utils/filePicker.js"></script>
</html>
