<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="../../assets/global/alumet.ico" />
        <meta name="description" content="Alumet: La flamme de l’innovation au service de l’éducation." />
        <meta name="keywords" content="Alumet, classe, free, organisation, murs, fichiers, courses, classroom" />
        <meta property="og:title" content="Alumet: La flamme de l’innovation au service de l’éducation." />
        <meta property="og:description" content="L'outil gratuit, open-source, pour l'éducation, construit par des élèves, pour des professeurs. Maintenu et hébergé en France." />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://alumet.io" />
        <meta property="og:image" content="https://i.imgur.com/QMtz1MF.png" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:domain" content="alumet.io" />
        <meta name="twitter:url" content="https://alumet.io/" />
        <meta name="twitter:title" content="Alumet: La flamme de l’innovation au service de l’éducation." />
        <meta name="twitter:description" content="L'outil gratuit, open-source, pour l'éducation, construit par des élèves, pour des professeurs. Maintenu et hébergé en France." />
        <meta name="twitter:image" content="https://i.imgur.com/QMtz1MF.png" />

        <link rel="stylesheet" type="text/css" href="../style/pages/alumet.css" />
        <link rel="stylesheet" type="text/css" href="../../style/global.css" />
        <link rel="stylesheet" type="text/css" href="../../style/applications/flashcards.css" />

        <title>Alumet</title>
    </head>
    <body>
        <section class="loading" style="display: flex">
            <h4>Alumet <span>Education</span></h4>
            <span class="loader-bar"></span>
        </section>

        <div class="prompt-popup popup">
            <div class="prompt">
                <h1 id="prompt-head">Prompt name</h1>
                <h4 id="prompt-desc"></h4>
                <input autocomplete="off" id="prompt-input" type="text" placeholder="Prompt placeholder" />
                <div class="prompt-buttons">
                    <button class="large" id="prompt-red">Supprimer</button> <button class="large" onclick="document.querySelector('.prompt-popup').classList.remove('active-popup')">Annuler</button>
                    <button class="large" id="prompt-confirm">Confirmer</button>
                </div>
                <datalist id="users"> </datalist>
            </div>
        </div>
        <div class="user-popup popup">
            <div class="prompt">
                <h1>Ajouter des collaborateurs</h1>
                <input spellcheck="false" autocomplete="off" id="user-prompt" type="text" placeholder="Entrez un nom ou prénom" />
                <div class="users-fetch">
                    <div class="details loading-users">
                        <span class="loader"></span>
                    </div>
                    <div class="details no-result">
                        <h1>Aucun resultats</h1>
                        <p>Affiner votre recherche</p>
                    </div>
                </div>
                <div class="prompt-buttons">
                    <button class="large">Supprimer</button> <button class="large" onclick="document.querySelector('.user-popup').classList.remove('active-popup')">Annuler</button>
                    <button onclick="confirmCollaborators('flashcards')" class="large">Confirmer</button>
                </div>
            </div>
        </div>
        <div id="toast"></div>
        <div class="alumet">
            <div class="header">
                <div>
                    <h1 id="flashcard-title">Titre du jeu de flashcard</h1>
                    <p id="flashcard-description">Description du jeu de flashcard</p>
                </div>
                <button onclick="navbar('revise')" class="large">Reviser</button>
            </div>
            <div class="progression">
                <div data-bar="3" id="good"></div>
                <div data-bar="2" id="medium"></div>
                <div data-bar="1" id="bad"></div>
                <div data-bar="0" id="neutral"></div>
            </div>
            <div class="flashcards-container">
                <div onclick="newFlashcards()" class="new-flashcard adminsOnly">
                    <img src="../../assets/global/flashcards_a.svg" />
                    <h3>Ajouter des flashcards</h3>
                </div>
            </div>
        </div>

        <div class="overlay">
            <div class="overlay-content menu">
                <h1 onclick="navbar('home')">Accueil</h1>
                <h1 onclick="navbar('ia')">IA</h1>
                <h1 onclick="navbar('participants')">Collaborateurs</h1>
                <h1 onclick="navbar('settings')">Paramètres</h1>
                <h1 onclick="navbar('profile')">Profile</h1>
            </div>

            <div class="overlay-content revise">
                <div class="information">
                    <img src="../../assets/global/learning.svg" />
                </div>
                <div class="choose">
                    <div class="choose-option">
                        <div>
                            <h1>Révision bac à sable</h1>
                            <p>Tous réviser libremement</p>
                        </div>
                        <button onclick="revise('sandbox')" class="large">Commencer</button>
                    </div>
                    <div class="choose-option">
                        <div>
                            <h1>Révision intelligente</h1>
                            <p>Réviser à votre rythme</p>
                        </div>
                        <button onclick="revise('smart')" class="large">Commencer</button>
                    </div>
                    <div class="choose-option">
                        <div>
                            <h1>Révision pour contrôle</h1>
                            <p>Étalé sur plusieurs jours</p>
                        </div>
                        <button onclick="revise('control')" class="large">Bientôt</button>
                    </div>
                </div>
            </div>

            <div class="overlay-content ia">
                <div class="header-setting">
                    <div>
                        <h1>Créer avec l'IA</h1>
                        <p>Créer des flashcards grâce à la <b>puissance</b> de l'intelligence artificielle.</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="drop-box">
                    <div class="indications">
                        <p>
                            Cliquer ici pour selectionner un fichier<br>
                            Vous pouvez envoyer 1 ficher par publication
                        </p>
                    </div>
                    <div class="sending-box rts">
                        <div class="loading-box reponsive-hide"><img src="../assets/global/file_rts.svg" alt="tick"></div>
                        <div class="file-sending-infos">
                            <h3>file_name<span id="file-upload-ext">.ext</span></h3>
                        </div>
                        <div class="send-actions"><button onclick="cancelSend()" id="cancel-send" class="large greyed">Retirer</button></div>
                    </div>
                </div>
                <button class="large" onclick="generateIA()">Génairay phlachkarde</button>

            </div>

            <div class="overlay-content verify-flashcards">
                <div class="header-setting">
                    <div>
                        <h1>Vérifier les flashcards</h1>
                        <p>Vérifier et modifier les flashcards créées par Mindflash IA</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="flashcards-container"></div>
                <button class="large" onclick="createFlashcards()">Ajouter les flashcards</button>
            </div>

            <div class="overlay-content loading-flashcards">
                <div class="loading full-screen">
                    <span class="loader"></span>
                    <h3>Génération des flashcards par Mindflash IA<br />Patientez quelques instants</h3>
                </div>
            </div>
            <div class="overlay-content loadingRessources">
                <div class="loading full-screen">
                    <span class="loader"></span>
                    <h3>Nous appliquons les modifications<br />Patientez quelques instants</h3>
                </div>
            </div>

            <div class="overlay-content settings">
                <div class="header-setting">
                    <div>
                        <h1>Paramètres</h1>
                        <p>Modifier les paramètres du jeu de flashcard ici.</p>
                    </div>
                    <button onclick="modifyFlashcard()" class="large adminsOnly">Enregistrer</button>
                </div>
                <div class="divider"></div>
                <div class="grid-user-container">
                    <div class="item">
                        <h3>Nom du jeu de flashcards</h3>
                        <input maxlength="150" type="text" class="disabledInput" name="flashcardName" id="flashcardName" placeholder="Nom de l'Alumet" autocomplete="on" />
                    </div>
                    <div class="item">
                        <h3>Description du jeu de flashcards</h3>
                        <input maxlength="300" type="text" class="disabledInput" name="flashcardDescription" id="flashcardDescription" placeholder="Description de l'Alumet" autocomplete="on" />
                    </div>
                    <div class="item">
                        <h3>Lien de partage</h3>
                        <input disabled="true" type="text" name="invitationLink" autocomplete="on" id="invitationLink" placeholder="Aucun code d'invitation" />
                    </div>
                    <div class="item">
                        <h3>Option d'administrations</h3>
                        <div class="switch-options">
                            <div class="option">
                                <h1>Publique (découverte)</h1>
                                <label class="switch">
                                    <input id="flashcardPublic" type="checkbox" />
                                    <span class="slide round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <h3>Option d'administrations</h3>
                        <button onclick="engageDeletion('flashcard')" class="large reded">Supprimer le jeu de flashcard</button>
                    </div>
                </div>
            </div>
            <div class="overlay-content participants">
                <div class="header-setting">
                    <div>
                        <h1>Participants</h1>
                        <p>Gerer les participants ici.</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="participants-container">
                    <div class="information">
                        <img src="../assets/global/collaboration.svg" />
                    </div>
                </div>
                <div class="row-bottom-buttons adminsOnly">
                    <button onclick="addCollaborators()" class="large greyed">Ajouter des collaborateurs</button>
                    <button onclick="addParticipants()" class="large">Ajouter des participants</button>
                </div>
            </div>

            <div class="overlay-content profile">
                <h1>Profile</h1>
                <div class="divider"></div>
                <div class="user-infos">
                    <img src="../assets/default/default_user.png" />
                    <div class="user-details">
                        <h3>Anonyme</h3>
                        <p>Déconnecté</p>
                    </div>
                </div>
                <div class="row-bottom-buttons">
                    <button onclick="window.location.href='/dashboard'" class="large greyed">Retour au tableau de bord</button>
                    <button onclick="promptLeave()" class="large reded">Quitter cet Alumet</button>
                    <button class="large connect">Se connecter</button>
                </div>
            </div>

            <div class="overlay-content loadfile">
                <div class="loading full-screen">
                    <span class="loader"></span>
                </div>
                <h1>Choisir un fichier</h1>
                <div class="divider"></div>
                <div class="from-device">
                    <h3>Le fichier est sur votre appareil ?</h3>
                    <button id="load-post-file" class="large greyed">Charger le fichier</button>
                    <input type="file" style="display: none" id="post-file" accept="application/pdf" />
                </div>

                <select name="folder" id="folder-selection" class="connected"></select>
                <div class="files-header">
                    <h3>Nom du fichier</h3>
                    <h3>Taille</h3>
                    <h3>Mise en ligne</h3>
                    <input id="search-bar" placeholder="Rechercher un fichier" type="text" name="search" />
                </div>
                <div class="files-items">
                    <div class="loader-container">
                        <span class="loader-upload"></span>
                    </div>
                    <div class="full-screen" style="display: flex">
                        <h1>Pas de fichiers</h1>
                        <p>Ce dossier ne contient pas de fichiers</p>
                    </div>
                </div>
                <button onclick="navbar('ia')" class="large greyed">Annuler</button>
            </div>
            <div class="overlay-content flashcards">
                <div class="header-setting">
                    <div>
                        <h1>Nouvelles flaschards</h1>
                        <p>Vous pourrez les modifier plus tard.</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="grid-user-container">
                    <div class="item">
                        <h3>Ecrivez ici la question</h3>
                        <input type="text" id="question" class="disabledInput" placeholder="Question" autocomplete="off" />
                    </div>
                    <div class="item">
                        <h3>Ecrivez ici la réponse</h3>
                        <input type="text" id="answer" class="disabledInput" placeholder="Réponse" autocomplete="off" />
                    </div>
                </div>

                <div class="post-buttons">
                    <button onclick="deleteFlashcard()" class="large reded adminsOnly">Supprimer</button>
                    <button onclick="checkFlashcard()" class="large adminsOnly adminsOnly">Créer</button>
                </div>
            </div>
        </div>
        <div class="navbar">
            <div class="burger" id="burger">
                <span class="burger-line"></span>
                <span class="burger-line"></span>
                <span class="burger-line"></span>
            </div>
            <div id="menu"></div>
            <button onclick="navbar('home')" class="navbar-active" id="home">
                <img src="../assets/global/home_a.svg" alt="home" />
                <p>Accueil</p>
            </button>
            <button onclick="navbar('ia')" class="connectedOnly" id="ia">
                <img src="../../assets/global/rocket_a.svg" alt="messagerie" />
                <p>IA</p>
            </button>
            <button onclick="navbar('participants')" id="participants">
                <img src="../assets/global/participants.svg" alt="Participants" />
                <p>Collaboration</p>
            </button>
            <button onclick="navbar('settings')" id="settings">
                <img src="../assets/global/settings.svg" alt="paramètres" />
                <p>Paramètres</p>
            </button>
            <button onclick="window.location.href='/dashboard'">
                <img src="../assets/global/chinese_flag.png" alt="paramètres" />
                <p>Tableau de bord</p>
            </button>
            <button onclick="navbar('profile')" class="force" id="profile"><img src="../assets/default/default_user.png" /></button>
        </div>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
    </script>
    <script src="../../script/global.js"></script>
    <script src="../../script/navigation.js"></script>
    <script src="../../script/applications/flashcards.js"></script>
</html>
