<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="icon" href="../assets/global/alumet.ico" />

        <meta name="description" content="Flashcards: an effective tool to make learning new concepts faster while building long-term memory." />
        <meta name="keywords" content="Alumet, class, free, organization, boards, files, education, messaging, English, real time" />
        <meta property="og:title" content="Alumet Education" />
        <meta property="og:description" content="Flashcards: an effective tool to make learning new concepts faster while building long-term memory." />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://education.alumet.io" />
        <meta property="og:image" content="https://i.imgur.com/vL2azjy.png" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:domain" content="alumet.io" />
        <meta name="twitter:url" content="https://education.alumet.io/" />
        <meta name="twitter:title" content="Alumet Education" />
        <meta name="twitter:description" content="Flashcards: an effective tool to make learning new concepts faster while building long-term memory." />
        <meta name="twitter:image" content="https://i.imgur.com/vL2azjy.png" />

        <title>Flashcards</title>
        <link rel="stylesheet" type="text/css" href="../style/pages/alumet.css" />
        <link rel="stylesheet" href="../../style/navigation.css" />
        <link rel="stylesheet" type="text/css" href="../../style/global.css" />
        <link rel="stylesheet" type="text/css" href="../../style/applications/flashcards.css" />

        <title>Flashcards - Alumet Education</title>
    </head>
    <body>
        <section class="loading" style="display: flex">
            <h4>Alumet <span>Education</span></h4>
            <span class="loader-bar"></span>
        </section>

        <div class="prompt-popup popup">
            <div class="prompt">
                <h1 id="prompt-head">Prompt name</h1>
                <h4 id="prompt-desc"></h4>
                <input autocomplete="off" id="prompt-input" type="text" placeholder="Prompt placeholder" />
                <div class="prompt-buttons">
                    <button class="large" id="prompt-red">Delete</button> <button class="large greyed" onclick="document.querySelector('.prompt-popup').classList.remove('active-popup')">Cancel</button>
                    <button class="large" id="prompt-confirm">Confirm</button>
                </div>
                <datalist id="users"> </datalist>
            </div>
        </div>
        <div style="display: none" class="file-picker">
            <div class="files-container">
                <div class="from-device">
                    <h3>Is the file on your device?</h3>
                    <button id="load-post-file" class="large greyed">Upload file</button>
                    <input type="file" style="display: none" id="post-file" />
                </div>
                <div class="row-fm-header">
                    <select name="folder" id="folder-selection"></select>
                </div>
                <div class="files-selector">
                    <div class="folder-container">
                        <div class="folder-list"></div>
                    </div>
                    <div class="files">
                        <div class="files-box">
                            <div class="files-items connected">
                                <div class="full-screen" style="display: none">
                                    <h1>Pas de files</h1>
                                    <p>This folder does not contain any files</p>
                                </div>
                            </div>
                        </div>
                        <div class="files-selected">
                            <button onclick="document.querySelector('.file-picker').style.display='none'" class="large greyed">Cancel</button>
                            <button class="large">Selectionner</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-popup popup">
            <div class="prompt">
                <input spellcheck="false" autocomplete="off" id="user-prompt" type="text" placeholder="Enter a first or last name" />
                <div class="users-fetch">
                    <div class="details loading-users">
                        <span class="loader"></span>
                    </div>
                    <div class="details no-result">
                        <h1>No resultats</h1>
                        <p>Affiner your recherche</p>
                    </div>
                </div>
                <div class="prompt-buttons">
                    <button class="large">Delete</button> <button class="large greyed" onclick="document.querySelector('.user-popup').classList.remove('active-popup')">Cancel</button>
                    <button onclick="confirmCollaborators('flashcards')" class="large">Confirm</button>
                </div>
            </div>
        </div>
        <div id="toast"></div>
        <div class="alumet">
            <div class="header">
                <div>
                    <h1 id="flashcard-title">Title du jeu de flashcard</h1>
                    <p id="flashcard-description">Flashcard set description</p>
                </div>
                <button onclick="navbar('revise')" class="large">Review</button>
            </div>
            <div class="progression">
                <div data-bar="3" id="good"></div>
                <div data-bar="2" id="medium"></div>
                <div data-bar="1" id="bad"></div>
                <div data-bar="0" id="neutral"></div>
            </div>
            <div class="flashcards-container">
                <div onclick="newFlashcards()" class="new-flashcard admin">
                    <img src="../../assets/global/flashcards_a.svg" />
                    <h3>Add flashcards</h3>
                </div>
            </div>
        </div>

        <div class="overlay">
            <div class="overlay-content menu">
                <h1 class="admin" onclick="navbar('ia')">IA</h1>
                <h1 onclick="navbar('participants')">Participants</h1>
                <h1 class="admin" onclick="navbar('share')">Partager</h1>
                <h1 onclick="navbar('help')">Aide</h1>
                <h1 class="admin" onclick="navbar('settings')">Settings</h1>
                <h1 onclick="navbar('profile')">Identity</h1>
                <div class="row-bottom-buttons">
                    <button onclick="window.location.href='/dashboard'" class="large greyed">Back to dashboard</button>
                </div>
            </div>

            <div class="overlay-content revise">
                <div id="radio-revise" class="radio-option">
                    <label for="sandbox" class="radio">
                        <input checked type="radio" id="sandbox" name="radio" />
                        <div class="radio-content">
                            <div class="radio-details">
                                <span>Sandbox review</span>
                                <p>Sandbox review lets you review the whole flashcard set randomly.</p>
                            </div>
                        </div>
                    </label>
                    <label for="smart" class="radio">
                        <input type="radio" id="smart" name="radio" />
                        <div class="radio-content">
                            <div class="radio-details">
                                <span>Smart review</span>
                                <p>
                                    Smart review presents flashcards in sections of 10.<br />When a flashcard is validated, an algorithm schedules the next review to optimize long-term learning.
                                </p>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="buttons">
                    <div class="option">
                        <h1>Reverse questions / answers</h1>
                        <label class="switch">
                            <input id="reversed" type="checkbox" />
                            <span class="slide round"></span>
                        </label>
                    </div>
                    <button onclick="promptResetUserDatas()" class="large reded connectedOnly">Reset my progress</button>
                    <button onclick="revise()" class="large">Start my review</button>
                </div>
            </div>

            <div class="overlay-content ia">
                <div class="header-setting">
                    <div>
                        <h1>Create avec l'IA</h1>
                        <p>Create flashcards with the <b>power</b> of artificial intelligence.</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="grid-user-container">
                    <div class="item">
                        <h3>How do you want to generate your flashcards?</h3>
                        <div class="modulable-header">
                            <div class="modulable-left">
                                <div data-ref="ia" data-module="document" class="module-selected">Document PDF<span class="redot"></span></div>
                                <div data-ref="ia" data-module="keywords">Keywords</div>
                            </div>
                        </div>
                        <div style="display: flex" data-reference="ia" class="module document selector-plain">
                            <div data-unique="true" data-extensions="pdf" class="drop-box">
                                <div class="indications">
                                    <div>
                                        <img src="../assets/global/upload.svg" alt="file icon" />
                                    </div>
                                </div>
                                <div class="sending-box rts">
                                    <div class="loading-box reponsive-hide"><img src="../assets/global/file_rts.svg" alt="tick" /></div>
                                    <div class="file-sending-infos">
                                        <h3>file_name<span id="file-upload-ext">.ext</span></h3>
                                    </div>
                                    <div class="send-actions"><button onclick="cancelSend()" id="cancel-send" class="large greyed">Remove</button></div>
                                </div>
                            </div>
                        </div>
                        <div data-reference="ia" style="display: none" class="module keywords">
                            <div class="keywords-input">
                                <input type="text" id="keyword" placeholder="Keywords" />
                                <button class="large" onclick="addKeyword()">Add</button>
                            </div>
                            <div class="keywords-container"></div>
                            <div class="item">
                                <h3>How many flashcards do you want to generate? (20 max)</h3>
                                <input min="1" max="20" type="number" id="flashcards-amount" placeholder="Number of flashcards" value="10" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <div class="info-box experimental experiments-aiFlashcards" style="display: flex">
                        You have exclusive access that may be unstable. <strong>Tips:</strong>

                        <li>Works well for theory lessons or vocabulary sheets.</li>
                        <li>Less effective for lessons with many exercises or practical applications (for example, mathematics).</li>
                        <li>Try several times, as results may vary significantly.</li>
                    </div>

                    <button class="large experimental experiments-aiFlashcards" onclick="generateWithIA('keywords')">Generate flashcards</button>
                    <button class="large experimental greyed experiments-aiFlashcards" onclick="navbar('verify-flashcards')">Created flashcards</button>
                    <div class="warning-box experiments-aiFlashcards-rv">This feature is experimental; you must request access to use it.</div>
                </div>
            </div>

            <div class="overlay-content verify-flashcards">
                <div class="header-setting">
                    <div>
                        <h1>Review generated flashcards</h1>
                        <p>Review and edit flashcards created by artificial intelligence</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="flashcards-container"></div>
                <div class="row-bottom-buttons">
                    <button class="large greyed" onclick="displayPageIA()">Back</button>
                    <button class="large" onclick="createFlashcards('ia')">Add flashcards</button>
                </div>
            </div>

            <div class="overlay-content loading-flashcards">
                <div class="full-screen">
                    <span class="loader-bar"></span>
                </div>
            </div>
            <div class="overlay-content loadingResources">
                <div class="loading full-screen">
                    <span class="loader"></span>
                    <h3>We are applying the changes<br />Please wait a moment</h3>
                </div>
            </div>

            <div class="overlay-content settings">
                <div class="modulable-header">
                    <div class="modulable-left">
                        <div data-ref="settings" data-module="informationsS" class="module-selected">Information<span class="redot"></span></div>
                        <div data-ref="settings" data-module="style">Style<span class="redot"></span></div>
                        <div data-ref="settings" data-module="security" class="">Security</div>
                    </div>
                    <div class="modulable-right">
                        <button onclick="modifyApp()" class="large">Save</button>
                    </div>
                </div>
                <div data-reference="settings" style="display: flex" class="module informationsS">
                    <input type="file" name="alumet-background" id="alumet-background" accept="image/png, image/jpeg" />
                    <div class="grid-user-container">
                        <div class="item">
                            <h3>Flashcard set name</h3>
                            <input class="disabledInput" type="text" name="alumetName" id="appName" placeholder="Flashcard set name" />
                        </div>
                        <div class="item">
                            <h3>Flashcard set description</h3>
                            <input class="disabledInput" type="text" name="alumetDescription" id="appDescription" placeholder="Flashcard set description" />
                        </div>
                        <div class="item">
                            <h3>Flashcard set subject</h3>
                            <select id="appSubject">
                                <option value="mathematics">Mathematics</option>
                                <option value="french">French</option>
                                <option value="history">History</option>
                                <option value="geography">Geography</option>
                                <option value="physics">Physics</option>
                                <option value="biology">SVT</option>
                                <option value="philosophy">Philosophy</option>
                                <option value="english">English</option>
                                <option value="language">Languages</option>
                                <option value="technology">Technology</option>
                                <option value="snt">SNT</option>
                                <option value="nsi">NSI</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                        <div class="item">
                            <h3>Delete flashcard set</h3>
                            <button onclick="engageDeletion()" class="large reded">Delete flashcard set</button>
                        </div>
                    </div>
                </div>
                <div data-reference="settings" class="module style">
                    <div class="grid-user-container">
                        <div class="item">
                            <h3>Background image</h3>
                            <img class="backgroundImg" src="../assets/global/dev.png" />
                        </div>
                        <div class="item">
                            <h3>Font</h3>
                            <select name="font" disabled="true" style="cursor: not-allowed">
                                <option value="arial">Plus Jakarta Sans</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div data-reference="settings" class="module security">
                    <div class="grid-user-container">
                        <div class="item">
                            <h3>Access level</h3>
                            <div class="radio-option">
                                <label class="radio" for="open">
                                    <input checked type="radio" name="radio" id="open" />
                                    <div class="radio-content">
                                        <div class="radio-details">
                                            <span>Open</span>
                                            <p>Anyone with a link can access the content; actions are AI moderated</p>
                                        </div>
                                    </div>
                                </label>

                                <label class="radio" for="onpassword">
                                    <input type="radio" id="onpassword" name="radio" />
                                    <div class="radio-content">
                                        <div class="radio-details">
                                            <span>Password</span>
                                            <p>Access is restricted by a password. An account is not required</p>
                                        </div>
                                    </div>
                                </label>

                                <input class="disabledInput" maxlength="50" autocomplete="off" type="text" name="password" id="password-input" placeholder="Password" />

                                <label class="radio" for="closed">
                                    <input type="radio" id="closed" name="radio" />
                                    <div class="radio-content">
                                        <div class="radio-details">
                                            <span>Closed</span>
                                            <p>The user must be signed in and request access; you can accept or decline.</p>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="item">
                            <h3>Advanced options</h3>
                            <div class="switch-options">
                                <div class="option">
                                    <h1>Flashcard set messaging</h1>
                                    <label class="switch">
                                        <input id="appChat" checked="" type="checkbox" />
                                        <span class="slide round"></span>
                                    </label>
                                </div>
                                <div class="option">
                                    <h1>Listed in your organization</h1>
                                    <label class="switch">
                                        <input id="appDiscovery" type="checkbox" />
                                        <span class="slide round"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay-content share">
                <div style="display: none" class="closed">
                    <div class="warning-box">You can change the access level in settings to share this workspace with students or other people.</div>
                    <div class="header-setting">
                        <div>
                            <h1>Your workspace is private.</h1>
                            <p>To share your content with more people, such as a class, manually add collaborators and adjust access in security settings.</p>
                        </div>
                    </div>
                    <div class="divider"></div>

                    <div class="row-bottom-buttons">
                        <button onclick="navbar('settings')" class="large greyed">Settings</button>
                        <button onclick="addCollaborators()" class="large">Add collaborators</button>
                    </div>
                </div>

                <div style="display: none" class="onpassword">
                    <div class="header-setting">
                        <div>
                            <h1>Your workspace is protected.</h1>
                            <p>A password is required to access this workspace. You can share it with students or others using the link below.</p>
                        </div>
                    </div>
                    <div class="divider"></div>

                    <div class="row-bottom-buttons">
                        <div class="option">
                            <h1>Include the password in the link</h1>
                            <label class="switch">
                                <input id="passwordLink" checked="" type="checkbox" />
                                <span class="slide round"></span>
                            </label>
                        </div>
                        <input name="invitationLink" autocomplete="off" class="app-link" type="text" placeholder="Lien d'invitation" disabled="true" style="display: block" />
                    </div>
                </div>

                <div style="display: none" class="open">
                    <div class="header-setting">
                        <div>
                            <h1>Your workspace is open.</h1>
                            <p>Anyone with the link below can access this workspace. If they are not collaborators or posting is disabled, they can only view it.</p>
                        </div>
                    </div>
                    <div class="divider"></div>

                    <div class="row-bottom-buttons">
                        <input name="invitationLink" autocomplete="off" class="app-link" type="text" placeholder="Lien d'invitation" disabled="true" style="display: block" />
                    </div>
                </div>
            </div>
            <div class="overlay-content participants">
                <div class="header-setting">
                    <div>
                        <h1>Participants</h1>
                        <p>Manage participants here</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="participants-container">
                    <div class="information">
                        <img src="../assets/global/collaboration.svg" />
                        <h3>No participant</h3>
                        <p>Participants and collaborators for your flashcard set will appear here so you can manage them.</p>
                    </div>
                </div>
                <div class="row-bottom-buttons admin">
                    <button onclick="addCollaborators()" class="large">Add collaborators</button>
                </div>
            </div>

            <div class="overlay-content profile">
                <div class="header-setting">
                    <div>
                        <h1>Identity</h1>
                        <p>Your identity in this application</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="user-infos">
                    <img src="../assets/default/default_user.png" />
                    <div class="user-details">
                        <h3>Anonyme</h3>
                        <p>Signed out</p>
                    </div>
                </div>
                <div class="row-bottom-buttons">
                    <button onclick="promptLeave()" class="large reded connectedOnly">Quitter cet application</button>
                    <button class="large connect">Sign in</button>
                </div>
            </div>

            <div class="overlay-content quizlet">
                <div class="header-setting">
                    <div>
                        <h1>Importer depuis Quizlet</h1>
                    </div>
                </div>
                <div class="divider"></div>
                <h3>
                    To import flashcards from Quizlet, open your Quizlet set, click "...", then choose "Export". In the field between term and definition, enter "$$$". Between rows, enter "!!!". Then copy the text and paste it below.
                </h3>
                <textarea id="quizletInput" placeholder="Collez le texte ici"></textarea>
                <div class="row-bottom-buttons">
                    <button onclick="importFlashcard()" class="large">Importer les flashcards</button>
                </div>
            </div>
            <div class="overlay-content flashcards">
                <div class="header-setting">
                    <div>
                        <h1>Nouvelle flaschard</h1>
                        <p>Create a new flashcard below.</p>
                    </div>
                    <button onclick="navbar('quizlet')" id="quizlet">
                        <img src="../../assets/global/quizlet.svg" />
                    </button>
                </div>
                <div class="divider"></div>
                <div class="item">
                    <h3>Write the question here</h3>
                    <div class="description-container">
                        <div class="editor" id="question" placeholder="Question" spellcheck="false" contenteditable="true" onkeypress="return (this.innerText.length <= 300)"></div>
                        <div id="toolbar">
                            <div>
                                <button id="bold" onclick="makeHighlight()"><b>H</b></button>
                                <button id="bold" onclick="makeBold()"><b>G</b></button>
                                <button id="italic" onclick="makeItalic()"><i>I</i></button>
                                <button id="underline" onclick="doUnderline()"><u>S</u></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <h3>Write the answer here</h3>
                    <div class="description-container">
                        <div class="editor" id="answer" placeholder="Answer" spellcheck="false" contenteditable="true" onkeypress="return (this.innerText.length <= 300)"></div>
                        <div id="toolbar">
                            <div>
                                <button id="bold" onclick="makeHighlight()"><b>H</b></button>
                                <button id="bold" onclick="makeBold()"><b>G</b></button>
                                <button id="italic" onclick="makeItalic()"><i>I</i></button>
                                <button id="underline" onclick="doUnderline()"><u>S</u></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="post-buttons admin">
                    <div class="buttons">
                        <button onclick="navbar('home')" class="large greyed">Back</button>
                        <button onclick="deleteFlashcard()" class="large reded">Delete</button>
                    </div>
                    <button onclick="checkFlashcard()" class="large">Create</button>
                </div>
            </div>
            <div class="overlay-content help">
                <div class="header-setting">
                    <div>
                        <h1>Aide</h1>
                        <p>Learn how to use your Alumet in every detail.</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="accordion">
                    <div class="accordion-item">
                        <input type="checkbox" id="accordion50" />
                        <label for="accordion50" class="accordion-item-title"><span class="icon"></span>Comment ajouter de nouvelles flashcards</label>
                        <div class="accordion-item-desc">
                            To add new flashcards, use the "Add flashcards" button. If this button is not visible, you are probably neither a collaborator nor the owner. In that case, ask an administrator to add you. You can also use artificial intelligence to quickly generate content from courses or keywords.
                        </div>
                    </div>
                    <div class="accordion-item">
                        <input type="checkbox" id="accordion6" />
                        <label for="accordion6" class="accordion-item-title"><span class="icon"></span>How do I review my flashcards?</label>
                        <div class="accordion-item-desc">
                            To review your flashcards, click the "Review" button. You will then choose between two review modes. If you know the answer to a flashcard, drag it to the right; otherwise, drag it to the left. Use the spacebar to reveal the answer.
                        </div>
                    </div>
                    <div class="accordion-item">
                        <input type="checkbox" id="accordion7" />
                        <label for="accordion7" class="accordion-item-title"><span class="icon"></span>Why can I no longer review in smart mode?</label>
                        <div class="accordion-item-desc">
                            Smart review mode is designed to support long-term memory. For that reason, you may need to wait a few days before reviewing your set again.
                            flashcards.
                        </div>
                    </div>
                    <div class="accordion-item">
                        <input type="checkbox" id="accordion8" />
                        <label for="accordion8" class="accordion-item-title"><span class="icon"></span>How is this page different from review mode?</label>
                        <div class="accordion-item-desc">This page lets administrators manage flashcards and gives users an overview of the cards and their progress.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar">
            <div class="burger" id="burger">
                <span class="burger-line"></span>
                <span class="burger-line"></span>
                <span class="burger-line"></span>
            </div>
            <div id="menu"></div>
            <button onclick="navbar('participants')" id="participants">
                <img src="../assets/global/participants.svg" alt="Participants" />
                <p>Collaboration</p>
            </button>
            <button onclick="displayPageIA()" class="admin" id="ia">
                <img src="../../assets/global/ai.svg" alt="messagerie" />
                <p>IA</p>
            </button>
            <button class="admin" onclick="navbar('share')" id="share">
                <img src="../assets/global/share.svg" alt="Partager" />
                <p>Partager</p>
            </button>
            <button onclick="navbar('help')" id="help">
                <img src="../assets/global/help.svg" alt="Aide" />
                <p>Aide</p>
            </button>
            <button class="admin" onclick="navbar('settings')" id="settings">
                <img src="../assets/global/settings.svg" alt="settings" />
                <p>Settings</p>
            </button>
            <button id="bottomNav" onclick="window.location.href='/dashboard'">
                <img src="../assets/global/back.svg" alt="settings" />
                <p>Dashboard</p>
            </button>
            <button onclick="navbar('profile')" class="navProfilee"><img src="../assets/default/default_user.png" /></button>
        </div>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
    </script>
    <script src="../../script/global.js"></script>
    <script src="../../script/navigation.js"></script>
    <script src="../../script/applications/flashcards.js"></script>
    <script src="../../script/utils/filePicker.js"></script>
</html>
