<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>IdeaFlow</title>
        <link rel="stylesheet" href="../../style/global.css" />
        <link rel="stylesheet" href="../../style/navigation.css" />
        <link rel="stylesheet" href="../../style/applications/ideaFlow.css" />
    </head>
    <body style="overflow: hidden; margin: 0">
        <section class="loading" style="display: flex">
            <h4>Alumet <span>Education</span></h4>
            <span class="loader-bar"></span>
        </section>

        <div class="prompt-popup popup">
            <div class="prompt">
                <h1 id="prompt-head">Prompt name</h1>
                <h4 id="prompt-desc"></h4>
                <input autocomplete="off" id="prompt-input" type="text" placeholder="Prompt placeholder" />
                <div class="prompt-buttons">
                    <button class="large" id="prompt-red">Supprimer</button> <button class="large" onclick="document.querySelector('.prompt-popup').classList.remove('active-popup')">Annuler</button>
                    <button class="large" id="prompt-confirm">Confirmer</button>
                </div>
                <datalist id="users"> </datalist>
            </div>
        </div>
        <div class="user-popup popup">
            <div class="prompt">
                <input spellcheck="false" autocomplete="off" id="user-prompt" type="text" placeholder="Entrez un nom ou prénom" />
                <div class="users-fetch">
                    <div class="details loading-users">
                        <span class="loader"></span>
                    </div>
                    <div class="details no-result">
                        <h1>Aucun resultats</h1>
                        <p>Affiner votre recherche</p>
                    </div>
                </div>
                <div class="prompt-buttons">
                    <button class="large">Supprimer</button> <button class="large" onclick="document.querySelector('.user-popup').classList.remove('active-popup')">Annuler</button>
                    <button onclick="confirmCollaborators('flashcards')" class="large">Confirmer</button>
                </div>
            </div>
        </div>
        <div id="toast"></div>
        <section class="board">
            <svg width="50000" height="50000">
                <defs>
                    <marker id="arrow" viewBox="0 0 6 4" refX="4" refY="2" markerWidth="30" markerHeight="20" markerUnits="userSpaceOnUse" orient="auto">
                        <path d="M 0 0 L 6 2 L 0 4 z" />
                    </marker>

                    <marker id="arrow_hover" viewBox="0 0 6 4" refX="4" refY="2" markerWidth="30" markerHeight="20" markerUnits="userSpaceOnUse" orient="auto">
                        <path d="M 0 0 L 6 2 L 0 4 z" fill="var(--orange)" />
                    </marker>

                    <pattern id="MindMapBackgroundDots" x="0" y="0" width="28" height="28" patternUnits="userSpaceOnUse" overflow="visible">
                        <circle cx="3" cy="3" r="3" fill="#ebebeb"></circle>
                    </pattern>
                </defs>

                <g id="blocks">
                    <rect x="0" y="0" width="100%" height="100%" fill="url(#MindMapBackgroundDots)"></rect>

                    <g id="links"></g>
                </g>
            </svg>

            <template class="MindMapBlockTemplate">
                <div class="MindMapBlock">
                    <div class="MindMapBlockHeader">
                        <h4 class="MindMapBlockTitle"></h4>
                    </div>
                    <p class="MindMapBlockDescription"></p>

                    <div class="connector left">
                        <img src="../../assets/mindmaps/arrow-left.svg" width="20" />
                    </div>
                    <div class="connector top">
                        <img src="../../assets/mindmaps/arrow-up.svg" width="20" />
                    </div>
                    <div class="connector right">
                        <img src="../../assets/mindmaps/arrow-right.svg" width="20" />
                    </div>
                    <div class="connector bottom">
                        <img src="../../assets/mindmaps/arrow-down.svg" width="20" />
                    </div>

                    <div class="resizer">
                        <img src="../../assets/mindmaps/extend.svg" width="20" />
                    </div>
                </div>
            </template>
        </section>
        <section class="navigation">
            <div class="overlay">
                <div class="overlay-content menu">
                    <h1 onclick="navbar('participants')">Participants</h1>
                    <h1 onclick="navbar('settings')">Paramètres</h1>
                    <h1 onclick="navbar('profile')">Identité</h1>
                </div>

                <div class="overlay-content revise">
                    <div class="information">
                        <img src="../../assets/global/learning.svg" />
                    </div>
                    <div class="choose">
                        <div class="choose-option">
                            <div>
                                <h1>Révision bac à sable</h1>
                                <p>Tous réviser libremement</p>
                            </div>
                            <button onclick="revise('sandbox')" class="large">Commencer</button>
                        </div>
                        <div class="choose-option">
                            <div>
                                <h1>Révision intelligente</h1>
                                <p>Réviser à votre rythme</p>
                            </div>
                            <button onclick="revise('smart')" class="large">Commencer</button>
                        </div>
                        <div class="choose-option">
                            <div>
                                <h1>Révision pour contrôle</h1>
                                <p>Étalé sur plusieurs jours</p>
                            </div>
                            <button onclick="revise('control')" class="large">Bientôt</button>
                        </div>
                    </div>
                </div>

                <div class="overlay-content loadingRessources">
                    <div class="loading full-screen">
                        <span class="loader"></span>
                        <h3>Nous appliquons les modifications<br />Patientez quelques instants</h3>
                    </div>
                </div>

                <div class="overlay-content block">
                    <input maxlength="300" id="postTitle" type="text" placeholder="Titre du bloc" />
                    <div id="toolbar">
                        <div>
                            <button onclick="navbar('latex')" id="latex">
                                <img src="../assets/global/latex.svg" />
                            </button>
                            <!-- <button onclick="navbar('audio')" id="latex">
                                <img src="../assets/global/mic.svg" />
                            </button> -->
                        </div>
                        <div>
                            <button id="bold" onclick="makeHighlight()"><b>H</b></button>
                            <button id="bold" onclick="makeBold()"><b>G</b></button>
                            <button id="italic" onclick="makeItalic()"><i>I</i></button>
                            <button id="underline" onclick="doUnderline()"><u>S</u></button>
                        </div>
                    </div>
                    <div class="description-container">
                        <div id="editor" placeholder="Ecrivez ici le contenu" spellcheck="false" contenteditable="true" onkeypress="return (this.innerText.length <= 4000)"></div>
                        <div onclick="removeLink()" contenteditable="false" class="link-preview">
                            <div class="loading rounded">
                                <span class="loader"></span>
                                <h3>Chargement d'un aperçu</h3>
                            </div>
                            <h2 id="preview-title">Website Title</h2>
                            <p id="preview-link">https://domain.com</p>
                            <div class="reader-gradient"></div>
                        </div>
                    </div>
                    <div class="option">
                        <h1>Couleur du bloc</h1>
                        <div class="colorSelector">
                            <div id="white" class="selectedColor">
                                <img src="../assets/global/tick.svg" />
                            </div>
                            <div id="red">
                                <img src="../assets/global/tick.svg" />
                            </div>
                            <div id="yellow">
                                <img src="../assets/global/tick.svg" />
                            </div>
                            <div id="green">
                                <img src="../assets/global/tick.svg" />
                            </div>
                            <div id="blue">
                                <img src="../assets/global/tick.svg" />
                            </div>
                        </div>
                    </div>

                    <div class="drop-box">
                        <div class="indications">
                            <div>
                                <img src="../assets/global/upload.svg" alt="file icon" />
                            </div>
                        </div>
                        <div class="sending-box rts">
                            <div class="loading-box reponsive-hide"><img src="../assets/global/file_rts.svg" alt="tick" /></div>
                            <div class="file-sending-infos">
                                <h3>file_name<span id="file-upload-ext">.ext</span></h3>
                            </div>
                            <div class="send-actions"><button onclick="cancelSend()" id="cancel-send" class="large greyed">Retirer</button></div>
                        </div>
                    </div>

                    <div class="post-buttons">
                        <button onclick="deletePost()" class="large reded confirm">Supprimer ce block</button>
                        <button onclick="createPost()" class="large confirm">Ajouter ce bloc</button>
                    </div>
                </div>

                <div class="overlay-content settings">
                    <div class="modulable-header">
                        <div class="modulable-left">
                            <div data-ref="settings" data-module="informationsS" class="module-selected">Informations<span class="redot"></span></div>
                            <div data-ref="settings" data-module="style">Style<span class="redot"></span></div>
                            <div data-ref="settings" data-module="security" class="">Sécurité</div>
                        </div>
                        <div class="modulable-right">
                            <button onclick="modifyApp()" class="large admin">Enregistrer</button>
                        </div>
                    </div>
                    <div data-reference="settings" style="display: grid" class="module informationsS">
                        <input type="file" name="alumet-background" id="alumet-background" accept="image/png, image/jpeg" />
                        <div class="grid-user-container">
                            <div class="item">
                                <h3>Nom de l'Alumet</h3>
                                <input class="disabledInput" type="text" name="alumetName" id="appName" placeholder="Nom de l'Alumet" autocomplete="on" />
                            </div>
                            <div class="item">
                                <h3>Description de l'Alumet</h3>
                                <input class="disabledInput" type="text" name="alumetDescription" id="appDescription" placeholder="Description de l'Alumet" autocomplete="on" />
                            </div>
                            <div class="item">
                                <h3>Code d'invitation</h3>
                                <input disabled="true" type="text" name="invitationCode" autocomplete="on" id="appInvitationCode" placeholder="Aucun code d'invitation" />
                            </div>
                            <div class="item">
                                <h3>Supprimer l'Alumet</h3>
                                <button onclick="engageDeletion()" class="large reded">Supprimer l'Alumet</button>
                            </div>
                        </div>
                    </div>
                    <div data-reference="settings" class="module style">
                        <div class="grid-user-container">
                            <div class="item">
                                <h3>Image d'arrière plan</h3>
                                <img class="backgroundImg" src="../assets/global/dev.png" />
                            </div>
                            <div class="item">
                                <h3>Police d'écriture</h3>
                                <select disabled="true" style="cursor: not-allowed">
                                    <option value="arial">Plus Jakarta Sans</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div data-reference="settings" class="module security">
                        <div class="item">
                            <h3>Niveau d'accès</h3>
                            <div class="switch-options">
                                <div class="radio-option">
                                    <label class="radio" for="open">
                                        <input checked type="radio" name="radio" id="open" />
                                        <div class="radio-content">
                                            <div class="radio-details">
                                                <span>Ouvert</span>
                                                <p>N'importe qui avec un lien peut acceder au contenue, les actions sont modérées par IA</p>
                                            </div>
                                        </div>
                                    </label>

                                    <label class="radio" for="onpassword">
                                        <input type="radio" id="onpassword" name="radio" />
                                        <div class="radio-content">
                                            <div class="radio-details">
                                                <span>Mot de passe</span>
                                                <p>L'accès est restreint par un mot de passe. Il n'est pas nécéssaire d'avoir un compte.</p>
                                            </div>
                                        </div>
                                    </label>

                                    <input autocomplete="off" type="password" name="password" id="password-input" placeholder="Mot de passe" />

                                    <label class="radio" for="closed">
                                        <input type="radio" id="closed" name="radio" />
                                        <div class="radio-content">
                                            <div class="radio-details">
                                                <span>Fermé</span>
                                                <p>L'utilisateur doit être connecté et demandé l'accès, vous pourrez refuser ou accepter.</p>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>

                            <div class="item">
                                <h3>Option avancées</h3>
                                <div class="switch-options">
                                    <div class="option">
                                        <h1>Alumet en mode privé</h1>
                                        <label class="switch">
                                            <input id="appPrivate" type="checkbox" />
                                            <span class="slide round"></span>
                                        </label>
                                    </div>
                                    <div class="option">
                                        <h1>Messagerie de l'Alumet</h1>
                                        <label class="switch">
                                            <input id="appChat" checked="" type="checkbox" />
                                            <span class="slide round"></span>
                                        </label>
                                    </div>
                                    <div class="option">
                                        <h1>Discovery</h1>
                                        <label class="switch">
                                            <input id="appDiscovery" type="checkbox" />
                                            <span class="slide round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlay-content participants">
                    <div class="header-setting">
                        <div>
                            <h1>Participants</h1>
                            <p>Gerer les participants ici.</p>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="participants-container">
                        <div class="user" data-id="6505e1fc19c363addbab5c3d">
                            <img src="/cdn/u/65075cfbdcbc1d63dd259d49" />
                            <div>
                                <h3>MGlo (Maxence Global)</h3>
                                <p>Administrateur</p>
                            </div>
                        </div>
                    </div>
                    <div class="row-bottom-buttons adminsOnly">
                        <button onclick="addCollaborators()" class="large greyed">Ajouter des collaborateurs</button>
                        <button onclick="addParticipants()" class="large">Ajouter des participants</button>
                    </div>
                </div>

                <div class="overlay-content profile">
                    <div class="header-setting">
                        <div>
                            <h1>Identité</h1>
                            <p>Votre identité sur cet Alumet</p>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="user-infos">
                        <img src="/cdn/u/6550d10ec6d8dffbff6fe374" />
                        <div class="user-details">
                            <h3>MRabrais</h3>
                            <p>Connecté</p>
                        </div>
                    </div>
                    <div class="row-bottom-buttons connected">
                        <button onclick="promptLeave()" class="large reded">Quitter cet Alumet</button>
                        <button class="large connect">Se connecter</button>
                    </div>
                </div>
            </div>
            <div class="navbar">
                <div class="burger" id="burger">
                    <span class="burger-line"></span>
                    <span class="burger-line"></span>
                    <span class="burger-line"></span>
                </div>
                <div id="menu"></div>
                <button onclick="navbar('block')" id="//">
                    <img src="../assets/global/settings.svg" alt="paramètres" />
                    <p>//</p>
                </button>
                <button onclick="navbar('participants')" id="participants">
                    <img src="../assets/global/participants.svg" alt="Participants" />
                    <p>Collaboration</p>
                </button>
                <button class="adminsOnly" onclick="navbar('settings')" id="settings">
                    <img src="../assets/global/settings.svg" alt="paramètres" />
                    <p>Paramètres</p>
                </button>
                <button id="bottomNav" onclick="window.location.href='/dashboard'">
                    <img src="../assets/global/back.svg" alt="paramètres" />
                    <p>Tableau de bord</p>
                </button>
                <button onclick="navbar('profile')" class="navProfile"><img src="../assets/default/default_user.png" /></button>
            </div>
        </section>
        <script src="../../script/global.js"></script>
        <script src="../../script/applications/ideaFlow.js"></script>
        <script src="../../script/navigation.js"></script>
    </body>
</html>
