<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../assets/global/alumet.ico" />
    <link href="../../style/applications/mindFlash.css" rel="stylesheet" type="text/css" />
    <link href="../../style/global.css" rel="stylesheet" type="text/css" />
    <title>Alumet - MindFlash</title>
</head>
<body>
    <div id="toast"></div>
    <div id="loading-mindflash">
        <span class="loader-upload"></span>
    </div>
    <div class="main-sub-container">
        <div class="loading-flashcard-infos">
            <span class="loader-upload"></span>
        </div>
        <div class="title">LL problématiques</div>
        <div class="informations-display-buttons">
            <button id="informations-btn" class="large">Informations</button>
            <button id="filtrate-btn" class="large-white">Filtrer / trier</button>
            <button id="options-btn" class="large-white">Options</button>
        </div>
        <div class="informations">
            <section>
                <div class="informations-box stats">
                    <h2>Statistiques</h2>
                    <div class="percentage-bar">
                        <div id="percentage-bar-good"></div>
                        <div id="percentage-bar-ok"></div>
                        <div id="percentage-bar-bad"></div>
                        <div id="percentage-bar-unrated"></div>
                    </div>
                    <div class="stats-info-container">
                        <div class="stats-info">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                                <circle cx="7.5" cy="7.5" r="7.5" fill="#00c75a"/>
                            </svg>
                            <p>Bien (37%  - 38 flashcards)</p>
                        </div>
                        <div class="stats-info">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                                <circle cx="7.5" cy="7.5" r="7.5" fill="#F0AC00"/>
                            </svg>
                            <p>Ok (17%  - 9 flashcards)</p>
                        </div>
                        <div class="stats-info">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                                <circle cx="7.5" cy="7.5" r="7.5" fill="#F00"/>
                            </svg>
                            <p>Mauvaise (6%  - 3 flashcard)</p>
                        </div>
                        <div class="stats-info">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                                <circle cx="7.5" cy="7.5" r="7.5" fill="#C6C9CE"/>
                            </svg>
                            <p>Non noté (40%  - 20 flashcards)</p>
                        </div>
                    </div>
                </div>
                <div class="informations-box set-informations">
                    <h2>Informations sur le set</h2>
                    <div class="set-informations-container">
                        <h3>Créatrice de ce set :</h3>
                        <h3><span>Anne Morin</span></h3>
                    </div>
                    <div class="set-informations-container">
                        <h3>Nom du set : <span>LL problématiques</span></h3>
                    </div>
                    <div class="set-informations-container">
                        <h3>Description du set : <span>Ce sont mes flashcards à moi</span></h3>
                    </div>
                    <div class="set-informations-container">
                        <h3>Nombre de participants : <span>18</span></h3>
                    </div>
                    <div class="set-informations-container">
                        <h3>Nombre de flashcards : <span>49</span></h3>
                    </div>
                    <div class="set-informations-container">
                        <h3>Matière du set : <span>Français</span></h3>
                    </div>
                    <div class="set-informations-container">
                        <h3>Dernière utilisation : <span>Il y a 19 jours</span></h3>
                    </div>
                </div>
            </section>
            <button id="back-to-alumet-btn" class="large" onclick="redirectToDashboard()">Retourner sur Alumet</button>
        </div>
    </div>
    <div class="main-container">
        <div class="full-screen">
            <h1>Aucun set de flashcard ouvert pour l'instant.</h1>
            <p>Cliquez sur un set de flashcard pour l'ouvrir ici !</p>
        </div>
        <div class="loading-flashcard-set full-screen">
            <span class="loader-upload"></span>
        </div>
        <div class="infos-bar">
            <h2>[Set de flashcard]</h2>
            <div class="buttons-container">
                <div class="search-bar"></div>
                <div class="buttons-container-box">
                    <img src="../../assets/global/search-icon.svg" alt="search icon">
                </div>
                <div class="buttons-container-box">
                    <button class="large-white">Ajouter des flashcards</button>
                    <button class="large">Réviser</button>
                </div>
            </div>
        </div>
        <!-- <div class="options">
            <div class="percentage-bar">
                <div id="percentage-bar-good" ></div>
                <div id="percentage-bar-ok"></div>
                <div id="percentage-bar-bad"></div>
                <div id="percentage-bar-unrated"></div>
            </div>
        </div> -->
        <div id="flashcards-container"></div>
    </div>
    

    <script src="../../script/global.js"></script>
    <script src="../../script/applications/mindFlash.js"></script>
    
</body>
</html>