body {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #f6f8fc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    overflow: hidden;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

.brightness-layer {
    pointer-events: none;
    opacity: 0;
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease-in-out;
}

.reconnecting {
    position: relative;
    border: 1px solid #efecef;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.reconnecting > h3 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: #000000;
}

#commentInput {
    margin-top: auto;
    min-height: 60px;
}

.commentsContent {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    height: 100%;
    padding: 15px;
    background-color: #f6f8fc;
    border-radius: 5px;
    overflow-y: auto;
}

#latexPreview {
    max-height: 50%;
}

.alumet {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 100%;
    padding: 15px;
    overflow: hidden;
    border-radius: 5px;
    flex: 1;
}

.tag {
    padding: 4px 8px;
    border-radius: 5px;
    background-color: #81b475;
    color: #ffffff;
    font-size: 0.7rem;
    font-weight: 400;
    margin: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;

    background-color: rgba(255, 0, 0, 0.199);
    margin-bottom: 5px;
    padding: 12px;
    border-radius: 6px;
}

.alumet-content {
    position: relative;
    gap: 20px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    overflow: auto;
    border-radius: 5px;
    height: 100%;
}

.admin {
    display: flex;
}

.profile > img {
    border-radius: 10px;
}

.list {
    border-radius: 3px;
    min-width: 292px;
    max-width: 292px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add {
    background-color: rgba(0, 0, 0, 0.65);
    align-items: center;
    justify-content: center;
    border: none;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#wall {
    height: 50px;
    min-width: 250px;
}

.send-actions {
    margin-left: auto;
}

.add:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.draggingContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-x: auto;
    height: 100%;
}

.titleList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 15px 19px;
    border-radius: 5px;
    position: sticky;
    top: 0;
}
.list > .titleList > h1 {
    font-size: 1.125rem;
    font-weight: bold;
    margin: 0;
    word-break: break-word;
}

.card > .description > .latexImg {
    height: 40px;
}

.list > .titleList > img {
    width: 14px;
    margin-left: auto;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.list > .titleList:hover > img {
    opacity: 1;
}

.positions {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.positions > div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.positions > button,
.positions > div > button {
    width: 100%;
}

.actions {
    display: none;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
}

.actions > button {
    width: 100%;
}

.editing > .positions {
    display: flex;
}

.editing > .actions {
    display: flex;
}

.editing > .large {
    display: none;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #fff;
    color: black;
    padding: 12px;
    border-radius: 10px;
}

.card > input {
    display: flex;
    height: 12px;
    font-size: 0.8rem;
    margin-top: 5px;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}
.card.dragging {
    opacity: 0.4;
}

.settings {
    overflow-y: auto;
}

.informationsS {
    flex-direction: column;
}

.card .title {
    font-size: 1.1rem;
    word-break: break-word;
    font-weight: 700;
}

.author {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-size: 0.8rem;
}

.badge {
    width: 14px;
    height: 14px;
}

.card:hover .author .edit {
    opacity: 1;
    cursor: pointer;
}

.author > .edit {
    width: 13px;
    margin-left: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#latexInput {
    font-family: 'Courier New', sans-serif;
}

latex {
    font-family: 'Courier New', sans-serif;
    color: #af0000;
    font-weight: 600;
    font-size: 1rem;
}

.commentFooter {
    margin-top: auto;
    position: relative;
    height: 60px;
}

.commentFooter > input {
    height: 100%;
}

.confirm {
    width: 100%;
    min-height: 50px;
    margin-top: auto;
}

#title {
    color: #fff;
    font: bold 10pt 'Merriweather Sans', sans-serif;
    margin: 0.5em 16px 0 16px;
    float: left;
    clear: none;
}

.description {
    font-size: 0.95rem;
    overflow-y: auto;
    word-break: break-word;
}

.ext {
    display: none;
    position: absolute;
    font-size: 0.8rem;
    top: 8px;
    right: 8px;
    border-radius: 5px;
    padding: 5px;
    z-index: 10;
    font-weight: 400;
    margin: 0;
    color: #ffffff;
    background-color: #00000084;
}

.post-rich-content {
    display: flex;
    background-color: #f6f8fc;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 125px;
    background-size: cover;
    background-position: center;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    cursor: pointer;

    border: 1px solid #1d1d1d33;
    border-bottom: none;
}

.actionRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.actionRow > p {
    font-size: 0.85rem;
    font-weight: 400;
    margin: 0;
}

.actionRow > img {
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.creationDate {
    margin: 0;
    color: #9ea1a7;
    font-size: 0.8rem;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.card:hover .creationDate {
    opacity: 1;
}

.divider {
    width: 100%;
    min-height: 1px;
    background-color: #1d1d1d33;
    margin: 2px 0;
}

.post-rich-content-container > h2 {
    padding: 10px;
    border-radius: 0 0 8px 8px;
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #515151;
    border: 1px solid #1d1d1d33;
}

.post-rich-content > p {
    z-index: 10;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0;
    color: #fff;
}

.date {
    display: none;
}

.active-date {
    display: flex !important;
    flex-direction: column;
    gap: 10px;
}

.rounded {
    border-radius: 8px;
}

.files-header > h3:nth-child(2) {
    display: none;
}
.files-header > h3:nth-child(3) {
    display: none;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width: 600px) {
    .draggingContainer {
        gap: 10px;
    }
    .alumet {
        padding: 10px;
    }

    .commentsContent {
        padding: 10px;
    }

    .alumet-content {
        gap: 15px;
    }
    .list {
        gap: 10px;
    }
    body {
        flex-direction: column-reverse;
    }

    #profile {
        margin: 0;
        margin-left: auto;
    }
    #profile > img {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        filter: invert(0) !important;
    }
}
