body {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: var(--background-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(5px) brightness(0.8);
    --webkit-backdrop-filter: blur(5px) brightness(0.8);
    padding: 15px;
    gap: 15px;
    margin: 0;
    overflow: hidden;
}

html,
body {
    height: calc(100% - 15px);
    min-height: calc(100% - 15px);
}

.brightness-layer {
    pointer-events: none;
    opacity: 0;
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease-in-out;
}

.postContent > .card {
    padding: 0;
}

#commentInput {
    margin-top: auto;
    min-height: 60px;
}

.postContent {
    overflow: none;
    max-height: 45%;
}

.commentsContent {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    height: 100%;
    margin-bottom: 15px;
    padding: 15px;
    background-color: var(--background-color);
    border-radius: 5px;
    overflow-y: auto;
}

.postContent > .card > .actionRow,
.postContent > .card > .divider {
    display: none;
}

#latexPreview {
    max-height: 50%;
}

.loadingRessources > .loading {
    display: flex;
}

.active-layer {
    display: block;
    pointer-events: all !important;
    opacity: 1 !important;
}

.alumet {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    flex: 1;
}

.tagRow {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
}

.tag {
    padding: 4px 8px;
    border-radius: 5px;
    background-color: #81b475;
    color: var(--layer-color);
    font-size: 0.7rem;
    font-weight: 400;
    margin: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;

    background-color: rgba(255, 0, 0, 0.199);
    border: 1px solid #af0000;
    padding: 6px;
    border-radius: 5px;
}

.alumet-content {
    position: relative;
    gap: 15px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    overflow: auto;
    height: 100%;
}

.user-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.user-infos > img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
}

.user-details {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.user-details > h3 {
    font-size: 1.2rem;
    color: var(--text);
    font-weight: 500;
    margin: 0;
    word-break: break-all;
}

.user-details > p {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    color: var(--text-secondary);
}

#profile {
    margin-top: auto;
    margin-bottom: 15px;
}
#profile > img {
    width: 50px;
    height: 50px;
    border: 1px solid var(--border);
    object-fit: cover;
    max-height: 50px;
    border-radius: 10px;
    filter: invert(0) !important;
}

.admin {
    display: none;
}

.profile > img {
    border-radius: 10px;
}

.list {
    border-radius: 3px;
    min-width: 292px;
    max-width: 292px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    min-height: 40px;
    border-radius: 10px;
    color: var(--text-reverse);
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#wall {
    height: 43px;
    min-width: 250px;
}

.send-actions {
    margin-left: auto;
}

.add:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.draggingContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: auto;
    height: 100%;
}

.titleList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--layer-color);
    color: var(--text);
    padding: 10px 14px;
    border-radius: 5px;
    position: sticky;
    top: 0;
}
.list > .titleList > h1 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    word-break: break-all;
}

.card > .description > .latexImg {
    height: 40px;
}

.list > .titleList > img {
    width: 14px;
    margin-left: auto;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.list > .titleList:hover > img {
    opacity: 1;
}

.positions {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.positions > div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

.positions > button,
.positions > div > button {
    width: 100%;
}

.actions {
    display: none;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
}

.actions > button {
    width: 100%;
}

.editing > .positions {
    display: flex;
}

.editing > .actions {
    display: flex;
}

.editing > .large {
    display: none;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #fff;
    color: black;
    padding: 8px;
    border-radius: 10px;
}

.card > input {
    display: flex;
    height: 12px;
    font-size: 0.8rem;
    margin-top: 5px;
    border-radius: 5px;
    padding: 10px;
    width: calc(100% - 22px);
}
.card.dragging {
    opacity: 0.4;
}

.header-setting {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-setting > div > p {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    color: var(--text-secondary);
}

.settings {
    overflow-y: auto;
}

.settings > img {
    width: 100%;
    min-height: 150px;
    border-radius: 10px;
    object-fit: cover;
    max-height: 200px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.row-bottom-buttons {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.profile > .row-bottom-buttons > button:nth-of-type(1),
.profile > .row-bottom-buttons > button:nth-of-type(2) {
    display: none;
}

.connected > button:nth-of-type(1),
.connected > button:nth-of-type(2) {
    display: flex !important;
}

.connected > button:nth-of-type(3) {
    display: none;
}

.row-bottom-buttons > button {
    width: 100%;
}

.settings > img:hover {
    transform: scale(0.98);
    filter: brightness(0.8);
}

.card .title {
    font-size: 1.1rem;
    word-break: break-word;
    font-weight: 500;
}

.author {
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    font-size: 0.8rem;
}

.badge {
    width: 16px;
    height: 16px;
}

.card:hover .author .edit {
    opacity: 1;
    cursor: pointer;
}

.author > .edit {
    width: 13px;
    margin-left: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.navbar {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 80px;
    background-color: var(--layer-color);
    height: 100%;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    z-index: 10;
    overflow-y: auto;
}

.active > img {
    filter: brightness(0) invert(1);
}

.navbar > img {
    width: 26px;
    margin-top: 40px;
    cursor: pointer;
    filter: invert(0.5);
}

.navbar > button {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 40%;
    background: transparent;
    border: none;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

.navbar > button > p {
    text-align: center;
    font-size: 11px;
    color: var(--text-secondary);
    margin: 0;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
}

.navbar > button > img {
    filter: invert(0.5);
    width: 30px;
    transition: all 0.3s ease-in-out;
}

.navbar-active > img {
    filter: invert(0) !important;
}

.navbar-active > p {
    color: var(--text) !important;
    font-weight: 600;
}

.burger {
    position: relative;
    display: none;
    cursor: pointer;
    user-select: none;
    order: -1;
    z-index: 10;
    width: 1.6rem;
    height: 1.15rem;
    border: none;
    outline: none;
    background: none;
    visibility: visible;
    transform: rotate(0deg);
    transition: 0.35s ease;
}

.burger-line {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 1.75px;
    border: none;
    outline: none;
    opacity: 1;
    transform: rotate(0deg);
    background-color: var(--text);
    transition: 0.25s ease-in-out;
}
.burger-line:nth-child(1) {
    top: 0px;
}
.burger-line:nth-child(2) {
    top: 0.5rem;
    width: 70%;
}
.burger-line:nth-child(3) {
    top: 1rem;
}
.burger.is-active .burger-line:nth-child(1) {
    top: 0.5rem;
    transform: rotate(135deg);
}
.burger.is-active .burger-line:nth-child(2) {
    opacity: 0;
    visibility: hidden;
}
.burger.is-active .burger-line:nth-child(3) {
    top: 0.5rem;
    transform: rotate(-135deg);
}
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.overlay-content {
    position: absolute;
    overflow-y: auto;
    display: flex;
    pointer-events: none;
    flex-direction: column;
    right: 110px;
    bottom: 15px;
    width: 450px;
    padding: 15px;
    height: calc(100% - 60px);
    background-color: var(--layer-color);
    border-radius: 10px;
    opacity: 0;
    transform: translateX(10%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.overlay-content > button {
    min-height: 50px;
    margin-top: auto;
}

#latexInput {
    font-family: 'Courier New', sans-serif;
}

latex {
    font-family: 'Courier New', sans-serif;
    color: #af0000;
    font-weight: 600;
    font-size: 1rem;
}

.overlay-content > select {
    width: 100%;
    margin: 10px 0;
}

h1 {
    font-size: 28px;
    font-weight: 500;
    color: var(--text);
    margin: 0;
}

.overlay-content > input {
    color: var(--text);
    min-height: 50px;
}

.overlay-content > .divider {
    width: 100%;
    min-height: 1px;
    background-color: var(--border);
    margin: 15px 0;
}

.overlay-content > .toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 0;
}

.commentFooter {
    margin-top: auto;
    position: relative;
    height: 60px;
}

.commentFooter > input {
    height: 100%;
}

.overlay-content > .toggle > h3 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-right: 10px;
}

.overlay-content > .drop-box {
    margin: 0;
    margin: 10px 0;
}

.confirm {
    width: 100%;
    min-height: 50px;
    margin-top: auto;
}

.active-section {
    pointer-events: all;
    opacity: 1;
    z-index: 10;
    transform: translateX(0) !important;
}

#title {
    color: #fff;
    font: bold 10pt 'Merriweather Sans', sans-serif;
    margin: 0.5em 16px 0 16px;
    float: left;
    clear: none;
}

.description {
    font-size: 0.95rem;
    overflow-y: auto;
    word-break: break-word;
}

.description-container {
    width: calc(100% - 22px);
    padding: 10px;
    color: var(--text);
    border: 1px solid var(--border);
    border-radius: 10px;
}

#editor {
    position: relative;
    min-height: 50px;
    outline: none;
    font-size: 0.9rem;
    padding: 10px;
}

.navbar > button:nth-of-type(1) {
    margin-top: 20px;
}

.ext {
    position: absolute;
    font-size: 0.8rem;
    top: 8px;
    right: 8px;
    border-radius: 5px;
    padding: 5px;
    z-index: 10;
    font-weight: 400;
    margin: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

#editor[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555;
}

#editor[placeholder]:empty:focus:before {
    content: '';
}

.post-buttons {
    display: flex;
    position: sticky;
    bottom: 0;
    left: 0;
    background-color: var(--layer-color);
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
}

.post-buttons > .reded {
    display: none;
}

.reader-gradient {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 70%);
    z-index: 5;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

#toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 0;
    min-height: 38px;
}

.colorSelector {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 4px;
    margin-left: auto;
    background-color: var(--background-color);
    border-radius: 8px;
}

.colorSelector > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.colorSelector > div > img {
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease-in-out;
}

.selectedColor > img {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

#white {
    background-color: white;
    border: 1px solid #d5d5d5;
}

.white {
    background-color: white;
}

#red {
    background-color: #ffdada;
    border: 1px solid #ff8d8d;
}

.red {
    background-color: #ffdada;
}

#yellow {
    background-color: #fff4ce;
    border: 1px solid #ffd25e;
}

.yellow {
    background-color: #fff4ce;
}

#green {
    background-color: #deffdd;
    border: 1px solid #97e395;
}

.green {
    background-color: #deffdd;
}

#blue {
    background-color: #eed8ff;
    border: 1px solid #bb97d7;
}

.blue {
    background-color: #eed8ff;
}

.post-rich-content {
    display: flex;
    background-color: var(--background-color);
    position: relative;
    overflow: hidden;
    flex-direction: column;
    justify-content: end;
    width: calc(100% - 22px);
    height: calc(125px - 2px);
    background-size: cover;
    background-position: center;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid #dddddd;
}

.actionRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.actionRow > p {
    font-size: 0.85rem;
    font-weight: 400;
    margin: 0;
}

.actionRow > img {
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.creationDate {
    margin: 0;
    color: var(--text-secondary);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.card:hover .creationDate {
    opacity: 1;
}

.post-rich-content:hover {
    transform: scale(0.98);
}

.divider {
    width: 100%;
    min-height: 1px;
    background-color: #1d1d1d33;
    margin: 2px 0;
}

.post-rich-content > h2 {
    z-index: 10;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    margin-bottom: 5px;
    word-break: break-all;
    color: #fff;
}

.post-rich-content > p {
    z-index: 10;
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    color: #fff;
}

.link-preview {
    display: none;
    background-color: var(--background-color);
    position: relative;
    flex-direction: column;
    justify-content: end;
    width: calc(100% - 40px);
    height: 125px;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid #e5e5e5;
}

.active-link-preview {
    display: flex;
}

.active-link-loading > .loading {
    display: flex;
}

.date {
    display: none;
    margin: 10px 0;
}

.active-date {
    display: flex !important;
    flex-direction: column;
    gap: 10px;
}

.loading > h3 {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    color: var(--text);
    margin-top: 20px;
    text-align: center;
}

#wallTitle {
    margin-bottom: 10px;
}

.rounded {
    border-radius: 8px;
}

.link-preview:hover {
    transform: scale(0.98);
}

.link-preview > h2 {
    z-index: 10;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 5px;
    color: #fff;
}

.link-preview > p {
    z-index: 10;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    color: #fff;
}

#toolbar > div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#toolbar > div > input {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#toolbar > div > button {
    display: flex;
    min-width: 40px;
    align-items: center;
    justify-content: center;
    padding: 10px 14px;
    background-color: var(--background-color);
    color: var(--text);
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#toolbar > div > button:hover {
    transform: translateY(-2px);
}

.files-header > h3:nth-child(2) {
    display: none;
}
.files-header > h3:nth-child(3) {
    display: none;
}

.participants-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 15px;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width: 600px) {
    .commentsContent {
        padding: 10px;
        margin-bottom: 10px;
    }
    .row-bottom-buttons {
        flex-wrap: wrap;
        gap: 10px;
    }
    .alumet-content {
        gap: 10px;
    }
    .list {
        gap: 10px;
    }
    .overlay-content > .divider {
        margin: 10px 0;
    }
    body {
        flex-direction: column-reverse;
        padding: 10px;
        gap: 10px;
    }
    #toolbar > div:nth-of-type(2) {
        display: none;
    }
    .navbar > img {
        margin: 0;
        margin-left: 10%;
    }
    .navbar {
        height: 60px;
        flex-direction: row;
        width: calc(100% - 2px);
    }

    html,
    body {
        height: calc(100% - 10px);
        min-height: calc(100% - 10px);
    }
    .overlay-content {
        padding: 10px;
        width: calc(100% - 40px);
        left: 10px;
        top: 80px;
        height: calc(100% - 110px);
    }
    .navbar > button {
        margin: 0;
        margin-left: 4%;
    }
    #profile {
        margin: 0;
        margin-left: auto;
    }
    #profile > img {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        filter: invert(0) !important;
    }
    .navbar > button {
        display: none;
    }
    .force {
        display: flex !important;
    }
    .navbar > div {
        display: block;
        margin-left: 4%;
    }
}
