body {
    display: flex;
    flex-direction: row;
    gap: 15px;
    background-color: #f6f8fc;
    padding: 15px 15px 15px 15px;
    padding-left: 0;
    margin: 0;
    overflow: hidden;
}

.nav {
    display: flex;
    position: relative;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    width: 110px;
    border: 1px solid #ebebeb;
    background-color: white;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.group > .group-content {
    display: flex;
}

.private > .private-content {
    display: flex;
}

.first {
    margin-top: 20px;
}

.alumet > .alumet-content {
    display: flex;
}

.group-content,
.private-content,
.alumet-content {
    display: none;
}

.conversation-settings > .group-content,
.conversation-settings > .private-content,
.conversation-settings > .alumet-content {
    flex-direction: column;
}
.pinged > .ping {
    display: block;
}

.ping {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #dd3232;
    margin: 10px;
    z-index: 20;
}

.badge {
    width: 16px;
    margin-left: 5px;
}

.nav > button {
    position: relative;
    border-radius: 14px;
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 10;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

.nav > button > img {
    width: 26px;
    height: 26px;
    transition: all 0.3s ease-in-out;
}

.active > img {
    filter: brightness(0) invert(1);
}

.sections-container {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
}

.sections-container > section {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
    height: 100%;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    justify-content: center;
    opacity: 0;
    transform: translateY(10%);
    border-radius: 10px;
}

.active-section {
    opacity: 1 !important;
    transform: translateY(0) !important;
    z-index: 40;
}

.row-fm-header {
    display: none;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

.row-fm-header > button {
    min-width: 165px;
}

.cloud > .sub-container {
    position: relative;
    max-width: 375px;
}

.cloud > .sub-container:nth-of-type(1) {
    max-width: 250px;
}

.cloud > .sub-container > button {
    min-height: 50px;
    margin-top: auto;
    width: 100%;
    border-radius: 12px;
}

.showing-group-settings > .conversation-settings {
    transform: translateY(0);
}

.row-context-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.row-context-menu > button {
    height: 35px;
}

.conversation-settings {
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-left: 0 !important;
    top: 0;
    left: 0;
    padding: 15px;

    background-color: white;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    min-width: 14%;
    transform: translateY(100%);
    transition: all 0.3s ease-in-out;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.conversation-settings > .header > button {
    display: block !important;
    margin-left: auto;
    height: 35px;
}

.messages > .sub-container > input {
    width: 100%;
}

.messages > .sub-container > button {
    min-height: 50px;
    border-radius: 12px;
}

.edit-icon {
    width: 14px;
    opacity: 0;
    margin-left: auto;
    transition: all 0.3s ease-in-out;
}

.setup-modal {
    display: flex;
    position: relative;
    flex-direction: column !important;
    align-items: center;
    background-color: white;
}

.progression-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 40px;
    width: 80%;
    margin-top: 10%;
}

.progression-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    gap: 10px;
}

.progression-item > img {
    padding: 12px;
    outline: solid;
    outline-width: 10px;
    outline-color: white;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    background-color: white;
    z-index: 100;
}

.action-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.action-details > h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    margin-top: 4px;
    white-space: nowrap;
    color: #ebebeb;
}

.action-details > p {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    white-space: nowrap;
    color: #ebebeb;
}

.completed > h3 {
    color: #000000;
}

.completed > p {
    color: #000000;
}
#action {
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 5px;
    z-index: 100;
}

#action-detail {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
    margin: 0;
    z-index: 100;
    margin: 0 20px;
    text-align: center;
}

.user-infos {
    margin-top: 10px;
    margin-bottom: 15px;
}

#new-alumet-participants {
    top: 60px;
    width: 100%;
}

@keyframes arrive {
    0% {
        transform: translateY(-20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.continue-button {
    width: 354px;
}

#cancel-conv {
    margin-top: auto;
    margin-bottom: 10px;
}

.participant {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid #f5f5f5;
}

.participant:hover {
    transform: scale(0.98);
}

.participant > img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
    background-color: white;
}

.column-infos > h4 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
}

.column-infos > span {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
}

.column-infos {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.active-searching {
    opacity: 1;
    pointer-events: all !important;
    transform: translateY(0%);
}

.user-options-heading {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 10px 0;
    margin-top: 20px;
}

.user-options-infos {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-left: 20px;
}

.user-options-infos > h4 {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
}

.user-options-infos > p {
    font-size: 1rem;
    color: #9ea1a7;
    font-weight: 500;
    margin: 0;
}

.banner {
    width: 100%;
    height: 30%;
    object-fit: cover;
}

.divider {
    width: 100%;
    margin: 10px 0;
    min-height: 1px;
    background-color: #ebebeb;
}

.user-settings {
    margin: 0% 15px;
    margin-bottom: 20px;
}

.news-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 15px;
    overflow: auto;
}

.notifications-container {
    display: flex;
    position: relative;
    gap: 10px;
    margin-bottom: 10px;
    height: 100%;
    overflow: auto;
    margin-top: 15px;
    flex-direction: column;
    min-height: 100px;
}

.notifications-container > .full-screen {
    display: flex;
}

.main-container {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;

    background-color: white;
    border-radius: 20px;
    padding: 15px;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.alumetPreview {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.alumetPreview:hover {
    transform: scale(0.99);
    filter: brightness(0.9);
}

.action-row {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    bottom: 20px;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.action-row > button {
    width: 100%;
}

.alumetPreview > img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.options-alumet {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sub-container {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 50%;
    max-width: 45%;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
}

.graph {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
}
.graph > div {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 25%;
    border-radius: 2px;
    height: 14px;
}

#graph-document {
    background-color: #0597ff;
}

.document-color {
    color: #0597ff;
}

#graph-audio {
    background-color: #a93bfe;
}

.audio-color {
    color: #a93bfe;
}

#graph-image {
    background-color: #fd9b6d;
}

.image-color {
    color: #fd9b6d;
}

#graph-video {
    background-color: #f82b1a;
}

.video-color {
    color: #f82b1a;
}

#graph-other {
    background-color: #9198a3;
}

.other-color {
    color: #9198a3;
}

.memory-split {
    display: flex;
    flex-direction: column;
}

.sub-container > .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

h2 {
    font-size: 1.5em;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
    color: #000000;
}

.actions-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.file-info {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.no-selected-file > .file-details {
    display: none;
}

.no-selected-file > .actions-buttons-file {
    display: none;
}

.no-selected-file > .full-screen {
    display: flex;
}

.no-file {
    margin-top: auto;
    margin-bottom: auto;
}

.no-file > h4 {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
    color: #000000;
}

.file-details {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 70%;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
}

.file-preview {
    display: flex;
    width: 100%;
    height: 40%;
    border: 1px solid #f3f3f3;
    border-radius: 10px 10px 0 0;
}

.filePreview-loading {
    display: none;
}

.loading-fp > .filePreview-loading {
    display: flex;
    margin: auto;
}

.loading-fp > img {
    display: none;
}

.file-basic-info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 8px;
    gap: 5px;
    border: 1px solid #f3f3f3;
    border-top: none;
    border-radius: 0 0 10px 10px;
}

.file-single-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 10px 0;
}

.file-single-info > h4 {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
    color: #000000;
}

.file-single-info > p {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    color: #9198a3;
}

.actions-buttons-file {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 0;
}

.actions-buttons-file > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.actions-buttons-file > div > button {
    flex: 1;
}

.actions-buttons-file > button {
    width: 100%;
    z-index: 11;
}

.file-basic-info > h4 {
    white-space: nowrap;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-basic-info > img {
    width: 20px;
}

.file-preview > img {
    border-radius: 6px 6px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.context-menu {
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.15);
    transform: translateY(150%);
    background-color: white;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.member > button:nth-of-type(2),
.member > button:nth-of-type(3),
.member > button:nth-of-type(4),
.member > button:nth-of-type(5) {
    display: none;
}
.active-context {
    transform: translateY(0);
    opacity: 1;
}

.context-menu > h4 {
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 20px 0;
    color: #000000;
}

.context-menu > h4:nth-child(7),
.context-menu > h4:nth-child(9) {
    color: #9ea1a7;
}

.context-menu > .divider {
    height: 2px;
}

.no-file > p {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    color: #b4b4b4;
}

.sub-container > .header > h5 {
    display: flex;
    gap: 2px;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    color: #000000;
    margin-bottom: 2px;
}

.sub-container > .header > h5 > span {
    font-size: 0.95rem;
    font-weight: 400;
    margin: 0;
    color: #b4b4b4;
}

.sub-container > h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 15px;
}

#username {
    font-weight: 600;
}

.new-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.home > .sub-container {
    max-width: 325px;
}

.new-item > img {
    width: 100%;
    max-height: 130px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
}

.new-item-infos > h4 {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
    color: #000000;
}

.new-item-infos > p {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    color: #9ea1a7;
}

#profile-picture-input {
    display: none;
}

h3 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}

.mona {
    font-family: 'Mona Sans';
    font-stretch: 150%;
}

.flashcards-box {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 250px;
    gap: 2px;
    padding: 10px;
    width: 100%;
    height: fit-content;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    cursor: pointer;
}

.flashcards-box > h1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    color: #000000;
}

.flashcards-box > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.flashcards-box > div > div > p {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    color: #9ea1a7;
}

.flashcards-box > div > div > img {
    height: 13px;
}

.flashcards-box > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    color: #9ea1a7;
}

.flashcards-box > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.flashcards-box > div > .subject {
    border: 1px solid #cacaca;
    padding: 4px 6px;
    background-color: #f3f3f3;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 0.7rem;
}

.items {
    display: none;
    flex-direction: row !important;
    flex-wrap: wrap;
    grid-gap: 15px;
    position: relative;
    flex-direction: row;
}

.notification {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notification > button {
    height: 30px;
}

.redot {
    display: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #dd3232;
    margin-left: 8px;
    margin-top: 2px;
    z-index: 20;
}

.invitation {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px;
    transition: all 0.3s ease-in-out;
}

.invitation:hover {
    transform: scale(0.98);
}

.invitation > div > h3 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    color: #000000;
}

.invitation > div > p {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    color: #9ea1a7;
}

.invitation > img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
    background-color: white;
}

.items > .full-screen {
    display: flex;
}

.no-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
}

.no-items > button {
    margin-top: 10px;
}

.no-items > h1 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    color: #000000;
    text-align: center;
}

.no-items > p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    color: #9ea1a7;
}

.collaborator-info > h3 {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
    text-align: center;
}

.collaborator-info > p {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    color: #9ea1a7;
}

.alumet-box {
    position: relative;
    min-width: 250px;
    flex: 1;
    height: 175px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.alumet-box:hover {
    filter: brightness(1.3);
}

.alumet-box > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.layer-blur-info {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: brightness(0.8);
    --webkit-backdrop-filter: brightness(0.8);
    bottom: 0;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 100%;
}

.layer-blur-info > h4 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    color: white;
}

.layer-blur-info > p {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    color: #b4b4b4;
}

.active-details {
    display: flex;
    opacity: 1;
}

.actions-buttons {
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    gap: 10px;
    z-index: 12;
    position: absolute;
    bottom: 10px;
    padding: 0 10px;
}

.actions-buttons > button {
    background-color: #f6f8fc;
    color: black;
    width: 100%;
}

.actions-buttons > button:hover {
    background-color: #e1e2e4;
    color: black;
}

.sub-item {
    z-index: 16;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.folder-list {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 5px;
    width: 100%;
    overflow: auto;
}

.legend {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    margin-bottom: 20px;
    line-height: 25px;
    column-gap: 10px;
    row-gap: 4px;
}

.legend > h4 {
    display: flex;
    gap: 2px;
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    color: #b4b4b4;
}

.legend > h4 > span {
    margin-left: 2px;
}

.sub-item > h4 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
}

.spinner {
    width: 25px;
    height: 25px;
    border: 2px solid #296eff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#file-upload-ext {
    color: #6a6a6a;
}

#file-upload-ext {
    margin-left: 3px;
}

.progress {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #1e54e3;
    border-radius: 0 0 5px 5px;
    transition: all 0.5s ease-in-out;
}

#files-upload {
    display: none;
}

.header > .large {
    display: none;
    height: 40px;
    color: #000000;
    box-shadow: none;

    font-size: 0.8rem;
}

.active-sub-container {
    display: flex !important;
    transform: translateY(0) !important;
}

.conversations-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    overflow: auto;
    overflow-x: none;
    margin-bottom: 3%;
}

.conversations-container::-webkit-scrollbar {
    display: none;
}

.conversation-body::-webkit-scrollbar {
    display: none;
}

.conversation {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.conversation:hover {
    transform: scale(0.98);
}

.conversation-infos {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    overflow: hidden;
}

.not-readed > .conversation-infos > .ping-conv {
    display: block;
}

.ping-conv {
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #e3351e;
    position: absolute;
    bottom: 2px;
    right: 0;
}

.conversation-infos > h4 {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
}

.conversation-infos > h4 > span {
    font-size: 0.8rem;
    font-weight: 400;
    color: #9ea1a7;
}

.conversation-infos > p {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 400;
    color: #9ea1a7;
    white-space: nowrap;
}

.certified > img:nth-child(2) {
    display: block !important;
}

.conversation > img:nth-child(1) {
    object-fit: cover;
    width: 55px;
    min-width: 55px;
    border: 1px solid #e5e5e5;
    height: 55px;
    border-radius: 10px;
}

.profile > .main-container {
    width: 100%;

    overflow-x: hidden;
}

.no-conversation > .full-screen:nth-child(1) {
    display: flex;
}

.conversation > img:nth-child(2) {
    display: none;
    position: absolute;
    width: 20px;
    left: 38px;
    top: 36px;
}

.conversation-head {
    font-size: 1rem;
    color: #9ea1a7;
    margin-top: 20px;
    margin-bottom: 10px;
}

.active-messages > .main-container {
    transform: translateY(0) !important;
}

.messages > .main-container {
    position: relative;
    overflow-y: hidden;
}

.active-loading > .loading-conversation {
    display: flex;
}

.folder-list > div {
    display: flex;
    padding: 14px;
    border-radius: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #6a6a6a;
    margin: 0;
    cursor: pointer;
    min-height: 44px;
    transition: all 0.3s ease-in-out;
}

.folder-list > div > h2 {
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    margin: 0;
    color: #000000;
}

#custom-select > div {
    font-size: 0.9rem;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#custom-select > div:hover {
    transform: scale(0.98);
}

#custom-select > div:nth-last-child(1) {
    border-bottom: none;
}

.new-conversation {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 !important;
}

.fetching-participants > .loading-participants {
    display: flex;
}

.loading-participants {
    display: none;
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: center;
}

.progression-bar {
    width: 100%;
    position: absolute;
    top: 25px;
    height: 2px;
    background-color: #adadad;
}

.alumet-background {
    display: flex;
    flex-direction: column;
    height: 200px;
    overflow: hidden;
    width: 100%;
}

.alumet-background > img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    height: 70%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.alumet-background > img:hover {
    transform: scale(0.98);
}

.alumet-background > button {
    margin-top: 10px;
}

.participants-show {
    display: none !important;
    margin-bottom: 60px;
}

.active-folder > h2 {
    color: #1e54e3 !important;
    font-weight: bold !important;
}

.active-folder {
    padding-left: 20px !important;
    background-color: #e4edff;
}

.active-folder > img {
    opacity: 1;
}

.home > .main-container {
    gap: 15px;
}

.create-new-item {
    min-height: 50px;
    display: none !important;
}

#profile {
    margin-top: auto;
}

@media (max-width: 1100px) {
    .participants-show {
        display: flex !important;
    }
    .messages > .main-container {
        transform: translateY(110%);
        transition: all 0.3s ease-in-out;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
    }
    .grid-user-container {
        width: 100%;
    }
    .sub-container {
        display: none;
    }
    .row-fm-header {
        display: flex;
    }
    .cloud > .sub-container:nth-child(3) {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(110%);
        transition: all 0.3s ease-in-out;
        width: 100%;
        max-width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
    }
    .reponsive-hide {
        display: none !important;
    }
    .header > .large {
        display: block;
    }
    .messages > .sub-container:nth-child(1) {
        display: flex;
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
}

@media screen and (max-height: 550px) {
    .drop-box {
        display: none;
    }
    .progression-container {
        display: none;
    }
}

@media (max-width: 600px) {
    .items {
        grid-gap: 10px;
    }
    .create-new-item {
        display: flex !important;
    }
    .home > .main-container {
        gap: 10px;
    }
    .action-row {
        position: fixed;

        bottom: 10px;
        gap: 10px;
    }
    .context-menu > button {
        width: 100%;
    }
    .full-screen {
        width: 100%;
        height: 100%;
    }
    .continue-button {
        width: 92%;
    }

    .progression-bar {
        width: 2px;
        height: 80%;
        margin: 0;
        left: 25px;
    }
    .progression-item > img {
        outline-width: 2px;
    }
    .progression-container {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        margin-top: auto;
        align-items: start;
        left: 15px;
        bottom: 15px;
    }
    .action-details {
        align-items: start;
    }
    .progression-item {
        flex-direction: row;
    }

    .banner {
        height: 15%;
    }

    body {
        flex-direction: column;
        padding: 10px;
        gap: 10px;
        padding-top: 0;
    }

    .nav {
        flex-direction: row;
        width: 100%;
        height: 80px;
        border: none;
        padding: 10px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 0;
    }

    .main-container {
        padding: 10px;
    }
    .sub-container {
        padding: 10px;
    }

    .nav > button {
        width: 70px;
        height: 100%;
        border-radius: 8px;
    }

    h3 {
        font-size: 2rem;
    }

    #profile {
        margin-left: auto;
    }
}
